<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div>
	    <a href="{$base_url}">
			<img src="{$image_url}theme/default/assets/images/logo.png" alt="{$site_name}" width="120px">
		</a>
		<br />
		<br />
	</div>
	<div>
		<br />
		เรียน บริษัท [[company_name]] 
		<br />
		<p style="padding-left: 30px;">
			ท่านสามารถเข้าใช้งานการคำนวณค่าการลดก๊าซเรือนกระจกจากการจัดกิจกรรมและโครงการต่างๆ ขององค์กรได้ตั้งแต่วันนี้ 
			<br />
			ได้ที่ <a href="https://www.carethebear.com/member/login">https://www.carethebear.com/member/login</a>
			<br />
			<br />
		ขอบคุณที่ใช้บริการ
		<br />
		โครงการ Care the Bear
		<br />
		<br />
	</div>
  </body>
</html>