//WIDTH
@media only screen and (max-width: 1024px) {
  div.login-left {
    width: 35%;
  }

  .login-right {
    width: 65%;
  }
}

// HEIGHT

@media only screen and (max-height: 768px) {
  .login-right .bottom-element {
    margin-top: 44px;
  }
}
