.main-sec-2 .wrap_care {
    position: relative;
    z-index: 2
}

.main-sec-2 .max_width_care {
    max-width: 1180px;
    width: 100%;
    margin: -50px auto 0;
    padding: 0 20px
}

.main-sec-2 .left {
    width: calc(780 / 1160 * 100%);
    margin-right: 68px
}

.main-sec-2 .right {
    width: calc(320 / 1160 * 100%)
}

.main-sec-2 .cycle {
    position: relative;
    padding-top: calc(490 / 452 * 100%)
}

.main-sec-2 .cycle .wrap_6 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.main-sec-2 .cycle .wrap_6 .label {
    position: absolute;
    margin-left: 100px
}

.main-sec-2 .cycle .wrap_6 .label .no {
    font-size: 30px;
    line-height: 28px;
    color: #36B7DE
}

.main-sec-2 .cycle .wrap_6 .label .label_txt {
    font-size: 2vw;
    line-height: 2vw
}

@media (min-width:1281px) {
    .main-sec-2 .cycle .wrap_6 .label .label_txt {
        font-size: 26px;
        line-height: 26px
    }
}

@media (max-width:940px) {
    .main-sec-2 .cycle .wrap_6 .label .label_txt {
        font-size: 21px;
        line-height: 21px
    }
}

.main-sec-2 .cycle img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(430 / 772 * 100%)
}

.main-sec-2 .cycle img.ring,
.main-sec-2 .cycle img.world {
    left: 50%;
    transform: translateX(-50%)
}

.main-sec-2 .cycle img.world {
    max-width: 31%;
    top: 2%
}

.main-sec-2 .cycle .care {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: contents;
}

.main-sec-2 .cycle .care img {
    position: absolute;
    max-width: 13.25%;
    height: auto
}

.main-sec-2 .cycle .care img:hover {
    transform: scale(1.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}


.main-sec-2 .cycle .care img.no_1,
.main-sec-2 .cycle .care img.no_1+.label {
    top: 25%;
    left: 56%
}

.main-sec-2 .cycle .care img.no_1+.label {
    margin-left: calc(13.25% + 26px);
    margin-top: -1%
}

.main-sec-2 .cycle .care img.no_2,
.main-sec-2 .cycle .care img.no_2+.label {
    top: 45%;
    left: 68%
}

.main-sec-2 .cycle .care img.no_2+.label {
    margin-left: calc(13.25% + 23px);
    margin-top: 1%
}

.main-sec-2 .cycle .care img.no_3,
.main-sec-2 .cycle .care img.no_3+.label {
    top: 64%;
    left: 56%
}

.main-sec-2 .cycle .care img.no_3+.label {
    margin-left: 13.25%;
    margin-top: 13.25%
}

.main-sec-2 .cycle .care img.no_4,
.main-sec-2 .cycle .care img.no_4+.label {
    top: 64%;
    left: 30%
}

.main-sec-2 .cycle .care img.no_4+.label {
    margin-left: -13.25%;
    margin-top: 13.25%
}

.main-sec-2 .cycle .care img.no_5,
.main-sec-2 .cycle .care img.no_5+.label {
    top: 45%;
    left: 19%
}

.main-sec-2 .cycle .care img.no_5+.label {
    margin-left: calc(-13.25% - 25px);
    margin-top: 2%
}

.main-sec-2 .cycle .care img.no_6,
.main-sec-2 .cycle .care img.no_6+.label {
    top: 25%;
    left: 30%
}

.main-sec-2 .cycle .care img.no_6+.label {
    margin-left: calc(-13.25% - 40px);
    margin-top: -2%
}

.main-sec-2 .title {
    font-size: 40px;
    line-height: 40px
}

.main-sec-2 .title .hilight {
    font-size: 50px
}

.main-sec-2 .detail {
    font-size: 26px;
    line-height: 26px;
    margin-top: 13px
}

@media (max-width:940px) {
    .main-sec-2 .wrap_care {
        margin: 113px 0 0 0
    }

    .main-sec-2 .max_width_care {
        flex-direction: column
    }

    .main-sec-2 .max_width_care .left {
        order: 2;
        width: 100%;
        margin-right: 0;
        margin-top: -50px;
        max-height: 6700px
    }

    .main-sec-2 .max_width_care .right {
        order: 1;
        width: 100%
    }

    .main-sec-2 .cycle {
        padding-top: 100%
    }

    .main-sec-2 .title {
        text-align: center
    }

    .main-sec-2 .title .hilight {
        font-size: 50px
    }

    .main-sec-2 .detail {
        text-align: center
    }
}

@media (max-width:767px) {
    .main-sec-2 .wrap_care {
        padding: 0 20px;
        margin: 43px 0 0 0
    }

    .main-sec-2 .left {
        width: calc(42.53521127% + 30px);
        padding-right: 15px;
        margin-right: 0;
        margin-left: -20px
    }

    .main-sec-2 .right {
        width: calc(100% - 42.53521127%)
    }

    .main-sec-2 .title {
        font-size: 29px;
        line-height: 27px;
        text-align: left
    }

    .main-sec-2 .title .hilight {
        font-size: 35px
    }

    .main-sec-2 .detail {
        font-size: 21px;
        line-height: 21px;
        text-align: left;
        margin-top: 10px
    }

    .main-sec-2 .care {
        position: relative;
        top: auto;
        left: auto;
        width: 50%;
        text-align: center;
        margin-bottom: 35px
    }

    .main-sec-2 .care .no {
        color: #36B7DE;
        font-size: 23px;
        line-height: 23px;
        margin-top: 5px
    }

    .main-sec-2 .care .label_txt {
        display: inline-block;
        font-size: 21px;
        line-height: 21px;
        max-width: 135px;
        width: 100%
    }

    .main-sec-2 .wrap_6 {
        position: relative;
        margin-top: 40px
    }
}

@media (max-width:767px) and (max-width:375px) {
    .main-sec-2 .detail {
        width: 180px
    }
}   