#content {
    padding-top: 80px;
    height: 100%
}

sub {
    font-size: 70%;
    display: inline-block;
    transform: translateY(4px)
}

.climate-summary {
    /* padding: 30px 30px 60px; */
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5)
}

.climate-tgo {
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5);

}

a {
    color: #000;
}



.global-warming-detail {
    padding: 30px;
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: -webkit-fill-available;
    margin: 30px;
}

.global-warming-detail .title {
    text-align: center;
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 20px
}

.global-warming-detail .detail {
    padding: 0 10px;
    width: 100%
}

.global-warming-detail .detail:not(:last-child) {
    border-right: 1px solid rgba(193, 193, 193, 0.8)
}

.global-warming-detail .wrap-img {
    height: 71px;
    margin-right: 20px;
    margin-top: 10px
}

.global-warming-detail .wrap-img .IMG {
    height: 100%;
    width: auto;
    object-fit: contain
}

.global-warming-detail .wrap-stats {
    font-size: 22px;
    line-height: 22px;
    margin-top: 10px
}

.global-warming-detail .wrap-stats .stats-value {
    font-size: 40px;
    line-height: 38px;
    margin-right: 7px
}

.company-detail {
    width: 100%;
    gap: 20px;
    margin-top: 45px
}

.company-detail .wrap-card {
    width: 33.33333%
}

.member-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.member-actions .inner {
    position: relative;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
}

.member-actions .inner-select {
    position: relative;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
}

.member-actions .inner img {
    display: flex;
    width: 33%;
    padding-bottom: 10px;
    opacity: 0.5;
}

.member-actions .inner-select img {
    display: flex;
    width: 33%;
    padding-bottom: 10px;
}

.member-actions .inner img:hover {
    transform: scale(1.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    opacity: 1;
}

.member-actions .inner-select img:hover {
    /* transform: scale(1.1); */
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    opacity: 1;
}

.member-box {
    width: 880px;
    max-width: 100%;
    margin: 30px auto;
}

.member-box .title {
    font-size: 34px;
    line-height: 36px;
}

.member-box h2{
    text-align: center;
    padding-top: 20px;
}

.member-box img{
    width: 500px;
    max-width: 100%;
    /* margin: 20px auto 0px; */
    display: block;
}

.activity-control {
    width: 1000px;
    max-width: 100%;
    background: #ebf4f9;
    border-radius: 40px;
    overflow: hidden;
    padding: 20px 20px 25px;
    font-weight: 500;
    margin-bottom: 20px;
}



.activity-head {
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    margin: 10px;

}

.activity-head img {
    width: 50px;
    margin-right: 10px;

}

.activity-add {
    position: relative;
    display: flex;
    align-items: center;
    float: right;
    margin-top: 5px;
}

.activity-add img {
    width: 35px;
    margin: 10px;
}

.media-control {
    text-align: center;
}


.card-climate {
    position: relative;
    padding-top: 67px;
    width: 100%
}

.card-climate .wrap-character {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 60px);
    margin: 0 auto;
    height: 120px;
    z-index: 15
}

.card-climate .wrap-character .IMG {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.card-climate .disable-area {
    border-radius: 20px
}

.card-climate .disable-area .top-box {
    background-color: #888888
}

.card-climate .disable-area.bear .top-box {
    background-color: #36B7DE
}

.card-climate .disable-area.whale .top-box {
    background-color: #488EC1
}

.card-climate .disable-area.wild .top-box {
    background-color: #6DC169
}

.card-climate .disable-area.disabled::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1
}

.card-climate .disable-area.disabled .top-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1
}

.card-climate .disable-area.disabled .bottom-box .wrap-cate-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5)
}

.card-climate .disable-area.disabled .wrap-character {
    filter: sepia(.1) grayscale(.6)
}

.card-climate .wrap-content {
    text-align: center;
    color: white
}

.card-climate .top-box {
    position: relative;
    z-index: 5;
    padding: 60px 25px 15px;
    box-shadow: 0 9px 27px rgba(0, 0, 0, 0.2);
    min-height: 218px;
    border-radius: 20px 20px 0 0;
    overflow: hidden
}

.card-climate .top-box .title {
    font-size: 30px;
    line-height: 28px
}

.card-climate .top-box .desc {
    margin-top: 7px;
    font-size: 26px;
    line-height: 26px
}

.card-climate .top-box .since {
    font-size: 22px;
    line-height: 20px;
    margin-top: 10px
}

.card-climate .bottom-box {
    position: relative;
    z-index: 3;
    padding: 28px 25px 30px;
    min-height: 260px;
    box-shadow: 0 9px 27px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
    overflow: hidden
}

.card-climate .bottom-box .wrap-cate-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.card-climate .bottom-box .wrap-cate-bg .IMG {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.card-climate .bottom-box .GW-case {
    font-size: 20px;
    line-height: 20px;
    text-align: left
}

.card-climate .bottom-box .GW-case:not(:last-child) {
    margin-bottom: 18px
}

.card-climate .bottom-box .GW-case [class^=icon-] {
    font-size: 35px;
    line-height: 35px;
    margin-right: 17px
}

.card-climate .bottom-box .GW-case [class$=-value] {
    font-size: 18px;
    line-height: 20px
}

.card-climate .bottom-box .GW-case .txt-climate {
    font-size: 20px;
    line-height: 20px
}

.card-climate .bottom-box .GW-case .run_number {
    font-size: 28px;
    line-height: 24px;
    margin-right: 7px
}

.card-climate .bottom-box .register-box {
    color: black;
    line-height: 28px;
    height: 100%;
    min-height: 205px
}

.card-climate .bottom-box .register-box .txt-register {
    padding-top: 30px
}

.card-climate .bottom-box .register-box .title {
    font-size: 30px
}

.card-climate .bottom-box .register-box .desc {
    font-size: 26px
}

@media (max-width:940px) {
    #content {
        padding-top: 65px;
        flex-direction: column
    }

    .climate-summary {
        padding: 32px 20px 50px;
        border-left: none;
        order: 2
    }

    .global-warming-detail {
        padding: 25px 17px;
        border-radius: 10px
    }

    .global-warming-detail .title {
        font-size: 23px;
        line-height: 25px;
        margin-bottom: 20px
    }

    .global-warming-detail .detail {
        padding: 10px 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start
    }

    .global-warming-detail .wrap-img {
        width: 85px;
        height: 65px;
        margin-top: 0
    }

    .global-warming-detail .wrap-img .IMG {
        margin: 0 auto
    }

    .global-warming-detail .wrap-stats {
        font-size: 18px;
        line-height: 20px;
        margin-top: 0;
        padding-top: 6px
    }

    .card-climate .bottom-box {
        padding: 28px 40px 30px
    }
}

@media (max-width:767px) {
    .global-warming-detail .detail:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid rgba(193, 193, 193, 0.8)
    }
}