@font-face {
    font-family: 'DB Helvethaica X';
    src: url('../../public/fonts/DBHelvethaicaX.eot');
    src: url('../../public/fonts/DBHelvethaicaX.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/DBHelvethaicaX.woff') format('woff'), url('../../public/fonts/DBHelvethaicaX.ttf') format('truetype'), url('../../public/fonts/DBHelvethaicaX.svg#DBHelvethaicaX') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'DB Helvethaica X';
    src: url('../../public/fonts/DBHelvethaicaX-Bold.eot');
    src: url('../../public/fonts/DBHelvethaicaX-Bold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/DBHelvethaicaX-Bold.woff') format('woff'), url('../../public/fonts/DBHelvethaicaX-Bold.ttf') format('truetype'), url('../../public/fonts/DBHelvethaicaX-Bold.svg#DBHelvethaicaX-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'DB Helvethaica X';
    src: url('../../public/fonts/DBHelvethaicaX-Medium.eot');
    src: url('../../public/fonts/DBHelvethaicaX-Medium.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/DBHelvethaicaX-Medium.woff') format('woff'), url('../../public/fonts/DBHelvethaicaX-Medium.ttf') format('truetype'), url('../../public/fonts/DBHelvethaicaX-Medium.svg#DBHelvethaicaX-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'DB Helvethaica X';
    src: url('../../public/fonts/DBHelvethaicaX-Light.eot');
    src: url('../../public/fonts/DBHelvethaicaX-Light.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/DBHelvethaicaX-Light.woff') format('woff'), url('../../public/fonts/DBHelvethaicaX-Light.ttf') format('truetype'), url('../../public/fonts/DBHelvethaicaX-Light.svg#DBHelvethaicaX-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}