/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
@media (min-width: 540px) {
  .common-form.space20 .wrap-col-form {
    margin-left: -20px;
  }
}
.common-form.space20 .wrap-col-form.no-bt {
  margin-bottom: 0;
}
@media (min-width: 540px) {
  .common-form.space20 .col-form {
    padding-left: 20px;
  }
}
.common-form.space20 .wrap-input-text {
  margin-bottom: 20px;
}
.common-form.space20 .placeholder {
  top: 15px;
}
.common-form.space20 .input-type-text {
  width: 100%;
}
.common-form.space20 .input-type-text:focus ~ .placeholder,
.common-form.space20 .input-type-text:valid ~ .placeholder,
.common-form.space20 .input-type-text:disabled ~ .placeholder,
.common-form.space20 .input-type-text.have-data ~ .placeholder {
  top: 5px;
}
.common-form .wrap-col-form {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .common-form .wrap-col-form {
    margin-left: -10px;
  }
}
.common-form .col-form {
  width: 100%;
}
@media (min-width: 768px) {
  .common-form .col-form {
    padding-left: 10px;
  }
  .common-form .col-form.two {
    width: 50%;
  }
  .common-form .col-form.three {
    width: 33.33%;
  }
  .common-form .col-form.four {
    width: 25%;
  }
}
.common-form .col-form.telephone {
  margin-bottom: 10px;
}
.common-form .col-form.z9 {
  position: relative;
  z-index: 9;
}
.common-form .col-form.z8 {
  position: relative;
  z-index: 8;
}
.common-form .col-form.z7 {
  position: relative;
  z-index: 7;
}
.common-form .col-form.z6 {
  position: relative;
  z-index: 6;
  padding-bottom: 55.5px;
}
.common-form .wrap-input-text {
  height: auto;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
}
.common-form .wrap-input-text.telephone {
  display: inline-flex;
  border-radius: 25px;
  margin-bottom: 0px;
  align-items: center;
  position: relative;
  z-index: 1;
}
.common-form .wrap-input-text.telephone.disabled-telephone {
  user-select: none;
  background-color: #F5F5F5;
  border: 1px solid #D9D9D9;
  pointer-events: none;
  color: #9D9D9D;
}
.common-form .wrap-input-text.telephone.disabled-telephone .input-type-text {
  background-color: #F5F5F5;
  color: #9D9D9D;
  border: none !important;
}
.common-form .wrap-input-text.telephone.disabled-telephone .simple-dropdown {
  background-color: #F5F5F5;
  pointer-events: none;
}
.common-form .wrap-input-text.telephone.disabled-telephone .simple-dropdown .dropdown-show-selected {
  color: #9D9D9D;
  filter: grayscale(1);
}
.common-form .wrap-input-text.telephone.disabled-telephone .simple-dropdown .dropdown-show-selected .-icon {
  display: none;
}
.common-form .wrap-input-text.telephone .simple-dropdown {
  border: none;
  min-width: 110px;
}
.common-form .wrap-input-text.telephone .input-type-text {
  border: 1px solid white !important;
}
.common-form .wrap-input-text.telephone .barrier {
  border-left: #D8D8D8 1px solid;
  height: 30px;
  display: block;
}
.common-form .wrap-input-text.telephone .dropdown-show-selected .-text {
  padding-right: 25px;
}
.common-form .wrap-input-text.telephone .input-type-text {
  padding-left: 10px;
}
.common-form .wrap-input-text.telephone .box-inp {
  position: relative;
  z-index: 1;
}
.common-form .wrap-input-text.telephone .box-inp.wrap-input-text {
  margin-bottom: 0;
}
.common-form .wrap-input-text.telephone .box-inp .placeholder {
  left: 10px;
}
.common-form .wrap-input-text.subscribe {
  margin-bottom: 0px;
}
.common-form .wrap-input-text.text-area {
  width: 100%;
  padding-left: 10px;
}
.common-form .wrap-input-text.have-icon .ic-inp {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  right: 20px;
  color: #999999;
}
.common-form .wrap-input-text.have-icon .ic-eye {
  cursor: pointer;
}
.common-form .wrap-input-text.have-icon .input-type-text {
  padding-right: 30px;
}
.common-form .wrap-input-text .add-btn-inp {
  position: absolute;
  z-index: 999;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.common-form .wrap-input-text.disabled {
  user-select: none;
}
.common-form .wrap-input-text.disabled .input-type-text {
  background-color: #F5F5F5;
  border: 1px solid #D9D9D9;
  pointer-events: none;
  color: #9D9D9D;
}
.common-form .wrap-input-text.disabled .simple-dropdown {
  background-color: #F5F5F5;
  border: 1px solid #D9D9D9 !important;
  pointer-events: none;
}
.common-form .wrap-input-text.disabled .simple-dropdown .dropdown-show-selected {
  color: #9D9D9D;
}
.common-form .wrap-input-text.disabled .simple-dropdown .dropdown-show-selected .-icon {
  display: none;
}
.common-form .wrap-input-text.focus {
  z-index: 99;
}
.common-form .wrap-input-text.disabledTelField {
  user-select: none;
  border: 1px solid #D9D9D9;
  background-color: #F5F5F5;
}
.common-form .wrap-input-text.disabledTelField .input-type-text {
  border: none !important;
  pointer-events: none;
  color: #9D9D9D;
  background-color: transparent;
}
.common-form .wrap-input-text.disabledTelField .simple-dropdown {
  background-color: transparent;
  border: 1px solid transparent;
  pointer-events: none;
}
.common-form .wrap-input-text.disabledTelField .simple-dropdown .dropdown-show-selected {
  color: #9D9D9D;
}
.common-form .wrap-input-text.invalid .simple-dropdown.open {
  border-color: red !important;
}
.common-form .hints {
  color: red !important;
}
.common-form .ic-eye {
  display: block;
  position: absolute;
  top: 28px;
  right: 0;
  font-size: 18px;
  line-height: 20px;
  padding: 0 0 0 20px;
  color: #B3B3B3;
  z-index: inherit;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.common-form .ic-eye.icon-eye-close {
  font-size: 19px;
  right: -1px;
}
.common-form .input-type-text {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 26px;
  line-height: 30px;
  color: #000;
  border-bottom: 1px solid #C1C1C1;
  border-radius: 0;
  background-color: #ffffff;
  box-shadow: none;
  margin-top: 25px;
  padding: 0 0 2px;
  -webkit-appearance: none;
  appearance: none;
}
@media (max-width: 767px) {
  .common-form .input-type-text {
    margin-top: 33px;
  }
}
.common-form .input-type-text:required {
  box-shadow: 0 0 0;
}
.common-form .input-type-text:disabled {
  background-color: #F5F5F5;
  border-color: #D9D9D9;
  color: #9D9D9D;
}
.common-form .input-type-text:focus ~ .placeholder,
.common-form .input-type-text:valid ~ .placeholder,
.common-form .input-type-text:disabled ~ .placeholder,
.common-form .input-type-text.have-data ~ .placeholder {
  top: 0;
}
.common-form .input-type-text:focus ~ .placeholder,
.common-form .input-type-text:valid ~ .placeholder,
.common-form .input-type-text:disabled ~ .placeholder,
.common-form .input-type-text.have-data ~ .placeholder {
  top: 0px;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  font-family: 'Prompt';
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-weight: normal;
  font-family: 'DB Helvethaica X';
  font-weight: 500;
}
@media (max-width: 767px) {
  .common-form .input-type-text:focus ~ .placeholder,
  .common-form .input-type-text:valid ~ .placeholder,
  .common-form .input-type-text:disabled ~ .placeholder,
  .common-form .input-type-text.have-data ~ .placeholder {
    top: -22px;
  }
}
.common-form .input-type-text:focus.input-type-text,
.common-form .input-type-text:valid.input-type-text,
.common-form .input-type-text:disabled.input-type-text,
.common-form .input-type-text.have-data.input-type-text {
  font-family: 'Prompt';
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-family: 'DB Helvethaica X';
  font-weight: normal;
}
.common-form .input-type-text:focus,
.common-form .input-type-text:disabled {
  border-bottom-color: #FFA400;
  color: #424242;
  border-bottom-width: 2px;
}
.common-form .input-type-text:not(.have-data):focus {
  color: #424242;
  border-bottom-color: #FFA400;
  border-bottom-width: 2px;
}
.common-form .input-type-text.have-data:focus,
.common-form .input-type-text.have-data:active {
  border-bottom-color: #FFA400;
  border-bottom-width: 2px;
  color: #FFA400 !important;
}
.common-form .input-type-text.email-have-data ~ .placeholder {
  top: 2px;
  font-size: 16px;
  color: #666666;
}
.common-form .input-type-text.text-area {
  max-width: 100%;
  height: 100px;
  padding-top: 20px;
}
.common-form .input-type-text.text-area .placeholder {
  top: 25px;
}
.common-form .placeholder {
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 26px;
  color: #818181;
  white-space: nowrap;
  font-weight: normal;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
@media (max-width: 767px) {
  .common-form .placeholder {
    top: 3px;
    font-size: 21px;
    line-height: 26px;
  }
}
.common-form .placeholder.telephone {
  left: 120px;
}
.common-form .placeholder.detail-textarea {
  left: 30px;
}
.common-form .placeholder [class^=icon-] {
  font-size: 16px;
  color: #000;
  margin-right: 10px;
}
.common-form .valid-message {
  position: absolute;
  bottom: 10px;
  width: 100%;
  max-height: 0;
  text-align: start;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  padding-top: 10px;
  display: block;
  opacity: 1;
  color: red;
}
.common-form .valid-message .bubble {
  background-color: #FDE2E2;
  color: #FF1919;
  position: relative;
  border-radius: 15px;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
  padding: 0;
  display: inline-block;
  z-index: inherit;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0, 1.63, 1, 1);
  -moz-transition: all 300ms cubic-bezier(0, 1.63, 1, 1);
  -ms-transition: all 300ms cubic-bezier(0, 1.63, 1, 1);
  -o-transition: all 300ms cubic-bezier(0, 1.63, 1, 1);
  transition: all 300ms cubic-bezier(0, 1.63, 1, 1);
}
.common-form .valid-message .bubble:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FDE2E2;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: top 400ms;
  -moz-transition: top 400ms;
  -ms-transition: top 400ms;
  -o-transition: top 400ms;
  transition: top 400ms;
}
.common-form .wrap-input-checkbox {
  position: relative;
  min-height: 20px;
  cursor: pointer;
}
.common-form .wrap-input-checkbox.invalid .checking-box,
.common-form .wrap-input-checkbox.invalid .checking-text {
  color: red;
}
.common-form .wrap-input-checkbox.invalid .checking-box a,
.common-form .wrap-input-checkbox.invalid .checking-text a {
  color: red;
}
.common-form .wrap-input-checkbox.login-display {
  display: none;
}
.common-form .input-type-checkbox {
  position: absolute;
  opacity: 0;
  margin: 0;
}
.common-form .input-type-checkbox ~ .checking-text {
  white-space: normal;
}
.common-form .input-type-checkbox:hover ~ .checking-text {
  color: black;
}
.common-form .input-type-checkbox:checked ~ .checking-box {
  border-color: #FFA400;
  background: #FFA400;
}
.common-form .input-type-checkbox:checked ~ .checking-box .icon {
  opacity: 1;
}
.common-form .input-type-checkbox:checked ~ .checking-text {
  color: black !important;
}
.common-form .checking-box {
  width: 22px;
  height: 22px;
  min-width: 22px;
  border: 1px solid #979797;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}
.common-form .checking-box .icon {
  font-size: 13px;
  line-height: 20px;
  display: block;
  color: #FFF;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.common-form .checking-text {
  font-size: 20px;
  color: #000000;
  margin-left: 10px;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}
.common-form .input-type-radio {
  background-color: transparent;
}
.common-form .input-type-checkbutton {
  border: 1px solid #666666;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  padding: 5px 10px;
  -webkit-transition: color 600ms, background 600ms, border 600ms;
  -moz-transition: color 600ms, background 600ms, border 600ms;
  -ms-transition: color 600ms, background 600ms, border 600ms;
  -o-transition: color 600ms, background 600ms, border 600ms;
  transition: color 600ms, background 600ms, border 600ms;
  text-align: center;
  cursor: pointer;
}
.common-form .input-type-checkbutton .icon-Check {
  color: #FFF;
  font-size: 12px;
  width: 0;
  opacity: 0;
  text-align: left;
  -webkit-transition: width 600ms, opacity 600ms;
  -moz-transition: width 600ms, opacity 600ms;
  -ms-transition: width 600ms, opacity 600ms;
  -o-transition: width 600ms, opacity 600ms;
  transition: width 600ms, opacity 600ms;
}
.common-form .input-type-checkbutton.checked {
  color: #FFF;
  background-color: #58C1E9;
  border-color: #58C1E9;
}
.common-form .input-type-checkbutton.checked .icon-Check {
  width: 22px;
  opacity: 1;
}
@media (min-width: 768px) {
  .common-form .input-type-checkbutton:hover:not(.checked) {
    border-color: black;
  }
  .common-form .input-type-checkbutton:hover.checked {
    background-color: #3EABD5;
    border-color: #3EABD5;
  }
}
.common-form .wrap-radio {
  position: relative;
  width: 100%;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .common-form .wrap-radio {
    width: 100%;
  }
  .common-form .wrap-radio:not(.stretch) {
    width: 50%;
  }
  .common-form .wrap-radio.four {
    width: 25%;
  }
}
.common-form .input-type-radio {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 1;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}
.common-form .input-type-radio ~ .radio-text {
  white-space: nowrap;
}
.common-form .input-type-radio:hover ~ .radio-text {
  color: black;
}
.common-form .input-type-radio:checked ~ .radio-box {
  border-color: blue;
  background-color: blue;
  opacity: 1;
  z-index: 1;
  left: 0;
  top: 0;
}
.common-form .input-type-radio:checked ~ .radio-box:after {
  opacity: 1;
}
.common-form .input-type-radio:checked ~ .radio-box .icon-Check {
  opacity: 1;
}
.common-form .input-type-radio:checked ~ .radio-text {
  color: blue !important;
}
.common-form .radio-box {
  width: 16px;
  height: 16px;
  min-width: 16px;
  border: 1px solid #979797;
  margin-right: 10px;
  position: relative;
  margin-top: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 600ms, border-color 600ms;
  -moz-transition: background-color 600ms, border-color 600ms;
  -ms-transition: background-color 600ms, border-color 600ms;
  -o-transition: background-color 600ms, border-color 600ms;
  transition: background-color 600ms, border-color 600ms;
}
.common-form .radio-box:after {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: '';
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  -webkit-transition: opacity 600ms;
  -moz-transition: opacity 600ms;
  -ms-transition: opacity 600ms;
  -o-transition: opacity 600ms;
  transition: opacity 600ms;
}
.common-form .wrap-input-text.invalid {
  z-index: 40;
}
.common-form .wrap-input-text.invalid .title-input-field {
  color: red !important;
}
.common-form .dropdown-item {
  position: relative;
  z-index: 1;
}
.common-form .dropdown-item .simple-dropdown {
  height: 50px;
  border: 1px solid #214AF4;
}
.common-form .dropdown-item .dropdown-show-selected .-icon {
  top: 23px;
}
.common-form .dropdown-item-box .simple-dropdown {
  height: 50px;
  border: 1px solid #214AF4;
}
.common-form .dropdown-item-box .hints {
  color: red !important;
}
.common-form .dropdown-item-box .dropdown-show-selected .-icon {
  top: 23px;
}
.common-form .invalid:not(.checkbox-group-parent) .input-type-text {
  border-color: red;
}
.common-form .invalid:not(.checkbox-group-parent).telephone {
  border-color: red;
}
.common-form .invalid:not(.checkbox-group-parent).focus {
  z-index: 100;
}
.common-form .invalid:not(.checkbox-group-parent).focus .valid-message {
  z-index: 99;
  opacity: 1;
  max-height: 100px;
}
.common-form .invalid:not(.checkbox-group-parent).focus .valid-message .bubble {
  padding: 7px 15px;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.common-form .invalid:not(.checkbox-group-parent).focus .valid-message .bubble::before {
  top: -5px;
  transition-delay: 0.2s;
}
.common-form .invalid:not(.checkbox-group-parent) .simple-dropdown {
  border-color: red;
}
.common-form .invalid:not(.checkbox-group-parent) .placeholder {
  color: red !important;
}
.common-form .invalid:not(.checkbox-group-parent) .dropdown-placeholder {
  color: red !important;
}
.common-form .invalid:not(.checkbox-group-parent) .checking-box {
  border-color: red;
}
.common-form .invalid:not(.checkbox-group-parent) .checking-text:not(.no-valid) {
  color: red !important;
}
.common-form .invalid:not(.checkbox-group-parent) .radio-box {
  border-color: red;
}
.common-form .box-consent {
  height: 160px;
  margin: 20px 0 30px;
  text-align: left;
  color: grey;
}
.common-form .box-consent .consent-detail {
  background-color: #F9F9F9;
  padding: 20px;
  max-height: 100%;
  overflow-y: auto;
  font-size: 18px;
  line-height: 20px;
  border-radius: 10px;
}
.common-form .box-consent .consent-detail .title-consent {
  font-size: 20px;
  line-height: 22px;
  color: black;
}
.common-form .box-consent .consent-detail .udl {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.common-form .box-consent .consent-detail ol {
  margin: 10px 0 0;
  padding-left: 15px;
}
.common-form .checkbox-consent .wrap-input-checkbox {
  height: auto;
}
.common-form .checkbox-consent .wrap-input-checkbox .checking-text {
  color: #777777;
  font-size: 18px;
  line-height: 20px;
}
.common-form .box-check-box-email {
  position: absolute;
  top: 38px;
  right: 0;
  width: 15px;
  height: 15px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 600ms;
  -moz-transition: opacity 600ms;
  -ms-transition: opacity 600ms;
  -o-transition: opacity 600ms;
  transition: opacity 600ms;
}
.common-form .box-check-box-email .preview-check {
  opacity: 0;
}
.common-form .box-check-box-email.gray .preview-check:after {
  border-color: #9D9D9D !important;
}
.common-form .box-check-box-email.pass {
  opacity: 1;
}
.common-form .box-check-box-email.pass .preview-check {
  display: block;
  opacity: 1;
}
.common-form .box-check-box-email.pass .preview-check.draw:after {
  animation-duration: 600ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: 0 0;
}
.common-form .box-check-box-email.pass .preview-check:after {
  opacity: 1;
  height: 10px;
  width: 5px;
  transform-origin: left top;
  border-right: 2px solid #409D18;
  border-top: 2px solid #409D18;
  content: '';
  left: 0;
  top: 0;
  position: absolute;
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 5px;
    opacity: 1;
  }
  40% {
    height: 10px;
    width: 5px;
    opacity: 1;
  }
  100% {
    height: 10px;
    width: 5px;
    opacity: 1;
  }
}
@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 5px;
    opacity: 1;
  }
  40% {
    height: 10px;
    width: 5px;
    opacity: 1;
  }
  100% {
    height: 10px;
    width: 5px;
    opacity: 1;
  }
}
@-moz-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 5px;
    opacity: 1;
  }
  40% {
    height: 10px;
    width: 5px;
    opacity: 1;
  }
  100% {
    height: 10px;
    width: 5px;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .common-form .wrap-col-form {
    margin-left: -30px;
  }
  .common-form .col-form {
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .common-form .wrap-input-text {
    display: block;
    width: 100%;
  }
  .common-form .wrap-input-text:not(:last-child) {
    margin-bottom: 40px;
  }
  .common-form .wrap-input-text.text-area {
    padding-left: 0px;
  }
  .common-form .wrap-input-text.dropdown-project {
    margin-top: 10px;
  }
  .common-form .wrap-input-text .ic-eye {
    top: 30px;
  }
  .common-form .input-type-text {
    max-width: 100%;
    font-size: 21px;
    line-height: 21px;
  }
  .common-form .placeholder.detail-textarea {
    left: 20px;
  }
}
