.section-news {
    background: linear-gradient(to bottom, rgba(252, 176, 51, 0), #e2f5f7);
    overflow: hidden;
    padding: 40px 20px 85px;
    position: relative;
    z-index: 1
}

.section-news .wrap_slider {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    height: 330px
}

.section-news .section-title {
    font-size: 40px;
    line-height: 38px;
    text-align: left
}

.section-news .wrap_arrow {
    margin-top: 30px
}

.section-news .arrow {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border: 1.5px solid black;
    cursor: pointer;
    transition: all .3s ease
}

.section-news .arrow:not(.right) {
    margin-right: 8px
}

.section-news .arrow .icon {
    font-size: 21px;
    line-height: 21px;
    color: black
}

.section-news .arrow.arrow_disabled {
    opacity: .3;
    pointer-events: none
}

.section-news .slide_panel {
    position: relative;
    z-index: 10;
    width: 230px
}

.section-news .slider_news {
    width: calc(100% - 230px)
}

.section-news .slider_news .slide_news {
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.05);
    width: 350px !important;
    height: 330px !important;
    overflow: hidden;
    transform: scale(1) translateZ(0);
    transition: transform .4s ease, box-shadow .4s ease, opacity .2s ease
}

.section-news .slider_news .slide_news:hover {
    transform: scale(1.1) translateZ(0);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
}

.section-news .slider_news .slide_news:hover .wrap_detail {
    background-color: #FBD64A
}

.section-news .slider_news .slide_news.prev {
    opacity: 0;
    pointer-events: none;
    user-select: none
}

.section-news .slider_news .slide_news.next,
.section-news .slider_news .slide_news.active {
    opacity: 1
}

.section-news .slider_news .link_slide {
    cursor: inherit
}

.section-news .wrap_img {
    position: relative;
    height: 200px
}

.section-news .wrap_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.section-news .wrap_detail {
    height: 130px;
    padding: 26px 30px 22px;
    font-size: 26px;
    line-height: 26px;
    transition: background-color .3s ease;
    background-color: white
}

.section-news .wrap_detail .date {
    color: #424242
}

.section-news .wrap_detail .news_title {
    color: black;
    margin-top: 4px;
    white-space: normal;
    display: -webkit-box;
    line-height: 26px;
    max-height: 52px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

@media (max-width:767px) {
    .section-news {
        padding: 20px 20px 65px
    }

    .section-news .wrap_slider {
        height: auto;
        flex-direction: column
    }

    .section-news .slide_panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end
    }

    .section-news .slide_panel .section-title {
        padding-right: 42px;
        font-size: 29px;
        line-height: 27px;
        margin: 0
    }

    .section-news .slide_panel .arrow {
        width: 30px;
        height: 30px;
        border: 1px solid black
    }

    .section-news .slide_panel .arrow .icon {
        font-size: 12px;
        line-height: 12px
    }

    .section-news .slider_news {
        width: 100%;
        margin-top: 45px;
        padding-left: 14px;
        padding-right: 14px
    }

    .section-news .slider_news .slide_news {
        width: 262px !important;
        height: 250px !important;
        opacity: 1
    }

    .section-news .slider_news .slide_news.swiper-slide-active {
        transform: scale(1.1) translateZ(0);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
    }

    .section-news .slider_news .slide_news.swiper-slide-active .wrap_detail {
        background-color: #FBD64A
    }

    .section-news .slider_news .slide_news.prev {
        opacity: 1
    }

    .section-news .wrap_img {
        height: 150px
    }

    .section-news .wrap_detail {
        height: 100px;
        padding: 15px
    }

    .section-news .wrap_detail .date,
    .section-news .wrap_detail .news_title {
        font-size: 21px;
        line-height: 21px
    }

    .section-news .wrap_arrow {
        margin-top: 0px
    }
}