.menu-bear {
    position: sticky;
    top: 80px;
    width: 100%;
    z-index: 10;
    padding: 17px 0px;
    overflow: hidden
}

@supports (backdrop-filter: none) {
    .menu-bear {
        backdrop-filter: blur(5px);
        background-color: rgba(32, 190, 238, 0.8)
    }
}

@supports not (backdrop-filter: none) {
    .menu-bear {
        background-color: rgba(32, 190, 238, 0.9)
    }
}

.menu-bear .wrap-menu {
    white-space: nowrap;
    overflow: auto;
    padding-bottom: 50px;
    /* max-width: 890px; */
    text-align: center;
    margin: 0 auto -50px;
    color: white;
    font-size: 24px;
    line-height: 26px
}

.menu-bear .wrap-menu .menu-link {
    color: white;
    margin: 0 20px;
    position: relative
}

.menu-bear .wrap-menu .menu-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: all .3s ease
}

.menu-bear .wrap-menu .menu-link:hover::after {
    left: 0%;
    width: 100%
}

.menu-bear::before,
.menu-bear::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 19px;
    top: 0
}

.menu-bear::before {
    left: 0;
    background: linear-gradient(to right, #20beee, rgba(32, 190, 238, 0))
}

.menu-bear::after {
    right: 0;
    background: linear-gradient(to right, rgba(32, 190, 238, 0), #20beee)
}

@media (max-width:940px) {
    .menu-bear {
        top: 65px
    }
}

@media (max-width:767px) {
    .menu-bear .wrap-menu .menu-link {
        margin: 0 12.5px
    }

    .menu-bear::before,
    .menu-bear::after {
        width: 15px
    }
}