<option value="">[ เลือกหมวดหมู่ขยะ ]</option>
{foreach $garbage_category as $garbage_category_item}
	<option value="{$garbage_category_item.id}"{if $garbage_category_item.id == $garbage_category_id} selected="selected"{/if}>{$garbage_category_item.name}</option>
{/foreach}