.font-smooth() {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-weight: normal;
}
.font-reg() {
    font-family: 'DB Helvethaica X';
    font-weight: normal;
}
.font-med() {
    font-family: 'DB Helvethaica X';
    font-weight: 500;
}
.font-bold() {
    font-family: 'DB Helvethaica X';
    font-weight: 600;
}
.font-light() {
    font-family: 'DB Helvethaica X';
    font-weight: 300;
}