//
// Mixins
// --------------------------------------------------


// Utilities
// -------------------------

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.

/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
 .clearfix() {
    zoom: 1;
    &:before,
    &:after {
      display: table;
      content: "";
      zoom: 1;
    }
    &:after {
      clear: both;
    }
  }
   
   // Center-align a block level element
  .center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
   
  // Sizing shortcuts
  .size(@width:100%, @height:100%) {
    width: @width;
    height: @height;
  }
  .square(@size: 5px) {
    .size(@size, @size);
  }
   
   // Input placeholder text
  .placeholder(@color, @opacity: 1) {
    &::-webkit-input-placeholder { color: @color; .opacity(@opacity); }
    &:-ms-input-placeholder { color: @color; .opacity(@opacity); }
    &:-moz-placeholder { color: @color; .opacity(@opacity); }
    &::placeholder { color: @color; .opacity(@opacity); }
  }
   
  // Box sizing
  .box-sizing(@boxmodel) {
    .vendor(box-sizing,@boxmodel);
  }
  // User Select
  .user-select(@select) {
    .vendor(user-select,@select);
  }
  // Resize anything
  .resizable(@direction) {
    resize: @direction; // Options: horizontal, vertical, both
    overflow: auto; // Safari fix
  }
   
  // Border Radius
  // Single side border-radius
  .border-top-radius(@radius) {
    border-top-right-radius: @radius;
    border-top-left-radius: @radius;
  }
  .border-right-radius(@radius) {
    border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
  }
  .border-bottom-radius(@radius) {
    border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
  }
  .border-left-radius(@radius) {
    border-bottom-left-radius: @radius;
    border-top-left-radius: @radius;
  }
  .border-all-radius(@radius){
    .vendor(border-radius,@radius);
  }
  .border-radius (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;
    -webkit-border-top-left-radius:     @topleft;
  
    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;
    -moz-border-radius-topleft:         @topleft;
  
    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
    border-top-left-radius:             @topleft;
  
    -moz-background-clip:    padding; 
    -webkit-background-clip: padding-box; 
    background-clip:         padding-box; 
  }
   
  // Drop shadows
  .box-shadow(@shadow) {
    .vendor(box-shadow,@shadow);
  }
  .drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:  @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:   @x @y @blur @spread rgba(0, 0, 0, @alpha);
  }
  .inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  }
  
   
  // Background clipping
  .background-clip(@clip) {
  -webkit-background-clip: @clip;
     -moz-background-clip: @clip;
           background-clip: @clip;
  }
   
   // CSS3 Content Columns
   .content-columns(@columnCount, @columnGap: 20px) {
    -webkit-column-count: @columnCount;
      -moz-column-count: @columnCount;
        column-count: @columnCount;
    -webkit-column-gap: @columnGap;
      -moz-column-gap: @columnGap;
        column-gap: @columnGap;
   }
   
   // Make any element resizable for prototyping
   .resizable(@direction: both) {
     resize: @direction; // Options are horizontal, vertical, both
     overflow: auto; // Safari fix
   }
   
   // Add an alphatransparency value to any background or border color (via Elyse Holladay)
   #translucent {
     .background(@color: @white, @alpha: 1) {
      background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
    }
     .border(@color: @white, @alpha: 1) {
      border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
      background-clip: padding-box;
    }
  }
   
   // Gradient Bar Colors for buttons and allerts
  .gradientBar(@primaryColor, @secondaryColor) {
    #gradient > .vertical(@primaryColor, @secondaryColor);
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
  }
   
   /// Background Gradient
   /// @param {Color} $startColor [#3C3C3C] - Start Color
   /// @param {Color} $endColor [#999999] - End Color
   
  .background-gradient(@startColor: #3C3C3C, @endColor: #999999,@deg: top) {
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(@deg, @startColor, @endColor);
    background-image:    -moz-linear-gradient(@deg, @startColor, @endColor);
    background-image:     -ms-linear-gradient(@deg, @startColor, @endColor);
    background-image:      -o-linear-gradient(@deg, @startColor, @endColor);
    background-image:         linear-gradient(@deg, @startColor, @endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
  }
   
   // Gradients
   #gradient {
    .horizontal (@startColor: #555, @endColor: #333) {
      background-color: @endColor;
      background-repeat: repeat-x;
      background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor)); // Konqueror
      background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
      background-image: -ms-linear-gradient(left, @startColor, @endColor); // IE10
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
      background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
      background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
      background-image: linear-gradient(to right, @startColor, @endColor); // Le standard
      filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor)); // IE9 and down
    }
    .vertical (@startColor: #555, @endColor: #333) {
      background-color: @endColor;
      background-repeat: repeat-x;
      background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); // Konqueror
      background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
      background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
      background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
      background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
      background-image: linear-gradient(to bottom, @startColor, @endColor); // The standard
      filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down
    }
    .directional (@startColor: #555, @endColor: #333, @deg: 45deg) {
      background-color: @endColor;
      background-repeat: repeat-x;
      background-image: -moz-linear-gradient(@deg, @startColor, @endColor); // FF 3.6+
      background-image: -ms-linear-gradient(@deg, @startColor, @endColor); // IE10
      background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); // Safari 5.1+, Chrome 10+
      background-image: -o-linear-gradient(@deg, @startColor, @endColor); // Opera 11.10
      background-image: linear-gradient(@deg, @startColor, @endColor); // The standard
    }
    .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
      background-color: @endColor;
      background-repeat: no-repeat;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
      background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
      background-image: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
      background-image: -ms-linear-gradient(@startColor, @midColor @colorStop, @endColor);
      background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
      background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
      filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
      }
    .text-link-solid(@startColor, @endColor) {
      background-image: linear-gradient(to left, @startColor,@startColor,@endColor,@endColor);
    }
  }
   
   // Reset filters for IE
  .reset-filter() {
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
  }
   
   // Opacity
  .opacity(@opacity) {
    opacity: @opacity;
    // @opacity-ie: (@opacity * 100);
    // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity-ie})";
    // filter: alpha(opacity=@opacity-ie);
    // -khtml-opacity: @opacity;
    // -moz-opacity: @opacity;
  }
   
  .font(@font-size: 16px, @line-height: @font-size){
    font-size: @font-size;
    line-height: @line-height;
  }
  .font-color(@font-size: 16px, @line-height: @font-size, @color: #000000){
    font-size: @font-size;
    line-height: @line-height;
    color: @color;
  }
  // Responsive image
  //
  // Keep images from scaling beyond the width of their parents.
  
  .img-responsive(@display: block;) {
    display: @display;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
  }
   
  .vendor(@property, @value) {
    -webkit-@{property}: @value;
      -moz-@{property}: @value;
        -ms-@{property}: @value;
          -o-@{property}: @value;
            @{property}: @value;
  }
   
   // Transitions
  .transition(@transition1,@transition2:X,...) {
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
    .vendor(transition,@value);
  }
  .transition-delay(@transition-delay) {
    .vendor(transition-delay,@transition-delay);
  }
  .transition-duration(@transition-duration) {
    .vendor(transition-duration,@transition-duration);
  }
  .transition-transform(@transition) {
    -webkit-transition: -webkit-transform @transition;
      -moz-transition: -moz-transform @transition;
        -ms-transition: -ms-transform @transition;
        -o-transition: -o-transform @transition;
            transition: transform @transition;
  }
  .transition-property(@transition1,@transition2:X,...) {
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
    .vendor(transition-property,@value);
  }
  .transition-duration(@transition1,@transition2:X,...) {
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
    .vendor(transition-duration,@value);
  }
  .transition-timing-function(@transition1,@transition2:X,...) {
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
    .vendor(transition-timing-function,@value);
  }
   
   // Transformations
  .transform(@string){
    .vendor(transform,@string);
  }
  .rotate(@degrees) {
    .vendor(transform,rotate(@degrees));
  }
  .scale(@ratio) {
    .vendor(transform,scale(@ratio));
  }
  .translate(@x; @y) {
    .vendor(transform,translate(@x, @y));
  }
  .skew(@x; @y) {
    .vendor(transform,skew(@x, @y));
        -ms-transform: skewX(@x) skewY(@y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
  }
  .translate3d(@x; @y; @z) {
    .vendor(transform,translate3d(@x, @y, @z));
  }
  .perspective (@value: 1000) {
    .vendor(perspective,@value);
  }
  .transform-origin (@x:center, @y:center) {
    .vendor(transform-origin,@x @y);
  }
  
  // Backface visibility
  // Prevent browsers from flickering when using CSS 3D transforms.
  // Default value is `visible`, but can be changed to `hidden`
  // See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
  .backface-visibility(@visibility){
    .vendor(backface-visibility,@visibility);
  }
  
  .display-flex(){
    display: -webkit-box; 
    display: -moz-box;    
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
  }
   
   // Text overflow
   // Requires inline-block or block for proper styling
   .text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   }
   .text-overflow2(@line_clamp: 2,@max_height: initial){
     display: -webkit-box;
     max-height: @max_height; /* Fallback for non-webkit */
     -webkit-line-clamp: @line_clamp;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
   }
   
   // CSS image replacement
   // Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
   .hide-text() {
    font: ~"0/0" a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
   }
   
  .text-shadow(){
    text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
  }
   
  .font-scale(@font-size,@scale:1){
    font-size: round((@font-size * 1px) * @scale);
  }
   
  .font-size(@font-size,@line-height,@scale:1) {
    .font-scale(@font-size,@scale);
    line-height: (@line-height / (@font-size * @scale));
  }
   
  .animation(@arguments) {
    .vendor(animation,@arguments);
  }
  .keyframes(@name; @arguments) {
    @keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @-moz-keyframes @name { @arguments(); }
  }
   
  .transform-origin (@x:center, @y:center) {
    .vendor(transform-origin,@x @y);
  }
   
  .gradient-top-to-bottom(@color-x:#74CCEB, @color-y:#9FACE6) {
    background-image: linear-gradient(-180deg, @color-x 0%, @color-y 100%);
  }
   
  .gradient-left-to-right(@color-x:#59C3F2, @color-y:#597DF2) {
    background-image: linear-gradient(-90deg, @color-x 0%, @color-y 91%);
  }
   
   
  .cover-shadow(@opa,@color:#000){
    .dim{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      background-color: @color;
      opacity: @opa;
    }
  }
  .display(@value) when (@value = flex) {
    display: -ms-flexbox; // IE10
    display: -webkit-flex; // Safari / iOS
  }
  
  .display(@value) when (@value = inline-flex) {
    display: -ms-inline-flexbox; // IE10
    display: -webkit-inline-flex; // Safari / iOS
  }
  
  .display(@value) {
    display: @value;
  }
  
  
  .linear-gradient-black(){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
    background-repeat: no-repeat;
  }
   
   //Multiline Ellipsis
  .fn-multiline-ellipsis(@line_clamp: 2, @height: 50px, @line_height: 1){
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: @height; /* Fallback for non-webkit */
    margin-left: auto;
    margin-right: auto;
    line-height: @line_height;
    -webkit-line-clamp: @line_clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  .order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }
  
  .windows-thin-scroll() {
    [device=windows] &{       
    scrollbar-width: thin;
      &::-webkit-scrollbar {
          width: 6px;                      
          background:#f1f1f1;
      }
      &::-webkit-scrollbar-thumb{                                                 
          background-color: #c1c1c1;  
          &:hover{
              background-color: #a8a8a8;  
          }
      }       
    }
  }
  .button-default(@bg_color: #FFFFFF,@fontcolor: #FFFFFF){
    .font-color(22px,22px,@fontcolor);
    background-color: @bg_color;
  }
  .media-desktop(@arguments,@pixel: (@screen-xs + 1px)) {
    @media (min-width: @pixel) {
      @arguments();
    }
  }
  .media-mobile(@arguments,@pixel: @screen-xs) {
    @media (max-width: @pixel) {
      @arguments();
    }
  }
  .media-max(@arguments,@pixel) {
    .media-mobile(@arguments,@pixel);
  }
  .cusTompading(@position,@w){
    padding-@{position}: @w;
  }

.font-smooth() {
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-overflow-scrolling: touch;
}
.font-li() {
  font-family: 'Prompt';
  font-weight: 300;
  font-style: normal;
  .font-smooth();
}
.font-reg() {
  font-family: 'Prompt';
  font-weight: normal;
  .font-smooth();
}
.font-med() {
  font-family: 'Prompt';
  font-weight: 500;
  .font-smooth();
}
.font-semi-bold() {
  font-family: 'Prompt';
  font-weight: 600;
  .font-smooth();
}
.font-bold() {
  font-family: 'Prompt';
  font-weight: 300;
  .font-smooth(); 
}