#content {
    position: relative;
    padding: 140px 0 60px;
    background: rgb(61,189,206);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(252,176,51,0) 79%, rgba(252,176,51,0) 80%, rgba(61,189,206,0.2) 100%);
    min-height: calc(100vh - 164px);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FAFAFA;
        z-index: -1;
    }
}

.news-title  {
    text-align: center;
}
.wrap-list-news {
    max-width: 1230px;
    padding: 0 60px;
    margin: 50px auto 0;
}
.wrap-news {
    width: calc(33.3333333% - 20px);
    max-width: 350px !important;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.news {
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transform: scale(1) translateZ(0);
    transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.2s ease;
    cursor: pointer;
    width: 100%;

    &:hover {
        transform: scale(1.1) translateZ(0);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

        .wrap_detail {
            background-color: #FBD64A;
        }
    }
    .wrap_img {
        position: relative;
        padding-top: calc(200 / 350 * 100%);
        width: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .wrap_detail {
        height: 130px;
        padding: 26px 30px 22px;
        font-size: 26px;
        line-height: 26px;
        transition: background-color 0.3s ease;
        background-color: white;
    
        .date {
            color: #424242;
        }
        .news_title {
            color: black;
            margin-top: 4px;
            white-space: normal;
            display: -webkit-box;
            line-height: 26px;
            max-height: 52px; /* Fallback for non-webkit */
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.link_slide {
    cursor: inherit;
}

.wrap-scroll-menu {
    overflow: hidden;
}
// cate menu
.menu-cate-news {
    margin-top: 20px;
    white-space: nowrap;
    overflow: auto;
    font-size: 0;
    padding: 0 20px 50px;
    margin-bottom: -50px;
}
.cate-news {
    font-size: 26px;
    line-height: 26px;
    position: relative;
    cursor: pointer;
    display: inline-block;

    &:not(:first-child) {
        margin-left: 40px;
    }
    &:last-child {
        margin-right: 20px;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        left: 50%;
        width: 0%;
        height: 1px;
        background-color: #FFA400;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    &:hover, &.active {
        color: #FFA400;
        &::after {
            left: 0%;
            width: 100%;
        }
    }
}

.loadmore {
    margin-top: 40px;
}
@media(max-width: 1000px) {
    .wrap-news {
        width: calc(50% - 10px);
        max-width: unset !important;
    }
}
@media(max-width: 767px) {
    #content {
        padding-top: 100px;
        min-height: calc(100vh - 193px);
    }
    .wrap-list-news {
        padding: 0 20px;
        margin: 35px auto 0;
    }
    .wrap-news {
        width: 100%;
    }
    .news {
        .wrap_detail {
            height: 100px;
            padding: 15px;
    
            .date, .news_title {
                font-size: 21px;
                line-height: 21px;
            }
        }
    }
    .menu-cate-news {
        display: block;
    }
    .loadmore {
        margin-top: 15px;
    }
}