@import "mixin.less";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, main, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
a { outline: 0 none;cursor:pointer;text-decoration: none; }
a:link { -webkit-tap-highlight-color: transparent; }
a,a:hover,a:active {
	.user-select(none);
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Typography */
h1,h2,h3,h4,h5,h6 { font-weight: normal; text-rendering: optimizeLegibility;zoom: 1;display: block; margin: 0; padding: 0;}
p { font-weight: normal; text-rendering: optimizeLegibility;zoom: 1;display: block;margin: 0;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

nav ul { list-style:none; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input,select { vertical-align:middle;overflow:hidden; }
textarea { overflow:auto;resize: none;}
input,textarea {
	border-radius: 0px;
	.box-shadow(none);
	-webkit-appearance: none;
	border: 0;
	/* safari hidden autofill icon */
	&::-webkit-contacts-auto-fill-button,
	&::-webkit-credentials-auto-fill-button {
		visibility: hidden;
		display: none !important;
		pointer-events: none;
		position: absolute;
		right: 0;
	}
	&::-ms-reveal {
		display: none;
	}
	&::-ms-clear {
		display: none;
	}
}

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline;margin: 3px 3px 0 0; }
input[type=text]{ -webkit-appearance: none; -webkit-box-shadow: none; -webkit-tap-highlight-color: transparent }

button { width: auto; overflow: visible; }
.ie6 input { vertical-align: text-bottom; }

/** helper styles
 ***************************************/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; font-size:0px; }
.clearfix { display: block;clear:both; }

  /*  new standard values */
	.default_css ul li{list-style-type:disc;}
	.default_css ul ul li{list-style-type:circle;margin:0px 0 0 16px;}
	.default_css ol li{list-style-type:decimal;}
	.default_css ol li ,.default_css ul li{margin:0px 0 0 20px;overflow:visible;}
	.default_css p{margin:15px 0;}
	.default_css a{color:#FFA400; text-decoration:none;cursor:pointer;cursor:hand;}
	.default_css a:hover{text-decoration:underline;}
	.default_css h1,.default_css h2,.default_css h3,.default_css h4,.default_css h5,.default_css h6{margin:20px 0 0;}
/* remember to define focus styles! */
:focus {
	outline: 0;
}