@font-face {
    font-family: 'DBHelvethaicaMonX';
    src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX.eot');
    src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX.svg#DBHelvethaicaMonX') format('svg'),
         url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX.ttf') format('truetype'),
         url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX.woff') format('woff'),
         url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
     font-family: 'DBHelvethaicaMonX';
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Med.eot');
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Med.eot?#iefix') format('embedded-opentype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Med.svg#DBHelvethaicaMonX-Med') format('svg'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Med.ttf') format('truetype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Med.woff') format('woff'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Med.woff2') format('woff2');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: 'DBHelvethaicaMonX';
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Bold.eot');
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Bold.svg#DBHelvethaicaMonX-Bold') format('svg'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Bold.ttf') format('truetype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Bold.woff') format('woff'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
}

@font-face {
     font-family: 'DBHelvethaicaMonX';
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Black.eot');
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Black.eot?#iefix') format('embedded-opentype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Black.svg#DBHelvethaicaMonX-Black') format('svg'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Black.ttf') format('truetype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Black.woff') format('woff'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Black.woff2') format('woff2');
     font-weight: 900;
     font-style: normal;
}

@font-face {
     font-family: 'DBHelvethaicaMonX-Cond';
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Cond.eot');
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Cond.eot?#iefix') format('embedded-opentype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Cond.svg#DBHelvethaicaMonX-Cond') format('svg'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Cond.ttf') format('truetype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Cond.woff') format('woff'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Cond.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'DBHelvethaicaMonX';
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-MedIt.eot');
     src: url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-MedIt.eot?#iefix') format('embedded-opentype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-MedIt.svg#DBHelvethaicaMonX-MedIt') format('svg'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-MedIt.ttf') format('truetype'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-MedIt.woff') format('woff'),
          url('../fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-MedIt.woff2') format('woff2');
     font-weight: 500;
     font-style: italic;
}