/* ------ default ------ */
* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}



/* body {
    width: 100%;
    background: #fff;
    position: relative;
    display: inline-block;
    color: #343536;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: 'DB Helvethaica X', sans-serif;
    word-break: break-word;
} */

input{
    outline: none !important;
    box-shadow: none !important;
}

.font-orange {
    color: #ECA23A;
}
.font-yellow {
    color: #FCBD10;
}
.font-white {
    color: #ffffff;
}
.font-black {
    color: #000000;
}
.font-dark {
    color: #231F20;
}
.font-cond {
    font-weight: 400;
    font-family: 'DB Helvethaica X', sans-serif;
}

h1, h2 {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 0px;
    margin-bottom: 25px;
} 
h3{
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 500;
    font-family: 'DB Helvethaica X', sans-serif;
    margin-bottom: 25px;
}
h4 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 500;
    font-family: 'DB Helvethaica X', sans-serif;
    margin-bottom: 25px;
}
i{
    font-family: 'DB Helvethaica X';
    font-weight: 500;
    font-style: italic;
}

.btn, .btn-default{
    background: #000;
    color: #ECA23A;
    font-size: 25px;
    line-height: 25px;
    padding: 5px 20px;
    border-radius: 6px;
    border: 0px;
    font-weight: 500;
    font-family: 'DB Helvethaica X', sans-serif;
    transition: .3s ease 0s;
}
.btn-default:hover{
    background: #ECA23A;
    color: #000;
}
.btn-transparent{
    background: transparent;
    color: #343536;
    padding-left: 10px;
}
.btn-transparent:hover{
    opacity: 0.8;
}
.btn-yellow{
    background: #FFC700;
    color: #fff;
    min-width: 130px;
    border-radius: 50px;
    padding: 7px 20px;
    transition: none;
}
.btn-yellow:hover{
    color: #000;
    opacity: 0.8;
}
.btn-grey{
    background: #99A1A6;
    color: #fff;
    min-width: 130px;
    border-radius: 50px;
    padding: 7px 20px;
    transition: none;
}
.btn-grey:hover{
    color: #000;
    opacity: 0.8;
}
.btn-yellow-rect{
    background: #FFC700;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    padding: 5px 20px;
    border-radius: 6px;
}
.btn-grey-rect{
    background: #99A1A6;
    color: #fff;
    min-width: 130px;
    border-radius: 50px;
    padding: 7px 20px;
    transition: none;
    border-radius: 6px;
}
.btn-border{
    color: #ffffff;
    border: 1px solid #ffffff;
    background: transparent;
}
.btn-icon .icon{
    padding-right: 52px;
    position: relative;
    display: inline-block;
    padding-left: 5px;
}
.btn-icon .icon i{
    position: absolute;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}
.btn-readmore{
    min-width: 120px;
    margin: 15px 0px;
    float: right;
}
.btn-sm{
    font-size: 22px;
    line-height: 22px;
}
.btn-md{
    font-size: 22px;
    line-height: 22px;
    padding: 8px 30px;
}
.btn-lg{
    font-size: 26px;
    line-height: 26px;
    padding: 10px 40px;
}

/* .icon-logout{
    background: url('../images/icon-logout.svg') no-repeat center;
    background-size: contain;
}
.icon-circle{
    background: url('../images/icon-circle.svg') no-repeat center;
    background-size: contain;
}
.icon-user{
    background: url('../images/icon-user.svg') no-repeat center;
    background-size: contain;
}
.icon-password{
    background: url('../images/icon-password.svg') no-repeat center;
    background-size: contain;
} */

.no-padding {
    padding: 0px !important;
}
.no-padding-top {
    padding-top: 0px !important;
}
.no-padding-bottom {
    padding-bottom: 0px;
}
.no-padding-left {
    padding-left: 0px;
}
.no-padding-right {
    padding-right: 0px;
}

.no-margin {
    margin: 0px;
}
.no-margin-top {
    margin-top: 0px !important;
}
.no-margin-bottom {
    margin-bottom: 0px;
}
.no-margin-left {
    margin-left: 0px;
}
.no-margin-right {
    margin-right: 0px;
}

.bg {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden !important;
}

/* ------ loading ------ */
#loading {
    text-align: center;
    padding-top: 42vh;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
#loading .icon {
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-top: 10px solid rgba(255, 255, 255, 0.8);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto 20px;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ------ custom ------ */
#wrapper{
    position: relative;
    /* overflow-x: hidden; */
    width: 100%;
}
section {
    position: relative;
    padding: 40px 0px;
    overflow: hidden;
}
#design {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
}
#design img{
    margin-left: -250px;
    width: calc(100% + 500px);
}
header{
    background: #fff;
}
header .navbar{
    background: transparent;
    /* background: #fff; */
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    padding-top: 38px;
    border-bottom: 1px solid #edecec;
}
header .navbar .navbar-brand{
    height: auto;
    padding-bottom: 0px;
    padding-top: 0px;
}
header .navbar .navbar-brand img{
    height: 90px;
}
header #menu{
    float: left;
    width: 100%;
    padding: 0px;
    margin-top: 20px;
}
header #menu .navbar-menu{
    float: left;
    margin-top: 12px;
    max-width: calc(100% - 150px);
}
header #menu .navbar-menu li{
    padding: 0px 18px;
}
header #menu .navbar-menu li a{
    color: #000 !important;
    font-size: 28px;
    line-height: 30px;
    font-weight: 400;
    padding: 15px 0px 8px;
    background: transparent !important;
}
header #menu .navbar-menu li.active a{
    color: #DCA54B !important;
    position: relative;
}
header #menu .navbar-menu li.active a:after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: -2px;
    width: calc(100% + 4px);
    border-bottom: 2px solid #DCA54B;
}
header #menu .navbar-login{
    max-width: 100%;
    float: right;
    margin-top: -65px;
}
header #menu .navbar-login li a{
    padding: 0px;
}
.cover{
    /* background: #ECA23A; */
    padding: 50px 0px 35px;
    text-align: center;
    width: 100vw;
}
.cover img{
    width: 435px;
    max-width: 100%;
}
.title{
    /* color: #000; */
    position: relative;
    font-weight: 600;
}
.title b{
    font-weight: 700;
}
.title .icon-circle{
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-left: 10px;
}
.title.font-dark {
    font-style: normal;
    color: #231F20;
}
.title big{
    font-size: 46px;
    line-height: 46px;
}
.subtitle{
    font-size: 32px;
    line-height: 34px;
    margin-top: -5px;
    margin-bottom: 0px;
}
.home-img-bear{
    width: 280px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.home-grid-logo{
    width: 100%;
    display: inline-block;
    margin: 8px 0px;
}
.home-grid-logo .box{
    float: left;
    width: 7.14%;
    padding: 5px;
    width: 100px;
    height: 100px;
}
.home-grid-logo .box img{
    /*width: 100%;*/
    max-width: 80px;
    max-height: 80px;
}
.home-img-cycle{
    width: 750px;
    max-width: 100%;
    margin: 30px auto;
}
.slide-article{
    position: relative;
    padding-bottom: 40px;
}
.article{
    width: 100%;
    float: left;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
.article .head{
    background: #36B7DE;
    color: #fff;
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    padding: 10px 0px;
}
.article .head .btn{
    position: absolute;
    right: 10px;
    top: 10px;
}
.article .head span{
    width: 515px;
    max-width: 100%;
    padding-left: 30px;
    display: inline-block;
}
@media (max-width:768px){
    .article .head span{
        max-width: 100%;
        padding-left: initial;
    }
} 
.article .img{
    float: left;
    width: 560px !important;
    max-width: 100%;
}
.article .img.is-full{
    width: 100% !important;
}
.article .text{
    float: left;
    width: calc(100% - 560px);
    padding: 30px 0px 30px 30px;
    font-size: 26px;
    line-height: 28px;
}
.article.is-half .img{
    width: 55% !important;
}
.article.is-half .text{
    width: 45%;
}
.article.is-half .text h3{
    margin-top: 0px;
    font-size: 34px;
    line-height: 36px;
}

@media (max-width:768px){
    .article.is-half .text h3{
        font-size: inherit;
    }
}
.article.is-half .head span{
    width: 55%;
    text-align: center;
    display: inline-block;
}
footer{
    width: 100%;
    position: relative;
}
footer .address{
    width: 100%;
    position: relative;
    font-weight: 500;
    font-family: 'DB Helvethaica X', sans-serif;
    padding: 50px 0px 30px;
}
footer .address img{
    width: 250px;
    max-width: 100%;
    margin-bottom: 25px;
}
footer .address h3{
    color: #ECA23A;
    font-weight: 500;
    font-family: 'DB Helvethaica X', sans-serif;
}
footer .address p{
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'DB Helvethaica X', sans-serif;
}
footer .copyright{
    text-align: center;
    color: #fff;
    background: #282425;
    font-weight: 400;
    font-family: 'DB Helvethaica X', sans-serif;
    font-size: 22px;
    line-height: 26px;
    padding: 15px 15px;
}
.card-login{
    width: 900px;
    max-width: 100%;
    background: #E5E5E5;
    margin: 60px auto;
    padding: 80px 50px 160px;
    color: #605D5E;
    font-size: 24px;
    line-height: 27px;
}
.card-login .name{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: #605D5E;
    margin-bottom: 60px;
    margin-top: 0px;
}
.card-login .box{
    width: 100%;
    position: relative;
    border-radius: 48px;
    overflow: hidden;
    padding-left: 372px;
    background: #fff;
    overflow: hidden;
}
.card-login .box::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 300px;
    background: #fcbe0d;
    width: 350px;
    height: calc(100% - 300px);
    z-index: 1;
}
.card-login .box::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: url('../images/login-bg-bottom.png') no-repeat left bottom;
    background-size: 100% auto;
    width: 350px;
    height: 200px;
    z-index: 2;
}
.card-login .box .bg{
    background-size: 100% auto;
    background-position: top left;
}
.card-login form{
    position: relative;
    padding: 35px 15px 35px 30px;
}
.card-login form h2{
    color: #605D5E;
    text-align: center;
}
.card-login .checkbox{
    margin: 0px;
}
.card-login .checkbox label{
    font-size: 20px;
    line-height: 25px;
}
.card-login .other{
    text-align: center;
    font-size: 22px;
}
.checkbox, .radio{
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.checkbox{
    position: relative;
}
.checkbox input, .radio input{
    opacity: 0;
}
.checkbox label, .radio label{
    position: relative;
    padding-left: 32px;
}
.checkbox label:before, .radio label:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    color: #FFC700;
    border: 2px solid #FFC700;
    border-radius: 0px;
}
.checkbox label:after, .radio label:after{
    content: '\f00c';
    font-family: 'FontAwesome';
    position: absolute;
    left: 3px;
    top: 0px;
    font-weight: 400;
    font-size: 12px;
    color: #000;
    display: none;
}
.radio label:before{
    border-radius: 50%;
    overflow: hidden;
}
.checkbox input:checked ~ label:before, .radio input:checked ~ label:before{
    background: #FFC700;
}
.checkbox input:checked ~ label:after, .radio input:checked ~ label:after{
    display: block;
}
.form-control{
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #605D5E;
    font-family: 'DB Helvethaica X';
    font-size: 22px;
    font-weight: 400;
    color: #605D5E;
    line-height: 22px;
    height: auto;
    background: transparent;
    box-shadow: none;
    outline: none;
    padding: 6px 0px;
}
.form-group {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.input-group-addon{
    border: 0px;
    border-radius: 0px;
    background: transparent;
    border-bottom: 1px solid #605D5E;
    padding: 5px 10px 5px 0px;
}
.input-group-addon .icon{
    width: 24px;
    height: 24px;
    display: inline-block;
}
.about-iframe{
    width: 920px;
    max-width: 100%;
    height: 600px;
    margin: 40px auto;
}
.about-iframe iframe{
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 2px #282425;
}
.article-content iframe{
    width: 920px;
    max-width: 100%;
    height: 600px;
    margin: 5px auto;
    box-shadow: 10px 10px 2px #282425;
}
.gallery{
    width: auto;
    display: inline-block;
    margin: 0px -15px;
    margin-top: -15px;
}
.gallery .box{
    float: left;
    width: 33.33%;
    padding: 15px;
}
.gallery .box img{
    width: 100%;
}
.paging{
    float: right;
    position: relative;
    display: inline-block;
    font-family: 'DB Helvethaica X';
    font-weight: 700;
    margin: 5px 0px;
    padding-bottom: 30px;
}
.paging > .inner{
    padding: 0px 20px 0px 15px;
    position: relative;
    display: inline-block;
    font-size: 26px;
}
.paging a{
    position: relative;
    display: inline-block;
    padding: 0px 4px 0px 8px;
    line-height: 22px;
    border-left: 1px solid #000;
    font-weight: 500;
}
.paging a.active{
    text-decoration: underline;
}
.paging a:nth-child(2)
{
    border: 0px;
}
.paging .prev{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px;
    padding: 0px;
}
.paging .next{
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px;
    padding: 0px;
}
.article-content{
    width: 100%;
    position: relative;
    margin-bottom: 80px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
}
.article-content img{
    width: 100%;
    margin-bottom: 40px;
}
.article-content p{
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
}
.activity-cover{
    width: 100%;
}
.activity-docs{
    width: 100%;
    position: relative;
    height: 600px;
}
.activity-docs iframe{
    width: 100%;
    height: 100%;
}
.about-detail{
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 500;
    font-family: 'DB Helvethaica X', sans-serif;
}
.img-responsive{
    width: 100%;
}

.overflow-hidden{
    overflow: hidden;
}
.activity{
    border-top: 10px solid #36B7DE;
    position: relative;
    position: relative;
    width: 100%;
    display: inline-block;
}
.activity::after{
    content: '';
    position: absolute;
    top: -10px;
    right: -30px;
    width: 30px;
    border-top: 10px solid #36B7DE;
}
.activity .img{
    position: relative;
}
.activity .img .bg{
    width: 100%;
    height: 215px;
    position: relative;
    background-size: cover;
    background-position: center;
}
.activity .img img{
    width: 100%;
}
.activity .img::before{
    content: '';
    width: 100%;
    height: calc(100% + 15px);
    left: 15px;
    top: 0px;
    background: rgb(128, 193, 213);
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}
.activity .text{
    padding: 30px 15px;
    font-size: 24px;
}
.activity h3{
    margin: 0px;
    font-size: 28px;
    line-height: 28px;
    color: #000;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.activity .date{
    text-align: center;
    color: #999;
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
}
.activity .detail{
    margin-top: 30px;
}
.activity-detail{
    width: 100%;
    position: relative;
}
.activity-detail .name{
    font-size: 34px;
    line-height: 34px;
    font-weight: 500;
}
.activity-detail .img{
    margin: 40px 0px;
}
.activity-detail .img img{
    width: 100%;
}
.activity-detail .detail{
    font-size: 22px;
    line-height: 26px;
}
.activity-form{
    width: 100%;
    position: relative;
    margin-top: 120px;
}
.activity-form .activity-form-head{
    padding-right: 600px;
    position: relative;
    font-weight: 500;
}
.activity-form .activity-form-head .img{
    position: absolute;
    right: 0px;
    bottom: -150px;
    width: 520px;
    max-width: 100%;
    z-index: 1;
}
.activity-form .activity-form-head h2{
    margin-bottom: 10px;
}
.activity-form .activity-form-head p{
    padding-left: 30px;
}
.activity-form .activity-form-head .form-mask{
    margin-top: 30px;
    margin-bottom: 30px;
}
.activity-form .form{
    background: #EBF4F9;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}
.activity-form .form:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url('../images/shadow.png') no-repeat top center;
    background-size: 100% auto;
    width: 700px;
    max-width: 80%;
    height: 100px;
}
.activity-form .form .form-group > label{
    font-size: 30px;
    line-height: 32px;
    font-weight: 500;
}
.activity-form .form .checkbox{
    padding-left: 40px;
}
.activity-form .form .img-bg{
    width: 100%;
    max-width: 520px;
}
.activity-form .form .box:first-child .img-bg{
    margin-top: 35%;
}
.activity-form .form .img-bg img{
    width: 100%;
}
.activity-form .form .img-bg input{
    position: absolute;
    top: 8px;
    right: 16.5%;
    width: 100px;
    border: 0px;
    box-shadow: none;
    outline: none;
    font-size: 32px;
    line-height: 32px;
    height: 16%;
    line-height: 16%;
    text-align: center;
    font-weight: 500;
    color: #000;
}
.activity-form .form .btn-box{
    text-align: right;
    margin-top: 30px;
}
.btn-box .btn{
    margin: 5px;
}
.required{
    color: red;
    display: none;
}
.gallery{
    width: calc(100% + 20px);
    margin: 0px;
    margin-left: -10px;
    margin-top: 20px;
}
.gallery > .inner{
    width: 50%;
    padding: 10px;
    display: inline-block;
    margin: 0px;
    float: left;
}
.gallery > .inner img{
    width: 100%;
}
.vdo{
    text-align: center;
}
.vdo iframe{
    width: 920px;
    max-width: 100%;
    height: 600px;
    margin: 5px auto;
    box-shadow: 10px 10px 2px #444;
}
.paging.has-bg{
    width: 100%;
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #545456;
    text-align: right;
    color: #fff;
    padding: 8px 15px;
    margin-top: 40px;
    right: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.paging.has-bg a{
    border-color: #fff;
}
.mfp-counter{
    font-size: 20px;
    line-height: 20px;
}
.slide-article .article{
    margin-bottom: 0px;
}
.slide-article.is-2-article .article{
    padding-bottom: 30px;
}
.slide-article.is-paging-white:before{
    display: none;
}
.slide-article.is-paging-white:before{
    display: none;
}
.slide-article.is-paging-white .owl-dots .owl-dot:not(:first-child){
    border-color: #000;
}
.slide-article.is-paging-white .owl-dots{
    color: #000;
    font-family: 'DB Helvethaica X';
    font-weight: 700;
}
.slide-article.is-paging-white .owl-nav{
    color: #000;
}
hr{
    border-color: #FAA61A;
}
.form-group.is-hide-label{
    padding-top: 12px;
    position: relative;
}
.form-group.is-hide-label label{
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 0px;
    font-weight: 500;
}
.form-group.is-hide-label .form-control:focus + label, .form-group.is-hide-label .form-control:not(:placeholder-shown) + label{
    opacity: 1;
    transition: .3s ease 0s;
}
.form-control:focus{
    border-color: #fcbe0b;
}
.member-actions{
    max-width: 100%;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    float: right;
    display: inline-block;
    margin-top: -55px;
}
.member-actions > .inner{
    position: relative;
    padding-left: 70px;
    padding: 12px 15px 12px 60px;
}
.member-actions > .inner:hover{
    transition: .3s ease 0s;
    opacity: 0.8;
}
.member-actions img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
}
code{
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    font-family: 'DB Helvethaica X';
    letter-spacing: 0.5px;
}
.member-box{
    width: 880px;
    max-width: 100%;
    margin: 30px auto;
}
.member-box .title{
    font-size: 34px;
    line-height: 36px;
}
.member-box .img-cover{
    width: 100%;
    position: relative;
    background: #fff;
    margin-top: 20px;
}
.member-box .img-cover.is-small{
    width: 500px;
    max-width: 100%;
    margin:  20px auto 0px;
    display: block;
}
.media-control{
    width: 77%;
    position: relative;
    margin:  0 auto;
    margin-top: -80px;
}
.media-control h3{
    margin-top: 0px;
    margin-bottom: 40px;
}
.media-box {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}
.media-box .col:first-child{
    width: 60%;
    text-align: left;
    display: inline-block;
    float: left;
}
.media-box .col:last-child{
    width: 40%;
    text-align: right;
    display: inline-block;
    float: left;
}
.media-box .name{
    padding-left: 60px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}
.media-box .name::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../images/icon-download.png') no-repeat center;
    background-size: contain;
    width: 45px;
    height: 45px;
}
.media-box .detail{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}
.activity-control{
    width: 1000px;
    max-width: 100%;
    background: #ebf4f9;
    border-radius: 40px;
    overflow: hidden;
    padding: 20px 20px 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
.activity-control a:hover{
    opacity: 0.7;
    transition: .3s ease 0s;
    cursor: pointer;
}
.activity-add{
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.activity-add img{
    width: 35px;
    margin-left: 10px;
}
.activity-head{
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 0px;
}
.activity-head img{
    width: 60px;
    margin-right: 10px;
}
.activity-list{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
.activity-list > .inner{
    position: relative;
    width: 100%;
    padding: 10px 0px 15px;
    border-bottom: 1px solid #e0e9ed;
}
.activity-list .actions{
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.activity-list .action{
    padding-left: 35px;
    position: relative;
    margin-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: inline-block;
}
.activity-list .action img{
    position: absolute;
    left: 0px;
    top: 50%;
    width: 25px;
    max-height: 25px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.activity-list .action:first-child{
    padding-left: 50px;
}
.activity-list .action:first-child img{
    width: 40px;
    max-height: 40px;
}
.activity-list > .inner p{
    margin-bottom: 0px;
}
.report{
    width: 100%;
    position: relative;
    font-weight: 500;
}
.report .project{
    text-align: center;
}
.report .project img{
    width: 100%;
    margin-top: 20px;
}
.report .project h3{
    margin-bottom: 0px;
}
.report .project p{
    margin-top: 8px;
    margin-bottom: 0px;
}
.carbon{
    width: 100%;
    position: relative;
    margin-top: 40px;
    padding: 0px 80px;
}
.carbon .bg-1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
}
.carbon .bg-2{
    position: absolute;
    top: -20px;
    right: 0px;
    width: 90px;
}
.carbon > .head{
    text-align: center;
}
.carbon > .head .logo img{
    height: 60px;
    margin: 2px;
}
.carbon > .head h3{
    margin-top: 5px;
}
.carbon > .body{
    position: relative;
}
.carbon > .body .inner{
    padding-right: 150px;
    line-height: 22px;
    font-size: 22px;
    position: relative;
    margin-top: 25px;
    z-index: 1;
    padding-bottom: 10px;
}
.carbon > .body .inner .box:first-child{
    min-height: 40px;
}
.carbon > .body .inner .box:last-child{
    position: absolute;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.carbon > .body .inner .box:last-child img{
    float: left;
    width: 50px;
}
.carbon > .body .inner .box:last-child span{
    float: left;
    width: 100px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    padding-left: 24px;
    padding-top: 8px;
}
.carbon > .body .col::before{
    content: '';
    position: absolute;
    right: 5px;
    top: -40px;
    background:  url(../images/report-img1.png) no-repeat top center;
    background-size: 100% auto;
    width: 100px;
    height: 100%;
}
.carbon > .body .col{
    margin-top: 50px;
}
.carbon > .body .col::after{
    content: '';
    position: absolute;
    right: 8px;
    top: 100px;
    background: #fff4e6;
    width: 95px;
    height: calc(100% - 100px);
}
.carbon > .body .col:nth-child(even) .inner{
    padding-left: 160px;
    padding-right: 0px;
}
.carbon > .body .col:nth-child(even) .inner .box:last-child{
    left: 0px;
    right: auto;
}
.carbon > .body .col:nth-child(even)::before{
    left: 5px;
    right: auto;
    background-image: url('../images/report-img2.png');
}
.carbon > .body .col:nth-child(even)::after{
    left: 6px;
    right: auto;
    width: 95px;
}
.carbon > .body .col:nth-child(even) .inner .box:last-child span{
    float: left;
    padding-right: 26px;
    padding-left: 0px;
}
.carbon > .body .col:nth-child(even) .inner .box:last-child img{
    float: right;
}
.carbon-avg{
    text-align: center;
    margin: 20px 0px;
    padding-right: 50px;
    padding: 20px;
}
.carbon-avg.has-bg {
    background: #fff4e6;
}
.carbon-avg big{
    font-size: 82px;
    line-height: 60px;
    margin: 0px 10px;
    min-width: 220px;
    display: inline-block;
}
.carbon-avg span{
    min-width: 150px;
    display: inline-block;
    text-align: left;
}
.carbon-avg .icon-tree{
    width: 40px;
    margin-right: 10px;
    margin-top: -20px;
}
.carbon-date{
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.carbon-date .date{
    border: 1px solid #e6e6e7;
    padding-right: 30px;
    position: relative;
    background: #fff;
    display: inline-block;
    border-radius: 3px;
    margin: 5px;
}
.carbon-date .date .form-control{
    background: transparent;
    border: 0px;
    padding: 0px 0px 0px 10px;
    width: 160px;
}
.carbon-date .date img{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
}
textarea{
    resize: vertical;
}
.form-project{
    width: 100%;
    padding: 5px 15px;
}
.form-project .form-group.no-border{
    border: 0px;
}
.form-project .form-group.has-label-upload label{
    width: 150px;
    position: relative;
    padding-right: 30px;
}
.form-project .form-group.has-label-upload label img{
    width: 23px;
    position: absolute;
    top: 0px;
    right: 10px;
}
.form-project .form-group.has-label-upload .form-control{
    width: calc(100% - 150px);
}
.form-project .form-group{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.form-project label{
    float: left;
    width: 100px;
    display: inline-block;
    margin-top: 5px;
    font-weight: 500;
    font-size: 22px;
}
.form-project label img{
    width: 20px;
}
.form-project .form-control{
    float: left;
    background: #fff;
    border: 0px;
    width: calc(100% - 100px);
    display: inline-block;
    line-height: auto;
    line-height: initial !important;
    padding: 6px 15px;
}
.form-project .form-control[type="date"]{
    padding-top: 0px;
    padding-bottom: 0px;
}
.form-project .form-control.is-full{
    width: 100%;
}
.form-project .people{
    padding-left: 200px;
    position: relative;
    font-weight: 400;
}
.form-project .people img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 180px;
}
.form-project .people b{
    font-weight: 500;
}
.form-project .people .form-control{
    width: auto;
    float: initial;
    margin: 0px 10px;
    text-align: center;
    width: 120px;
}
.input-box{
    width: 100%;
    position: relative;    
    margin-top: 30px;
}
.input-box > .head{
    background: #faa51e;
    color: #fff;
    padding: 20px;
    padding-right: 60px;
    font-size: 23px;
    line-height: 25px;
}
.input-box > .head.text-center{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.input-box > .head.text-center img {
    width: 25px;
}
.input-box > .head img{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 40px;
}
.input-box > .body{
    width: 100%;
    position: relative;
    background: #6bcff6;
    font-size: 20px;
    line-height: 22px;
    display: inline-block;
}
.input-box > .body.is-green{
    background: #7ecaac;
}
.input-box .form-group{
    padding: 10px 20px 5px;
    border-top: 2px solid #fff;
    color: #000;
    font-weight: 500;
    margin-bottom: 0px;
}
.input-box label, .input-box .radio{
    position: relative;
    padding-left: 30px;
    width: calc(100% - 150px);
}
.input-box .radio{
    padding-left: 0px;
    margin: 0px;
    display: inline-block;
    float: left;
}
.input-box .radio label{
    width: 100%;
}
.input-box .radio label::before{
    background: #fff !important;
    border-color: #fff;
}
.input-box label img{
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 24px;
    max-height: 24px;
}
.input-box .unit{
    width: 150px;
    position: relative;
    display: inline-block;
}
.input-box .unit span{
    float: left;
    width: 40px;
    display: inline-block;
    padding-left: 10px;
    text-align: center;
    padding-top: 4px;
}
.input-box .unit .form-control{
    float: left;
    width: calc(100% - 40px);
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
}
.input-box .mask{
    position: absolute;
    top: 1px;
    font-size: 14px;
    left: 14px;
}
.input-box .form-group.is-half.is-full{
    width: 100%;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
}
.input-box .form-group.is-half{
    width: 50%;
    float: left;
    border: 0px;
    border-right: 1px solid rgba(255,255,255,0.4);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 30px 0px;
}
.input-box .form-group.is-half img{
    width: 40px;
    margin:  0 auto;
    display: block;
    margin-top: 5px;
}
.input-box .form-group.is-half:last-child img{
    width: 45px;
    margin-top: 0px;
}
.input-box .form-group.is-half .unit{
    width: calc(100% + 10px);
    display: inline-block;
    margin-left: -5px;
}
.input-box .form-group.is-half .unit .col{
    float: left;
    width: 33.33%;
    padding: 0px 5px;
}
.input-box .form-group.is-half.is-full .unit .col{
    width: 20%;
}
.input-box .form-group.is-half.is-full .unit .col p{
    margin-top: 3px;
}
.input-box .form-group.is-half .unit .col input{
    width: 100%;
}
.input-box .form-group.is-half .unit span{
    margin-top: 30px;
}
.input-box .form-group.is-half p:not(.required){
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
}
.input-box .txt{
    min-height: 62px;
}
.form-project .row{
    position: relative;
}
.form-project .bg-2{
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 50px;
    z-index: 1;
    margin-left: -25px;
}
.form-project .bg-3{
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 50px;
    z-index: 1;
    margin-left: -25px;
}
.form-project .bg-4{
    width: 100%;
    position: relative;
}
.form-project .bg-5{
    width: 600px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
}
.form-project .table-head{
    padding-left: 100px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.form-project .table-head img{
    position: absolute;
    left: 0px;
    top: 50%;
    width: 90px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.form-project table{
    margin-bottom: 0px;
}
.form-project table th, .form-project table td{
    text-align: center;
    border: 0px !important;
    padding: 3px !important;
}
.form-project table tr{
    border: 0px !important;
}
.form-project table .form-control{
    width: 100%;
}
.input-box .w100{
    min-width: 100px;
}
.bg-blue{
    background: #6bcff6;
}
.floor{
    margin: 0px;
}
.floor > .col{
    min-height: 370px;
    background: #6acff6;
}
.other{
    margin-top: 20px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 20px;
    font-weight: 500;
}
/* header .user{
    position: relative;
    padding-left: 80px;
    margin-top: -20px;
} */
header .user .bg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eca23a;
    top: 0px;
    left: 30px;
}
header .user .logout img{
    margin-top: -8px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.btn-logout-mobile{
    margin-top: 10px;
    display: none;
}
.btn-logout-desktop{
    display: block;
}
header .user span{
    display: none;
}

/* commment */
.navbar{
    position: relative;
}
.navbar:after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 49px;
    background: #FEA30B;
    z-index: 0;
}
header #menu{
    position: relative;
    z-index: 1;
}
header #menu .navbar-menu{
    margin-top: 0px;
}
header #menu .navbar-menu li a{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
}
header #menu .navbar-menu li.active{
    background: #EDECEC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
header #menu .navbar-menu li.active a:after{
    display: none;
}
header #menu .navbar-menu li.active a{
    color: #000 !important;
}
header .navbar-login .btn{
    margin-left: 15px;
    min-width: 130px;
}
.btn.btn-white{
    color: #FE800B;
    background-image: linear-gradient(#fff, #eee);
    font-weight: 500;
    border: 1px solid #ccc;
    min-width: 115px;
}
.btn.btn-orange{
    color: #fff;
    background: #FE800B;
    border: 1px solid #FE800B;
}
.btn.btn-white.font-black{
    color: #000000;
}
/* .cover{
    background: #EFAB3B;
} */
.banner .owl-nav button.owl-prev{
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -30px;
    color: #fff;
    font-size: 35px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}
.banner .owl-nav button.owl-next{
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -30px;
    color: #fff;
    font-size: 35px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}
.home-circle{
    position: relative;
    display: inline-block;
    margin-top: 20px;
}
.home-circle .img-center{
    width: 600px;
    max-width: 100%;
    margin: 50px auto;
}
.home-circle .inner{
    font-weight: 600;
    line-height: 22px;
}
.home-circle .inner img{
    width: 150px;
    position: relative;
}
.home-circle .inner .text{
    width: 200px;
    max-width: 100%;
    position: absolute;
}
.home-circle .inner .text span:first-child{
    font-size: 45px;
    color: #38c4f2;
    margin-right: 3px;
}
.home-circle .inner:nth-child(2){
    position: absolute;
    top: 50%;
    left: -55px;
    margin-top: -85px;
}
.home-circle .inner:nth-child(3){
    position: absolute;
    top: 0%;
    left: 15%;
}
.home-circle .inner:nth-child(4){
    position: absolute;
    top: 0%;
    right: 15%;
}
.home-circle .inner:nth-child(5){
    position: absolute;
    top: 50%;
    right: -55px;
    margin-top: -85px;
}
.home-circle .inner:nth-child(6){
    position: absolute;
    bottom: 0%;
    right: 15%;
}
.home-circle .inner:nth-child(7){
    position: absolute;
    bottom: 0%;
    left: 15%;
}
.home-circle .inner:nth-child(2) .text{
    right: 100%;
    top: 28%;
    text-align: right;
}
.home-circle .inner:nth-child(3) .text{
    right: 100%;
    top: 45%;
}
.home-circle .inner:nth-child(4) .text{
    left: 100%;
    top: 45%;
}
.home-circle .inner:nth-child(5) .text{
    left: 100%;
    top: 28%;
    text-align: left;
}
.home-circle .inner:nth-child(6) .text{
    left: 100%;
    bottom: 0px;
    text-align: left;
}
.home-circle .inner:nth-child(7) .text{
    right: 100%;
    bottom: 0px;
    text-align: left;
}
.tooltip-inner{
    color: #fff;
    background-color: #231F20;
    word-wrap: break-word;
    text-align: left;
    padding: 10px 12px;
    font-family: 'DB Helvethaica X', sans-serif;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
}
footer{
    background-image: linear-gradient(#fff, #ccc);
}
footer .cookies{
    color: #231F20;
    background: #FEA30B;
    word-break: break-all;
}
footer .cookies .container{
    padding: 20px 120px 20px 15px;
    position: relative;
}
footer .cookies p{
    margin-bottom: 0px;
}
footer .cookies .container .btn{
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -18px;
}
footer .address .font-orange{
    font-size: 35px;
    text-transform: uppercase;
    color: #292929;
}
footer .address big{
    font-size: 32px;
    margin: 10px 0px 0px;
    display: inline-block;
    font-weight: 600;
}
.slide-home-activity{
    position: relative;
    width: 100%;
}
.slide-home-activity .item{
    position: relative;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.slide-home-activity .item .bg{
    background: #ccc;
    height: 300px;
    position: relative;
    background-position: center;
}
.slide-home-activity .item .text{
    padding: 15px 20px;
    min-height: 100px;
}
.slide-home-activity .item h4{
    margin: 0px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}
.slide-home-activity .item p{
    margin: 0px;
}
.slide-home-activity .owl-nav button.owl-prev, .slide-article .owl-nav button.owl-prev, .slide-activity .owl-nav button.owl-prev, .slide-home-tips .owl-nav button.owl-prev{
    position: absolute;
    top: 60%;
    font-size: 45px;
    color: #ccc;
    left: -40px;
}
.slide-home-activity .owl-nav button.owl-next, .slide-article .owl-nav button.owl-next, .slide-activity .owl-nav button.owl-next, .slide-home-tips .owl-nav button.owl-next{
    position: absolute;
    top: 60%;
    font-size: 45px;
    color: #ccc;
    right: -40px;
}
.title big{
    font-size: 70px;
    line-height: 72px;
}
.home-highlight{
    background: #36B7DE;
    color: #fff;
    padding: 30px 0px 50px;
}
.home-highlight select{
    color: #000;
    font-family: 'DB Helvethaica X';
    font-size: 28px;
    line-height: 34px;
    background-image: linear-gradient(#fff, #eee);
}
.home-icon .box{
    padding: 0px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 40px;
}
.home-icon .box .icon{
    position: relative;
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center top;
}
.home-icon .box big{
    font-size: 46px;
    line-height: 46px;
    font-weight: 600;
}
.home-icon .box .text{
    position: relative;
    margin-top: -50px;
}
.home-icon .col:nth-child(1) .box .icon{
    margin-left: 9px;
}
.home-icon .col:nth-child(2) .box .icon{
    margin-left: -15px;
}
.slide-article{
    padding-bottom: 0px;
}
.slide-article:before{
    display: none;
}
.slide-article .owl-nav button.owl-prev, .slide-article .owl-nav button.owl-next, .slide-activity .owl-nav button.owl-prev, .slide-activity .owl-nav button.owl-next, .slide-home-tips .owl-nav button.owl-prev, .slide-home-tips .owl-nav button.owl-next{
    top: 50%;
    margin-top: -20px;
}
.see-all{
    text-align: right;
    padding-bottom: 30px;
}
.slide-home-tips .item{
    border-top: 9px solid #FAA61A;
}
.slide-home-tips .item::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -30px;
    width: 30px;
    border-top: 9px solid #FAA61A;
}
.activity-past .activity{
    margin-bottom: 30px;
    padding-right: 15px;
}
.activity-past .col-sm-4:nth-child(3n+3) .item:after
{
    display: none;
}
.activity-search{
    width: auto;
    display: inline-block;
    float: right;
    margin-top: 5px;
}
.activity-search button{
    background: #fff;
    border: 0px;
    box-shadow: none;
}
.activity-search .form-control{
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 0px;
    text-align: center;
    padding: 2px 10px;
    margin-left: 10px;
    min-width: 200px;
}
.activity-search .fa-search{
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.mt-20{
    margin-top: 20px;
}
.inline-block{
    display: inline-block;
}
.tip-box{
    margin: 0px -10px;
    position: relative;
}
.tip-box:before{
    content: '';
    position: absolute;
    top: 10px;
    border-top: 9px solid #FAA61A;
    left: 0px;
    width: calc(100% - 20px);
    left: 10px;
    z-index: 2;
}
.tip-box .item .img{
    position: relative;
    width: 100%;
}
.tip-box .item .img img{
    width: 100%;
}
.tip-box .col{
    padding: 10px;
}
.card-login .form-project{
    margin-top: 10px;
}
.card-login .form-project .form-control{
    background: #eee;
    width: calc(100% - 140px);
}
.card-login .form-project label{
    width: 140px;
}
.form-project label.is-full{
    width: 100%;
}
.form-group.label-small label{
    width: 50px;
}
.form-group.label-small .form-control{
    width: calc(100% - 50px);
}
.carbon > .head{
    position: relative;
    padding: 30px 120px 0px;
}
.carbon > .head img{
    width: 100px;
    position: absolute;
}
.carbon > .head img:first-child{
    position: absolute;
    left: 0px;
    top: 0px;
}
.carbon > .head img:last-child{
    position: absolute;
    right: 0px;
    top: -20px;
}
.carbon > .head h3{
    font-size: 32px;
    line-height: 34px;
}
.carbon-avg p{
    display: inline-block;
    margin: 5px auto;
    position: relative;
}
.carbon-avg big{
    font-size: 40px;
    background: #FEA30B;
    line-height: 45px;
    min-width: 200px;
    position: relative;
    margin: 0 auto;
}
.carbon-avg p span{
    position: absolute;
    left: calc(100% + 15px);
    top: 8px;
    width: 280px;
}
.carbon-avg p span:first-child{
    right: calc(100% + 15px);
    left: auto;
}
.carbon-avg p .bg-green{
    background: #2CC448;
}
.forget-link{
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 22px;
    width: 100%;
    text-align: right;
    font-family: 'DB Helvethaica X', sans-serif;
    color: #ffc703;
}

/* puu */
.tips_item img {
    width: 100%;
}
.article-content img {
    max-width: 100%;
}
.activity-control .input-box .radio input{
    display: none;
}
.activity-control .input-box .radio label{
    margin-top: 7px;
    padding-left: 28px;
}
.care-page img{
    max-width: 100%;
    padding: 60px;
}
.tooltip-inner {
    min-width: 280px;
    max-width: 100%;
    font-size: 22px;
    line-height: 25px;
}
.picker-box {
    position: relative;
}
.picker-box input {
    width: 100%;
    position: relative;
    padding-right: 30px;
}
.picker-box i {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 20px;
}
.bootstrap-timepicker-widget table td input{
    font-size: 26px;
    border: 0px;
}
.bootstrap-timepicker-widget table td a{
    padding: 2px 0px;
}
.rang-box{
    position: relative;
}
.rang-box .picker-box {
    width: calc(50% - 40px);
    display: inline-block;
    float: left;
}
.rang-box .picker-box input.form-control{
    width: 100% !important;
}
.rang-box > span {
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    float: left;
}
.datepicker{
    font-size: 20px;
}
.datepicker td, .datepicker th{
    width: 30px;
    padding: 2px !important;
}
.carbon > .head img:first-child{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
header .user .img{
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 40px;
    max-width: 70px;
}
img{
    max-width: 100%;
}
.home-grid-logo .item{
    text-align: center;
}
.home-grid-logo .box{
    /* width: calc(10% - 4px); */
    float: initial;
    display: inline-block;
}
.home-grid-logo .box img{
    width: 100%;
    border-radius: 5px;
    margin: 4.25px;
    width: 100%;
    max-width: 96px;
    max-height: 96px;
    height: 100%;
    background-color: #ffffff;
    padding: 10px;
    object-fit: contain;
    vertical-align: top;
    background-size: cover;
}
.home-grid-logo .owl-dots{
    text-align: center;
}
.home-grid-logo .owl-dot{
    width: 10px;
    height: 10px;
    background: #aaa !important;
    border-radius: 50%;
    margin: 4px;
}
.home-grid-logo .owl-dot.active{
    background: #efab3b !important;
}
.animated  {
    -webkit-animation-duration : 1000 ms  ;
    animation-duration : 1000 ms  ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
}  
.owl-animated-out {
    z-index : 1 
}
.owl-animated-in {
    z-index : 0 
}
.fadeOut  {
    -webkit-animation-name : fadeOut  ;
    animation-name : fadeOut  ;
}  
@-webkit-keyframes  fadeOut  {
    0% {
        opacity : 1   ;
    }  
    100% {
        opacity : 0   ;
    }  
}
@keyframes  fadeOut  {
    0% {
        opacity : 1   ;
    }  
    100% {
        opacity : 0   ;
    }  
}
.justify{
    text-align: justify;
}
.article-content, .about-detail{
    text-align: justify;
}
table{
    max-width: 100%;
}
footer{
    overflow-x: hidden;
}
.activity-detail .gallery > .inner{
    width: 100%;
}
.tips-content img{
    width: auto;
}

/* 2021-03-01 */
.member-actions .inner:first-child img{
    margin-top: -8px;
}
.form-project .people select.form-control{
    width: 200px;
    max-width: 100%;
    text-align: left;
}
.no-margin{
    margin: 0px !important;
}
.date-range{
    width: 100%;
    display: inline-block;
}
.date-range .form-control{
    float: left;
    width: calc(50% - 20px) !important;
}
.date-range label{
    float: left;
    margin: 5px 5px;
    width: auto !important;
}
label.w-auto{
    width: auto !important;
}
header #menu .navbar-login{
    position: absolute;
    right: 0px;
}
.icon-white{
    filter: brightness(0) invert(1);
}

.home-icon.for-project .col .box .icon{
    margin: 0px;
}
.home-icon.for-project .col:nth-child(1) .box .icon{
    margin-top: -70px;
    margin-bottom: 70px;
    margin-left: 3px;
}
.home-icon.for-project .col:nth-child(2) .box .icon{
    margin-top: -15px;
    margin-bottom: 15px;
}
.hr-white{
    border-color: #fff;
    margin: 50px 0px;
}


.activity-form .form-control{
    float: initial;
    width: auto;
    border: 2px solid #FFC700;
    background: #fff;
}
.activity-form.for-project{
    margin-top: 170px;
}
.activity-form.for-project .activity-form-head .img{
    bottom: 0px;
}
.activity-form.for-project .km{
    position: relative;
    display: inline-block;
    margin-left: 60px;
}
.activity-form.for-project .km img{
    width: 120px;
}
.activity-form.for-project .km input{
    position: absolute;
    top: 30px;
    left: 0px;
    border: 0px;
    background: transparent;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    width: 100%;
    -moz-appearance:textfield;
}
.activity-form.for-project .km input::-webkit-outer-spin-button,
.activity-form.for-project .km input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.activity-form.for-project .input-group{
    display: inline-block;
    font-size: 30px;
    line-height: 32px;
    font-weight: 500;
    vertical-align: top;
}
.activity-form.for-project .input-people{
    width: 140px;
}
.activity-form input[type="number"]{
    -moz-appearance:textfield;
    text-align: center;
}
.activity-form input[type="number"]::-webkit-outer-spin-button,
.activity-form input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.choice{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-top: -100px;
}
.choice .img-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px !important;
    width: 100%;
    height: 100%;
    z-index: 0;
    max-width: 100% !important;
}
.choice .img-bg img:nth-child(1){
    position: absolute;
    left: 0px;
    top: 0px;
    width: 280px;
}
.choice .img-bg img:nth-child(2){
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 420px;
    max-width: 100%;
}
.choice .form-group{
    position: relative;
    z-index: 1;
}
.choice .form-group .checkbox{
    padding-left: 80px;
}
.choice label{
    width: 100%;
}

.activity .action{
    display: inline-block;
    background: #E9E9EA;
    padding: 6px 15px;
    font-size: 22px;
    line-height: 24px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
    float: right;
    margin-right: -15px;
}
.activity .action.is-active{
    color: #000;
    background: #FEA30B;
}
.activity h3{
    width: 100%;
}

.title-type{
    width: calc(100% + 70px);
    text-align: center;
    border-bottom: 7px solid #FAA51E;
    padding: 10px;
    margin-left: -35px;
}

.form-project.for-project .input-people{
    margin-top: 10px;
}  
.form-project.for-project .head{
    text-align: center;
}
.form-project.for-project .head .checkbox{
    margin: 0px;
    display: inline-block;
    width: auto;
}
.form-project.for-project .head .checkbox label:before, .form-project.for-project .body .checkbox label:before{
    background: #fff;
} 
.form-project.for-project .head .checkbox label{
    width: auto;
    font-size: 26px;
    line-height: 28px;
    min-width: 400px;
    max-width: 100%;
    text-align: left;
}
.form-project.for-project .head .text-icon{
    color: #000;
    width: auto;
}

.text-icon.is-img{
    padding-left: 70px;
    position: relative;
}
.text-icon.is-img img{
    width: 50px;
    max-width: 50px;
    max-height: initial;
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5px;
}

.project-text-icon{
    position: relative;
    padding: 35px;
    font-size: 26px;
    line-height: 28px;
}
.project-text-icon img{
    height: 50px;
    margin-right: 15px;
}

.project-input{
    width: 500px;
    max-width: 100%;
    position: relative;
    display: block;
    padding-right: 100px;
    margin: 20px auto;
}
.project-input .form-group{
    border: 0px;
    padding-top: 0px;
    padding-top: 10px;
}
.project-input .img-type{
    position: absolute;
    right: 0px;
    top: 30px;
    width: 90px;
    max-width: 100%;
}
.project-input label{
    padding: 0px;
    padding-top: 80px;
    text-align: center;
    width: 180px;
    margin-bottom: 0px;
}
.project-input .unit{
    width: calc(100% - 180px);
    margin-top: 30px;
}
.project-input label img{
    height: 70px;
    max-height: initial;
    width: auto;
    max-width: initial;
    right: 0;
    margin: 0 auto;
}

.project-table{
    width: 700px;
    padding-left: 122px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}
.project-table .form-group{
    border: 0px;
    padding: 0px;
}
.project-table .form-group .unit {
    width: auto;
    display: inline-block;
    margin-left: -5px
}
.project-table .form-group .unit .col {
    float: left;
    width: 60px;
    padding: 0px 5px;
    text-align: center;
}
.project-table .form-group p:not(.required) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.project-table .form-group .unit .col input {
    width: 100%;
}
.project-table .form-group > label{
    width: 140px;
    padding-left: 0px;
    margin: 0px;
}
.project-table .form-group .checkbox{
    margin: 20px 0px 0px;
}
.project-table .form-group .checkbox label{
    width: 100%;
}
.project-table .img-type{
    position: absolute;
    left: 0px;
    top: 45px;
    width: 100px;
}
.project-table > label{
    padding-left: 0px;
}
.project-table .label-amount{
    padding-left: 140px;
    margin-top: 20px;
    font-size: 25px;
}

.report.for-project .carbon > .body .inner{
    text-align: right;
}
.report.for-project .carbon > .body .inner .box:first-child {
    min-height: 40px;
    padding-top: 16px;
    font-size: 23px;
}
.report.for-project .carbon > .body .inner{
    padding-right: 120px;
    margin-top: 10px;
}
.report.for-project .carbon > .body .inner:first-child{
    margin-top: 20px;
}

.carbon-avg p .bg-blue, .carbon-avg.bg-blue{
    background: #6BCFF6;
}
.carbon-avg p .bg-white{
    background: #FFF4E6;
}
.carbon-avg .two-row{
    margin-top: -15px;
    text-align: right;
}
.carbon-avg p span:first-child{
    text-align: right;
}

footer a:hover{
    color: #ECA23A;
}

.content-detail{
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 500;
    font-family: 'DB Helvethaica X', sans-serif;
}

.carbon-date .radio{
    width: auto;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
.carbon-date .mode-action{
    display: none;
}
.radio label:after{
    top: 3px;
}

/* 2022-04-14 */
.list-bullet{
    width: 100%;
    position: relative;
    padding-left: 30px;
}
.list-bullet > label{
    font-weight: 500;
    margin-bottom: 0px;
}
.list-bullet > label small{
    font-size: 16px;
}

.choice{
    padding-bottom: 140px;
}
.choice .form-group .checkbox{
    padding-left: 60px;
}
.choice .radio h3{
    margin-top: -2px;
    margin-bottom: 0px;
}
.choice .left-style1{
    padding-left: 300px;
    padding-top: 20px;
}
.choice .left-style2{
    padding-left: 50px;
    padding-right: 110px;
    padding-top: 20px;
}

.activity-form.for-project .km{
    margin-top: -50px;
    margin-bottom: 80px;
}
.activity-form .checkbox label, .activity-form .radio label{
    width: 100%;
}
.choice .form-group .list-bullet .checkbox, .activity-form .form .list-bullet .checkbox{
    padding-left: 15px;
}
.activity-form:not(.for-project) .form .img-bg{
    margin-top: -120px;
    position: relative;
}

.cover{
    padding-top: 0px;
    padding-bottom: 0px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
    margin-left: 0px;
}
.checkbox > input{
    position: absolute;
}

.font-red{
    color: red;
}
.required{
    position: relative;
    height: 15px;
}
.pdl-50{
    padding-left: 50px;
}