@media (max-width: 920px){
    header .navbar{
        padding-top: 30px;
    }
    header .navbar .navbar-brand img {
        height: 60px;
    }
    header #menu .navbar-menu{
        margin-top: 5px;
    }
    header #menu .navbar-menu li {
        padding: 0px 15px;
    }
    header #menu .navbar-menu li a{
        font-size: 26px;
        padding: 10px 0px 10px;
    }
    .home-img-bear{
        margin-top: 30px;
        max-width: 90%;
    }
    h1,h2,h3{
        margin-bottom: 15px;
    }
    .article .img{
        width: 250px;
    }
    .article .text {
        width: calc(100% - 250px);
        padding: 0px 0px 40px 20px;
    }
    .article .text p {
        font-size: 22px;
        line-height: 28px;
    }
    footer{
        text-align: center;
        background: #f1f1f1;
        margin-top: 30px;
    }
    footer .address{
        padding: 30px 0px;
    }
    .card-login .box{
        padding-left: 35vw;
    }
    .card-login{
        margin: 30px auto;
        padding: 65px 50px 90px;
    }
    .card-login .name{
        margin-bottom: 40px;
    }
    .about-iframe, .article-content iframe{
        height: 50vw;
    }
    .about-iframe iframe, .article-content iframe{
        box-shadow: none;
    }
    .article-content{
        margin-bottom: 20px;
    }

    .activity-form{
        margin-top: 0px;
    }
    .activity-form .form .img-bg input {
        top: 8px;
        right: 17%;
        width: 18%;
        height: 13%;
        line-height: 13%;
        background: transparent;
    }
    .activity-form .form .form-group > label{
        font-size: 28px;
        line-height: 28px;
    }
    .activity-form .activity-form-head{
        padding-right: 0px;
        text-align: center;
    }
    .activity-form .activity-form-head p{
        padding-left: 0px;
    }
    .activity-form .activity-form-head .img{
        display: none;
    }
    .member-actions{
        margin: 40px auto 15px;
        width: 100%;
        text-align: center;
        float: initial;
    }
    .card-login .box::before{
        top: 20%;
        width: 43.7%;
        height: calc(100% - 20%);
    }
    .card-login .box::after{
        width: 43.7%;
    }
    .member-box .title {
        font-size: 28px;
        line-height: 28px;
        background: #ccc;
        padding: 10px;
        margin-left: -25px;
        margin-right: -25px;
        margin-top: 0px;
        text-align: center;
    }
    .carbon > .body .inner .box:first-child {
        min-height: 60px;
    }
    .carbon-date{
        width: 500px;
        margin: 0 auto;
        display: block;
        text-align: center;
        max-width: 100%;
    }
    .carbon-date span:first-child{
        margin-bottom: 10px;
        display: inline-block;
    }

    .activity-form.for-project {
        margin-top: 20px;
    }
    .activity-form.for-project .input-group{
        font-size: 22px;
        line-height: 24px;
    }
    .activity-form.for-project .input-people {
        width: 50px;
        margin-top: 10px;
    }
    .activity-form.for-project .icon-map{
        width: auto;
        height: 40px;
    }
    .activity-form.for-project .km img {
        width: 80px;
    }
    .activity-form.for-project .km input{
        top: 15px;
        font-size: 32px;
        line-height: 32px;
    }
    .choice{
        margin-top: -80px;
    }
    .choice .img-bg{
        display: none;
    }
    .choice .form-group{
        margin: 0px !important;
    }
    .choice .form-group .checkbox{
        padding-left: 20px !important;
    }

    .project-table .form-group > label{
        width: 100px;
    }
    .project-input label {
        width: calc(100% - 180px);
    }
    .project-input .unit{
        width: 180px;
    }

    /* 2022-04-14 */
    .list-bullet{
        padding-left: 0px;
    }
    .activity-form .form .img-bg{
        margin-top: 0px;
    }
    .choice .left-style1, .choice .left-style2{
        padding-left: 0px;
        padding-right: 0px;
    }
    .choice .left-style1 .list-bullet, .choice .left-style2 .list-bullet{
        padding-left: 30px;
    }
}

@media (max-width: 767px){
    header{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 2000;    
        box-shadow: 0px 2px 8px 0px rgba(211,211,211,0.5);
    }
    header .navbar:after{
        display: none;
    }
    header .navbar{
        padding: 10px 0px;
    }
    header .navbar .navbar-brand img{
        height: 40px;
    }
    header .navbar .navbar-toggle{
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0px;
        margin-top: 5px;
        margin-right: 8px; 
        background: #fff !important; 
    }
    #wrapper{
        padding-top: 60px;
    }
    section {
        padding: 20px 0px;
    }
    .home-img-bear{
        display: none;
    }
    .btn-readmore{
        float: left;
        margin-top: 20px;
        min-width: 140px;
    }
    h1, h2 {
        font-size: 36px;
        line-height: 36px;
    }
    h3 {
        font-size: 26px;
        line-height: 26px;
    }
    h4 {
        font-size: 24px;
        line-height: 24px;
    }
    .btn, .btn-default{
        font-size: 22px;
    }
    body{
        font-size: 22px;
    }
    .home-grid-logo{
        width: auto;
        margin-left: -5px;
        margin-right: -5px;
    }
    .home-grid-logo .box{
        width: 12.5%;
    }
    .home-icon{
        margin: 20px auto;
    }
    .home-icon .icon{
        width: 80px;
        height: 80px;
        position: relative;
        margin: 0 auto 10px;
    }
    .home-icon .box{
        padding-left: 0px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        padding: 0px 20px;
        font-size: 24px;
        line-height: 24px;
    }
    .home-icon .text span{
        font-size: 34px;
        line-height: 34px;
    }
    .article .img{
        width: 100%;
    }
    .article .text{
        width: 100%;
        padding: 0px;
        padding-top: 20px !important;
    }
    .slide-article .article{
        padding-bottom: 20px;
    }
    .slide-article .btn-readmore{
        margin-top: 5px;
        margin-bottom: 30px;
    }
    footer .address {
        padding: 60px 0px;
    }
    footer .address img{
        width: 180px;
        margin-bottom: 18px;
    }
    footer .address p{
        font-size: 25px;
        line-height: 30px;
    }
    footer .copyright{
        font-size: 18px;
        line-height: 18px;
    }
    .slide-article.owl-carousel .owl-nav, .slide-article.owl-carousel .owl-dots{
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    header #menu{
        top: 0px;
        right: -300px;
        width: 300px;
        height: 100vh;
        position: absolute;
        z-index: 2000;
        padding: 20px 0px;
        text-align: center;
        overflow-y: auto;
        background: #FFFFFF;
    }
    header, header #menu, body{
        transition: .3s ease 0s;
    } 
    body.show-menu, body.show-menu header{
        margin-left: -300px;
    }
    #overlay{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        z-index: 2000;
        display: none;
    }
    body.show-menu #overlay{
        display: block;
    }
    body.show-menu #menu{
        margin-top: 0px;
        box-shadow: -5px 0 13px 0 rgba(205,205,205,0.50);
    }
    header #menu .navbar-menu{
        width: 100%;
        max-width: 100%;
        margin: 0px;
    }
    header #menu .navbar-menu li{
        padding: 0px 20px !important;
    }
    header #menu .navbar-menu li.active a:after{
        display: none;
    }
    header #menu .navbar-menu li a{
        font-size: 25px;
        padding: 20px 0px;
        border-bottom: 1px solid #eee;
    }
    header #menu .navbar-login{
        width: 100%;
        max-width: 100%;
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    header #menu .navbar-login li{
        padding: 0px 20px;
        margin-top: 15px;
    }
    header #menu .navbar-login .btn{
        width: 100%;
        margin-left: 0px;
    }
    header #menu .navbar-login .btn-icon{
        background:#dca44b;
        overflow: hidden;
        font-size: 22px;
    }
    header #menu .navbar-login .btn-icon .icon{
        padding-right: 0px;
    }
    header #menu .navbar-login .btn-icon .icon i{
        display: none;
    }
    header #menu .navbar-login .btn{
        padding: 9px 20px;
        height: 43px;
    }
    .btn, .btn-default{
        padding: 7px 20px;
    }
    .btn-icon .icon i{
        width: 45px;
        height: 45px;
    }
    .btn-icon .icon{
        padding-right: 48px;
    }
    .card-login {
        margin: 20px auto 50px;
        padding: 50px 20px 40px;
        background: #fff;
        border: 1px solid #e0e0e0;
        box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    }
    .card-login .box{
        padding-left: 0px;
    }
    .card-login .bg, .card-login .box::before, .card-login .box::after{
        display: none;
    }
    .card-login form{
        padding: 0px;
    }
    .card-login .checkbox{
        margin-bottom: 20px;
        margin-top: 5px;
        text-align: left;
    }
    .card-login form h2{
        margin-bottom: 40px;
        margin-top: 5px;
    }
    .card-login .name{
        margin: 0px;
    }
    .card-login .other{
        margin-top: 10px;
    }
    .about-iframe{
        margin: 25px 0px;
    }
    .article-content img{
        margin-bottom: 25px;
    }
    .article-content p{
        margin-bottom: 20px;
    }
    .article-content{
        margin-top: 20px;
    }
    .article-content span{
        margin-bottom: 20px;
        font-size: 22px!important
    }
    .title big {
        font-size: 36px;
        line-height: 36px;
    }
    .activity-cover {
        width: 100%;
        width: calc(100% + 32px);
        margin-left: -16px;
    }
    .activity-detail{
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
    }
    .home-circle{
        zoom: 0.5;
    }
    .home-circle .text > .inner{
        display: none;
    }
    .article .head {
        font-size: 28px;
        line-height: 28px;
        padding: 10px 15px;
        padding-right: 110px;
    }
    .article .head .btn{
        padding: 3px 15px 5px;
        font-size: 20px;
        top: 9px;
        right: 6px;
    }
    .title, .title b{
        text-align: center;
        font-weight: 500;
    }
    .title b{
        font-size: 26px;
        line-height: 26px;
    }
    .no-margin-top-mobile{
        margin-top: 0px;
    }
    .article.is-half .img{
        width: 100% !important;
    }
    .article.is-half .text{
        width: 100%;
    }
    .article.is-half .text h3{
        margin-top: 0px;
    }
    .article.is-half .head span{
        width: 100%;
        text-align: left;
    }
    .activity .img {
        position: relative;
        padding: 0px 10px 0px 0px;
    }
    .activity .img::before{
        left: 13px;
        top: -3px;
    }
    .activity .date{
        text-align: left;
    }
    .activity .text{
        padding-bottom: 0px;
    }
    .title .icon-circle{
        position: absolute;
    }
    .activity-detail .name {
        font-size: 25px;
        line-height: 27px;
    }
    .activity-detail .img {
        margin: 20px -15px 30px;
    }
    .activity-form{
        margin-top: 0px;
    }
    .activity-form .activity-form-head{
        padding-right: 0px;
        text-align: left;
    }
    .activity-form .activity-form-head .img{
        display: none;
    }
    .activity-form .activity-form-head h2 {
        font-size: 30px;
        margin: 0px;
        margin-bottom: 10px;
        line-height: 32px;
    }
    .activity-form .activity-form-head p {
        padding-left: 0px;
        font-weight: 400;
        text-align: left;
    }
    .activity-form .activity-form-head .form-mask {
        margin-top: 10px;
        margin-bottom: 30px;
        text-decoration: underline;
    }
    .activity-form .form{
        padding: 15px;
    }
    .activity-form .form .checkbox {
        padding-left: 20px;
    }
    .activity-form .form .box:first-child .img-bg {
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .gallery {
        width: calc(100% + 10px);
        margin-left: -5px;
        margin-top: 15px;
    }
    .gallery > .inner{
        padding: 5px;
    }
    .vdo iframe{
        height: 50vw;
        box-shadow: none;
    }
    .paging.has-bg{
        text-align: center;
    }
    .member-box{
        margin-top: 15px;
    }
    .member-box .title {
        font-size: 28px;
        line-height: 28px;
        background: #ccc;
        padding: 10px;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0px;
    }
    .member-box .img-cover{
        margin-top: 0px;
    }
    .media-control{
        width: 100%;
        margin: 0px;
        padding: 0px 20px;
    }
    .media-control h3{
        margin-bottom: 20px;
    }
    .activity-head{
        width: calc(100% + 50px);
        background: #63c0c4;
        margin: 0px;
        padding: 10px;
        text-align: center;
        margin-left: -25px;
        margin-top: -20px;
        color: #fff;
    }
    .activity-head img {
        width: 40px;
        margin-right: 10px;
    }
    .activity-control{
        border-radius: 20px;
        margin-top: 20px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .activity-add img {
        width: 24px;
        margin-left: 5px;
    }
    .activity-add {
        margin-top: 10px;
        background: #eca23b;
        padding: 6px 15px;
        border-radius: 5px;
    }
    .activity-list .actions{
        margin-top: 5px;
        display: inline-block;
    }
    .activity-list .action{
        font-weight: 400;
        font-size: 20px;
        margin-top: 5px;
    }
    .activity-list .action:first-child{
        padding-left: 40px;
    }
    .activity-list .action:first-child img {
        width: 30px;
        max-height: 30px;
    }
    .activity-list .action:not(:first-child){
        width: 50%;
        margin-right: 0px;
        float: left;
    }
    .carbon .bg-1, .carbon .bg-2{
        display: none;
    }
    .carbon{
        padding: 0px;
    }
    .carbon > .body .col .inner{
        padding-left: 160px;
        padding-right: 0px;
    }
    .carbon > .body .col .inner .box:last-child{
        left: 0px;
        right: auto;
    }
    .carbon > .body .col::before{
        left: 5px;
        right: auto;
    }
    .carbon > .body .col::after{
        left: 6px;
        right: auto;
        width: 95px;
    }
    .carbon > .body .col .inner .box:last-child span{
        float: left;
        padding-right: 26px;
        padding-left: 0px;
    }
    .carbon > .body .col .inner .box:last-child img{
        float: right;
    }
    .carbon > .body .col {
        margin-top: 60px;
        margin-bottom: 20px;
        display: inline-block;
    }
    .carbon > .body .inner .box:first-child{
        min-height: 40px;
    }
    .carbon-avg big{
        display: inline-block;
        width: 100%;
    }
    .carbon-avg .icon-tree{
        width: 40px;
        display: block;
        margin: 10px auto;
    }

    .carbon-avg big{
        font-size: 62px;
        line-height: 50px;
        margin: 0px;
        margin-top: 10px;
    }
    .carbon-avg{
        font-size: 26px;
        line-height: 26px;
    }
    .carbon-avg span{
        font-size: 20px;
        line-height: 20px;
        margin-top: -20px;
        width: 100%;
        text-align: center;
    }
    .carbon-date .date .form-control{
        width: 115px;
    }
    .form-project .people{
        padding-left: 0px;
        text-align: center;
        margin-bottom: 0px;
    }
    .form-project .people img{
        position: relative;
        display: block;
        margin: 0 auto 20px;
    }
    .form-project .people .form-control{
        width: 80px;
    }
    .form-project .col{
        padding: 0px;
    }
    .form-project .bg-2, .form-project .bg-3{
        display: none;
    }
    header .user{
        width: 180px;
        margin: 0 auto 20px;
    }
    .btn-logout-mobile{
        display: block;
    }
    .btn-logout-desktop{
        display: none;
    }
    header .user{
        padding-left: 0px;
        display: table;
        font-size: 22px;
        font-weight: 500;
        display: inline-block;
    }
    header .user span{
        display: table-cell;
        vertical-align: middle;
    }
    header .user .bg{
        position: relative;
        left: 0px;
        top: 0px;
        transform: none;
        display: inline-block;
    }
    .home-circle{
        zoom: 1;
    }
    .home-circle .img-center{
        display: none;
    }
    .home-circle .inner{
        position: relative !important;
        left: 0px !important;
        right: 0px !important;
        width: 100%;
        text-align: center;
        margin-bottom: 30px !important;
        margin-top: 0px !important;
        font-size: 24px;
        font-weight: 500;
    }
    .home-circle .inner .text{
        position: relative !important;
        left: 0px !important;
        right: 0px !important;
        width: 100% !important;
        text-align: center !important;
        top: 0px !important;
        margin-top: 0px;
        width: 100%;
        max-width: 190px;
    }
    .home-circle .inner .text span:first-child{
        display: none;
    }
    .home-circle .inner img{
        width: 130px;
    }
    .see-all{
        text-align: center;
    }
    .slide-home-activity .item h4 {
        margin: 0px;
        font-size: 25px;
        line-height: 26px;
        font-weight: 500;
    }
    .slide-home-activity .item .text {
        min-height: 80px;
    }
    .home-highlight select {
        min-width: 90px;
        text-align: center;
        margin-top: 10px;
    }
    .slide-article .owl-nav{
        display: none;
    }
    .see-all{
        margin-bottom: 20px;
    }
    footer .address .font-orange{
        display: none;
    }
    .activity-search{
        width: 100%;
        position: relative;
        padding-right: 10px;
        display: inline-block;
        margin: 10px 0px 30px;
    }
    .activity-search .fa-search{
        position: absolute;
        right: 0px;
        top: 5px;
    }
    .activity-search .form-control{
        width: calc(50% - 20px);
        min-width: auto;
        display: inline-block;
        margin-right: 10px;
        margin-left: 0px;
    }
    .activity-search .form-control.mobile-full{
        width: calc(100% - 20px);
    }
    .carbon > .head{
        padding: 0px;
    }
    .carbon > .head img{
        display: none;
    }
    .carbon-avg big{
        position: relative;
        font-size: 44px;
        margin-bottom: 12px;
    }
    .carbon-avg p{
        margin-bottom: 20px;
    }
    .carbon-avg p span{
        position: relative !important;
        left: auto !important;
        right: auto !important;
        top: 0px !important;
        font-size: 24px;
        line-height: 26px;
    }
    .title.mobile-left{
        text-align: left;
    }
    .title.mobile-left small{
        margin-top: 7px;
    }
    .activity-past .activity{
        padding-right: 0px;
    }
    .activity-past .activity::after{
        display: none;
    }
    .activity-past .activity .img::before{
        width: calc(100% - 13px);
    }
    .activity .img .bg{
        height: 52vw;
    }
    .tips-content img {
        width: 100%;
    }
    header .user{
        text-align: center;
    }
    header .user .img{
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        position: relative;
    }
    header .user span{
        max-width: calc(100% - 70px);
        display: inline-block;
        padding-left: 10px;
    }

    /* 2021-03-01 */
    header #menu .navbar-login{
        position: relative;
        right: auto;
    }
    .activity-search{
        float: initial;
    }

    .home-icon.for-project .col:nth-child(1) .box .icon{
        margin-top: -15px;
    }

    .activity-form.for-project .km{
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .activity-form.for-project .km img {
        width: 80px;
    }
    .activity-form.for-project .km input{
        top: 15px;
        font-size: 32px;
        line-height: 32px;
    }
    .choice{
        margin-top: 0px;
    }

    .text-icon.is-img img{
        width: 40px;
        max-width: 40px;
    }
    .text-icon.is-img{
        padding-left: 50px;
    }
    .form-project.for-project .head .checkbox label{
        font-size: 22px;
        line-height: 22px;
        width: 100%;
    }
    .form-project.for-project .head .checkbox{
        width: 100%;
    }
    .form-project.for-project .head .checkbox input{
        position: absolute;
    }
    .project-text-icon{
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        padding: 20px 15px;
    }
    .project-text-icon img {
        height: 40px;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .project-text-icon span{
        width: 100%;
        display: inline-block;
    }

    .project-input, .project-table, .project-table .label-amount{
        padding: 0px;
    }
    .project-input .img-type, .project-table .img-type{
        display: none;
    }
    .project-input label img {
        height: 50px;
    }
    .project-input label{
        padding-top: 55px;
    }
    .form-project.for-project .head{
        padding-right: 15px;
    }
    .form-project.for-project .head .checkbox label{
        max-width: 100%;
        min-width: initial;
    }

    .project-table{
        padding: 0px 15px;
        width: 100%;
    }
    .project-table > label{
        width: 100%;
    }

    .report.for-project .carbon > .body .inner{
        padding-right: 0px;
        padding-left: 100px;
        text-align: left;
    }
    .carbon-avg p span:first-child {
        text-align: center;
    }

    /* 2022-04-14 */
    .choice{
        padding-bottom: 0px;
    }
    .activity-form:not(.for-project) .form .img-bg{
        margin-top: 0px;
    }
}

@media (max-width: 520px){
    .home-grid-logo .box{
        width: 22%;
        height: auto;
    }
    .paging{
        right: 50%;
        -webkit-transform: translateX(52%);
        -moz-transform: translateX(52%);
        -ms-transform: translateX(52%);
        -o-transform: translateX(52%);
        transform: translateX(52%);
        margin-top: 20px;
    }
    .about-detail {
        font-size: 22px;
        line-height: 26px;
    }
    .about-detail .img-bear{
        float: initial !important;
        padding: 20px 60px;
        width: 100% !important;
    }
    .btn-box{
        text-align: center;
        margin-bottom: 30px;
    }
    .btn-box .btn{
        width: calc(50% - 12px);
    }
    .member-actions{
        margin: 15px auto;
    }
    .member-actions > .inner{
        padding: 12px 20px;
    }
    .member-actions img{
        position: relative;
    }
    .member-actions > .inner span{
        display: none;
    }
    .media-box .name::before{
        width: 35px;
        height: 35px;
    }
    .media-box .name {
        padding-left: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .media-box .detail {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .input-box .form-group.is-half{
        width: 100%;
    }
    .input-box .form-group.is-half:not(:first-child){
        margin-top: 0px;
    }
    .input-box .form-group.is-half:not(:last-child){
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255,0.4);
    }
    .input-box .form-group.is-half p.txt{
        text-align: center;
        width: 100%;
    }
    .floor > .col{
        min-height: initial;
    }
    .form-project .row{
        margin-right: -15px;
        margin-left: -15px;
    }
    .form-project .bg-5{
        margin-top: 20px;
    }
    .other{
        padding: 0px;
        text-align: center;
    }
    footer .cookies .container{
        font-size: 20px;
        line-height: 20px;
        padding-right: 15px;
    }
    footer .cookies .container .btn{
        position: relative;
        top: 0px;
        margin-top: 15px;
        min-width: 120px;
    }
    .care-page img{
        width: 100% !important;
        height: auto !important;
    }

    /* 2021-03-01 */
    .member-actions > .inner {
        padding: 12px 12px;
    }
    
    .content-detail {
        font-size: 22px;
        line-height: 26px;
    }
}