{extends file="layout.tpl"}
{block name=meta_title}{$page_name} - {$site_name}{/block}
{block name=css}
    <link rel="stylesheet" href="{$image_url}theme/default/public/css/reset.css">
    <link rel="stylesheet" href="{$image_url}theme/default/public/css/layout.css">
    <link rel="stylesheet" href="{$image_url}theme/default/public/css/dashboard-carethebear.css">
    <link rel="stylesheet" href="{$image_url}theme/default/public/css/menu-bear.css">
    {* <link rel="stylesheet" type="text/css" href="{$base_url}carethebear/images/theme/default/assets/css/aos.css">
    <link rel="stylesheet" type="text/css" href="{$base_url}carethebear/images/theme/default/assets/css/main.css?ver={$smarty.now}">
    <link rel="stylesheet" type="text/css" href="{$base_url}carethebear/images/theme/default/assets/css/responsive.css?ver={$smarty.now}"> *}
    <link rel="stylesheet" type="text/css" href="{$base_url}carethebear/images/theme/default/assets/css/fontawesome.min.css">
{/block}
{block name=js}
    <script>
        const dashboardData = {
            {if $member.is_bear == 'Y'}
                fullname: '{$member.carethebear.company}',
                name: '{$member.carethebear.company}',
                since: '{$smarty.now|date_format:"%Y-%m-%d"|datestring:'th':'date':'short'}',
                logoImg: '{$member.carethebear.logo}',
                logoImgAlt: '{$member.carethebear.company}',
            {else}
                fullname: '{$member.carethewhale.company}',
                name: '{$member.carethewhale.company}',
                since: '{$smarty.now|date_format:"%Y-%m-%d"|datestring:'th':'date':'short'}',
                logoImg: '{$member.carethewhale.logo}',
                logoImgAlt: '{$member.carethewhale.company}',
            {/if}
            global_warming_progress: {
                greenhouse_gas_reduced: '{$stats.total.cf}',
                tree_planted: '{$stats.total.tree}',
            },
            climate_progress: {
                bear: {
                    climateMember: {if $member.is_bear == 'Y'}true{else}false{/if},
                    year: '{$smarty.now|date_format:"%Y"}',
                    stats: {
                        greenhouse_gas: '{$stats.bear.cf}',
                        planting_trees: '{$stats.bear.tree}',
                    }
                },
                whale: {
                    climateMember: {if $member.is_whale == 'Y'}true{else}false{/if},
                    year: '{$smarty.now|date_format:"%Y"}',
                    stats: {
                        waste_manage: '{$stats.whale.weight}',
                        greenhouse_gas: '{$stats.whale.cf}',
                        planting_trees: '{$stats.whale.tree}',
                    }
                },
                wild: {
                    waste: '0',
                    gas: '0',
                    tree: '0',
                    climateMember: false,
                    year: '{$smarty.now|date_format:"%Y"}',
                    stats: {
                        greenhouse_gas: '0',
                        greenhouse_absorb: '0',
                        trees_planted: '0',
                    }
                }
            }
        };
    </script>
    <script src="{$image_url}theme/default/public/js/dashboard.js?v=1.0"></script>
    {* <script src="{$base_url}carethebear/images/theme/default/assets/js/aos.js"></script> *}
    {*<script src="{$base_url}carethebear/images/theme/default/assets/js/main.js?ver={$smarty.now}"></script>*}
{/block}
{block name=body}
	<div id="content" class=" flex h-justify">
        <div class="climate-summary flex column h-top v-top h-top">
            <div style="z-index: 10;" class="menu-bear" inviewspy>
                <div class="wrap-menu">
                    <a class="menu-link f_med" href="{$base_url}carethebear">Care the Bear</a>
                    <a class="menu-link f_med" href="{$base_url}carethebear/about">What’s Care the Bear</a>
                    <a class="menu-link f_med" href="{$base_url}carethebear/activity">Activities & Event</a>
                    <a class="menu-link f_med" href="{$base_url}carethebear/project">Climate Action Project</a>
                    <a class="menu-link f_med" href="{$base_url}carethebear/article">Articles</a>
                    <a class="menu-link f_med" href="{$base_url}carethebear/news">News</a>
                </div>
            </div>
            <div class="global-warming-detail" inviewSpy="200">
                <div class="title f_bold">ผลรวมลดปริมาณก๊าซเรือนกระจก <br class="show-xs">และเทียบเท่าการปลูกต้นไม้
                </div>
                <div class="detail-wrapper flex column-xs">
                    <div class="detail flex center wrap">
                        <div class="wrap-img">
                            <img class="IMG" src="{$image_url}theme/default/public/images/home/summary-progress/air-pollution.png"
                                alt="air-pollution">
                        </div>
                        <div class="wrap-stats">
                            <p class="f_bold">ลดปริมาณก๊าซเรือนกระจกได้</p>
                            <span>
                                <span class="stats-value f_bold" data-global="gas" data-no="">0</span><br
                                    class="show-xs">
                                <span class="f_reg">Kg CO<sub>2</sub>e</span>
                            </span>
                        </div>
                    </div>
                    <div class="detail flex center wrap">
                        <div class="wrap-img">
                            <img class="IMG" src="{$image_url}theme/default/public/images/home/summary-progress/trees.png" alt="trees">
                        </div>
                        <div class="wrap-stats">
                            <p class="f_bold">เทียบเท่าการปลูกต้นไม้ใหญ่ อายุ 10 ปี</p>
                            <span>
                                <span class="stats-value f_bold" data-global="tree" data-no="">0</span><br
                                    class="show-xs">
                                <span class="f_reg">ต้น</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrap-bear flex row h-justify v-top" inviewSpy="300">
                <div class="bear-grap flex row h-center v-center">
                    <img class="transparent" src="{$image_url}theme/default/public/images/dashboard_carethebear/circle_transparent.svg"></img>
                    <div class="wrap_character char_bear" id="banner" inviewspy>
                            <div class="character">
                                <img class="lazy-img bear"
                                    data-src="{$image_url}theme/default/public/images/home/banner/bear.png" alt='bear'>
                                <img class="lazy-img sign"
                                    data-src="{$image_url}theme/default/public/images/home/banner/no-foam-sign.png"
                                    alt='bear sign'>
                            </div>
                    </div>
                </div>
                <div class="wrap-title f_bold">
                <span class="head f_bold">การจัดการกิจกรรมและโครงการ</span><br>
                       <span class="super f_bold">Care the Bear</span>
                </div>
            </div>


            
            

            <div class="member-actions" inviewSpy="300">
                <div class="wrap-menu">
                    <a href="{$base_url}dashboard/carethebear_activity" class="inner" data-toggle="tooltip" data-placement="bottom" data-html="true">
                        <img src="{$image_url}theme/default/public/images/dashboard_carethebear/icon-activity-b.svg">
                        <span class="right f_bold">กิจกรรม</span></a>
                    <img class="transparent" src="{$image_url}theme/default/public/images/dashboard_carethebear/circle_transparent.svg">
                    <img class="arrow" src="{$image_url}theme/default/public/images/dashboard_carethebear/arrow.svg"></img>
                    <div class="dropdown">
                        <div class="dropdown-content">
                            <div class="head flex v-center h-center">
                                <img src="{$image_url}theme/default/public/images/dashboard_carethebear/icon-activity-b.svg">
                                <span class="right f_bold">สร้างกิจกรรม</span>
                            </div>
                            <div class="list-content flex v-center">
                                <img src="{$image_url}theme/default/public/images/dashboard_carethebear/user-edit.svg">
                                <a href="{$base_url}carethebear/member/activity_add">สร้างกิจกรรมใหม่</a>
                            </div>
                            <div class="list-content flex v-center">
                                <img src="{$image_url}theme/default/public/images/dashboard_carethebear/user-edit.svg">
                                <a href="{$base_url}dashboard/carethebear_activity">กิจกรรมที่ดำเนินการ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-menu">
                    <a href="#" class="inner-select" data-toggle="tooltip" data-placement="bottom" data-html="true">
                        <img src="{$image_url}theme/default/public/images/dashboard_carethebear/icon-project-wh.svg">
                        <span class="right f_bold">โครงการ</span></a>
                    <img class="transparent" src="{$image_url}theme/default/public/images/dashboard_carethebear/circle_transparent.svg">
                    <img class="arrow" src="{$image_url}theme/default/public/images/dashboard_carethebear/arrow-hover.svg"></img>
                    <div class="dropdown">
                        <div class="dropdown-content">
                            <div class="head flex v-center h-center">
                                <img src="{$image_url}theme/default/public/images/dashboard_carethebear/icon-activity-b.svg">
                                <span class="right f_bold">สร้างโครงการ</span>
                            </div>
                            <div class="list-content flex v-center">
                                <img src="{$image_url}theme/default/public/images/dashboard_carethebear/user-edit.svg">
                                <a href="{$base_url}carethebear/member/project_add">สร้างโครงการใหม่</a>
                            </div>
                            <div class="list-content flex v-center">
                                <img src="{$image_url}theme/default/public/images/dashboard_carethebear/user-edit.svg">
                                <a href="#">โครงการที่ดำเนินการ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{$base_url}dashboard/carethebear_report" class="wrap-menu">
                    <div class="inner">
                        <img src="{$image_url}theme/default/public/images/dashboard_carethebear/icon-report-b.svg">
                        <span class="right f_bold">รายงาน / ผลลัพธ์</span></div>
                    <img class="transparent" src="{$image_url}theme/default/public/images/dashboard_carethebear/circle_transparent.svg">
                    <img class="arrow" src="{$image_url}theme/default/public/images/dashboard_carethebear/arrow.svg"></img>
                </a>
                <a href="{$base_url}dashboard/carethebear_document" class="wrap-menu">
                    <div class="inner">
                        <img src="{$image_url}theme/default/public/images/dashboard_carethebear/icon-document-b.svg">
                        <span class="right f_bold">คู่มือและสื่อเผยแพร่</span></div>
                    <img class="transparent" src="{$image_url}theme/default/public/images/dashboard_carethebear/circle_transparent.svg">
                        <img class="arrow" src="{$image_url}theme/default/public/images/dashboard_carethebear/arrow.svg"></img>
                </a>
            </div>


            <div class="member-box" >
                <h2 class="title">{$member.company}</h2>
                        {*<h2 class="title f_bold">ทดสอบ</h2>*}
                    {if $success_msg != ""}
                    <div class="alert alert-success">
                        {$success_msg}
                    </div>
                    {/if}
                    {if $error_msg != ""}
                    <div class="alert alert-danger">
                        {$error_msg}
                    </div>
                    {/if}
                    {* <img class="img-cover" src="{$base_url}carethebear/images/theme/default/assets/images/member-activity.png"> *}
                    <h3 class="activity-head title f_bold">
                        <img src="{$image_url}theme/default/public/images/dashboard_carethebear/icon-project-b.svg">
                            <span>โครงการที่ดำเนินการ</span>
                        </h3>
                    <div class="activity-control">
                        
                        {* <a href="{$base_url}carethebear/member/project_add" class="activity-add f_bold">เพิ่มโครงการ <img src="{$base_url}carethebear/images/theme/default/assets/images/icon-add.png"></a> *}
                        <div class="clearfix"></div>
                        <div class="header-list">
                            <div class="header-50 flex h-justify v-center">ชื่อโครงการ</div>
                            <div class="header-40 flex h-justify v-center">
                                <div class="date">วันที่เริ่ม - สิ้นสุด</div>
                                <div class="status">สถานะ</div>
                                <div class="edit">แก้ไข</div>
                                <i class="edit fa fa-qrcode"></i>
                                <img class="download" src="{$base_url}carethebear/images/theme/default/assets/images/icon-download2.png">
                            </div>
                        </div>

                        <div class="activity-list">
                            {if $list|count > 0}
                                {foreach $list as $key => $item}
                                    {if strtotime($item.end_date) < strtotime('-6 day') }
                                        {$success = true}
                                    {else}
                                        {$success = false}
                                    {/if}
                                    <div class="inner">
                                        {* <div class="pull-right">
                                            <a class="action" href="https://api.qrserver.com/v1/create-qr-code/?data={$base_url}carethebear/project/detail/{$item.id}&amp;size=300x300" target="_blank" data-toggle="tooltip" data-placement="left" data-html="true" title="QR Code สำหรับนำไป SCAN<br/>เพื่อประชาสัมพันธ์ให้ตอบแบบสอบถามการเดินทาง (Care 1)" style="    padding-left: 10px;"><i class="fa fa-qrcode" ></i>
                                        </div> *}
                                        {* <p><span style="width: 40px; display: inline-block; text-align: right; margin-right: 10px;">{($key + 1)}.</span>{$item.name}</p> *}
                                        {* <p style="padding-left: 50px;">{$item.start_date|date_thai:"%e %B %Y"} - {$item.end_date|date_thai:"%e %B %Y"} ({$item.start_on|substr:0:5} - {$item.end_on|substr:0:5})</p> *}
                                        <div class="actions">
                                            <span class="action" style="width: 5%; display: inline-block; text-align: right; ">{($key + 1)}.</span>
                                            <a class="action item1"  href="{$base_url}carethebear/member/project_report/{$item.id}" target="_blank">{$item.name}</a>
                                            <p class="action item2"><img src="{$image_url}theme/default/public/images/dashboard_carethebear/date-icon.svg">{$item.start_date|date_thai:"%e %B %Y"} - {$item.end_date|date_thai:"%e %B %Y"} {*({$item.start_on|substr:0:5} - {$item.end_on|substr:0:5})*}</p>
                                            <p class="action item3">
                                                {if $success }
                                                    Success
                                                {else}
                                                    In Progress
                                                {/if}
                                            </p>
                                            {if $success }
                                                <p class="action item4">
                                                    <img src="{$image_url}theme/default/public/images/dashboard_carethebear/edit.svg">
                                                </p>
                                            {else}
                                                <a class="action item4" href="{$base_url}carethebear/member/activity_edit/{$item.id}">
                                                    <img src="{$image_url}theme/default/public/images/dashboard_carethebear/edit.svg">
                                                </a>
                                            {/if}
{*                                            <a class="action item4" href="{$base_url}carethebear/member/project_edit/{$item.id}"><img src="{$image_url}theme/default/public/images/dashboard_carethebear/edit.svg"></a>*}
                                            <a class="action item5" href="https://api.qrserver.com/v1/create-qr-code/?data={$base_url}carethebear/project/detail/{$item.id}&amp;size=300x300" target="_blank" data-toggle="tooltip" data-placement="left" data-html="true" download><img src="{$image_url}theme/default/public/images/dashboard_carethebear/qr-code.svg"></a>
                                            <a class="action item4" href="{$base_url}carethebear/member/project_pdf/{$item.id}"  download><img style="width: auto; max-height: 25px;" src="{$image_url}theme/default/public/images/dashboard_carethebear/download-b.svg"></a>
                                        </div>
                                    </div>
                                {/foreach}
                            {else}
                                <div class="inner">
                                    <center>ไม่มีข้อมูล</center>
                                </div>
                            {/if}
                        </div>
                        {* {include file='paging.tpl'} *}
                    </div>
            </div>
        </div>
    </div>
{/block}