<option value="">[ รายการขยะ ]</option>
{foreach $garbage_kind as $garbage_kind_item}
	<option data-image="{if $garbage_kind_item.image != ''}{$garbage_kind_item.image}{/if}" value="{$garbage_kind_item.id}"{if $garbage_kind_item.id == $garbage_kind_id} selected="selected"{/if}>{$garbage_kind_item.name}</option>
{/foreach}