<option value="">[ หน่วยงาน ]</option>
{foreach $disposal_company as $disposal_company_item}
	<option value="{$disposal_company_item.id}"{if $disposal_company_item.id == $disposal_company_id} selected="selected"{/if}>{$disposal_company_item.name}</option>
{/foreach}