<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{$page_name} - {$site_name} : {$company_name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{$image_url}theme/default/css/main.css?ver={$smarty.now}" />
    <link rel="stylesheet" href="{$image_url}theme/default/css/responsive.css?ver={$smarty.now}" />
    <link href="{$image_url}theme/default/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{$image_url}theme/default/css/bootstrap-datetimepicker.min.css" />
  </head>
  <body>
    <div class="login-page height100">
      <div class="login-left text-center">
        <div class="login-left-boxed register-complete">
          <img
            class="logo-login"
            src="{$image_url}theme/default/assets/images/login/logo-login2.png"
            alt="logo-login"
          />
          <h1>CLIMATE CARE PLATFORM</h1>
          <div class="message-section">
              <script>
                function check_data()
                {
                  $('#is_accept_req').hide();
                  $('.has-error').removeClass('has-error');
                  
                  with(document.add_edit)
                  {
                    if($('#is_accept').prop("checked") == false)
                    {
                      $('#is_accept_req').show();
                      $('#is_accept_req').parent('div').addClass('has-error');
                      return false;
                    }
                  }
                }
              </script>
              <form name="add_edit" method="post" role="form" class="login-box" onsubmit="return check_data();">
                  <div class="wrap-input no-border checkbox">
                    <label>
                    <input style="height: auto !important;" type="checkbox" name="is_accept" id="is_accept" value="Y"> กรุณายอมรับ <a href="#" data-toggle="modal" data-target="#termsModal">ข้อตกลงและเงื่อนไขการใช้งาน</a></label>
                  </div>
                    <label id="is_accept_req" style="display: none;" class="text-danger col-12 text-right">
                      <small>กรุณายอมรับข้อตกลงและเงื่อนไขการใช้งาน</small>
                  </label>

                  <button class="default-btn next-step submit-register" type="submit" name="save" value="save">บันทึกข้อมูล</button>
              </form>
          </div>
        </div>
      </div>
      <div class="login-right">
        {include file='guest_stats.tpl'}
      </div>
    </div>
    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="max-width: 800px; margin-left: 150px;">
          <p style="text-align: center;"><strong>ข้อตกลงและเงื่อนไขการใช้งาน&nbsp;</strong><br /><strong>Climate Care Platform (climatecare.setsocialimpact.com)&nbsp;</strong><br />&nbsp;</p>
<p>ผู้ใช้งานรับทราบและตกลงว่า จะใช้งาน<strong> Climate Care Platform (climatecare.setsocialimpact.com) </strong>เพื่อวัตถุประสงค์<br />ในการรายงานการเก็บรวบรวมข้อมูลด้านการดูแลสิ่งแวดล้อมเพื่อเป้าหมายในการลดภาวะโลกร้อน ได้แก่ ข้อมูล<br />ประเภทขยะชนิดต่างๆ ของนิติบุคคลที่เข้าร่วมโครงการ <strong>Care the Whale</strong> &nbsp;ข้อมูลในโครงการ Care the Bear และ<br />ข้อมูลการปลูกป่าในโครงการ Care the Wild &nbsp; &nbsp;เพื่อการประมวลผล สรุปผลออกมาเป็นรายงาน ข้อมูล ปริมาณ&nbsp;<br />คาร์บอนไดออกไซต์ที่ลดได้เมื่อเทียบเท่ากับจำนวนต้นไม้ที่ปลูกได้ &nbsp;<br />&nbsp;<br />การเข้าเว็บไซต์นี้ ตลอดจนการเปิดหน้าเว็บต่าง ๆ ที่อยู่ในเว็บไซต์นี้ ผู้ใช้งานเว็บไซต์ (&ldquo;ผู้ใช้งาน&rdquo;) ตกลงและยินยอมที่<br />จะปฏิบัติตามนโยบายของกลุ่มตลาดหลักทรัพย์ฯ (ตามนิยามที่จะได้กล่าวต่อไปในข้อตกลงและเงื่อนไขการใช้งาน<br />เว็บไซต์นี้) กฎหมายที่ใช้บังคับ และข้อตกลงและเงื่อนไขการใช้งานเว็บไซต์ที่กำหนดไว้ในข้อตกลงนี้ทั้งที่กำหนดไว้เป็น<br />การทั่วไปและที่ได้กำหนดไว้โดยเฉพาะเจาะจงในส่วนใดส่วนหนึ่งของเว็บไซต์นี้ทั้งหมด (รวมเรียกว่า &ldquo;ข้อตกลงและ<br />เงื่อนไขการใช้งานเว็บไซต์&rdquo;) โดยผู้ใช้งานรับทราบและตกลงว่าข้อตกลงและเงื่อนไขการใช้งานเว็บไซต์ที่กำหนดไว้นั้น<br />อาจมีการเปลี่ยนแปลงได้โดยไม่ต้องมีการบอกกล่าวล่วงหน้า&nbsp;<br />&nbsp;&nbsp;<br />อย่างไรก็ดี การเปลี่ยนแปลงใด ๆ ที่เกี่ยวกับข้อตกลงและเงื่อนไขการใช้งานเว็บไซต์จะมีการเผยแพร่ไว้ในเว็บไซต์นี้&nbsp;<br />และเมื่อผู้ใช้งานได้เข้าใช้งานเว็บไซต์นี้ภายหลังการเปลี่ยนแปลงดังกล่าวแล้ว ย่อมถือว่าผู้ใช้งานตกลงยอมรับข้อตกลง<br />และเงื่อนไขการใช้งานเว็บไซต์ทั้งหมดตามที่ได้เปลี่ยนแปลงแล้ว ดังนั้น ผู้ใช้งานจึงควรติดตามข้อตกลงและเงื่อนไขการ<br />ใช้งานเว็บไซต์ที่กำหนดไว้นี้อยู่เสมอ&nbsp;<br />&nbsp;&nbsp;<br />ทั้งนี้ หากท่านไม่เห็นด้วยหรือประสงค์ที่จะปฏิเสธความมีผลผูกพันตามข้อตกลงและเงื่อนไขการใช้งานเว็บไซต์ ขอ<br />ความกรุณาท่านยุติการเข้าชมและใช้งานเว็บไซต์นี้&nbsp;<br />&nbsp;<br /><strong>นิยาม </strong></p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 18.0609%;"><strong>&ldquo;กลุ่มตลาดหลักทรัพย์ฯ&rdquo;</strong></td>
<td style="width: 78.0611%;">หมายถึง ตลาดหลักทรัพย์แห่งประเทศไทย และบริษัทในกลุ่มตลาดหลักทรัพย์แห่ง<br />ประเทศไทย&nbsp;</td>
</tr>
<tr>
<td style="width: 18.0609%;"><strong>&ldquo;บริษัทในกลุ่ม&nbsp;</strong><br /><strong>ตลาดหลักทรัพย์&nbsp;</strong><br /><strong>แห่งประเทศไทย&rdquo;</strong></td>
<td style="width: 78.0611%;">หมายถึง บริษัทที่จัดตั้งโดยตลาดหลักทรัพย์แห่งประเทศไทยหรือบริษัทย่อยของตลาด<br />หลักทรัพย์แห่งประเทศไทย และตลาดหลักทรัพย์แห่งประเทศไทยถือหุ้นไม่ว่าทางตรง<br />หรือทางอ้อมไม่น้อยกว่าร้อยละ 50 (ห้าสิบ) ของทุนจดทะเบียนของบริษัท&nbsp;<br />&nbsp;(<a href="https://www.set.or.th/th/about/overview/share_p1.html)" aria-invalid="true">https://www.set.or.th/th/about/overview/share_p1.html)</a>&nbsp;</td>
</tr>
<tr>
<td style="width: 18.0609%;"><strong>&ldquo;ผู้ใช้งาน&rdquo;</strong></td>
<td style="width: 78.0611%;">หมายถึง เจ้าหน้าที่สังกัดบริษัท และบริษัทที่เป็นสมาชิกโครงการ Care the Whale มี<br />หน้าที่กรอกข้อมูลรายงานขยะในระบบ Climate Care Platform เพื่อคำนวณปริมาณการ<br />ลดก๊าซเรือนกระจก และการนำรายงาน สถิติ ที่ประมวลได้จาก platform ไปใช้งานต่อ</td>
</tr>
<tr>
<td style="width: 18.0609%;"><strong>&ldquo;ข้อมูลส่วนบุคคล&rdquo;</strong></td>
<td style="width: 78.0611%;">หมายถึง ข้อมูลเกี่ยวกับบุคคลซึ่งทำให้สามารถระบุตัวบุคคลนั้นได้ไม่ว่าทางตรงหรือ<br />ทางอ้อม แต่ไม่รวมถึงข้อมูลของผู้ถึงแก่กรรมโดยเฉพาะ ตามกฎหมายว่าด้วยการคุ้มครอง<br />ข้อมูลส่วนบุคคล&nbsp;</td>
</tr>
<tr>
<td style="width: 18.0609%;"><strong>&ldquo;ประมวลผล&rdquo;</strong></td>
<td style="width: 78.0611%;">หมายถึง การดำเนินการใด ๆ กับข้อมูลส่วนบุคคลไม่ว่าด้วยวิธีการอัตโนมัติหรือไม่ก็ตาม&nbsp;<br />เช่น การเก็บรวบรวม การบันทึก การจัดระบบ การจัดเก็บ การปรับเปลี่ยนหรือการ<br />ดัดแปลง การเรียกคืน การปรึกษา การใช้ การเปิดเผย (โดยการส่ง โอน การเผยแพร่หรือ<br />การทำให้สามารถเข้าถึงหรือพร้อมใช้งานโดยวิธีใด ๆ) การจัดเรียง การนำมารวมกัน การ<br />บล็อกหรือจำกัด การลบหรือการทำลาย&nbsp;</td>
</tr>
</tbody>
</table>
<p><br /><strong>1. การใช้เว็บไซต์และทรัพย์สินทางปัญญา&nbsp;</strong><br />&nbsp;<br />1.1 &nbsp; &nbsp; บรรดาข้อมูลที่ปรากฏในเว็บไซต์นี้ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะ ข้อความ รูปภาพ ตารางข้อมูล กราฟ ราคาหรือ<br />มูลค่าหลักทรัพย์ (ถ้ามี) เครื่องหมายการค้า กราฟิกต่าง ๆ เสียง การออกแบบหน้าจอแอปพลิเคชัน &nbsp;<br />การออกแบบส่วนต่อประสานกับผู้ใช้ (Interface) ข้อมูลต่าง ๆ ไม่ว่าจะอยู่ในรูปแบบใด โปรแกรมซอฟต์แวร์ใด&nbsp;<br />ๆ ที่มีอยู่ในเว็บไซต์นี้ รวมถึงข้อมูลทั้งหลายที่ผู้ใช้งานได้ดาวน์โหลดจากเว็บไซต์นี้ (ซึ่งต่อไปนี้จะรวมเรียกว่า&nbsp;<br />&ldquo;เนื้อหา&rdquo;) ถือเป็นสิทธิของกลุ่มตลาดหลักทรัพย์ฯ หรือผู้ให้อนุญาตแก่กลุ่มตลาดหลักทรัพย์ฯ ซึ่งเนื้อหาเหล่านั้น<br />ได้รับความคุ้มครองด้านทรัพย์สินทางปัญญา และ/หรือสิทธิในความเป็นเจ้าของอื่น ๆ ตามกฎหมายของ<br />ประเทศไทยและ/หรือกฎหมายของประเทศอื่นไม่ว่าในรูปแบบใด ๆ และไม่ว่าจะได้รับการจดทะเบียนไว้แล้ว<br />หรือไม่ก็ตาม&nbsp;<br />&nbsp;<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ทั้งนี้ การนำชื่อทางการค้า เครื่องหมายการค้า เครื่องหมายบริการ และเครื่องหมายอื่น ๆ ของกลุ่มตลาด<br />หลักทรัพย์ฯ รวมถึงทรัพย์สินทางปัญญาใด ๆ ที่ปรากฏในเว็บไซต์นี้ไปใช้ ไม่ว่าจะด้วยวัตถุประสงค์ใด ๆ&nbsp;<br />ผู้ใช้งานจะต้องได้รับความยินยอมล่วงหน้าเป็นลายลักษณ์อักษรจากกลุ่มตลาดหลักทรัพย์ฯ ก่อนดำเนินการ &nbsp;<br />&nbsp;<br />1.2 บรรดาชื่อทางการค้า ชื่อสินค้า เครื่องหมายการค้า เครื่องหมายบริการ และเครื่องหมายอื่น ๆ รวมถึงทรัพย์สิน<br />ทางปัญญาอื่นใดที่ปรากฏในเว็บไซต์นี้ นอกเหนือจากสิ่งที่เป็นทรัพย์สินทางปัญญาของกลุ่มตลาดหลักทรัพย์ฯ&nbsp;<br />ซึ่งได้ถูกนำมาเรียบเรียงหรือจัดให้มีขึ้นเพื่อใช้เป็นส่วนประกอบของเว็บไซต์นี้ มีขึ้นเพื่อวัตถุประสงค์ในการ<br />ตกแต่งรูปลักษณ์ของเว็บไซต์ โดยกลุ่มตลาดหลักทรัพย์ฯ ในฐานะผู้ให้บริการเว็บไซต์ไม่ได้มีเจตนาที่จะกระทำ<br />การใด ๆ อันเป็นการละเมิดสิทธิในทางการค้าหรือทรัพย์สินทางปัญญาของผู้ใด&nbsp;<br />&nbsp;&nbsp;<br />1.3 เว้นแต่มีข้อความระบุไว้เป็นอย่างอื่นในเว็บไซต์นี้ บรรดาเนื้อหา ไฟล์ หรือเอกสารที่ปรากฏในเว็บไซต์นี้&nbsp;<br />ผู้ใช้งานมีสิทธิเพียงเข้าดู ดาวน์โหลด อัพโหลดเนื้อหา และพิมพ์เนื้อหาดังกล่าว เฉพาะเพื่อประโยชน์แก่การใช้<br />งานเพื่อเป้าหมายของการรายงานการรับผิดชอบต่อสังคมในเรื่องภาวะโลกร้อนและสิ่งแวดล้อม &nbsp;และผู้ใช้งานตก<br />ลงไม่ทำสำเนา หรือจัดเก็บ หรือดาวน์โหลดเนื้อหาไม่ว่าจะในรูปของเอกสารหรือในรูปแบบสื่ออิเล็กทรอนิกส์อื่น<br />ใดอันมีวัตถุประสงค์เพื่อการส่ง โอน จัดทำ เผยแพร่ พิมพ์ ทำซ ้า ดัดแปลง สร้างงานที่พัฒนา นำออกแสดง&nbsp;<br />ให้แก่บุคคลภายนอก ไม่ว่าการกระทำดังกล่าวจะเป็นไปเพื่อประโยชน์ในทางการค้าหรือได้รับประโยชน์เป็นสิ่ง<br />ตอบแทนอื่นใดหรือไม่ก็ตาม เว้นแต่จะได้รับความยินยอมเป็นลายลักษณ์อักษรล่วงหน้าจากกลุ่มตลาด<br />หลักทรัพย์ฯ ก่อนดำเนินการ&nbsp;<br />&nbsp;&nbsp;<br /><strong>2. ข้อสงวนสิทธิ์และข้อจำกัดความรับผิด&nbsp;</strong><br />&nbsp;<br />2.1 เว็บไซต์นี้มีขึ้นเพื่อวัตถุประสงค์ในการให้ข้อมูลและเพื่อการศึกษาด้านการลดปริมาณก๊าซเรือนกระจก จาก<br />โครงการ Care the Whale, Care the Wild และ Care the Bear ดังนั้น บรรดาข้อมูลต่าง ๆ ที่เผยแพร่บน<br />เว็บไซต์นี้ (ซึ่งต่อไปนี้จะรวมเรียกว่า &ldquo;บรรดาข้อมูลที่เผยแพร่&rdquo;) จึงเป็นข้อมูลจากสมาชิกในโครงการ เพื่อ<br />คำนวณการลดปริมาณก๊าซเรือนกระจก และประมวลผลเป็นรายงาน สถิติ เพื่อสมาชิกและโครงการ สามารถ<br />นำไปใช้เพื่อการทำงานในองค์กร และข้อมูลความรู้ทั่วไปด้านการดูแลสิ่งแวดล้อมจากตลาดหลักทรัพย์ฯ &nbsp;<br />&nbsp; &nbsp;<br />2.2 เนื้อหาที่แสดงบนเว็บไซต์นี้ ข้อมูลใน Climate Care Platform เป็นข้อมูลที่เกิดจากข้อมูลของ สมาชิกโครงการที่<br />นำมากรอก &nbsp; ถูกนำเสนอตามสภาพที่ได้รับ (&ldquo;as is&rdquo; basis) โดยกลุ่มตลาดหลักทรัพย์ฯ ไม่อาจรับรองหรือ<br />รับประกันใด ๆ ไม่ว่าทางตรงหรือทางอ้อมในเรื่องใด ไม่ว่าจะเป็นการรับประกันด้านความครบถ้วน ถูกต้อง<br />เหมาะสม ความเป็นปัจจุบัน หรือความน่าเชื่อถือของเนื้อหาและข้อมูล หรือการรับประกันผลที่จะได้รับจากการ<br />ใช้เนื้อหาหรือการใช้เว็บไซต์นี้ รวมถึงความเหมาะสมในการใช้งาน และกลุ่มตลาดหลักทรัพย์ฯ ไม่ต้อง<br />รับผิดชอบในความสูญหาย หรือความเสียหายใด ๆ รวมถึงไม่รับผิดชอบต่อผลกำไรหรือขาดทุนที่เกิดการใช้<br />เว็บไซต์และ/หรือจากการนำเนื้อหาข้อมูลที่ปรากฏในเว็บไซต์นี้ไปใช้ในทุกกรณี &nbsp; อันเนื่องมาจากข้อมูลใน&nbsp;<br />Climate Action Platform เป็นข้อมูลที่เกิดจากข้อมูลของ สมาชิกโครงการที่นำมากรอก &nbsp;<br />&nbsp;&nbsp;<br />2.3 กลุ่มตลาดหลักทรัพย์ฯ จะดำเนินการอย่างเหมาะสมเพื่อให้การเข้าถึงและการใช้งานเว็บไซต์นี้เป็นไปอย่าง<br />ต่อเนื่อง ไม่หยุดชะงัก และจะจัดให้มีระบบป้องกันการเข้าถึงข้อมูลใด ๆ จากบุคคลที่ไม่มีส่วนเกี่ยวข้อง อย่างไร<br />ก็ดี กลุ่มตลาดหลักทรัพย์ฯ ไม่อาจรับรองได้ว่าการเข้าใช้งานเว็บไซต์จะเป็นไปโดยปราศจากความล่าช้าและ<br />ข้อผิดพลาดใด ๆ และไม่อาจรับรองว่าเว็บไซต์นี้จะปราศจากโปรแกรม ไฟล์ หรือซอฟต์แวร์ที่มีจุดประสงค์มุ่ง<br />ร้าย หรืออาจสร้างความเสียหายต่อระบบหรือข้อมูลในระบบของผู้ใช้งาน อาทิ ไวรัส คอมพิวเตอร์เวิร์ม โทร<br />จันฮอร์ส สปายแวร์ หรือไฟล์ซึ่งเป็นอันตรายอื่น ๆ (รวมเรียกว่า &ldquo;ความบกพร่อง&rdquo;) ทั้งนี้ ไม่ว่าความบกพร่อง<br />ดังกล่าวจะเกิดขึ้นจากบุคคล หรือความขัดข้องทางเทคนิค หรือเหตุสุดวิสัยอย่างอื่น ดังนั้น ผู้ใช้งานจึงรับทราบ<br />เงื่อนไขดังกล่าวและตกลงว่าในกรณีที่มีความบกพร่องใด ๆ เกิดขึ้น กลุ่มตลาดหลักทรัพย์ฯ จะไม่รับผิดชอบใน<br />ความสูญหาย ความเสียหาย ค่าสินไหมทดแทน ค่าใช้จ่าย หรือค่าเสียหายใด ๆ ที่เกิดจากหรือเป็นผลสืบ<br />เนื่องมาจากความบกพร่องเหล่านั้นในทุกกรณี &nbsp;&nbsp;<br />&nbsp;&nbsp;<br />2.4 กลุ่มตลาดหลักทรัพย์ฯ สงวนสิทธิ์ในการพิจารณาไม่อนุญาตให้ผู้ใช้งานใช้งานเว็บไซต์นี้ รวมถึงสงวนสิทธิ์ใน<br />การเปลี่ยนแปลง หรือระงับการให้บริการเว็บไซต์ไม่ว่าบางส่วนหรือทั้งหมดและไม่ว่าในเวลาใด ๆ แก่ผู้ใช้งาน&nbsp;<br />โดยไม่จำเป็นต้องบอกกล่าวล่วงหน้าหรือระบุเหตุผลในการดำเนินการนั้น&nbsp;<br />&nbsp;&nbsp;<br />2.5 บรรดาข้อมูลรายละเอียด บทความ หรือข้อมูลใด ๆ ที่เผยแพร่ในเว็บไซต์นี้ เป็นลิขสิทธิ์ของผู้เขียนแต่ละท่าน&nbsp;<br />ซึ่งกลุ่มตลาดหลักทรัพย์ฯ ได้รับความอนุเคราะห์ให้นำมาเผยแพร่เพื่อเป็นประโยชน์แก่ประชาชนทั่วไป สำหรับ<br />เนื้อหา ลิงก์เชื่อมโยง รูปภาพ หรือเรื่องอื่นใด ตลอดจนข้อคิดเห็น หรือทรรศนะที่อยู่ในบทความซึ่งเผยแพร่อยู่<br />ในเว็บไซต์นี้เป็นความคิดเห็นหรือทรรศนะส่วนบุคคลของผู้เขียนแต่ละท่าน และไม่ได้เกี่ยวข้องกับกลุ่มตลาด<br />หลักทรัพย์ฯ หรือแสดงว่ากลุ่มตลาดหลักทรัพย์ฯ เห็นพ้อง ยอมรับ หรือสนับสนุนความคิดเห็นหรือทรรศนะ<br />ดังกล่าว ผู้ใช้งานควรศึกษาข้อมูลให้รอบคอบและใช้วิจารณญาณประกอบการตัดสินใจ &nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />2.6 นอกเหนือจากที่กำหนดไว้ในข้อตกลงและเงื่อนไขการใช้งานเว็บไซต์นี้ กลุ่มตลาดหลักทรัพย์ฯ กรรมการ&nbsp;<br />ผู้จัดการ ผู้บริหาร พนักงาน ลูกจ้าง ตัวแทน ที่ปรึกษา และ/หรือผู้เชี่ยวชาญของกลุ่มตลาดหลักทรัพย์ฯ จะไม่รับ<br />ผิดในความผิดพลาด หรือความบกพร่องใด ๆ ของเว็บไซต์ หรือจากข้อมูล เนื้อหาที่ปรากฏในเว็บไซต์ ตลอดจน<br />ไม่รับผิดในผลของการละเว้นการกระทำใด ๆ ที่เกี่ยวข้องกับเว็บไซต์นี้ ไม่ว่าจะเกิดจากสัญญา ละเมิด ประมาท&nbsp;<br />หรือเหตุอื่นใดที่อาจจะเกิดขึ้น ถึงแม้ว่ากลุ่มตลาดหลักทรัพย์ฯ จะได้รับแจ้งว่าอาจจะเกิดความเสียหายดังกล่าว<br />ขึ้นได้ก็ตาม&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br /><strong>3. ข้อมูลส่วนบุคคล&nbsp;</strong><br />&nbsp;<br />ผู้ใช้งานรับทราบและตกลงว่า ข้อมูลส่วนบุคคลของผู้ใช้งานสำหรับการใช้งานเว็บไซต์นี้ เช่น ข้อมูลที่ผู้ใช้งาน<br />ลงทะเบียน ข้อมูลการใช้งานเว็บไซต์ของผู้ใช้งาน และ/หรือข้อมูลอื่นใดของผู้ใช้งาน จะถูกประมวลผลและได้รับ<br />ความคุ้มครองตามคำประกาศเกี่ยวกับความเป็นส่วนตัว (Privacy Notice) ของกลุ่มตลาดหลักทรัพย์ฯ ซึ่ง<br />ผู้ใช้งานได้อ่านและรับทราบรายละเอียดและข้อกำหนดต่าง ๆ ตามคำประกาศเกี่ยวกับความเป็นส่วนตัว (Privacy&nbsp;<br />Notice) ของกลุ่มตลาดหลักทรัพย์ฯ แล้ว&nbsp;<br />&nbsp;&nbsp;<br /><strong>4. นโยบายการรักษาความมั่นคงปลอดภัยของเว็บไซต์&nbsp;</strong><br />&nbsp;<br />กลุ่มตลาดหลักทรัพย์ฯ ได้เลือกใช้เทคโนโลยี มาตรการรักษาความมั่นคงปลอดภัยในการทำธุรกรรมบน<br />เครือข่ายอินเทอร์เน็ต เพื่อป้องกันข้อมูลของผู้ใช้งานในระหว่างการส่งข้อมูลผ่านเครือข่ายการสื่อสาร หรือจาก<br />การถูกโจรกรรมข้อมูลโดยบุคคลหรือเครือข่ายอื่นทุกระบบที่ไม่ได้รับอนุญาตเข้ามาเชื่อมต่อกับเครือข่ายของ<br />กลุ่มตลาดหลักทรัพย์ฯ เช่น Firewall และการเข้ารหัสแบบ Secured Socket Layer (SSL) เป็นต้น&nbsp;<br />&nbsp; &nbsp;<br /><strong>5. การละเมิดข้อตกลงและเงื่อนไขการใช้งานเว็บไซต์&nbsp;</strong><br />&nbsp;<br />ในกรณีที่ผู้ใช้งานละเมิดข้อตกลงและเงื่อนไขการใช้งานเว็บไซต์ กลุ่มตลาดหลักทรัพย์ฯ สงวนสิทธิ์ที่จะระงับการ<br />เข้าถึงหรือยกเลิกการให้บริการใด ๆ ที่มีขึ้นบนเว็บไซต์นี้แก่ผู้ใช้งาน ทั้งนี้ การระงับหรือยกเลิกดังกล่าวไม่ถือ<br />Commented [AW1]: Insert hyperlink Privacy Notice&nbsp;<br />เป็นการตัดสิทธิกลุ่มตลาดหลักทรัพย์ฯ ที่จะได้รับการเยียวยาตามข้อตกลงและเงื่อนไขการใช้งานเว็บไซต์นี้&nbsp;<br />รวมถึงสิทธิอื่นใดตามกฎหมายที่เกี่ยวข้อง&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;<br /><strong>6. กฎหมายที่บังคับใช้&nbsp;</strong><br />ข้อตกลงและเงื่อนไขการใช้งานนี้อยู่ภายใต้การบังคับและตีความตามกฎหมายไทย และศาลไทยเป็นผู้มีอำนาจ<br />ในการพิจารณาข้อพิพาทใดที่อาจเกิดขึ้น</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <script src="{$image_url}theme/default/js/bootstrap5/jquery.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script src="{$image_url}theme/default/js/bootstrap5/popper.min.js"></script>
    <script src="{$image_url}theme/default/js/bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="{$image_url}theme/default/js/moment.min.js"></script>
    <script src="{$image_url}theme/default/js/bootstrap-datetimepicker.min.js"></script>
    <script>
      $(".count").each(function () {
        $(this)
          .prop("Counter", 0)
          .animate(
            {
              Counter: $(this).text(),
            },
            {
              duration: 4000,
              easing: "swing",
              step: function (now) {
                now = Number(Math.ceil(now)).toLocaleString("en");
                $(this).text(now);
              },
            }
          );
      });
    </script>
  </body>
</html>