@screen-xs: 767px;
@color-black: #424242;
@color-yellow: #FFA400;
@color-yellow-hover: #FDBF48;
@color-gray: #818181;
@color-light-gray: #C1C1C1;
@color-light-gray2: #FCFCFC;
@color-light-gray3: #DDDDDD;
@color-black-000: #000;
@color-white-fff: #fff;

@icomoon-font-family: "icon-set-climate";
@icomoon-font-path: "../../public/fonts";

@icon-arrow-down: "\e900";
@icon-plus: "\e901";
@icon-arrow-left: "\e902";
@icon-arrow-right: "\e903";
@icon-cross: "\e904";
@icon-profile: "\e905";
@icon-building: "\e906";
@icon-trees: "\e907";
@icon-tree: "\e908";
@icon-recycle-bin: "\e909";
@icon-cloud: "\e90a";
@icon-arrow-right-tail: "\e90b";
@icon-menu: "\e90c";
@icon-fullscreen: "\e90d";
@icon-line: "\e90e";
@icon-copy: "\e90f";
@icon-facebook: "\e910";
@icon-twitter: "\e911";
@icon-eye: "\e912";
@icon-eye-close: "\e913";
@icon-cloud-arrow-up: "\e914";
@icon-check: "\e915";
@icon-file: "\e916";
@icon-arrow-down2: "\e917";
@icon-mail: "\e918";
@icon-headset: "\e919";
@icon-world: "\e91a";
@icon-facebook1: "\e91b";
@icon-grid: "\e91c";
@icon-bear: "\e91d";
@icon-whale: "\e91e";
@icon-elephant: "\e91f";
@icon-pie-chart: "\e920";
@icon-phone: "\e921";
@icon-world-tree: "\e922";
@icon-download: "\e923";
