@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?tbn8a1');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?tbn8a1#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?tbn8a1') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?tbn8a1') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?tbn8a1#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down {
  &:before {
    content: @icon-arrow-down; 
  }
}
.icon-plus {
  &:before {
    content: @icon-plus; 
  }
}
.icon-arrow-left {
  &:before {
    content: @icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: @icon-arrow-right; 
  }
}
.icon-cross {
  &:before {
    content: @icon-cross; 
  }
}
.icon-profile {
  &:before {
    content: @icon-profile; 
  }
}
.icon-building {
  &:before {
    content: @icon-building; 
  }
}
.icon-trees {
  &:before {
    content: @icon-trees; 
  }
}
.icon-tree {
  &:before {
    content: @icon-tree; 
  }
}
.icon-recycle-bin {
  &:before {
    content: @icon-recycle-bin; 
  }
}
.icon-cloud {
  &:before {
    content: @icon-cloud; 
  }
}
.icon-arrow-right-tail {
  &:before {
    content: @icon-arrow-right-tail; 
  }
}
.icon-menu {
  &:before {
    content: @icon-menu; 
  }
}
.icon-fullscreen {
  &:before {
    content: @icon-fullscreen; 
  }
}
.icon-line {
  &:before {
    content: @icon-line; 
  }
}
.icon-copy {
  &:before {
    content: @icon-copy; 
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook; 
  }
}
.icon-twitter {
  &:before {
    content: @icon-twitter; 
  }
}
.icon-eye {
  &:before {
    content: @icon-eye; 
  }
}
.icon-eye-close {
  &:before {
    content: @icon-eye-close; 
  }
}
.icon-cloud-arrow-up {
  &:before {
    content: @icon-cloud-arrow-up; 
  }
}
.icon-check {
  &:before {
    content: @icon-check; 
  }
}
.icon-file {
  &:before {
    content: @icon-file; 
  }
}
.icon-arrow-down2 {
  &:before {
    content: @icon-arrow-down2; 
  }
}
.icon-mail {
  &:before {
    content: @icon-mail; 
  }
}
.icon-headset {
  &:before {
    content: @icon-headset; 
  }
}
.icon-world {
  &:before {
    content: @icon-world; 
  }
}
.icon-facebook1 {
  &:before {
    content: @icon-facebook1; 
  }
}
.icon-grid {
  &:before {
    content: @icon-grid; 
  }
}
.icon-bear {
  &:before {
    content: @icon-bear; 
  }
}
.icon-whale {
  &:before {
    content: @icon-whale; 
  }
}
.icon-elephant {
  &:before {
    content: @icon-elephant; 
  }
}
.icon-pie-chart {
  &:before {
    content: @icon-pie-chart; 
  }
}
.icon-phone {
  &:before {
    content: @icon-phone; 
  }
}
.icon-world-tree {
  &:before {
    content: @icon-world-tree; 
  }
}
.icon-download {
  &:before {
    content: @icon-download; 
  }
}

