@font-face {
  font-family: 'icon-set-climate';
  src:  url('fonts/icon-set-climate.eot?tbn8a1');
  src:  url('fonts/icon-set-climate.eot?tbn8a1#iefix') format('embedded-opentype'),
    url('fonts/icon-set-climate.ttf?tbn8a1') format('truetype'),
    url('fonts/icon-set-climate.woff?tbn8a1') format('woff'),
    url('fonts/icon-set-climate.svg?tbn8a1#icon-set-climate') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-set-climate' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e904";
}
.icon-profile:before {
  content: "\e905";
}
.icon-building:before {
  content: "\e906";
}
.icon-trees:before {
  content: "\e907";
}
.icon-tree:before {
  content: "\e908";
}
.icon-recycle-bin:before {
  content: "\e909";
}
.icon-cloud:before {
  content: "\e90a";
}
.icon-arrow-right-tail:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-fullscreen:before {
  content: "\e90d";
}
.icon-line:before {
  content: "\e90e";
}
.icon-copy:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e911";
}
.icon-eye:before {
  content: "\e912";
}
.icon-eye-close:before {
  content: "\e913";
}
.icon-cloud-arrow-up:before {
  content: "\e914";
}
.icon-check:before {
  content: "\e915";
}
.icon-file:before {
  content: "\e916";
}
.icon-arrow-down2:before {
  content: "\e917";
}
.icon-mail:before {
  content: "\e918";
}
.icon-headset:before {
  content: "\e919";
}
.icon-world:before {
  content: "\e91a";
}
.icon-facebook1:before {
  content: "\e91b";
}
.icon-grid:before {
  content: "\e91c";
}
.icon-bear:before {
  content: "\e91d";
}
.icon-whale:before {
  content: "\e91e";
}
.icon-elephant:before {
  content: "\e91f";
}
.icon-pie-chart:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e921";
}
.icon-world-tree:before {
  content: "\e922";
}
.icon-download:before {
  content: "\e923";
}
