@import "core/variable";

#content {
    padding-top: 80px;
    height: 100%;
}
sub {
    font-size: 70%;
    display: inline-block;
    transform: translateY(4px);
}

.inspecting--scroll {
    position: relative;
    height: 100%;
    .before--gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 75px;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        z-index: 2;
        opacity: 0;
        transition: all 0.4s ease;
        pointer-events: none;
    }
    .after--gradient {
        position: absolute;
        top: 0;
        right: 0;
        width: 75px;
        height: 100%;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        z-index: 2;
        opacity: 0;
        transition: all 0.4s ease;
        pointer-events: none;
    }
    .begin {
        .before--gradient {
            opacity: 0;
        }
        .after--gradient {
            opacity: 1;
        }
    }
    .between {
        .before--gradient {
            opacity: 1;
        }
        .after--gradient {
            opacity: 1;
        }
    }
    .end {
        .before--gradient {
            opacity: 1;
        }
        .after--gradient {
            opacity: 0;
        }
    }
}

// page content

.middle-content {
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5);
    overflow: hidden;
}
.outcome-summary {
    padding: 40px 40px 0;
    .title {
        font-size: 40px;
        line-height: 50px;
    }
    .pick--date {
        position: relative;
        z-index: 10;
        font-size: 30px;
        line-height: 26px;
        margin-top: 10px;
        .pick--since, .pick--to {
            position: relative;
            border-bottom: 1px solid #C1C1C1;
            margin: 0 10px;
            padding-right: 30px;
            color: #424242;
            padding-bottom: 3px;

            &::after {
                content: @icon-arrow-down2;
                font-family: '@{icomoon-font-family}' !important;
                speak: never;
                font-size: 10px;
                line-height: 24px;
                position: absolute;
                right: 0;
                top: 0;
                width: 12px;
                height: 12px;
                color: #424242;
                transition: transform 0.3s ease;
                transform-origin: bottom;
            }

            &.active {
                color: #FFA400;
                border-bottom: 2px solid #FFA400;
                &::after {
                    color: #FFA400;
                    transform: rotate(-180deg);
                }
            }

            &.not-ready {
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }
    .company--name {
        font-size: 34px;
        line-height: 28px;
        margin-top: 30px;
        color: #FFA400;
    }
    .wrap-logoes {
        max-width: 450px;
        gap: 20px;
        margin-top: 40px;

        .company--logo {
            width: calc(170 / 450 * 100%);

            .IMG {
                max-height: 84px;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .climate--logo {
            width: calc(244 / 450 * 100%);
            min-width: 244px;
            .IMG {
                max-height: 84px;
            }
        }
        .climate-txt {
            font-size: 18px;
            line-height: 17px;
            text-align: center;
            margin-top: 5px;
        }
    }
    .climate-result {
        text-align: center;
        width: 100%;
        max-width: 810px;
        margin: 40px auto 0;

        .title {
            font-size: 30px;
            line-height: 26px;
        }
        .desc {
        }
        .desc,
        .climate--project--name {
            font-size: 26px;
            line-height: 26px;
        }
        .result-list {
            margin-top: 60px;
        }
    }
}

.result {
    width: 100%;
    padding: 0px 20px 24px;

    &:not(:last-child) {
        border-right: 1px solid rgba(193, 193, 193, 0.5);
    }
    .result--icon {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        font-size: 48px;
        border: 1px solid #C1C1C1;
        color: #C1C1C1;

        &.orange {
            border: 1px solid #FFA400;
            color: #FFA400;
        }
        &.blue {
            border: 1px solid #20BEEE;
            color: #20BEEE;
        }
        &.green {
            border: 1px solid #6DC169;
            color: #6DC169;
        }
    }
    .result--desc {
        margin-top: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .result--value,
    .result--unit {
        margin-top: 14px;
    }
    .result--value {
        font-size: 40px;
        line-height: 26px;
    }
    .result--unit {
        font-size: 20px;
        line-height: 20px;
    }
}

.text-to {
    margin-top: 50px;

    &.hide {
        display: none;
    }
}

.table-area {
    margin-top: 40px;
    .result-box {
        margin-top: 20px;
        &.cate-bear {
            .result--head {
                background-color: #20BEEE;
            }
            .result--body {
                .hilight {
                    color: #20BEEE;
                }
            }
            .table {
                .tb-row {
                    &:last-child {
                        background-color: rgba(32, 190, 238, 0.2);
                    }
                }
            }
        }
        &.cate-whale {
            .result--head {
                background-color: #106BAF;
            }
            .result--body {
                .hilight {
                    color: #106BAF;
                }
            }

            .table {
                .tb-row {
                    &:last-child {
                        background-color: rgba(16, 107, 175, 0.2);
                    }
                }
            }
        }
        &.cate-elephant {
            .result--head {
                background-color: #6DC169;
            }
            .result--body {
                .hilight {
                    color: #6DC169;
                }
            }
        }
    }
    .result--head {
        text-align: center;
        background-color: #C1C1C1;
        color: white;
        padding: 30px 20px;
        box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.1);
    }
    .result--body {
        padding: 30px 0px 20px;
        text-align: center;
        overflow: hidden;
        .hilight {
            color: #C1C1C1;
        }

        .summary-result {
            padding: 0 30px;
        }
        .graph-title {
            margin-top: 50px;
        }
    }
    .result--table {
        padding: 0px;
        overflow: auto;
        padding-bottom: 50px;
        margin-bottom: -50px;
    }
    .result-list {
        margin: 50px 20px 0;
    }
    .wrap-table {
        overflow: auto;
        padding: 0 20px;
        min-width: 810px;
    }
    .table--title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .table {
        border: 1px solid rgba(193, 193, 193, 0.5);
        border-radius: 20px;
        margin: 0px auto;
        max-width: 1000px;
        overflow: hidden;

        .tb-col-20 {
            width: 20%;
        }
        .tb-col-25 {
            width: 25%;
        }
        .tb-col-30 {
            width: 30%;
        }
        .tb-col-35 {
            width: 35%;
        }
        .tb-col-40 {
            width: 40%;
        }
        .tb-col-45 {
            width: 45%;
        }
        .tb-col-50 {
            width: 50%;
        }
        .tb-col-60 {
            width: 60%;
        }
        .tb-col-65 {
            width: 65%;
        }
        .tb-col-70 {
            width: 70%;
        }
        .tb-col-80 {
            width: 80%;
        }

        .tb-row {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 14px 30px;
            font-size: 26px;
            line-height: 26px;

            > * {
                text-align: left !important;
            }

            &:nth-child(odd) {
                background-color: white;
            }
            &:nth-child(even) {
                background-color: #FBFBFB;
            }

            &:not(.tb-head) [class^=tb-col-] {
                > *&:nth-child(odd){
                    background-color: white;
                }
                > *&:nth-child(even){
                    background-color: #FBFBFB;
                }
            }
            [class^=tb-col-] {
                text-align: center;
            }
            &:last-child {
                background-color: rgba(193, 193, 193, 0.5);
            }
        }
        .tb-head {
            font-size: 20px;
            line-height: 20px;
            align-items: center;
            padding: 18px 30px;
        }
    }

    .wrap-village-result {
        padding: 0 20px;
    }
}

.hidden-frame {
    overflow: hidden;
}

.wrap-chart {
    margin: 45px auto 35px;
    width: 65%;

    &.bar {
        width: 100%;
        overflow: auto;
        margin-top: 0px;
        margin-bottom: -50px;
        padding-bottom: 50px;

        .wrap-tooltip-area {
            width: 757px !important;
            min-width: 757px;
            padding: 0 30px;

            canvas {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    &:not(.bar) {
        .wrap-tooltip-area {
            padding-top: calc(308 / 608 * 100%);
            
            canvas {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100% !important;
                height: auto !important;
                margin: 0 auto;
            }
        }
        @media(min-width: 1601px) {
            .wrap-tooltip-area {
                padding-top: 300px;
                canvas {
                    height: 100% !important;
                    width: auto !important;
                }
            }
        }
        @media(max-width: 940px) {
            width: 100%;
            padding: 0 25px;
            .wrap-tooltip-area {
                width: 100%;
                height: 100%;
                padding-top: 410px;
                canvas {
                    max-height: 410px;
                }
            }
        }
    }

    .wrap-tooltip-area {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    [id$=-tooltip] {
        position: absolute;
        color: white;
        padding: 8px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: top 0.3s ease, left 0.3s ease, opacity 0.15s ease;
        pointer-events: none;
        opacity: 0;

        &.hide {
            display: none;
        }
    }
}

.wrap-download-btn {
    padding: 50px 0px 63px;
    margin: 10px 20px 0;
    border-top: 1px solid rgba(193, 193, 193, 0.5);

    .button-download {
        border-radius: 25px;
        overflow: hidden;
        width: 220px;
        margin: 0 auto;
    }
    .download-btn {
        width: 100%;
        padding: 12px 26px;
        background-color: #FFA400;
        transition: all 0.4s ease;
        cursor: pointer;

        &:first-child {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                height: 62%;
                width: 1px;
                background-color: rgba(255, 255, 255, 0.5);
                transform: translateY(-50%);
            }
        }

        .download-txt {
            margin-left: 12px;
            font-size: 26px;
            line-height: 26px;
        }

        &:hover {
            background-color: #fdbf48;
        }
    }
}

@media(max-width: 940px) {
    #content {
        padding-top: 65px;
        flex-direction: column;
    }


    .middle-content {
        border-left: none;
        order: 2;
    }
    .outcome-summary {
        padding: 30px 20px 0;
        .title {
            font-size: 28px;
            line-height: 28px;
            text-align: center;
        }
        .pick--date {
            font-size: 20px;
            line-height: 20px;

            .pick--since, .pick--to {
                padding-right: 18px;
            }
            .pick--to {
                margin-right: 0px;
            }
        }
        .company--name {
            font-size: 24px;
            line-height: 25px;
        }

        .wrap-logoes {
            max-width: 100%;
            gap: 45px;
            .company--logo {
                width: 105px;
            }

            .climate--logo {
                width: 100%;
                .IMG {
                    max-height: 62px;
                }
            }
        }
        .climate-result {

            .result-list {
                flex-direction: column;
                margin-top: 35px;
            }

            .title {
                font-size: 23px;
                line-height: 23px;
            }
            .desc,
            .climate--project--name {
                font-size: 21px;
                line-height: 23px;
            }
        }
    }

    .text-to {
        margin-top: 35px;
        text-align: center;
        font-size: 21px;
        line-height: 23px;
    }

    .result {
    
        &:not(:first-child) {
            padding-top: 24px;
        }
        &:not(:last-child) {
            border-right: none;
            border-bottom: 1px solid rgba(193, 193, 193, 0.5);
        }
    }
    .table-area {
        .result-list {
            flex-direction: column;
            margin-top: 35px;
        }
        .result--body {
            padding: 25px 0px 20px;

            .summary-result {
                font-size: 21px;
            }
        }

        .result--head {
            .desc {
                margin-top: 10px;
                font-size: 21px;
            }
        }

        .table--title {
            margin-top: 15px;
        }
        .table {
            .tb-row {
                font-size: 21px;
            }
        }
    }

    .wrap-chart {
        &.bar {
            .wrap-tooltip-area {
                padding: 0 20px;           
            }
        }
    }
    .wrap-village-result {
        .t_26 {
            font-size: 21px;
        }

    }

    .wrap-download-btn {
        padding-top: 0px;
        padding-bottom: 40px;
        border-top: none;
        .download-btn {
            padding: 10px 15px;

            .download-txt {
                margin-left: 12px;
                font-size: 26px;
                line-height: 26px;
            }

            &:hover {
                background-color: #fdbf48;
            }
        }
    }

}