
@import "core/font-family";

.flatpickr-input {
    cursor: pointer;
}
.flatpickr-calendar {
    background-color: white;
    position: absolute;
    // display: none;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(27px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 15px;
    box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    pointer-events: none;
    user-select: none;

    &.open {
        // display: block;
        opacity: 1;
        transform: translateY(7px);
        pointer-events: all;
        user-select: all;
    }
    .flatpickr-months {
        padding: 16px 20px;
        background-color: rgba(255, 164, 0, 0.8);
    }
    .flatpickr-prev-month, .flatpickr-next-month {
        width: 30px;   
        height: 30px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #FFA400
        }
        .icon {
            font-size: 10px;
            color: #424242;
        }
    }
    .flatpickr-prev-month {
        .icon {
            transform: rotate(90deg);
        }
    }
    .flatpickr-next-month {
        .icon {
            transform: rotate(-90deg);
        }
    }
    .flatpickr-months, .flatpickr-current-month {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flatpickr-current-month {
        display: flex;
        align-items: center;
        font-size: 24px;
        .cur-month {
            user-select: none;
        }
        .numInputWrapper {
            display: inline-block;
            max-width: 50px;
            user-select: none;

            .numInput {
                margin-left: 5px;
                width: 100%;
                background-color: transparent;
                .font-reg();
                font-size: 24px;
                line-height: 31px;
                border: none;
                outline: none;
                user-select: none;
                pointer-events: none;

                /* Chrome, Safari, Edge, Opera */
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                
                /* Firefox */
                &[type=number] {
                  -moz-appearance: textfield;
                }
            }
            .arrowUp, .arrowDown {
                display: none;
                user-select: none;
                pointer-events: none;
            }
        }
    }
    .flatpickr-monthDropdown-months {
        background-color: transparent;
        border: none;
        outline: none;
    }
    .flatpickr-innerContainer {
        padding: 20px;
    }
    .flatpickr-weekdaycontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 280px;
        .flatpickr-weekday {
            width: 37px;
            text-align: center;
            user-select: none;
            color: #FFA400;
            font-size: 18px;
            line-height: 29px;
        }
    }
    .dayContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 280px;
        .flatpickr-day {
            width: 37px;
            text-align: center;
            user-select: none;
            font-size: 18px;
            line-height: 29px;
            position: relative;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: calc(50% - 12px);
                left: calc(50% - 12px);
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: white;
            }

            &.selected {            
                color: white;
                cursor: default;
                pointer-events: none;
                &::after {
                    background-color: #FFA400;            
                }
            }
        }
        .prevMonthDay, .nextMonthDay, .flatpickr-disabled {
            color: #BEBEBE;
        }
        .flatpickr-disabled {
            cursor: default;
        }
        .prevMonthDay, .nextMonthDay {
            opacity: 0.5;
        }
    }
}

@media(max-width: 767px) {

}