body{
    @font-face {
        font-family: DB-bold;
        src: url("../fonts/DBHelvethaicaX-Bold.woff");
    }
    @font-face {
        font-family: DB-medium;
        src: url("../fonts/DBHelvethaicaX-Medium.woff");
    }
    @font-face {
        font-family: DB-regular;
        src: url("../fonts/DBHelvethaicaX.woff");
    }
}
.banner-care-the-whale{
    background: url("../images/care-the-whale/banner/bg.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-top: 80px;
    overflow: hidden;
    @media (max-width:768px) {
        padding-top: 65px;
        background: url("../images/care-the-whale/banner/bg_mb.jpg") no-repeat top center;
        background-size: cover;
        padding-bottom: 60px;
    }
    .max-width-banner {
        width: 100%;
        max-width: 1280px;
        margin: auto;
        overflow: visible;
        @media (max-width:768px) {
            flex-direction: column;
        }
    }
    .content-banner-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 72px;
        padding-left: 40px;
        padding-right: 60px;
        padding-bottom: 90px;
        width: 42.96875%;
        max-width: 640px;
        @media(max-width: 1100px) {
            width: 50%;
        }
        @media (max-width:768px) {
            padding: 25px 20px 20px;
            margin: 0 auto;
            width: 100%;
            order: 1;
        }
        img{
            margin-right: auto;
            margin-left: auto;
            max-width: 215px;
            width: 100%;
            @media (max-width:768px) {
                max-width: 113px;
            }
        }
        .title-banner{
            display: inline-block;
            color: #000000;
            text-align: center;
            font-size: 50px;
            line-height: 38px;
            margin-top: 20px;
            @media (max-width:768px) {
                font-size: 29px;
                line-height: 27px;
            }
        }
        .desc-banner{
            display: inline-block;
            color: #000000;
            text-align: center;
            font-size: 30px;
            margin-top: 10px;
            max-width: 450px;
            margin: 10px auto 0;
            @media (max-width:768px) {
                font-size: 23px;
                max-width: 400px;
            }
        }
    }
    .img-in-banner{
        width: 57.03125%;
        position: relative;
        z-index: 1;
        max-width: 640px;
        @media(max-width: 1100px) {
            width: 50%;
        }
        @media (max-width:769px) {
            overflow: visible;
            width: 100%;
            padding-top: 93.75%;
            order: 2;
        }
        img{
            min-width: 870px;
            position: absolute;
            top: -100px;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            min-height: 700px;
            @media (max-width:768px) {
                margin-right: 0;
                margin-left: auto;
                width: 100%;
                min-width: 435px;
                min-height: unset;
                position: absolute;
                top: 0px;
                right: 30px;
            }
        }
    }
}

.show-375 {
    @media(min-width: 376px) {
        display: none;
    }
}

.main-sec-3{
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(97,199,241,.4) 100%);
    z-index: 1;
    position: relative;
    padding: 60px 20px 48px;
    &::after{
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background: url("../images/care-the-whale/sec-3/bg-sec-3.png") center no-repeat;
        background-size: cover;
    }
    .container{
        position: relative;
        z-index: 10;
        max-width:1155px;
        margin: 0 auto;
    }
    .title-sec-3{
        font-size: 40px;
        line-height: 38px;
        text-align: center;
    }
    .desc-sec-3{
        display: block;
        padding-top: 10px;
        font-size: 30px;
        line-height: 28px;
        text-align: center;
    }

    .chart {
        max-width: 484px;
        margin: 25px auto 0;

        .wrap-border {
            position: relative;
            padding-top: 74.2%;
        }
        .wrap-3M {
            img {
                width: 24.380165289256198%;
                height: auto;
                object-fit: contain;
                perspective: 700px;
                transform: scale(1) rotateZ(0deg) rotateY(290deg);
                transition: transform 1.5s cubic-bezier(.29,1.04,.55,1.48);

                &.show {
                    transform: scale(1) rotateZ(0deg) rotateY(0deg);
                }

                &:nth-child(1) {
                    top: calc(29 / 362 * 100%);
                    left: calc(182 / 484 * 100%);
                }
                &:nth-child(2) {
                    top: calc(119 / 362 * 100%);
                    left: calc(338 / 484 * 100%);
                }
                &:nth-child(3) {
                    top: calc(215 / 362 * 100%);
                    left: calc(181 / 484 * 100%);
                }
                &:nth-child(4) {
                    top: calc(119 / 362 * 100%);
                    left: calc(28 / 484 * 100%);
                }
            }
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .instruction-3M {
        margin-top: 45px;
        height: 100%;

        .instruction  {
            border-radius: 20px;
            overflow: hidden;
            width: calc(33.33% - 36px);
            text-align: center;
        }
        .inst-head {
            background-color: #264165;
            padding: 16px 20px;
            color: white;
            font-size: 40px;
            line-height: 38px;
        }
        .inst-body {
            padding: 24px 25px;
            font-size: 26px;
            line-height: 26px;
            background-color: rgba(255, 255, 255, 0.8);
            height: 100%;
        }
    }
}

.whale-privilege {
    position: relative;
    padding: 60px 20px 10px;
    .wrap-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(6,171,221,1) 0%, rgba(8,112,143,1) 100%);
        z-index: -1;
    }
    .container{
        max-width: 1160px;
        margin: 0 auto;
        @media (max-width:992px) {
            margin: 0 40px;
        }
    }
    .title-sec-3{
        font-size: 40px;
        line-height: 38px;
        display: flex;
        justify-content: center;
        color: #ffffff;
        text-align: center;
        @media (max-width:768px) {
            font-size: 29px;
            line-height: 27px;
        }
    }
    .box-content{
        margin-top: 48px;
        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
        }
        .single-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25%;
            padding: 0 20px 50px;
            @media (max-width:940px) {
                width: 33.33%;
            }
            @media (max-width:768px) {
                flex-direction: row;
                max-width: 670px;
                width: 100%;
            }
            .img-content{
                width: 110px;
                height: 110px;
                object-fit: cover;
                max-width: 100%;
                margin: 0 0 20px;
                @media (max-width:768px) {
                    margin: 0;
                    width: 100px;
                    height: 100px;
                }
            }
            .text-content{
                text-align: center;
                font-size: 26px;
                line-height: 26px;
                max-width: 239px;
                width: 100%;
                color: #ffffff;
                @media (max-width:768px) {
                    margin-left: 40px;
                    text-align: start;
                    font-size: 21px;
                    line-height: 21px;
                }
            }
        }
    }
}

.section-performance{
    position: relative;
    z-index: 40;
    -webkit-mask:url('../images/care-the-whale/area/curve_dt.png') repeat-x;
    mask:url('../images/care-the-whale/area/curve_dt.png') repeat-x;
    background-color: #E2F5FD;
    min-height: 740px;
    width: 100%;
    height: 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    @media (min-width:821px) {
        padding-bottom: 40px;
    }
    @media (max-width: 767px) {
        mask: url('../images/care-the-whale/area/curve_mb.svg') repeat-x;
        -webkit-mask: url('../images/care-the-whale/area/curve_mb.svg') repeat-x;
    }
    .title-performance{
        text-align: center;
        display: block;
        padding-top: 80px;
        font-size: 40px;
        font-family: DB-bold;
        color: #000000;
        @media (max-width:768px) {
            font-size: 27px;
        }
    }
    .desc-performance{
        display: block;
        text-align: center;
        font-size: 28px;
        font-family: DB-regular;
        color: #818181;
        @media (max-width:768px) {
            font-size: 23px;
        }
    }
    .wrapper-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 69px;
        @media (max-width:992px) {
            flex-direction: column;
        }
        @media (max-width:768px) {
            margin-top: 40px;
        }
        @media (max-width:576px) {
            margin-top: 30px;
            align-items: start;
        }
        .left-img{
            padding-top: 80px;
            padding-bottom: 80px;
            order: 1;
            @media (max-width:992px) {
                order: 2;
            }
            max-width: 675px;
            width: 100%;
            img{
                width: 100%;
            }
            @media (max-width:576px) {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        .right-content{
            order: 2;
            @media (max-width:992px) {
                order: 1;
            }
            .text-indent-per-year{
                text-indent: 8px;
                display: inline-block;
            }
            .text-indent-eq{
                text-indent: 10px;
                display: inline-block;
            }
            .hanging-co2-1{
                position: relative;
                &::after{
                    position: absolute;
                    content: '2';
                    bottom: -4px;
                    right: -4px;
                    font-size: 20px;
        
                }
            }
            .hanging-co2-2{
                position: relative;
                &::after{
                    position: absolute;
                    content: '2';
                    bottom: -4px;
                    right: -8px;
                    font-size: 20px;
        
                }
            }
            .list-items{
                padding-bottom: 40px;
                display: flex;
                align-items: center;
                @media (max-width:768px) {
                    max-width: 295px;
                    margin: 0 auto;
                }
                @media (max-width:576px) {
                    margin: 0 0;
                }
                &:last-child{
                    padding-bottom: 0;
                    // @media (max-width:768px) {
                    //     padding-bottom: 40px;
                    // }
                    @media (max-width:576px) {
                        padding-bottom: 20px;
                    }
                }
                .icon-cloud{
                    font-size: 63px;
                    color: #264165;
                    margin-right: 16px;
                    margin-left: 0;
                    @media (max-width:768px) {
                        font-size: 48px;
                    }
                }
                .icon-building{
                    font-size: 50px;
                    color: #264165;
                    margin-right: 30px;
                    margin-left: 0;
                    @media (max-width:768px) {
                        font-size: 38px;
                    }
                }
                .icon-tree{
                    font-size: 50px;
                    color: #264165;
                    margin-right: 30px;
                    margin-left: 0;
                    @media (max-width:768px) {
                        font-size: 38px;
                    }
                }
                .icon-recycle-bin{
                    font-size: 50px;
                    color: #264165;
                    margin-left: 0;
                    margin-right: 30px;
                    @media (max-width:768px) {
                        font-size: 38px;
                    }
                }
                .text-list-items{
                    text-align: left;
                    .text-1{
                        white-space: nowrap;
                        color: #000000;
                        font-size: 30px;
                        font-family: DB-medium;
                        line-height: 28px;
                        @media (max-width:768px) {
                            font-size: 23px;
                        }
                    }
                    .text-2{
                        white-space: nowrap;
                        font-size: 60px;
                        color:#264165;
                        font-family: DB-bold;
                        margin-right: 10px;
                        line-height: 58px;
                        @media (max-width:768px) {
                            font-size: 45px;
                        }
                    }
                    .text-3{
                        white-space: nowrap;
                        font-size: 28px;
                        color: #000000;
                        font-family: DB-regular;
                        @media (max-width:768px) {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
    .container{
        max-width: 1131px;
        margin: 0 auto;
        width: 100%;
        @media (max-width:1131px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media(max-width: 940px) {
    .main-sec-3{
        .instruction-3M {
            .instruction  {
                width: calc(33.33% - 10px);
            }
        }
    }
   
    

}

@media(max-width: 767px) {
    .column-xs {
        flex-direction: column;
    }
    
    .main-sec-3{
        padding: 40px 20px 7px;

        .title-sec-3{
            font-size: 29px;
            line-height: 27px;
        }
        .desc-sec-3{
            padding-top: 10px;
            font-size: 23px;
            line-height: 23px;
        }
        .instruction-3M {
            margin-top: 40px;

            .instruction  {
                width: 100%;
                margin-bottom: 30px;
            }

            .inst-head {
                font-size: 29px;
                line-height: 27px;
            }
            .inst-body {
                padding: 20px 17px;
                font-size: 24px;
                line-height: 24px;
            }
        }
    }

    .whale-privilege {
        padding: 40px 20px 10px;

        .container {
            margin: 0;
        }
        .box-content {
            margin-top: 30px;
            .single-content {
                width: 100%;
                padding: 0 0 30px;

                .text-content{ 
                    max-width: 100%;
                    margin-left: 20px;
                }
            }
        }
    }
}