body{
    @font-face {
        font-family: DB-bold;
        src: url("../fonts/DBHelvethaicaX-Bold.woff");
    }
    @font-face {
        font-family: DB-medium;
        src: url("../fonts/DBHelvethaicaX-Medium.woff");
    }
    @font-face {
        font-family: DB-regular;
        src: url("../fonts/DBHelvethaicaX.woff");
    }
    .d-block{
        display: block;
    }
    .d-xl-block{
        display: block;
        @media (max-width:1200px) {
            display: none;
        }
    }
    .d-lg-block{
        display: block;
        @media (max-width:992px) {
            display: none;
        }
    }
    .d-md-block{
        display: block;
        @media (max-width:768px) {
            display: none;
        }
    }
    .d-sm-block{
        display: block;
        @media (max-width:576px) {
            display: none;
        }
    }
    .d-xl-none{
        display: none;
        @media (max-width:1200px) {
            display: block;
        }
    }
    .d-md-none{
        display: none;
        @media (max-width:768px) {
            display: block;
        }
    }
    .d-lg-none{
        display: none;
        @media (max-width:992px) {
            display: block;
        }
    }
    .d-flex{
        display: flex;
    }
    .d-sm-none{
        display: none;
        @media (max-width:576px) {
            display: block;
        }
    }
}
.main-contact{
    .top-contact{
        background: linear-gradient(360deg, rgba(255,255,255,1) 40%, rgba(97,199,241,.4) 100%);
        .container{
            max-width:1093px;
            padding: 0 20px;
            margin: 0 auto;
            @media (max-width:768px) {
                margin: 0 87px;
            }
            @media (max-width:576px) {
                margin: 0 20px;
            }
        }
        .box-contact{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 40px;
            width: 100%;
        }
        .title-contact{
            padding-top: 60px;
            padding-bottom: 30px;
            display: block;
            text-align: center;
            font-size: 30px;
            font-family: DB-medium;
            color: #000000;
            @media (max-width:576px) {
                font-size: 23px;
                padding-bottom: 10px;
            }
        }
        ul{
            list-style: none;
            padding: 0;
        }
        .tag-link{
            text-decoration: none;
            color: inherit;
        }
        .contact-list{
            display: flex;
            align-items: flex-start;
            @media (max-width:992px) {
                max-width: 270px;
                width: 100%;
                margin: 12px auto;
                
            }
            @media (max-width:576px) {
                max-width: 220px;
            }

            .contact-icon {
                font-size: 26px;
                line-height: 26px;
                margin-right: 20px;
                margin-top: 2px;
            }
            .target-link {
                color: #000000;
            }
    
            &:hover {
                .contact-icon,
                .target-link {
                    color: #fdbf48;
                    transition: color 0.3s ease;
                }
            }
        }
        .contact-list-row{
            display: flex;
            width: 100%;
            justify-content: space-between;
            @media (max-width:992px) {
                flex-direction: column;
            }
        }
        .icon-contact{
            margin-left: 0;
            margin-right: 20px;
            display: flex;
            align-self: center;
            @media (max-width:992px) {
                margin-right: 25px;
            }
        }
        .icon-contact{
            &.wal, &.bear {
                align-self: flex-start;
            }
        }
        .text-contact{
            line-height: 28px;
            font-size: 30px;
            font-family: DB-medium;
            @media (max-width:576px) {
                font-size: 23px;
            }
        }
        .text-bear{
            color: #36B7DE;
        }
        .text-wal{
            color: #264165;
        }
        .text-wild{
            color: #3AB34A;
        }
    }
    
    .title-bot-contact{
        font-size: 40px;
        color: #000000;
        font-family: DB-bold;
        display: block;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 42px;
    }
    .bot-contact{
        
        .box-content{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .filter-another-1{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%,0);
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 140%);
                z-index: 99;
            }
        }
        .bear-active, .whale-active, .wild-active{
            position: relative;
            &::after{
                transition: .4s ease;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top:0;
                left: 0;
                opacity: 0;
                z-index: 100;

            }
        }
        .bear-active{
            &::after{
                background: linear-gradient(180deg, rgba(6,171,221,1) 0%, rgba(8,112,143,1) 100%);

            }
        }
        .whale-active{
            &::after{
                position: absolute;
                background: linear-gradient(360deg, rgba(31,60,97,1) 0%, rgba(46,141,197,1) 100%);

            }
        }
        .wild-active{
            &::after{
                background: linear-gradient(180deg, rgba(58,179,74,1) 0%, rgba(68,149,119,1) 100%);

            }
        }
        .bear-active{
            &.active-bear{
                pointer-events: none;
                .another-content{
                    transition: .4s ease;
                    top: 50%;
                    @media (max-width:576px) {
                        top: 55%;
                    }
                }
                &::after{
                    opacity: 0.9;
    
                }
            }
        }
        .whale-active{
            &.active-whale{
                pointer-events: none;
                .another-content{
                    transition: .4s ease;
                    top: 50%;
                    @media (max-width:576px) {
                        top: 55%;
                    }
                }
                &::after{
                    opacity: 0.9;
    
                }
            }
        }
        .wild-active{
            &.active-wild{
                pointer-events: none;
                .another-content{
                    transition: .4s ease;
                    top: 50%;
                    @media (max-width:576px) {
                        top: 55%;
                    }
                }
                &::after{
                    opacity: 0.9;
    
                }
            }
        }
        .another{
            &:hover::after{
                opacity: .9;
            }
            &:hover .another-content{
                top: 50%;
            }
           
            position: relative;
            .another-img{
                max-width: 100%;
                width: 1000px;
                height: 300px;
                object-fit: cover;
                @media (max-width:576px) {
                    height: 200px;
                }
            }
            .another-content{
                transition: .4s ease;
                width: 100%;
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 999;
                @media (max-width:1024px) {
                    top: 60%;
                }
                .icon-1{
                    margin-bottom: 9px;
                    @media (max-width:1024px) {
                        max-width: 48%;
                    }
                    @media (max-width:768px) {
                        max-width: 100%;
                    }
                    @media (max-width:576px) {
                        max-width: 45px;
                    }
                }
                .icon-2{
                    margin-bottom: 15px;
                    @media (max-width:1024px) {
                        max-width: 60%;
                    }
                    @media (max-width:768px) {
                        max-width: 100%;
                    }
                    @media (max-width:576px) {
                        max-width: 70%;
                    }
                    @media (max-width:576px) {
                        max-width: 52px;
                    }
                }
                .icon-3{
                    margin-top:-17px;
                    @media (max-width:1024px) {
                        max-width: 60%;
                    }
                    @media (max-width:768px) {
                        max-width: 100%;
                    }
                    @media (max-width:576px) {
                        max-width: 41px;
                    }
                }
                .single-another-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                }
                .text-another{
                    width: 100%;
                    display: block;
                    max-width: 100%;
                    display: block;
                    color: #ffffff;
                    font-size: 28px;
                    font-family: DB-medium;
                    text-align: center;
                    @media (max-width:1024px) {
                        font-size: 25px;
                    }
                    @media (max-width:768px) {
                        font-size: 18px;
                    }
                    @media (max-width:576px) {
                        font-size: 18px;
                    }
                }
                
            }
        }
    }
}

@media(max-width: 767px) {
    .main-contact {
        .title-bot-contact {
            font-size: 30px;
            line-height: 28px;
            padding-top: 40px;
            padding-bottom: 20px;
        }
    }
}