.wrap_footer {
    background-color: #333333;
    padding: 40px 20px;
    margin-bottom: -50px;

    &.expand , &.thank_you{
        padding: 60px 20px;
    }

    &.appended {
        display: block !important;
    }
}
.footer_content {
    color: white;
    text-align: center;
    .title {
        font-size: 30px;
        line-height: 28px;
    }
    .desc {
        font-size: 20px;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
.footer_link {
    position: relative;
    text-decoration: underline;
    color: white;
    font-size: 20px;
    line-height: 20px;

    &:not(:first-child) {
        padding-left: 10px;
        &::before {
            content: '';
            position: absolute;
            left: 5px;
            top: 5px;
            display: inline-block;
            width: 1px;
            height: 15px;
            background-color: white;

        }
    }
}

.sticky_register {
    position: sticky;
    z-index: 40;
    bottom: 70px;
    left: 100%;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.25s ease;
    width: 100%;
    height: 0;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    &.top {
        z-index: 100;
    }
    &.hide {
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }
    .wrap_btn {
        width: 225px;
    }
}
.dim_panel {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .panel_content {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 30px 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    
        &.center {
            justify-content: center;
            align-items: center;
    
            .menu_wrapper { 
                flex-direction: row;
                justify-content: center;
                width: 100%;
                padding-bottom: 150px;
                transform: translateY(0%) !important;
            }
            .menu {
                margin: 0 20px;
                &:nth-child(1) {
                    transform: translateX(100%);
                }
                &:nth-child(2) {
                    transform: translateX(0%);
                }
                &:nth-child(3) {
                    transform: translateX(-100%);
                }
            }
            .show {
                .menu {
                    &:nth-child(1) {
                        transform: translateX(0%);
                    }
                    &:nth-child(2) {
                        transform: translateX(0%);
                    }
                    &:nth-child(3) {
                        transform: translateX(0%);
                    }
                }
            }
    
            .wrap_close {
                top: 50%;
                bottom: auto;
                left: calc(50% - 20px);
            }
        }
    }
    
    .menu_wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 120px;
        padding-bottom: 40px;
        transform: translateY(100%);
        transition: transform 0.4s ease, opacity 0.4s ease;
        opacity: 0;
        @keyframes jump-in {
            0% {
                transform: translateY(100%);
                opacity: 0;
                pointer-events: none;
            }
            40% {
                opacity: 0;
            }
            100% {
                transform: translateY(0%);
                opacity: 1;
                pointer-events: all;
            }
        }
        &.show {
            animation-name: jump-in;
            animation-duration: 0.6s;
            animation-timing-function: ease;
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .wrap_close {
        position: absolute;
        bottom: 30px;
        right: 60px;
    }
    
    .menu {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: #EFB73E;
        border-radius: 50px;
        transition: width 0.4s ease, height 0.4s ease, border-radius 0.4s ease, transform 0.6s ease;
        margin-bottom: 20px;
    
        &:hover {
            width: 120px;
            height: 120px;
            border-radius: 60px;
            background-color: transparent;
            .hover_bg {
                opacity: 1;
            }
        }
    
        .icon_cate {
            margin: 0;
            position: relative;
            z-index: 10;
        }
    }
    
    .hover_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transform-origin: 100%;
        transition: opacity 0.4s ease;
    }
}


@media(max-width: 767px) {
    .wrap_footer {
        margin-bottom: -62px;
        padding: 30px 20px;
        &.expand {
            padding: 30px 20px 82px;
        }&.thank_you{
            padding: 30px 20px;
        }
    }
    .footer_content {
        .title {
            font-size: 19px;
            line-height: 18px;
        }
        .desc, .footer_link {
            font-size: 18px;
        }
    }

    .sticky_register {
        width: 180px;
        margin-right: 0px;
        bottom: 70px;
    }

    .dim_panel {
        .panel_content {
            padding: 30px 10px 10px;
    
            &.center {
        
                .menu_wrapper { 
                    padding-bottom: 230px;
                }
                .menu {
                    &:nth-child(1) {
                        transform: translateX(100%);
                        margin: 0;
                    }
                    &:nth-child(2) {
                        transform: translateX(0%);
                        margin: 0 0 0 17px;
                    }
                    &:nth-child(3) {
                        transform: translateX(-100%);
                        margin: 0 0 0 17px;
                    }
                }
                .show {
                    .menu {
                        &:nth-child(1) {
                            transform: translateX(0%);
                        }
                        &:nth-child(2) {
                            transform: translateX(0%);
                        }
                        &:nth-child(3) {
                            transform: translateX(0%);
                        }
                    }
                }
        
                .wrap_close {
                    top: calc(50% - 40px);
                    left: calc(50% - 20px);
                }
            }
        }
        .wrap_close {
            bottom: 10px;
            right: 50px;
        }
        .menu_wrapper {
            padding-bottom: 54px;
        }
        .menu {
            width: 100px;
            height: 100px;
            background-color: transparent;
            margin-bottom: 10px;
        }
        .hover_bg {
            opacity: 1;
        }
    }
}