@import "core/variable";
@import "core/mixin";
@import "core/font-family";

@success-color: #409D18;
@mainBlack: black;
@mainLightBlue: blue;
@white: white;
@loader-size: 20px;
@check-height: (@loader-size / 2);
@check-width: (@check-height / 2);
@check-thickness: 2px;
@check-color: @success-color;
@screen-xs: 767px;
@globalTime: 600ms;
@globalTimeFast: 300ms;
@placeholder-top-xs: 28px;

.common-form {
    // .text-label{
    //     line-height: 10px;
    // }
    &.space20{
        .wrap-col-form {
            @media (min-width: 540px) {
                margin-left: -20px;
            }
            &.no-bt{
                margin-bottom: 0;
            }
        }
        .col-form {
            @media (min-width: 540px) {
                padding-left: 20px;
            }
        }
        .wrap-input-text {
            margin-bottom: 20px;
        }
        .placeholder {
            top: 15px;
        }
        .input-type-text{
            width: 100%;
            &:focus,
            &:valid,
            &:disabled,
            &.have-data {
                & ~ .placeholder {
                    top: 5px;
                }
            }
        }
    }
    .wrap-col-form {
        // recommend use bundle class name "flex content-wrap" (see site.less)
        @media (min-width: (@screen-xs + 1)) {
            margin-left: -10px;
        }
        margin-bottom: 10px;        
    }
    .col-form {
        width: 100%;
        @media (min-width: (@screen-xs + 1)) {
            padding-left: 10px;
            // width: 100%;
            // &:not(.stretch) {
            //     width: 50%;
            // }
            &.two {
                width: 50%;
            }
            &.three {
                width: 33.33%;
            }
            &.four {
                width: 25%;
            }            
        }
        &.telephone {
            margin-bottom: 10px;
        }
        &.z9{
            position: relative;
            z-index: 9;
        }
        &.z8{
            position: relative;
            z-index: 8;
        }
        &.z7{
            position: relative;
            z-index: 7;
        }
        &.z6{
            position: relative;
            z-index: 6;
            padding-bottom: 55.5px;
        }
    }
    .wrap-input-text {
        height: auto;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        display: inline-block;
        &.telephone {
            display: inline-flex;
            // border: 1px solid #214AF4;
            border-radius: 25px;
            margin-bottom: 0px;
            align-items: center;
            position: relative;
            z-index: 1;
            &.disabled-telephone {
                user-select: none;
                background-color: #F5F5F5;
                border: 1px solid #D9D9D9;
                pointer-events: none;
                color: #9D9D9D;
                .input-type-text {
                    background-color: #F5F5F5;
                    color: #9D9D9D;
                    border: none !important;
                }
                .simple-dropdown {
                    background-color: #F5F5F5;
                    pointer-events: none;
                    .dropdown-show-selected {
                        color: #9D9D9D;
                        filter: grayscale(1);
                        .-icon {
                            display: none;
                        }
                    }
                }
            }
            .simple-dropdown {
                border: none;
                min-width: 110px;
            }
            .input-type-text {
                // border: none;
                border: 1px solid white !important;
            }
            .barrier {
                border-left: #D8D8D8 1px solid;
                height: 30px;
                display: block;
            }
            .dropdown-show-selected{
                .-text{
                    padding-right: 25px;
                }
            }
            .input-type-text{
                padding-left: 10px;
            }
            .box-inp{
                position: relative;
                z-index: 1;
                &.wrap-input-text{
                    margin-bottom: 0;
                }
                .placeholder{
                    left: 10px;
                }
            }
        }
        &.subscribe {
            margin-bottom: 0px;
        }
        &.text-area {
            width: 100%;
            padding-left: 10px;
        }
        &.have-icon{
            .ic-inp{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 10px;
                right: 20px;
                color: #999999;
            }
            .ic-eye{
                cursor: pointer;
            }
            .input-type-text {
                padding-right: 30px;
            }
        }
        .add-btn-inp{
            position: absolute;
            z-index: 999;
            right: 20px;
            top: 50%;
            .transform(translateY(-50%));
        }
        &.disabled {
            user-select: none;
            .input-type-text {
                background-color: #F5F5F5;
                border: 1px solid #D9D9D9;
                pointer-events: none;
                color: #9D9D9D;
            }
            .simple-dropdown {
                background-color: #F5F5F5;
                border: 1px solid #D9D9D9 !important;
                pointer-events: none;
                .dropdown-show-selected {
                    color: #9D9D9D;
                    .-icon {
                        display: none;
                    }
                }
            }
        }
        &.focus {
            z-index: 99;
        }
        &.disabledTelField{
            user-select: none;
            border: 1px solid #D9D9D9;
            background-color: #F5F5F5;
            .input-type-text {
                border: none !important;
                pointer-events: none;
                color: #9D9D9D;
                background-color: transparent;
            }
            .simple-dropdown {
                background-color: transparent;
                border: 1px solid transparent;
                pointer-events: none;
                .dropdown-show-selected {
                    color: #9D9D9D;
                }
            }
        }

        &.invalid {
            .simple-dropdown {
                &.open {
                    border-color: red !important;
                }
            }
        }
    }
    .hints{
        color: red !important;
    }
    .ic-eye{
        display: block;
        position: absolute;
        top: 28px;
        right: 0;
        font-size: 18px;
        line-height: 20px;
        padding: 0 0 0 20px;
        color: #B3B3B3;
        z-index: inherit;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;

        &.icon-eye-close{
            font-size: 19px;
            right: -1px;
        }
    }
    .input-type-text {
        display: block;
        .size(100%,30px); // 100%,30px
        .font(26px,30px);
        color: #000;
        border-bottom: 1px solid #C1C1C1;
        border-radius: 0;
        background-color: #ffffff;
        box-shadow: none;
        margin-top: 25px;
        padding: 0 0 2px;
        -webkit-appearance: none;
        appearance: none;

        @media (max-width: @screen-xs) {
            margin-top: 33px;
        }
        // .transition(border @globalTimeFast);
        &:required {
            box-shadow: 0 0 0;
        }
        &:disabled {
            background-color: #F5F5F5;
            border-color: #D9D9D9;
            color: #9D9D9D;
        }

        &:focus,
        &:valid,
        &:disabled,
        &.have-data {
            & ~ .placeholder {
                top: 0;
            }
        }
        &:focus,
        &:valid,
        &:disabled,
        &.have-data {
            & ~ .placeholder {
                top: 0px;
                font-size: 18px;
                line-height: 20px;
                color: #000;
                .font-med();
                @media (max-width:767px) {
                    top: -22px;
                }
            }
            &.input-type-text {
                .font-reg();
            }
        }

        &:focus,
        &:disabled {
            border-bottom-color: @color-yellow;
            color: @color-black;
            border-bottom-width: 2px;
        }
        &:not(.have-data) {
            &:focus {
                color: @color-black;
                border-bottom-color: @color-yellow;
                border-bottom-width: 2px;
            }
        }
        &.have-data {
            &:focus,
            &:active {
                border-bottom-color: @color-yellow;
                border-bottom-width: 2px;
                color: @color-yellow !important;
            }
        }
        // custom form type email.
        &.email-have-data {
            & ~ .placeholder {
                top: 2px;
                font-size: 16px;
                color: #666666;
            }
        }
        &.text-area {
            max-width: 100%;
            height: 100px;
            padding-top: 20px;
            .placeholder {
                top: 25px;
            }
        }        
    }
    .placeholder {
        position: absolute;
        top: 20px;
        left: 0px;
        font-size: 26px;
        color: @color-gray;
        white-space: nowrap;
        font-weight: normal;

        @media (max-width: @screen-xs) {
            top: 3px;
            font-size: 21px;
            line-height: 26px;
        }
        pointer-events: none;
        .user-select(none);
        .transition(all @globalTimeFast);

        &.telephone {
            left: 120px;
        }

        &.detail-textarea {
            left: 30px;
        }

        [class^=icon-] {
            font-size: 16px;
            color: #000;
            margin-right: 10px;
        }
    }
    .valid-message {        
        position: absolute;
        bottom: 10px;
        width: 100%;
        max-height: 0;
        text-align: start;
        .transform(translateY(100%));
        padding-top: 10px;
        display: block;
        opacity: 1;
        color: red;
        .bubble{
            background-color: #FDE2E2;
            color: #FF1919;
            position: relative;
            border-radius: 15px;
            font-size: 16px;
            line-height: 16px;
            white-space: nowrap;
            padding: 0;
            display: inline-block;
            z-index: inherit;
            .scale(0.2);
            opacity: 0;
            .transition(all 300ms cubic-bezier(0,1.63,1,1));
            &:before{
                content: '';
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #FDE2E2;
                position: absolute;
                top: 0;
                left: 50%;
                .transform(translateX(-50%));
                .transition(top 400ms);
            }
        }
    }
    
    // checkbox
    .wrap-input-checkbox {
        position: relative;
        min-height: 20px;
        cursor: pointer;

        &.invalid {
            .checking-box,
            .checking-text {
                color: red;
                a {
                    color: red;
                }
            }
        }
        &.login-display {
            display: none;
        }
    }
    .input-type-checkbox {
        position: absolute;
        opacity: 0;
        margin: 0;

        & ~ .checking-text {
            white-space: normal; // nowrap;
        }

        &:hover {
            & ~ .checking-text {
                color: @mainBlack;
            }
        }

        &:checked {
            & ~ .checking-box {
                border-color: #FFA400;
                background: #FFA400;
                .icon {
                    opacity: 1;
                }
            }
            & ~ .checking-text {
                color: @mainBlack !important;
            }
        }
    }
    .checking-box {
        .size(22px,22px);
        min-width: 22px;
        border: 1px solid #979797;
        text-align: center;
        background-color: transparent;
        border-radius: 4px;
        .transition(all @globalTimeFast);
        cursor: pointer;

        .icon {
            .font(13px,20px);
            display: block;
            color: #FFF;
            opacity: 0;
            .transition(opacity @globalTimeFast);
        }
    }
    .checking-text {
        font-size: 20px;
        color: #000000;
        margin-left: 10px;
        .transition(color @globalTimeFast);
    }
    // radio button
    .input-type-radio {
        background-color: transparent;
    }

    // checkbox button
    .input-type-checkbutton {
        border: 1px solid #666666;
        background-color: transparent;
        color: #000;
        font-size: 20px;
        padding: 5px 10px;
        .transition(color @globalTime,background @globalTime,border @globalTime);
        text-align: center;
        cursor: pointer;
        .icon-Check {
            color: #FFF;
            font-size: 12px;
            width: 0;
            opacity: 0;
            text-align: left;
            .transition(width @globalTime,opacity @globalTime);
        }
        &.checked {
            color: #FFF;
            background-color: #58C1E9;
            border-color: #58C1E9;
            .icon-Check {
                width: 22px;
                opacity: 1;
            }
        }
        .media-desktop({
            &:hover {
                &:not(.checked) {
                    border-color: @mainBlack;
                }
                &.checked {
                    background-color: #3EABD5;
                    border-color: #3EABD5;
                }
            }
        });
    }

    // === radio button ===
    .wrap-radio {
        position: relative;
        // height: 30px; // 20px
        width: 100%;
        padding-bottom: 13px;
        @media (min-width: (@screen-xs + 1)) {
            width: 100%;
            &:not(.stretch) {
                width: 50%;
            }
            &.four {
                width: 25%;
            }
        }
    }
    .input-type-radio {
        .size(100%,100%);
        position: absolute;
        z-index: 1;
        opacity: 1;
        margin: 0;
        left: 0;
        top: 0;
        cursor: pointer;
        & ~ .radio-text {
            white-space: nowrap;
        }
        &:hover {
            & ~ .radio-text {
                color: @mainBlack;
            }
        }
        &:checked {
            & ~ .radio-box {
                border-color: @mainLightBlue;
                background-color: @mainLightBlue;
                opacity: 1;
                z-index: 1;
                left: 0;
                top: 0; 
                &:after {
                    opacity: 1;
                }

                .icon-Check  {
                    opacity: 1;
                }
            }
            & ~ .radio-text {
                color: @mainLightBlue !important;
            }
        }
    }
    .radio-box {
        .size(16px,16px);
        min-width: 16px;
        border: 1px solid #979797;
        margin-right: 10px;
        position: relative;
        margin-top: 2px;
        .border-all-radius(50%);
        .transition(background-color @globalTime, border-color @globalTime);
        &:after {
            .size(6px,6px);
            .border-all-radius(50%);
            content: '';
            background-color: @white;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            opacity: 0;
            .transition(opacity @globalTime);
        }
    }
    // input valide radio
    .wrap-input-text.invalid {
        z-index: 40;
        .title-input-field {
            color: red !important;
        }
    }

    // dropdown
    .dropdown-item {
        position: relative;
        z-index: 1;
        .simple-dropdown {
            height: 50px;
            border: 1px solid #214AF4;
        }
        // .dropdown-placeholder {
        //     // top: 14px;
        // }
        .dropdown-show-selected {
            .-icon{
                top: 23px;
            }
        }
    }
    .dropdown-item-box {
        .simple-dropdown {
            height: 50px;
            border: 1px solid #214AF4;
        }
        .hints{
            color: red !important;
        }
        .dropdown-show-selected {
            .-icon{
                top: 23px;
            }
        }
    }
    // invalid
    .invalid:not(.checkbox-group-parent) {
        // .valid-message {
        //     // display: block;
        //     z-index: 0;
        // }
        .input-type-text {
            border-color: red;
        }
        &.telephone {
            border-color: red;
        }
        &.focus {
            // z-index: 99;
            z-index: 100;
            .valid-message {                
                z-index: 99;
                opacity: 1;
                max-height: 100px;
                .bubble{
                    padding: 7px 15px;
                    opacity: 1;
                    .scale(1);
                    &::before{
                        top: -5px;
                        transition-delay: 0.2s;
                    }
                }
            }
        } 
        .simple-dropdown {
            border-color: red;
        }
        .placeholder {
            color: red !important;
        }
        .dropdown-placeholder {
            color: red !important;
        }

        // checkbox
        .checking-box {
            border-color: red;
        }
        .checking-text:not(.no-valid) {
            color: red !important;
        }

        // radio
        .radio-box {
            border-color: red;
        }
    }
    .box-consent{
        height: 160px;
        margin: 20px 0 30px;
        text-align: left;
        color: grey;
        .consent-detail{
            background-color: #F9F9F9;
            padding: 20px;
            max-height: 100%;
            overflow-y: auto;
            font-size: 18px;
            line-height: 20px;
            border-radius: 10px;
            .title-consent{
                font-size: 20px;
                line-height: 22px;
                color: @mainBlack;
            }
            .udl{
                color: inherit;
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
            ol{
                margin: 10px 0 0;
                padding-left: 15px;
            }
        }
    }
    .checkbox-consent{
        .wrap-input-checkbox{
            height: auto;
            .checking-text{
                color: #777777;
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
    .box-check-box-email{
        position: absolute;
        top: 38px;
        right: 0;
        .size(15px,15px);
        z-index: 1;
        opacity: 0;
        .transition(opacity @globalTime);

        .preview-check {
            opacity: 0;
        }
        &.gray {
            .preview-check {
                &:after {
                    border-color: #9D9D9D !important;
                }
            }
        }
        &.pass {
            opacity: 1;
            .preview-check {
                display: block;
                opacity: 1;
                &.draw:after {
                    animation-duration: 600ms;
                    animation-timing-function: ease;
                    animation-name: checkmark;
                    transform: scaleX(-1) rotate(135deg);
                    transform-origin: 0 0;
                }
                &:after {
                    opacity: 1;
                    height: @check-height;
                    width: @check-width;
                    transform-origin: left top;
                    border-right: @check-thickness solid @check-color;
                    border-top: @check-thickness solid @check-color;
                    content: '';
                    left: 0;
                    top: 0;
                    position: absolute;
                }
            }
        }
    }  
}
.keyframes(checkmark,{
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: @check-width;
      opacity: 1;
    }
    40% {
      height: @check-height;
      width: @check-width;
      opacity: 1;
    }
    100% {
      height: @check-height;
      width: @check-width;
      opacity: 1;
    }
});
@media (min-width: (@screen-xs + 1)) {
    .common-form {
        .wrap-col-form {
            margin-left: -30px;
        }
        .col-form {
            padding-left: 30px;
        }
    }
}
@media (max-width: @screen-xs) {
    .common-form {
        .wrap-input-text {
            display: block;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 40px;
            }

            &.text-area {
                padding-left: 0px;
            }
            &.dropdown-project {
                margin-top: 10px
            }
            .ic-eye {
                top: 30px;
            }
        }

        .input-type-text {
            max-width: 100%; 
            font-size: 21px;
            line-height: 21px;
        }

        .placeholder {
            &.detail-textarea {
                left: 20px;
            }
        }
    }
}