.section_objective {
    background: linear-gradient(to bottom, rgba(234, 177, 66, 0.01), rgba(62, 189, 205, 0.17));
    padding-top: 20px;
    padding-bottom: 60px;
    .wrap_list_objective {
        display: flex;
        justify-content: space-between;
        max-width: 1060px;
        margin: 0 auto;
    }
    .objective {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        width: 33.33%;
    
        img {
            width: 180px;
            height: 180px;
            margin-bottom: 20px;
        }
        .obj_title {
            font-size: 30px;
            line-height: 28px;
            text-align: center;
        }
    }
}
@media(max-width: 940px) {
    .section_objective {
        .objective {
            img {
                width: 140px;
                height: 140px;
            }
            .obj_title {
                font-size: 24px;
                line-height: 20px;
            }
        }
    }

}
@media(max-width: 767px) {
    .section_objective {
        background: linear-gradient(to bottom, rgba(234, 177, 66, 0.01), rgba(234, 177, 66, 0.04), rgba(62, 189, 205, 0.17));
        padding-bottom: 50px;

        .wrap_list_objective {
            flex-wrap: wrap;
            padding: 0 20px;
        }
        
        .objective {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            img {
                width: 100px;
                height: 100px;
                margin: 0 15px 0 0;
            }
            .obj_title {
                font-size: 23px;
                line-height: 23px;
                text-align: left;
            }
        }
    }
}