.show_375 {
    display: none;
    @media(max-width: 414px) {
        display: inline-block;
    }
}
.section_img_organi {
    padding: 50px 0 32px;
    overflow: hidden;
    .wrap_inner_section {
        max-width: 1200px;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
    }
    .organi_title {
        font-size: 30px;
        line-height: 28px;
    }
    
    .slider_organization {
        margin-top: 50px;
        width: calc(100% + 50px);
        margin-left: -25px;
        height: 100%;
        overflow: hidden;
    
        .slide_bullet {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: #FFD17F;
            cursor: pointer;
            &:not(:first-child) {
                margin-left: 15px;
            }
    
            &.active {
                background-color: #FFA400;
            }
        }
    }
    
    .logo {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 10%;
        max-height: 90px;
        padding: 25px;
        margin: 0;
        object-fit: contain;
        user-select: none;
    }
    
    .filtered_logo {
        width: 10% !important;
    }
}

// popup filter
.popup-filter {
    position: fixed;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: top 0.6s ease;

    &.show {
        top: 0%;

        .wrap_bg_head {
            top: 0%;
        }
    }
    .popup_box {
        height: 100%;
    }
    .organi_title {
        font-size: 40px;
        line-height: 38px;
    }
    .wrap_bg_head {
        position: fixed;
        z-index: 10;
        top: 100%;
        left: 0px;
        right: 0px;
        padding: 60px 0 40px;
        background: linear-gradient(to bottom, #CBE9E7 0%, #FCF9F2 50%);
        transition: top 0.6s ease;
    }
    .wrap_head {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }
    .wrap_dropdown {
        position: relative;
        width: 210px;
        margin-right: 20px;
        .icon_dropdown {
            position: absolute;
            right: 20px;
            top: calc(50% - 7px);
            font-size: 15px;
            line-height: 15px;
            transform-origin: center;
            transition: transform 0.4s ease;
            pointer-events: none;
    
            &.fliped {
                transform: rotate(180deg) translateY(3px);
            }
        }
    }
    .wrap_list {
        background-color: white;
        height: 100%;
        padding-top: 154px;
        overflow: auto;
        margin-bottom: 20px;
    }
    
    .max_width_list {
        max-width: 1210px;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        img {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 10%;
            max-height: 90px;
            padding: 25px;
            margin: 0;
            object-fit: contain;
            user-select: none;
        }
    }
}

@media(max-width: 767px) {
    .popup-filter {
        .wrap_bg_head {
            padding: 25px 0 21px;
        }

        .organi_title {
            font-size: 29px;
            line-height: 27px;
        }
        .wrap_dropdown {
            position: relative;
            width: 100px;
            margin-right: 10px;
        }
        .wrap_list {
            padding-top: 110px;
        }
        .max_width_list {
            img {
                max-height: 80px;
                padding: 25px;
            }
        }
    }
}

@media(max-width: 500px) {
    .popup-filter {
        .max_width_list {
            .logo {
                width: 25%;
                max-height: 65px;
                padding: 17px;
            }
        }
    }
}