.section-news {
    background: linear-gradient(to bottom, rgba(252, 176, 51, 0), rgba(226, 245, 247, 1));
    overflow: hidden;
    padding: 40px 20px 85px;
    position: relative;
    z-index: 1;

    .wrap_slider {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        height: 330px;
    }
    .section-title {
        font-size: 40px;
        line-height: 38px;
        text-align: left;
    }
    .wrap_arrow {
        margin-top: 30px;
    }
    .arrow {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        border: 1.5px solid black;
        cursor: pointer;
        transition: all 0.3s ease;
        &:not(.right) {
            margin-right: 8px;
        }
    
        .icon {
            font-size: 21px;
            line-height: 21px;
            color: black;
        }
    
        &.arrow_disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
    .slide_panel {
        position: relative;
        z-index: 10;
        width: 230px;
    }
    .slider_news {
        width: calc(100% - 230px);
        .slide_news {
            display: inline-block;
            border-radius: 20px;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
            width: 350px !important;
            height: 330px !important;
            overflow: hidden;
            transform: scale(1) translateZ(0);
            transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.2s ease;
            &:hover {
                transform: scale(1.1) translateZ(0);
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
        
                .wrap_detail {
                    background-color: #FBD64A;
                }
            }
            &.prev {
                opacity: 0;
                pointer-events: none;
                user-select: none;
            }
            &.next, &.active {
                opacity: 1;
            }
        }
        .link_slide {
            cursor: inherit;
        }
    }
    .wrap_img {
        position: relative;
        height: 200px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .wrap_detail {
        height: 130px;
        padding: 26px 30px 22px;
        font-size: 26px;
        line-height: 26px;
        transition: background-color 0.3s ease;
        background-color: white;
    
        .date {
            color: #424242;
        }
        .news_title {
            color: black;
            margin-top: 4px;
            white-space: normal;
            display: -webkit-box;
            line-height: 26px;
            max-height: 52px; /* Fallback for non-webkit */
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media(max-width: 767px) {
    .section-news {
        padding: 20px 20px 65px;

        .wrap_slider {
            height: auto;
            flex-direction: column;
        }
        .slide_panel {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
    
            .section-title {
                padding-right: 42px;
                font-size: 29px;
                line-height: 27px;
                margin: 0;
            }
            .arrow {
                width: 30px;
                height: 30px;
                border: 1px solid black;
    
                .icon {
                    font-size: 12px;
                    line-height: 12px;
                }
            }
        }
        .slider_news {
            width: 100%;
            margin-top: 45px;
            padding-left: 14px;
            padding-right: 14px;
            .slide_news {
        
                width: 262px !important;
                height: 250px !important;
                opacity: 1;
    
                &.swiper-slide-active {
                    transform: scale(1.1) translateZ(0);
                    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
            
                    .wrap_detail {
                        background-color: #FBD64A;
                    }
                }
                &.prev {
                    opacity: 1;
                }
            }
        }
        .wrap_img {
            height: 150px;
        }
        .wrap_detail {
            height: 100px;
            padding: 15px;
    
            .date, .news_title {
                font-size: 21px;
                line-height: 21px;
            }
        }
        .wrap_arrow {
            margin-top: 0px;
        }
    }
}