@import 'core/mixin';

@cate_bear_color: #36B7DE;
@cate_whale_color: #106BAF;
@cate_elephant_color: #6DC169;

.hoverFx(@color1: white, @color2: white, @bgColor1: black, @bgColor2: black) {
    color: @color1;
    background-color: @bgColor1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
        color: @color2;
        background-color: @bgColor2;
    }
}

@media(min-width: 557px) {
    .show_556 {
        display: none;
    }
}
@media(max-width: 556px) {
    .hide_556 {
        display: none;
    }
}

.ocean_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    max-height: 770px;
    min-height: 770px;
}

.ocean_bg img {
    position: absolute;
    top: auto;
    bottom: 17px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    min-width: 2000px;
    max-width: 2500px;
}
.wrap_content_banner {
    position: absolute;
    z-index: 2;
    top: 130px;
    left: auto;
    right: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    pointer-events: none;
    .title {
        font-size: 54px;
        line-height: 38px;
        color: black;
    }
    .desc {
        font-size: 30px;
        line-height: 28px;
        color: black;
        margin: 16px auto 0;
        max-width: 520px;
    }
}
.wrap_cloud {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}
.cloud_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 3s linear, opacity 2s linear;
    .cloud {
        position: absolute;
        &:nth-child(1) {
            top: 80px;
            left: -558px;
        }
        &:nth-child(2) {
            top: 160px;
            left: -1040px;
        }
        &:nth-child(3) {
            top: 190px;
            left: -270px;
            @media(max-width:940px) {
                display: none;
            }
            @media(max-width: 767px) {
                display: block !important;
            }
        }
    }
}
.banner {
    position: relative;
    min-height: 770px;
    z-index: 40;

    .wrap_img_banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        min-height: 770px;
    }


    .relative_frame {
        position: relative;
        min-height: 770px;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        max-width: 1280px;
        margin: 0 auto;
    }

    .background {
        position: absolute;
        z-index: 2;
        width: 100%;
        bottom: 0;
        left: auto;
        right: auto;
        object-fit: contain;
        min-width: 1590px;
        pointer-events: none;

        @media(min-width: 1280px) {
            max-width: 1475px;
        }
    }
    &.dim_active {
        z-index: 100;
        .wrap_img_banner {
            &:not(:first-child) {
                z-index: 100;
            }
        }
    }
    .dim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 200;
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background-color: rgba(0, 0, 0, 0.6);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    
        &.show {
            animation-name: fade-in;
            animation-timing-function: ease-out;
            animation-duration: 0.2s;
            pointer-events: all;
        }
        &:not(.show) {
            opacity: 0;
            pointer-events: none;
        }
    }
    
    // character
    .wrap_character {
        position: absolute;
        z-index: 1;
    
    
        &.char_bear {
            top: 380px;
            left: calc(122 / 1280 * 100%);
        }
        &.char_whale {
            top: 508px;
            left: calc(470 / 1280 * 100%);
        }
        &.char_elephant {
            top: 402px;
            left: calc(958 / 1280 * 100%);
        }
    
        .character {
            position: relative;
            pointer-events: none;
        }
        &.active {
            z-index: 301;
        }
        .sign {
            position: absolute;
            top: -5px;
            left: 106px;
            width: 65px;
            height: 111px;
            transform-origin: 5px 111px;
        
            @keyframes wave-sign {
                0%{
                    transform: rotate(10deg);
                }
                50% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(10deg);
                }
            }
        
            animation-name: wave-sign;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.7s;
        }
        
        .whale:not(.cate_button) {
            position: absolute;
            top: 0;
            left: 0;
            width: 143px;
            height: 113px;
        
            @keyframes whale-swim {
                0%{
                    transform: translateY(10px);
                }
                50% {
                    transform: translateY(0px);
                }
                100% {
                    transform: translateY(10px);
                }
            }
            animation-name: whale-swim;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
        
        }
        .wave {
            position: absolute;
            top: 53px;
            left: 0;
            width: 121px;
            height: 90px;
        
            @keyframes water-scale {
                0%{
                    width: 129.47px;
                    height: 96.3px;
                }
                50% {
                    width: 121px;
                    height: 90px;
                }
                100% {
                    width: 129.47px;
                    height: 96.3px;
                }
            }
            
            animation-name: water-scale;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
        }
        .waste {
            position: absolute;
            top: 58px;
            left: 81px;
            width: 155px;
            height: 96px;
        
            @keyframes waste-rotate {
                0%{
                    transform: rotateZ(0deg) translateY(0px);
                }
                50% {
                    transform: rotateZ(5deg) translateY(5px);
                }
                100% {
                    transform: rotateZ(0deg) translateY(0px);
                }
            }
        
            animation-name: waste-rotate;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
        }
        .tree {
            position: absolute;
            top: 15px;
            left: -49px;
            width: 79px;
            height: 129px;
            transform-origin: 40px 134px;
        
            @keyframes tree-rotate {
                0%{
                    transform: rotateZ(-12deg);
                }
                50% {
                    transform: rotateZ(-3deg);
                }
                100% {
                    transform: rotateZ(-12deg);
                }
            }
        
            animation-name: tree-rotate;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 2.2s;
        }
        
        .arm {
            position: absolute;
            top: 49px;
            left: 78px;
            width: 30px;
            height: 57px;
            transform-origin: -15px 134px;
            @keyframes tree-rotate {
                0%{
                    transform: rotateZ(2deg);
                }
                50% {
                    transform: rotateZ(4deg);
                }
                100% {
                    transform: rotateZ(2deg);
                }
            }
            animation-name: tree-rotate;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
            animation-duration: 1.9s;
        }
        
        
    }
    
    .wrap_bubble {
        position: absolute;
        top: -165px;
    }
    
    .char_bear {
        position: absolute;
        top: 0;
        left: 0;
        width: 119px;
        height: 157px;
    }
    .char_elephant {
        position: absolute;
        width: 109px;
        height: 167px;
    }
}


@media(max-width: 1070px) {
    .banner {
        .background { 
            min-width: 1280px;
            object-fit: cover;
            bottom: 40px;
        }
        .wrap_character {
        
            &.char_bear {
                top: 420px;
                .character {
                    transform: translateX(-20px);
                }
            }
            &.char_whale {
                top: 548px;
                left: calc(470 / 1280 * 100%);
            }
            &.char_elephant {
                top: 432px;
            }
        }
    }
}
@media(max-width: 940px) and (min-width: 556px) {
    .banner {
        .wrap_character {
            &.char_elephant {
                top: 426px;
                left: calc(750 / 910 * 100%);
                .character {
                    transform: translate(-80px, -40px);
                }
            }
        }
    }
}
@media(max-width: 940px) {
    .ocean_bg {
        max-height: 652px;
        min-height: 652px;
    }
    .wrap_content_banner {
        top: 90px;
        .title {
            font-size: 45px;
            line-height: 35px;
            color: black;
        }
        .desc {
            font-size: 23px;
            line-height: 23px;
        }
    }
    .cloud_canvas {
        height: 30%;
        width: 70%;
    }
    .banner {
        min-height: 652px;
        .relative_frame {
            min-height: 652px;
            max-width: 910px;
        }
        .background {
            min-width: 1150px;
            width: 100%;
            object-position: bottom;
            bottom: 40px;
        }

        .wrap_character {
        
            &.char_bear {
                top: 380px;
                left: calc(160 / 910 * 100%);
            }
            &.char_whale {
                top: 490px;
                left: calc(356 / 910 * 100%);
            }
            &.char_elephant {
                top: 396px;
                left: calc(750 / 910 * 100%);
            }
            .sign {
                top: -5px;
                left: 52px;
                width: 32px;
                height: 55px;
                transform-origin: 5px 55px;
                @keyframes wave-sign {
                    0%{
                        transform: rotate(7deg);
                    }
                    50% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(7deg);
                    }
                }
            }
        
            .whale:not(.cate_button) {
                width: 64px;
                height: 51px;
        
                @keyframes whale-swim {
                    0%{
                        transform: translateY(5px);
                    }
                    50% {
                        transform: translateY(0px);
                    }
                    100% {
                        transform: translateY(5px);
                    }
                }
            }
            .wave {
                top: 25px;
                width: 55px;
                height: 40px;
                @keyframes water-scale {
                    0%{
                        width: 58.85px;
                        height: 42.8px;
                    }
                    50% {
                        width: 55px;
                        height: 40px;
                    }
                    100% {
                        width: 58.85px;
                        height: 42.8px;
                    }
                }
            }
            
            .waste {
                top: 23px;
                left: 37px;
                width: 70px;
                height: 41px;
            
            }
            .tree {
                position: absolute;
                top: 7px;
                left: -28px;
                width: 43px;
                height: 64px;
                transform-origin: 40px 54px;
            
                @keyframes tree-rotate {
                    0%{
                        transform: rotateZ(-3deg);
                    }
                    50% {
                        transform: rotateZ(0deg);
                    }
                    100% {
                        transform: rotateZ(-3deg);
                    }
                }
            }
            
            .arm {
                position: absolute;
                top: 28px;
                left: 39px;
                width: 16px;
                height: 24px;
                transform-origin: -8px 24px;
                @keyframes tree-rotate {
                    0%{
                        transform: rotateZ(2deg);
                    }
                    50% {
                        transform: rotateZ(10deg);
                    }
                    100% {
                        transform: rotateZ(2deg);
                    }
                }
            }
        }
    
        .char_bear {
            width: 57px;
            height: 72px;
        }
        
        .char_elephant {
            width: 53px;
            height: 85px;
        }
    }
    
    .box_detail {
        .wrap_box {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateY(0);
            border-radius: 0px;
        }
        .title {
            line-height: 35px;
            padding: 27px 0;
        }
        .detail {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: calc(100% - 78px);
            padding-top: 30px;
            padding-bottom: 40px;
        }
        .activity {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            text-align: center;
            &:not(:first-of-type) {
                margin-top: 20px;
            }
            .icon {
                margin-right: 0px;
                margin-bottom: 10px;
            }
            .activity_head {
                font-size: 22px;
                line-height: 22px;
            }
        }
        .wrap_close_btn {
            position: absolute;
            top: calc(50% - 20px);
            right: 20px;
            cursor: pointer;
        }
    }
}

.bubble {
    border-radius: 30px;
    box-shadow: 0px 9px 27px rgba(0,0,0,0.2);
    color: white;
    width: 240px;
    padding: 16px;
    transform: translateX(-25%);
    cursor: pointer;

    .title {
        font-size: 28px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    .desc {
        font-size: 26px;
        line-height: 26px;
        text-align: center;
    }
}
// + btn
.floating_btn {
    position: absolute;
    top: calc(50% - 35px);
    right: -20px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);

    @keyframes bg-fade-in-out {
        0% {
            background-color: rgba(255,255,255,0.5);
        }
        50% {
            background-color: rgba(255,255,255,0);
        }
        100% {
            background-color: rgba(255,255,255,0.5);
        }
    }
    animation-name: bg-fade-in-out;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
    
    &.active {
        .icon_plus {
            transform: rotateZ(135deg);
            transition: trasform 0.6s ease;
        }
    }

    .btn_ring {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 35px;
        border: 5px solid rgba(255,255,255,0.5);

        @keyframes fade-in-out {
            0% {
                border-color:rgba(255,255,255,0.5);
            }
            50% {
                border-color:rgba(255,255,255,0);
            }
            100% {
                border-color:rgba(255,255,255,0.5);
            }
        }
        animation-name: fade-in-out;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-iteration-count: infinite;
    }

    .icon_plus {
        font-size: 16px;
        color: white;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        overflow: hidden;
        &::before {
            position: absolute;
            top: calc(50% - 8px);
            left: calc(50% - 8px);
            width: 100%;
            height: 100%;
        }
    }

}

.cate_bear {
    .hoverFx(white, white, @cate_bear_color, #2893B3);

    + .floating_btn {

        .icon_plus {
            .hoverFx(white, white, @cate_bear_color, #2893B3);
        }
    }
}
.cate_whale {
    .hoverFx(white, white, @cate_whale_color, #0B4C7D);
    + .floating_btn {

        .icon_plus {
            .hoverFx(white, white, @cate_whale_color, #0B4C7D);
        }
    }
}
.cate_elephant {
    .hoverFx(white, white, @cate_elephant_color, #508D4D);
    + .floating_btn {

        .icon_plus {
            .hoverFx(white, white, @cate_elephant_color, #508D4D);
        }
    }
}

// detail box

.box_detail {
    position: absolute;
    top: 50%;
    pointer-events: none;

    &.detail_right {
        left: calc(100% + 40px);
    }

    &.detail_left {
        left: calc(-100% - 250px);
    }

    &.active {
        z-index: 1000;
    }
    .wrap_box {
        position: relative;
        width: 400px;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
        transform: translateY(-50%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    
        &.cate_bear {
            background-color: @cate_bear_color;
        }
    
        &.cate_whale {
            background-color: @cate_whale_color;
        }
    
        &.cate_elephant {
            background-color: @cate_elephant_color;
        }
    
        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
    
    .title {
        position: relative;
        z-index: 2;
        padding: 20px 0;
        box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.2);
        font-size: 40px;
        line-height: 38px;
        text-align: center;
        color: white;
    }
    .detail {
        position: relative;
        z-index: 1;
        padding: 5px 46px 20px;
    }
    .detail_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .activity {
        margin-top: 25px;
        color: white;
        .icon {
            font-size: 28px;
            line-height: 29px;
            margin-right: 17px;
        }
        .activity_head {
            font-size: 26px;
            line-height: 26px;
        }
        .activity_value {
            font-size: 20px;
            line-height: 20px;
        }
        sub {
            font-size: 70%;
            display: inline-block;
            transform: translateY(4px);
        }
    }
}

@media(max-width: 940px) {
    .bubble {
        border-radius: 15px;
        color: white;
        width: 150px;
        padding: 12px 6px;
        transform: translateX(0%);

        .title {
            font-size: 20px;
            line-height: 15px;
            margin-bottom: 5px;
        }
        .desc {
            font-size: 19px;
            line-height: 18px;
        }
    }

    .floating_btn {
        top: calc(100% + 6px);
        left: 30px;
        right: auto;
        width: 35px;
        height: 35px;
        padding: 5px;
        .btn_ring {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 35px;
            border: 3px solid rgba(255,255,255,0.5);
        }
        .icon_plus {
            font-size: 10px;
            border-radius: 20px;
            &::before {
                position: absolute;
                top: calc(50% - 5px);
                left: calc(50% - 5px);
            }
        }
    }
    .cate_elephant {
        transform: translateX(calc(-50% - 15px));
        + .floating_btn {
            left: 0px;
        }
    }
    .cate_whale {
        &.bubble {
            transform: translateX(-30px);
        }
        + .floating_btn {
            top: calc(100% + 20px);
            left: calc(100% - 40px);
        }
    }
}

@media(max-width: 767px) {
    .ocean_bg img {
        min-width: 1900px;
        bottom: 20px;
    }
    .wrap_content_banner {
        .desc {
            max-width: 360px;
        }
    }

    .cloud_canvas {
        top: 10%;
        left: 0;
        height: 30%;
        width: 50%;
    }
    .banner {

        &.dim_active {
            z-index: 200;
        }
        .background {
            min-width: 910px;
            width: 100%;
            bottom: 0px;
        }
        // character
        .wrap_character {
            &.char_bear {
                top: 410px;
                left: calc(100 / 910 * 100%);
            }
            &.char_whale {
                top: 500px;
                left: calc(356 / 910 * 100%);
            }
            &.char_elephant {
                top: 426px;
                left: calc(750 / 910 * 100%);
            }
        }
        .char_bear {
            .wrap_bubble {
                margin-left: -7px;
            }
        } 
        .char_whale {
            .wrap_bubble {
                top: -130px; 
            }
            
        }
        .char_elephant {
            .wrap_bubble {
                left: 10px;
            }
        }
        .wrap_bubble {
            top: -150px; 
        }
        .box_detail {
            .wrap_box {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(0);
                border-radius: 0px;
            }
            .title {
                line-height: 35px;
                padding: 27px 0;
            }
            .detail {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: calc(100% - 78px);
                padding-top: 30px;
                padding-bottom: 40px;
            }
            .activity {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 0;
                text-align: center;
                &:not(:first-of-type) {
                    margin-top: 20px;
                }
                .icon {
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
                .activity_head {
                    font-size: 22px;
                    line-height: 22px;
                }
            }
            .wrap_close_btn {
                position: absolute;
                top: calc(50% - 20px);
                right: 20px;
                cursor: pointer;
            }
        }
    }
}

@media(max-width: 556px) {
    .banner {
        .wrap_character {
            &.char_bear {
                top: 450px;
                left: calc(100 / 910 * 100%);
            }
            &.char_whale {
                top: 540px;
                left: calc(356 / 910 * 100%);
                .character {
                    margin-top: -10px;
                }
            }
            &.char_elephant {
                top: 426px;
                left: calc(750 / 910 * 100%);
            }
        }
    }
}
@media(max-width: 552px) {

    .ocean_bg img {
        min-width: 910px;
        bottom: 20px;
    }
    .cloud_canvas {
        top: 20%;
    }
    .banner {
        .background {
            min-width: 664px;
            width: 100%;
        }
    }
}

@media(max-width: 530px) {

    .banner {
        .wrap_character {
            &.char_elephant {
                top: 446px;
                left: calc(700 / 910 * 100%);
            }
        }
    }
}