.section_privilege {
    position: relative;
    padding: 60px 20px 0px;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
    .wrap_list_privilege {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 950px;
        margin: 0 auto;
        width: 100%;
    }

    .privilege {
        display: flex;
        flex-direction: column;
        width: 33.33%;
        max-width: 250px;
        margin: 0px 30px 40px;
    
        img {
            width: 110px;
            height: 110px;
            margin-bottom: 20px;
        }
        .privi_title {
            font-size: 26px;
            line-height: 26px;
            text-align: center;
    
            &.white {
                color: white;
            }
        }
    }
}
@media(max-width: 767px) {
    .section_privilege {
        padding: 40px 20px 0px;
        
        .privilege {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            max-width: 100%;
            margin: 0px 0px 40px;
            img {
                width: 100px;
                height: 100px;
                margin: 0 25px 0 0;
            }
            .privi_title {
                font-size: 21px;
                line-height: 21px;
                text-align: left;
            }
        }
    }
}