@import "core/mixin";
@import "core/variable";

html.add-dim {
   overflow: initial;

   body {
      overflow-x: hidden;
      overflow-y: hidden;
      height: 100%;
   }

   .fulldim.active {
      opacity: 1;
      visibility: visible;
      .vendor(transition-delay, 0s);
      z-index: 1020;
   }
}

.fulldim {
   .size(100%, 100%);
   position: fixed;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   background-color: fade(#000, 60);
   //  background-color: rgba(0,0,0,0.6);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   opacity: 0;
   visibility: hidden;
   .transition(visibility 0s 700ms, opacity 700ms, z-index 0s 700ms);
   text-align: center;
   padding: 20px;
   overflow: auto;
   -webkit-overflow-scrolling: touch;

   .wrap-modal-box {
      display: table;
      width: 100%;
      height: 100%;
   }

   .wrap-center-block {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
   }

   .wrapper-modal-text {
      display: inline-block;
      position: relative;
      margin: auto;
      padding: 40px 0;
      background-color: #FFF;
      text-align: center;
      // .box-shadow(0 0 10px #929292);
      border-radius: 20px;
      background: linear-gradient(to bottom, #EAEAE0, #DFEEE6, #B5E6ED);

      &>.close-btn {
         color: @color-black;
      }
   }

   .wrapper-modal-inner {
      padding: 0 40px;
   }

   .modal-content {
      color: #222;
      font-size: 18px;
      line-height: 28px;
   }

   .custom-text {
      margin-top: 20px;
   }

   .close-btn {
      .size(30px, 30px);
      color: #000;
      position: absolute;
      .display-flex();
      justify-content: center;
      align-items: center;
      z-index: 10;
      cursor: pointer;
      font-size: 17px;
      line-height: 20px;
      right: 20px;
      top: 20px;
      .transition(opacity .3s);
      border: 1px solid #000;
      border-radius: 50%;
      * > {
         font-size: 14px;
      }
   }
}

.general-alert {
   .wrapper-modal-text {
      padding-top: 50px;
      padding-bottom: 50px;
      display: block;
      max-width: 660px;
   }

   .modal-content {
      font-size: 24px;
      line-height: 40px;
   }
}

.confirm-alert {
   .wrapper-modal-text {
      border-radius: 5px;
      padding-top: 40px;
      padding-bottom: 30px;
   }

   .confirm-title {
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 20px;
   }

   .confirm-text {
      font-size: 15px;
      line-height: 20px;
   }

   .nopromotion-list {
      &:not(:first-child) {
         margin-top: 10px;
      }
   }

   .wrap-general-button {
      margin-top: 50px;
   }

   .confirm-btn {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      padding: 4px 10px;
      min-width: 120px;
      margin-left: 25px;

      &:first-child {
         margin-left: 0;
      }
   }
}

@media (min-width: (@screen-xs + 1)) {
   .fulldim {
      .close-btn {
         &:hover {
            opacity: .5;
         }
      }
   }
}

@media (max-width: @screen-xs) {
   .fulldim {
      padding: 15px;

      .wrap-modal-box {
         width: 100%;
         font-size: 0;
      }

      .wrapper-modal-text {
         width: auto;
         padding: 35px 0 30px;
         margin-left: 0;
         margin-right: 0;
      }

      .wrapper-modal-inner {
         padding: 0px 20px;
      }

      .close-btn {
         top: 10px;
         right: 10px;
      }
   }

   .general-alert {
      .wrapper-modal-text {
         padding-top: 50px;
         padding-bottom: 50px;
         margin: 0 auto;
      }

      .modal-content {
         font-size: 20px;
         line-height: 36px;
      }
   }

   .confirm-alert {
      .confirm-btn {
         min-width: 110px;
      }
   }
}
