@import "core/font-family";

#content {
    position: relative;
    padding: 140px 0px 60px;
}

#news-title {
    text-align: center;
    line-height: 44px;
    padding: 0 20px;
}
#date {
    margin-top: 10px;
    color: #424242;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
}
#banner {
    max-width: 1040px;
    margin: 28px auto 0px;
    padding: 0 20px;

    .wrap-img {
        position: relative;
        padding-top: calc(520 / 1000 * 100%);
        border-radius: 20px;
        overflow: hidden;
    }
}
#banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#inner-max-width {
    padding-bottom: 30px;

    #news-content,
    #tags,
    #gallery .swiper {
        margin: 50px auto 0;
        max-width: 797px;
        padding: 0 20px;
    }

    #news-content {
        font-size: 26px;
        line-height: 26px;
    }
    .tag {
        color: #818181;
        font-size: 22px;
        line-height: 26px;
        margin-right: 14px;
    }

    #gallery {
        overflow: hidden;
        user-select: none;
        .swiper {
            position: relative;
        }
        .swiper-wrapper {
            height: 300px;
        }
        .swiper-slide {
            width: fit-content !important;
            border-radius: 10px;
            transform: translateZ(0);
            overflow: hidden;
            cursor: pointer;
            position: relative;

            &:not(:last-child) {
                margin-right: 20px;
            }
            .fullscreen {
                color: white;
                font-size: 18px;
                line-height: 18px;
                position: absolute;
                top: calc(100% - 43px);
                right: 26px;
            }

            &:hover {
                img {
                    transform: scale(1.12);
                }
            }
        }
        img {
            margin: 0;
            object-fit: cover;
            height: 100%;
            width: auto;
            transition: transform 4s linear;
        }

        .back-btn,
        .next-btn {
            color: white;
            border: 1px solid white;
            border-radius: 25px;
            width: 50px;
            height: 50px;
            background-color: rgba(0,0,0,0.1);
            font-size: 24px;
            line-height: 50px;
            cursor: pointer;
            opacity: 1;
            position: absolute;
            top: calc(50% - 25px);

            &.swiper-button-disabled {
                opacity: 0;
                pointer-events: none;
                user-select: none;
            }
        }

        .back-btn {
            left: 0;
        }
        .next-btn {
            right: 0;
        }
    }
}

#share {
    margin: 0 auto;
    max-width: 757px;
    padding-top: 8px;
    border-top: 1px solid #DFDFDF;
    .media {
        color: #424242;
        font-size: 20px;
        line-height: 20px;
        margin-right: 10px;
        margin-bottom: -10px;
        padding: 10px;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: #FFA400;
        }
        &.icon-copy {
            position: relative;

            &.copied {
                &::after {
                    content: 'Copied';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    .font-med();
                    width: fit-content;
                    transform: translateX(-50%);
                    color: #FFA400;
                    background-color: #f6ebd7;
                    border-radius: 5px;
                    padding: 5px;
                    opacity: 1;
                    animation-name: jump-out;
                    animation-duration: 2s;
                    animation-timing-function: cubic-bezier(.01,.99,.37,.58);
                }

                @keyframes jump-out {
                    0% {
                        opacity: 1;
                        transform: translateX(-50%) translateY(0px);
                    }
                    80% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                        transform: translateX(-50%) translateY(-30px);
                    }
                }
            }
        }
    }
}

.popup_fullscreen {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }


    @keyframes scaleup {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    .popup_box {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 20px;
        transform: scale(1);
        animation-name: scaleup;
        animation-iteration-count: 1;
        animation-duration: 0.6s;
        animation-timing-function: ease;
    }

    .wrap_close {
        position: absolute;
        top: 50px;
        right: 60px;
        z-index: 10;
    }

    .wrap-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            object-fit: contain;
            margin: 0;
            width: 80%;
            height: 80%;
        }
    }
}
@media(max-width: 767px) {
    #content {
        padding-top: 95px;
    }
    #news-title {
        line-height: 30px;
    }
    #date {
        font-size: 21px;
        line-height: 21px;
    }
    #banner {
        margin-top: 35px;
    }
    #inner-max-width {
        padding-bottom: 20px;
        #news-content {
            margin-top: 31px;
        }
        #tags {
            margin-top: 35px;
        }

        #gallery {
            .swiper-wrapper {
                height: 150px;
            }
            .swiper-slide {
                &:not(:last-child) {
                    margin-right: 10px;
                }
                border-radius: 5px;
                .fullscreen {
                    font-size: 9px;
                    line-height: 9px;
                    top: calc(100% - 21px);
                    right: 13px;
                }
            }

            .back-btn,
            .next-btn {
                border-radius: 15px;
                width: 30px;
                height: 30px;
                font-size: 19px;
                line-height: 30px;
                top: calc(50% - 15px);
            }
            .back-btn {
                left: 20px;
            }
            .next-btn {
                right: 20px;
            }
        }
    }
    .popup_fullscreen {
        padding: 20px;
        .popup_box {
            width: 100%;
        }
        .wrap_close {
            top: 32px;
            right: 20px;
        }
        .wrap-img {
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}