@import "core/mixin";
@import "core/font-family";
@import "core/variable";

@padding: 20px;
@max-content: 270;
@max-width-content: ~"calc(@{max-content}px + (@{padding} * 2))";
.content {
   position: relative;
   display: block;
   padding-top: var(--header-height);
   z-index: 1;
}

.page-register-complete {
   padding: 70px 0 68px 0;
   .container {
      padding: 0 20px;
   }
   .block-complete-icon {
      .size(90px,90px);
      border: 2px solid @color-yellow;
      border-radius: 50%;
      .icon {
         font-size: 32px;
         color: @color-yellow;
      }
   }
   .block-complete-title,
   .block-complete-desc {
      text-align: center;
      color: #000;
   }
   .block-complete-title {
      .font(30px,28px);
      margin: 40px 0 0 0;
   }
   .block-complete-desc {
      .font(26px,23px);
      margin: 10px 0 0 0;
   }
}

@media (min-width: (@screen-xs + 1)) {
   .page-register-complete {
      padding: 108px 0 108px 0;

      .container {
         max-width: @max-width-content;
         margin: 0 auto;
      }
      .block-complete-icon {
         .size(100px,100px);
         .icon {
            font-size: 35px;
         }
      }
      .block-complete-title {
         .font(40px,38px);
      }
      .block-complete-desc {
         .font(30px,28px);
      }
   }

}