.sidebar-menu {
    position: sticky;
    z-index: 30;
    padding: 28px 0 50px;
    width: 60px;
    height: 100%;

    .menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 17px;
        margin: 10px 0;
        color: #818181;
        cursor: pointer;

        .icon-grid {
            font-size: 18px;
        }
        .icon-bear {
            font-size: 26px;
        }
        .icon-whale {
            font-size: 20px;
        }
        .icon-elephant {
            font-size: 24px;
        }
        .icon-pie-chart {
            font-size: 22px;
        }
        .icon-phone {
            font-size: 22px;
        }
        .icon-world-tree {
            font-size: 28px;
        }

        &:hover, &.active {
            color: #FFA400;

            &::after {
                top: 0%;
                height: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 2px;
            height: 0%;
            background-color: #FFA400;
            box-shadow: -1px 0px 2px rgba(254, 164, 0, 0.3);
            border-radius: 1px;
            transition: all 0.2s ease;
        }
    }
}

@media(min-width: 941px) {
    .sidebar-menu {
        top: 80px;
        min-height: calc(100vh - 80px);
        .menu {

            &:hover {
                .menu-txt {
                    display: block !important;
                }
            }
            .menu-txt {
                position: absolute;
                left: calc(100% + 10px);
                top: 50%;
                transform: translateY(-50%);
                background-color: white;
                padding: 7px 14px;
                box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
                white-space: nowrap;
                border-radius: 5px;
                color: #FFA400;
                font-size: 24px;
                line-height: 26px;
            }
        }
    }
}

@media(max-width: 940px) {


    // footer adjust style
    .wrap_footer {
        margin-bottom: 70px !important;
    }

    .sidebar-menu {
        position: fixed;
        top: calc(100% - 70px);
        left: 0;
        padding: 0;
        width: 100%;
        height: 130px;
        border-right: none;
        box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.95);

        @supports(backdrop-filter: none) or (-webkit-backdrop-filter: none) {
            backdrop-filter: blur(5px);
            background-color: rgba(255, 255, 255, 0.9);
        }

    }
    .wrap-menu {
        padding: 0 6px;
        overflow: auto;
        flex-direction: row !important;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 100%;
        .menu {
            width: fit-content;
            height: 70px;
            padding: 10px 5px 15px;
            margin: 0 5px;
            justify-content: flex-end;
            align-items: center;
            opacity: 1 !important;
            transform: translateY(0) !important;

            [class^=icon-] {
                line-height: 24px;
            }

            &::after {
                content: '';
                top: 100%;
                left: 50%;
                width: 0%;
                height: 2px;
            }
            &:hover, &.active {
    
                &::after {
                    top: calc(100% - 2px);
                    width: 100%;
                    height: 2px;
                    left: 0%;
                }
            }
        }
        .menu-txt {
            margin-top: 1px;
            white-space: nowrap;
            font-size: 15px;
            line-height: 15px;
        }
    }
}