@import "core/mixin";
@import "core/variable";
@dropdown-icon-top-xs: 34px;
@placeholder-top-xs: 28px;
.li-disabled-style () {}
.li-readonly-style () {
    background-color: @color-light-gray3;
}
.simple-dropdown {
    position: relative;
    display: block;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 25px;
    padding: 11px 20px;
    font-size: 26px;
    line-height: 24px;
    height: 50px;

    &.simple-dropdown {
        .transition(border-color .2s, background-color .2s);
    }
    &.disabled {
        pointer-events: none;
        .user-select(none);
    }
    &.hide {
        display: none;
    }
    &:active {
    }
    &.open {
        z-index: 10;
    }
    &.have-data {
        border-color: black;
        .dropdown-placeholder {
            display: none;
            top: 1px;
            font-size: 16px;
            color: black;
        }
    }    

    .dropdown-show-selected {
        .font(14px,14px);
        color: #202020;
        height: 100%;
        .-icon {
            font-size: 16px;
            line-height: 16px;
            .rotate(0deg);
            .transition(transform .3s);
            position: absolute;
            right: 16px;
            top: calc(50% - 7px);
        }
        .-text {
            display: block;
            font-size: 26px;
            line-height: 28px;
            padding-right: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .dropdown-placeholder {
        position: absolute;
        width: 77%;
        left: 20px;
        top: 12px;
        white-space: nowrap;
        font-size: 14px;
        color: #222;
        .transition(all .2s);
        .fn-multiline-ellipsis(1,25px,25px);
        .icon {
            .font-color(15px, 25px, #222);
            margin-right: 20px;
        }
    }

    @ddHeight: 50px;
    @maxHeight: 300px;
    .dropdown-section{
        position: absolute;
        top: 63px;
        left: 0;
        margin-top: 3px;
        max-height: @maxHeight;
        width: 100%;
        min-width: 200px;
        border-radius: 10px;
        list-style: none;
        background-color: white;
        visibility: hidden;
        overflow: hidden;
        cursor: initial;
        opacity: 0;
        .transition(opacity .3s, visibility 0s .3s);

        &.hide-serch{
            ul {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    .inp-dd-search{
        padding-left: 10px;
        height: @ddHeight;
        line-height: 33px;
        border: 1px solid #eee;
        border-radius: 5px;
        position: absolute;
        font-size: 16px;
        font-family: 'Kanit';
        color: #333;
        box-shadow: none;
        -webkit-appearance: none;
        display: block;
        background-image: linear-gradient(to right, #FAFAFA 0%,#FAFAFA 50%,#FAFAFA 50%,white 50%,white 100%);
        background-size: 200% auto;
        background-position: right;
        .transition(background .2s);
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top: 5px;
        &:focus {
            background-position: left;
        }
    }

    ul {
        margin-top: @ddHeight + 10px;
        background-color: transparent;
        max-height: @maxHeight - (@ddHeight + 10px);
        overflow: auto;
        margin-bottom: 10px;
        li {
            .font(26px,28px);
            padding: 12px 18px;
            color: black;
            cursor: pointer;
            border-bottom: none;
            .transition(background-color .2s, color .2s);
            &:hover, &.selected {
                background-color: #FFA400;
                color: white;
            }
            &.selected {
                cursor: default;
                pointer-events: none;
            }
            &.hide{
                display: none;
            }
            &[data-readonly],
            &.readonly {
                pointer-events: none;
                cursor: default;
                opacity: 0.5;
                .li-readonly-style();
            }
            &.disabled {
                pointer-events: none;
                cursor: default;
                opacity: 0.5;
                .li-disabled-style();
            }
        }
        .-text {
            padding-right: 1px;
        }
    }
    &.open {        
        .dropdown-show-selected {
            .-icon {
                .rotate(180deg);
            }
        }
        .dropdown-section{
            opacity: 1;
            visibility: visible;
            .transition-delay(0s);
        }
    }
    &.have-icon-placholder{
        @custompad: 60px;
        .box_ic{
            width: 60px;
            position: absolute;
            left: 0;
            height: 100%;
            .ic{
                font-size: 20px;
                color: inherit;
            }           
        }
        .dropdown-placeholder{
            left: @custompad;
        }
        .dropdown-show-selected{
            padding-left: @custompad;
        }  
    }
}
@media(max-width: 767px) {
    .simple-dropdown {
        min-width: 100%;
        width: 100%;
        height: 40px;
        padding: 10px 17px;

        .dropdown-show-selected {
            .-text {
                .font(21px,22px);
            }
            .-icon {
                font-size: 10px;
                line-height: 10px;
                top: calc(50% - 4px);
            }
        }

        .dropdown-section {
            top: 63px;
            left: auto;
            right: 0;
        }
    }
}

.simple-dropdown {
    &.new_style_dropdown{
    padding: 25px 0 4px 0;
    height: 55px;
    border: 0;
    border-bottom: 1px solid @color-light-gray;
    border-radius: 0;
    margin: 0 0 12px 0;

    &.have-data {
       .dropdown-placeholder {
          display: block;
          font-weight: 500;
       }
    }

    &.open {
       border-bottom: 2px solid @color-yellow;
       z-index: 50;

       .dropdown-show-selected {
          .-icon {
             color: @color-yellow;
          }
       }
    }

    &:not(.have-data) {
       &:not(.invalid) {
          .dropdown-placeholder {
             color: @color-gray;
          }
       }
       .dropdown-placeholder {
          font-size: 26px;
          top: 25px;
       }
    }

    // Select
    .dropdown-show-selected {
       left: 0;

       .-icon {
          font-size: 10px;
          top: 28px;
          right: 0;
          color: @color-gray;
       }
       .-text {
          color:@color-black;
       }
    }

    // Placeholder
    .dropdown-placeholder {
       font-size: 18px;
       line-height: 20px;
       left: 0;
    }

    // Dropdown items
    .dropdown-section {
       .drop-shadow(0, 10px, 30px, 0, 0.10);
       padding: 0 0 20px 0;
    }

    ul {
       li {
          &:hover,
          &.selected {
             background-color: @color-yellow;
             color: #000;
          }
       }
    }
    }
 }
 @media (min-width: (@screen-xs + 1)) {
       // Simple dropdown reset
       .simple-dropdown {
        &.new_style_dropdown{
          margin: 0 0 15px 0;
        }
       }
 
 }
 @media (max-width: @screen-xs) {
 
       // Simple dropdown reset
       .simple-dropdown {
        &.new_style_dropdown{
          &:not(.have-data) {
             .dropdown-placeholder {
                font-size: 21px;
                top: @placeholder-top-xs;
             }
          }
          .dropdown-show-selected {
             .-icon {
                top: @dropdown-icon-top-xs;
             }
          }
          ul {
             li {
                font-size: 21px;
             }
          }
        }
       }
 }