body{
    @font-face {
        font-family: DB-bold;
        src: url("../fonts/DBHelvethaicaX-Bold.woff");
    }
    @font-face {
        font-family: DB-medium;
        src: url("../fonts/DBHelvethaicaX-Medium.woff");
    }
    @font-face {
        font-family: DB-regular;
        src: url("../fonts/DBHelvethaicaX.woff");
    }
    .d-block{
        display: block;
    }
    .d-xl-block{
        display: block;
        @media (max-width:1200px) {
            display: none;
        }
    }
    .d-lg-block{
        display: block;
        @media (max-width:992px) {
            display: none;
        }
    }
    .d-md-block{
        display: block;
        @media (max-width:768px) {
            display: none;
        }
    }
    .d-sm-block{
        display: block;
        @media (max-width:576px) {
            display: none;
        }
    }
    .d-xl-none{
        display: none;
        @media (max-width:1200px) {
            display: block;
        }
    }
    .d-md-none{
        display: none;
        @media (max-width:768px) {
            display: block;
        }
    }
    .d-lg-none{
        display: none;
        @media (max-width:992px) {
            display: block;
        }
    }
    .d-flex{
        display: flex;
    }
    .d-sm-none{
        display: none;
        @media (max-width:576px) {
            display: block;
        }
    }
}
.main-organize.bg-bear{
    &::before{
        background: url("../images/bg-sec-slide/bg-bear.png") center no-repeat;
        background-size: cover;
    }
    &::after{
        background: linear-gradient(180deg, rgba(32,190,238,1) 0%, rgba(51,127,150,1) 100%);
    }
}
.main-organize.bg-wal{
    &::before{
        background: url("../images/bg-sec-slide/bg-wal.png") center no-repeat;
        background-size: cover;
    }
    &::after{
        background: linear-gradient(360deg, rgba(31,60,97,1) 0%, rgba(46,141,197,1) 100%);
    }
}
.main-organize.bg-chang{
    &::before{
        background: url("../images/bg-sec-slide/bg-chang.png") center no-repeat;
        background-size: cover;
    }
    &::after{
        background: #449577;
    }
}
.main-organize{
    min-height: 650px;
    position: relative;
    display: flex;
    align-items: center;
   
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &::before{
        content:'';
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .container{
        z-index: 9;
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @media (max-width:1150px) {
            padding: 0 60px;
        }
        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
            padding-top: 38px;
            padding-bottom: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
  
    .left-content{
        @media (max-width:768px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: auto;
            padding: 0 20px;
        }
        @media (max-width:576px) {
            padding: 0 15px;
        }
        .title-organize{
            margin-left: 40px;
            text-align: left;
            display: inline-block;
            font-size: 40px;
            font-family: DB-bold;
            color: #ffffff;
            @media (max-width:768px) {
                margin-left:0px;
                font-size: 29px;
            }
        }
        .btn-see-all{
            cursor: pointer;
            font-size: 26px;
            font-family: DB-medium;
            width: 100%;
            max-width:150px;
            height: 50px;
            max-height: 100%;
            display: block;
            border: none;
            border-radius: 25px;
            margin-left: 40px;
            margin-top: 20px;
            @media (max-width:768px) {
                font-size: 21px;
                max-width: 125px;
                height: 40px;
            }
            span{
                margin-top: -2px;
                display: flex;
                justify-content: center;
                align-self: center;
                // margin: auto;
            }
        }
        .img-left-content{
            margin-left: 12px;
            margin-right: 0;
            margin-top: 62px;
            @media (max-width:768px) {
                display: none;
            }
        }
    }
    .order-1{
        order: 2;
        .title-organize{
            margin-right: 40px;
            margin-left: 0;
            text-align: right;
            @media (max-width:768px) {
                text-align: left;
            }
        }
        .btn-see-all{
            margin-left: auto;
            margin-right: 40px;
            @media (max-width:768px) {
                margin-left: auto;
                margin-right: 0;
            }
        }
        @media (max-width:768px) {
            order: 1;
        }
        
    }
    .order-2{
        order: 1;
        @media (max-width:768px) {
            order: 2;
        }
    }
    .main-slide-wrapper{
        display: flex;
        width: calc(100% - 312px);
        overflow: hidden;
        padding-bottom: 41px;
        position: relative;
        @media (max-width:768px) {
            width: calc(100% - 80px);
        }
        @media (max-width:766px) {
            width: calc(100% - 246px);
        }
        @media (max-width:576px) {
            width: calc(100% - 30px);
        }
        .swiper-pagination{
            position: absolute;
            width: 100%;
            left: 50%;
            bottom: 0;
            transform: translate(-50%,0);
            .slide_bullet{
                width: 100%;
                max-width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #ffffff;
                margin: 7.7px 7.5px;
                opacity: 0.5;
                @media (max-width:816px) {
                    margin: 7.7px 3.5px;
                }
            }
            .slide_bullet.active{
                opacity: 1;
            }
        }
        .multi-pic-in-organize{
            margin-top: 20px;
            height: 420px;
            @media (max-width:768px) {
                height: 100%;
            }
            
        }
        .multi-pic-in-organize .logo{
            border-radius: 5px;
            margin: 4.25px;
            width: 100%;
            max-width: 96px;
            max-height: 96px;
            height: 100%;
            background-color: #ffffff;
            padding: 10px;
            object-fit: contain;
            display: inline-block;
            vertical-align: top;
            background-size: cover;
            @media (max-width:768px) {
                max-width:70px;
                height:70px;
            }
        }
    }
}

.main-modal-care{
    transition: .4s ease;
    overflow: hidden;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height:100%;
    z-index: 990;
    padding: 20px;
    background: rgba(0, 0, 0, .85);
    @media (max-width:576px) {
        padding: 0px;
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: rgba(0, 0, 0, .75);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .modal-content-relative{
        width: 100%;
        height: 100%;
        position: relative;
        background: transparent;
        .btn-close-modal{
            cursor: pointer;
            margin: 20px;
            max-width: 50px;
            width: 100%;
            height: 50px;
            background: transparent;
            border-radius: 50%;
            border: 1px solid #ffffff;
            z-index: 999;
            .icon-cross{
                font-size: 15px;
                color: #ffffff;
            }
        }
        .modal-content-absolute{
            &.bear{
                background: linear-gradient(180deg, rgba(32,190,238,1) 0%, rgba(115,209,217,1) 100%);
            }
            &.wal{
                background: linear-gradient(360deg, rgba(31,60,97,1) 0%, rgba(46,141,197,1) 100%);
            }
            &.chang{
                background: linear-gradient(180deg, rgba(58,179,74,1) 0%, rgba(68,149,119,1) 100%);
            }
        }
        .modal-content-absolute{
            position: absolute;
            top: 151%;
            left: 50%;
            transform: translate(-50%,-50%);
            max-width:1160px;
            width: 100%;
            // height: 90vh;
            max-height: 650px;
            border-radius: 20px;
            transition: top .6s ease;
            @media (max-width:576px) {
                max-height: 100vh;
                border-radius: 0px;
            }

            &.show {
                top: 50%;
            }
            .items-wrapper{
                // pointer-events: none;
                transform: translateY(-60px);
                position: relative;
                &.bear{
                    &::after{
                        background: linear-gradient(180deg, rgba(32,190,238,.01) 0%, rgba(115,209,217,.9) 100%);
                    }
                }
                &.wal{
                    &::after{
                        background: linear-gradient(180deg, rgba(68,149,119,.01) 0%, rgba(31,60,97,.9) 100%);
                    }
                }
                &.chang{
                    &::after{
                        background: linear-gradient(180deg, rgba(68,149,119,.01) 0%, rgba(68,149,119,.9) 100%);
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width:100%;
                    height: 50px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    opacity: 1;
                    transition: .3s ease;
                }
            }
            .dis-blur-on-modal{
                position: relative;
                &::after{
                    opacity: 0;
                }
            }
            .modal-title{
                color: #ffffff;
                font-size: 40px;
                font-family: DB-bold;
                display: block;
                text-align: center;
                @media (max-width:768px) {
                    font-size: 24px;
                }
            }
            .relative-button{
                display: flex;
                width: 100%;
                justify-content: flex-end;
            }
            
            .items-in-modal{
                width: 100%;
                max-width:1060px;
                max-height:552px;
                // height: calc(80vh - 60px);
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
                flex-wrap: wrap;
                overflow: auto;
                padding-bottom: 20px;

                // @media (max-width:1130px) {
                //     border-bottom-right-radius: 20px;
                //     border-bottom-left-radius: 20px;
                // }
                @media (max-width:1100px){
                    max-width: 954px;
                }
                @media (max-width:994px){
                    max-width: 848px;
                }
                @media (max-width:888px){
                    max-width: 742px;
                }
                @media (max-width:808px){
                    max-width: 530px;
                    max-height:540px;
                }
                @media (max-width:676px){
                    max-width: 522px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    
                }
                @media (max-width:576px) {
                    max-height: calc(88vh - 20px);
                }
                @media (max-width:530px){
                    max-width: 348px;
                }
                .img-in-modal{
                    max-width: 98px;
                    height: 98px;
                    width: 100%;
                    background-color: #ffffff;
                    object-fit: contain;
                    border-radius: 5px;
                    margin: 4px;
                    @media (max-width:768px) {
                        max-width: 79px;
                        height: 79px;
                    }
                }
                img{
                    padding: 15px;
                }
            }
        }
    }
}