/* report css */


.report-boxed {
    min-width: 1200px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 10px;
    padding: 24px;
    position: relative;
  }
  
  .report-boxed .right-trash-type table {
    width: 100%;
    text-align: center;
  }
  
  .report-boxed .right-trash-type table .wrap {
    background-color: #ffffff;
  }
  
  .report-boxed .right-trash-type table tr:nth-child(2) .wrap:hover {
    -webkit-box-shadow: -1px 6px 45px -14px #fda528;
            box-shadow: -1px 6px 45px -14px #fda528;
    background-color: #ffffff;
  }
  
  .report-boxed .right-trash-type table tr:first-child span {
    background-color: #fcb134;
    width: 60px;
    height: 30px;
    display: inline-block;
    position: relative;
    border-radius: 5px;
  }
  
  .report-boxed .right-trash-type table tr:first-child span:after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: 22px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-color: #fcb334 transparent transparent transparent;
  }
  
  .report-boxed .right-trash-type table tr:nth-child(2) .wrap {
    border: 1px solid #fda528;
  }
  
  .report-boxed .right-trash-type table tr td {
    padding: 5px;
  }
  
  .report-boxed .right-trash-type table tr td:first-child {
    position: relative;
  }
  
  .report-boxed .right-trash-type table tr td:first-child img {
    position: absolute;
    left: -20px;
    top: 23px;
  }
  
  .report-boxed .right-trash-type table tr td p {
    margin-bottom: 0;
    line-height: 1.4;
  }
  
  .report-boxed .right-trash-type table tr td p.num {
    font-weight: bold;
    font-size: 26px;
  }
  
  .report-boxed .right-trash-type table tr td .wrap {
    min-width: 120px;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 19px;
    padding: 12px 0;
  }
  
  .report-boxed .head-img {
    position: absolute;
    left: 20px;
    top: 30px;
  }
  
  .report-boxed .head-img img {
    width: 50px;
  }
  
  .report-boxed h2 {
    font-weight: bold;
    color: #44566c;
  }
  
  .report-boxed .section-filter-date-action {
    padding-left: 10px;
  }
  
  .report-boxed .section-filter-date-action button {
    background-color: transparent;
    border: none;
  }
  
  .report-boxed .section-filter-date-action .wrap-btn-group {
    margin-left: 30px;
    display: inline-block;
  }
  
  .report-boxed .section-filter-date-action .left {
    float: left;
    width: 50%;
  }
  
  .report-boxed .section-filter-date-action .right {
    float: left;
    width: 50%;
  }
  
  .report-boxed .section-filter-date-action .right button {
    border: none;
    background-color: transparent;
  }
  
  .report-boxed .wrap-date-picker {
    display: inline-block;
    position: relative;
  }
  
  .report-boxed .wrap-date-picker img {
    position: absolute;
  }
  
  .report-boxed .wrap-date-picker img.cal {
    left: 5px;
    top: 5px;
  }
  
  .report-boxed .wrap-date-picker img.arr {
    right: 5px;
    top: 7px;
  }
  
  .report-boxed .wrap-date-picker input {
    width: 220px;
    font-size: 20px;
    height: 32px;
    padding-left: 35px;
    border-radius: 5px;
  }
  
  .report-boxed .section-sub-tree .wrap-table-sub {
    margin: 0 15px;
  }
  
  .report-boxed .section-sub-tree table {
    width: 100%;
    text-align: center;
    color: #44566c;
  }
  
  .report-boxed .section-sub-tree table tr td {
    padding: 10px 0;
  }
  
  .report-boxed .section-sub-tree table tr td a {
    color: #44566c;
    text-decoration: underline;
  }
  
  .report-boxed .section-sub-tree table tr td p {
    line-height: 1;
    margin-bottom: 0;
  }
  
  .report-boxed .section-sub-tree table tr:first-child td:first-child span {
    font-weight: bold;
    font-size: 36px;
    float: left;
  }
  
  .report-boxed .section-sub-tree table tr:first-child td:first-child a {
    font-size: 20px;
    float: right;
    vertical-align: top;
    margin-top: 10px;
  }
  
  .report-boxed .section-main-tree {
    margin-top: 30px;
    padding-bottom: 100px;
  }
  
  .report-boxed .section-main-tree .wrap-main-tree {
    min-height: 500px;
    max-width: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .report-boxed .section-main-tree .wrap-main-tree img {
    width: 100%;
  }
  
  .report-boxed .section-main-tree .wrap-sub-tree {
    min-height: 300px;
    max-width: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    position: relative;
  }
  
  .report-boxed .section-main-tree .wrap-sub-tree .root-sub-tree {
    bottom: -83px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .report-boxed .section-main-tree .inner-wrap {
    /* border-bottom: 1px solid #d9d9d9; */
    position: relative;
  }
  
  .report-boxed .section-main-tree .inner-wrap .root-tree {
    position: absolute;
    bottom: -70px;
    left: 300px;
  }
  
  .report-boxed .section-main-tree table {
    width: 100%;
  }
  
  .report-boxed .section-main-tree table tr td:first-child {
    font-size: 25px;
    color: #44566c;
    font-weight: bold;
  }
  
  .report-boxed .section-main-tree table tr td {
    text-align: center;
    padding: 30px;
  }
  
  .report-boxed .section-main-tree table tr td p {
    margin-bottom: 0;
    line-height: 1;
  }
  
  .report-boxed .section-main-tree table tr td p {
    margin-bottom: 0;
    line-height: 1;
  }
  
  .report-boxed .color-status-report {
    color: #828282;
  }
  
  .report-boxed .header-font-size {
    font-size: 32px;
    font-weight: bold;
    color: #44566C;
  }
  
  .report-boxed .div-circle-bagde {
  margin-right: 30px;
  }
  
  .report-boxed .circle-bagde {
    height: 15px;
    width: 15px;
    background-color: #FCB134;
    border-radius: 50%;
    display: inline-block;
  }
  
  .report-boxed .circle-bagde-green {
    height: 15px;
    width: 15px;
    background-color: #48AF31;
    border-radius: 50%;
    display: inline-block;
  }
  
  .report-boxed .circle-bagde-blue {
    height: 15px;
    width: 15px;
    background-color: #2662F0;
    border-radius: 50%;
    display: inline-block;
  }
  
  .report-boxed .circle-bagde-red {
    height: 15px;
    width: 15px;
    background-color: #E24B4B;
    border-radius: 50%;
    display: inline-block;
  }
  
  .report-boxed .circle-bagde-orange {
    height: 15px;
    width: 15px;
    background-color: #FF7354;
    border-radius: 50%;
    display: inline-block;
  }
  
  .report-boxed .quarter-boxed {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px !important;
  }
  
  .wrap-header-txt {
    display: inline-block;
  position: relative;
  }
  
  .report-boxed .section-main-tree .ignore-padding-table table tr td {
    text-align: center;
    padding: 0px 30px;
  }
  
  .report-boxed .section-main-tree .edit-padding-table-10px table tr td {
    text-align: center;
    padding: 5px 30px;
  }
  
  /* .dashboard-boxed .section-filter-date-action .right button {
    border: none;
    background-color: transparent;
  } */
  
  .table-boxed-report {
     display: inline-block;
     position: relative;
  }
  
  .table-boxed-report .wrap-date-picker {
    display: inline-block;
    position: relative;
  }
  
  .table-boxed-report  .wrap-date-picker img {
    position: absolute;
  }
  
  .table-boxed-report  .wrap-date-picker img.cal {
    left: 5px;
    top: 5px;
  }
  
  .table-boxed-report  .wrap-date-picker img.arr {
    right: 5px;
    top: 7px;
  }
  
  .table-boxed-report  .wrap-date-picker input {
    width: 220px;
    font-size: 20px;
    height: 32px;
    padding-left: 35px;
    border-radius: 5px;
  }
  
  .custom-align-table .table-section table td {
    text-align: center;
  }
  .custom-align-table .table-section table th {
    text-align: center;
  }
  
  .custom-align-table .margin-left-10px { 
   margin-left: 10px;
  }


  .report-boxed .wrap-chrat-donut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
    -webkit-box-pack: center;
    -ms-progress-appearance: center;
    justify-content: center;
  }

  .custom-reportboxed-margintop {
    margin-top: 50px;
  }

  .report-boxed .year-boxed {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 32px !important;
  }

  .report-boxed .category-gerbarg-boxed{
    display: inline-block;
    position: relative;
    width: 140px;
    height: 32px !important; 
    margin-right: 10px;
  }

  .report-boxed .wrap-select-filter {
    display: inline-block;
  }

  .section-table-report table{
    width: 100%;
    border: 1px solid #000000;
  }

  .section-table-report table thead th{
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
   }

   .section-table-report table tbody tr td{
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
   }
   .section-table-report .header-font-size {
    font-size: 32px;
    font-weight: bold;
    color: #44566C;
  }
    .section-table-report .small-font-size {
    font-size: 24px;
    color: #44566C;
    text-align: left;
  }