@media (max-width: 991px){
    .login-page{
        width: 100%;
        position: relative;
    }
    .login-page .login-left{
        width: 100%;
    }
    .login-page .login-left.with-overflow{
        max-height: initial;
    }
    .login-page .login-left .over-flow-scroll-register{
        padding: 0px 15px 50px;
        overflow-y: initial;
        height: 100%;
    }
    .login-page .login-right{
        width: 100%;
        display: none;
    }
    .login-page img, .login-page .login-left .login-left-boxed{
        max-width: 100%;
    }
    .page-content .content{
        padding: 0px;
        max-width: 100%;
        min-width: initial;
    }
    .dashboard-boxed, .company-detail-wrap .boxed{
        max-width: 100%;
        min-width: initial;
    }
    .page-wrapper .page-content{
        padding: 0px 15px 15px;
    }
    .page-content .content .top-bar{
        padding: 15px;
        background: #f1f5f8;
        position: sticky;
        top: 0px;
        z-index: 2000;
    }
    #show-sidebar{
        z-index: 3000;
        top: 15px;
    }
    .page-wrapper.toggled .page-content{
        width: calc(100% + 350px);
    }
    .last-section-dashboard, .report-first-section, .report-second-section, .report-table{
        max-width: 100%;
        min-width: initial;
    }
    .report-first-section .col{
        margin-bottom: 25px;
    }
    .modal-backdrop{
        z-index: 3500;
    }
    .modal{
        z-index: 4000;
    }
    #member-profile .company-detail .detail-nav{
        padding-left: 20px;
    }
    #member-profile .form-select{
        width: 100%;
    }
    .modal-with-form.modal-right-full .modal-dialog{
        margin: 1.75rem auto;
        height: auto;
    }
    .table-section thead tr th{
        font-size: 24px;
        line-height: 24px;
    }
    .table-section tbody tr td{
        font-size: 22px !important;
        line-height: 22px !important;
    }
    .modal-dialog{
        max-width: 90vw;
    }
    #table_detail{
        margin: 20px 0px 0px;
    }
    .modal .table-section, #sort_last-detail .table-detail-trash, #sort_middle-detail .table-detail-trash, #sort_first-detail .table-detail-trash{
        max-width: 100%;
        overflow-x: auto;
    }
    .modal .table-section table, #sort_last-detail .table-detail-trash table, #sort_middle-detail .table-detail-trash table, #sort_first-detail .table-detail-trash table{
        width: 1000px !important;
    }
    .page-content .content .top-bar .top-bar-left{
        display: none;
    }
    .page-content .content .top-bar .top-bar-right{
        width: 100%;
        text-align: right;
    }
    #sort_last-detail .wrap-content-modal-trash .wrap-input, #sort_middle-detail .wrap-content-modal-trash .wrap-input, #sort_first-detail .wrap-content-modal-trash .wrap-input{
        margin: 0px !important;
    }
    #sort_last-detail .wrap-content-modal-trash .right select, #sort_middle-detail .wrap-content-modal-trash .right select, #sort_first-detail .wrap-content-modal-trash .right select{
        width: 150px;
    }
    #sort_last-detail .trash-detail, #sort_middle-detail .trash-detail, #sort_first-detail .trash-detail{
        margin-bottom: 50px;
    }
    #sort_last-detail .bottom-last-trash-detail .row, #sort_middle-detail .bottom-last-trash-detail .row, #sort_first-detail .bottom-last-trash-detail .row{
        width: 100%;
        display: inline-block;
    }
    #sort_last-detail .bottom-last-trash-detail .row .col, #sort_middle-detail .bottom-last-trash-detail .row .col, #sort_first-detail .bottom-last-trash-detail .row .col{
        width: 100%;
        display: inline-block;
    }
    #report- .section-main-tree .col-7, #report- .section-main-tree .col-5, #report- .section-main-tree .row, #home-index .section-main-tree .col-7, #home-index .section-main-tree .col-5, #home-index .section-main-tree .row{
        width: 100%;
        display: inline-block;
        max-width: 100%;
    }
    #report- .dashboard-boxed .section-main-tree .wrap-main-tree, #home-index .dashboard-boxed .section-main-tree .wrap-main-tree{
        min-height: auto;
        margin-bottom: 50px;
    }
}

@media (max-width: 767px){
    .login-page .login-left h1{
        font-size: 40px;
        line-height: 40px;
    }
    .login-page .login-left h2{
        font-size: 32px;
        line-height: 32px;
    }
    .login-page .login-left .over-flow-scroll-register{
        padding: 0px 0px 50px;
    }
    .login-page .login-left .register-section span {
        font-size: 38px;
        line-height: 38px;
    }
    .login-page .login-left .register-section a {
        top: -2px;
        width: 35px;
    }
    .login-page .login-left .wrap-input textarea{
        font-size: 24px;
        line-height: 24px;
    }
    .login-page .login-left-boxed.register-complete .message-section span{
        font-size: 30px;
        line-height: 30px;
    }
    .login-page .login-left-boxed.register-complete .message-section .alert-success-register{
        margin-bottom: 100px;
    }

    footer .cookies .container{
        padding: 10px;
        text-align: center;
    }
    footer .cookies br{
        display: none;
    }
    footer .cookies .container .btn{
        position: relative;
        margin-top: 15px;
        top: 0px;
        margin-bottom: 15px;
    }
    .page-content .content .top-bar{
        padding: 5px 0px;
        margin-left: -15px;
        width: calc(100% + 32px);
    }
    .page-content .content .top-bar .top-bar-right .wrap-userdetail{
        width: auto;
        min-width: 150px;
    }
    .page-wrapper.toggled .sidebar-wrapper{
        z-index: 3000;
    }
    .page-content .content .main-content h1{
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 0px;
    }
    .page-content .content .nav-section-left{
        width: 100%;
    }
    .breadcrumb-section{
        margin: 0px;
    }
    .filter-section .filter-left{
        width: calc(100% - 60px);
    }
    .filter-section .filter-left label{
        display: none;
    }
    .filter-section .filter-left .form-inline{
        display: inline-block;
        width: 100%;
    }
    .filter-section .filter-left .form-inline .form-group{
        display: inline-block;
    }
    .filter-section .filter-right{
        width: 60px;
    }
    .filter-section .filter-left #fName{
        width: 150px;
        display: inline-block;
    }
    .filter-section .filter-left #fSearch{
        width: 70px;
        display: inline-block;
    }
    .main-content .table-section .bottom{
        text-align: center;
    }
    .main-content .table-section{
        margin-bottom: 50px;
    }
    table td ul.dtr-details{
        width: 100%;
    }
    table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control{
        padding-left: 50px;
    }
    table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before{
        top: 40%;
        left: 10px;
    }
    .modal-dialog {
        max-width: 100%;
    }
    select#company_sort_point_id{
        width: 160px;
    }
    #add_detail_btn{
        margin-top: 20px;
    }
    #sort_first- .modal .col-4, #sort_middle- .modal .col-4, #sort_last- .modal .col-4{
        width: 100%;
        display: inline;
    }
    #sort_first- .modal .row.reduce-wrap-margin, #sort_middle- .modal .row.reduce-wrap-margin, #sort_last- .modal .row.reduce-wrap-margin{
        width: 100%;
        display: inline;
    }
}

@media (max-width: 520px){

}