body {
    margin: 0
}

@font-face {
    font-family: DB-bold;
    src: url("../fonts/DBHelvethaicaX-Bold.woff")
}

@font-face {
    font-family: DB-medium;
    src: url("../fonts/DBHelvethaicaX-Medium.woff")
}

@font-face {
    font-family: DB-regular;
    src: url("../fonts/DBHelvethaicaX.woff")
}

body .d-block {
    display: block
}

body .d-xl-block {
    display: block
}

@media (max-width:1200px) {
    body .d-xl-block {
        display: none
    }
}

body .d-lg-block {
    display: block
}

@media (max-width:992px) {
    body .d-lg-block {
        display: none
    }
}

body .d-md-block {
    display: block
}

@media (max-width:768px) {
    body .d-md-block {
        display: none
    }
}

body .d-sm-block {
    display: block
}

@media (max-width:576px) {
    body .d-sm-block {
        display: none
    }
}

body .d-xl-none {
    display: none
}

@media (max-width:1200px) {
    body .d-xl-none {
        display: block
    }
}

body .d-md-none {
    display: none
}

@media (max-width:768px) {
    body .d-md-none {
        display: block
    }
}

body .d-lg-none {
    display: none
}

@media (max-width:992px) {
    body .d-lg-none {
        display: block
    }
}

body .d-flex {
    display: flex
}

body .d-sm-none {
    display: none
}

@media (max-width:576px) {
    body .d-sm-none {
        display: block
    }
}

body .justify-content-between {
    justify-content: space-between;
    display: flex;
    width: 100%
}

.banner-care-the-bear {
    background: url("../images/care-the-bear/banner/bg-banner.jpg") no-repeat left;
    background-size: cover;
    position: relative;
    display: flex;
    padding-top: 80px;
    width: 100%;
    justify-content: center
}

@media (max-width:768px) {
    .banner-care-the-bear {
        flex-direction: column;
        padding-top: 65px;
        align-items: center
    }
}


.banner-care-the-bear .content-banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 90px;
    max-width: 940px;
    width: 100%;
    margin-right: 40px;
    margin-left: 30px
}


@media (max-width:768px) {
    .banner-care-the-bear .content-banner-left {
        padding-top: 26px;
        padding-left: 37px;
        padding-right: 37px;
        margin-right: 0px;
        margin-left: 0px
    }
}

.banner-care-the-bear .content-banner-left img {
    margin-right: auto;
    margin-left: auto;
    max-width: 215px;
    width: 100%
}

.banner-care-the-bear .content-banner-left .title-banner {
    display: inline-block;
    color: #000000;
    text-align: center;
    font-family: DB-bold;
    font-size: 54px;
    line-height: 46px
}

@media (max-width:768px) {
    .banner-care-the-bear .content-banner-left .title-banner {
        font-size: 29px;
        line-height: 27px
    }
}

.banner-care-the-bear .content-banner-left .desc-banner {
    display: inline-block;
    color: #000000;
    text-align: center;
    font-family: DB-regular;
    font-size: 30px;
    margin-top: 12px
}

@media (max-width:768px) {
    .banner-care-the-bear .content-banner-left .desc-banner {
        font-size: 23px;
        line-height: 23px
    }
}

.banner-care-the-bear .content-banner-left .tiny-banner {
    display: inline-block;
    flex-direction: column;
    color: #000000;
    text-align: center;
    font-family: DB-regular;
    font-size: 24px;
    margin-top: 12px
}

@media (max-width:768px) {
    .banner-care-the-bear .content-banner-left .tiny-banner {
        font-size: 18px;
        line-height: 20px
    }
}

.banner-care-the-bear .content-banner-left .tiny-banner sub {
    font-size: 70%;
    display: inline-block;
    transform: translateY(4px)
}

.banner-care-the-bear .img-in-banner {
    position: relative;
    z-index: 1;
    overflow: hidden
}

@media (max-width:768px) {
    .banner-care-the-bear .img-in-banner {
        overflow: visible;
        padding-left: 20px
    }
}

.banner-care-the-bear .img-in-banner img {
    margin-top: -50px;
    margin-right: 0;
    max-width: 859px;
    margin-left: 0
}

@media (max-width:768px) {
    .banner-care-the-bear .img-in-banner img {
        margin-right: 0;
        margin-left: auto;
        width: 100%
    }
}

.main-sec-2 {
    background: linear-gradient(180deg, #fff 0%, rgba(32, 190, 238, 0.2) 100%)
}

.main-care-the-bear {
    background: url("../images/care-the-bear/sec-3/new-bg-sec-3.png") no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 700px
}

.main-care-the-bear::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #06abdd 0%, #08708f 100%);
    z-index: -1
}

.main-care-the-bear .container {
    max-width: 910px;
    margin: 0 auto
}

@media (max-width:992px) {
    .main-care-the-bear .container {
        margin: 0 40px
    }
}

@media (max-width:768px) {
    .main-care-the-bear .container {
        margin: 0 40px
    }
}

@media (max-width:576px) {
    .main-care-the-bear .container {
        margin: 0 20px
    }
}

.main-care-the-bear .title-sec-3 {
    padding: 60px 0 60px 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    font-family: DB-bold
}

@media (max-width:768px) {
    .main-care-the-bear .title-sec-3 {
        font-size: 29px;
        padding: 30px 0 30px 0
    }
}

.main-care-the-bear .box-content {
    display: flex;
    justify-content: space-between;
    align-items: start
}

@media (max-width:768px) {
    .main-care-the-bear .box-content {
        flex-direction: column;
        align-items: center
    }

    .main-care-the-bear .box-content:last-child {
        padding-bottom: 25px
    }
}

.main-care-the-bear .box-content .single-content {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px
}

@media (max-width:768px) {
    .main-care-the-bear .box-content .single-content {
        flex-direction: row;
        max-width: 670px
    }
}

.main-care-the-bear .box-content .single-content .img-content {
    width: 110px;
    height: 110px;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 20px
}

@media (max-width:768px) {
    .main-care-the-bear .box-content .single-content .img-content {
        margin-bottom: 0px;
        width: 100px;
        height: 100px
    }
}

.main-care-the-bear .box-content .single-content .text-content {
    text-align: center;
    font-size: 26px;
    max-width: 470px;
    width: 100%;
    font-family: DB-medium;
    color: #ffffff
}

@media (max-width:768px) {
    .main-care-the-bear .box-content .single-content .text-content {
        margin-left: 40px;
        text-align: start;
        font-size: 21px
    }
}

.main-performance .container {
    max-width: 1025px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center
}

@media (max-width:768px) {
    .main-performance .container {
        padding: 0 58px
    }
}

@media (max-width:576px) {
    .main-performance .container {
        padding: 0 20px
    }
}

.main-performance .text-indent-eq {
    text-indent: 10px;
    display: inline-block
}

.main-performance .hanging-co2-1 {
    position: relative
}

.main-performance .hanging-co2-1::after {
    position: absolute;
    content: '2';
    bottom: -4px;
    right: -9px;
    font-size: 20px
}

.main-performance .hanging-co2-2 {
    position: relative
}

.main-performance .hanging-co2-2::after {
    position: absolute;
    content: '2';
    bottom: -4px;
    right: -8px;
    font-size: 20px
}

.main-performance .text-indent-per-year {
    text-indent: 8px;
    display: inline-block
}

.main-performance .title-performance {
    padding-top: 60px;
    display: block;
    margin: 0 auto;
    color: #000000;
    font-size: 40px;
    font-family: DB-bold
}

@media (max-width:768px) {
    .main-performance .title-performance {
        font-size: 29px
    }
}

.main-performance .year-performance {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    color: #818181;
    font-family: DB-regular;
    font-size: 28px;
    text-align: center
}

@media (max-width:768px) {
    .main-performance .year-performance {
        font-size: 23px
    }
}

.main-performance .box-content-performance {
    padding-bottom: 57px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center
}

@media (max-width:768px) {
    .main-performance .box-content-performance {
        flex-direction: column
    }
}

.main-performance .box-content-performance .left-content {
    width: 100%
}

.main-performance .box-content-performance .left-content .list-items {
    padding-bottom: 40px;
    display: flex;
    align-items: center
}

@media (max-width:768px) {
    .main-performance .box-content-performance .left-content .list-items {
        max-width: 295px;
        margin: 0 auto
    }
}

@media (max-width:576px) {
    .main-performance .box-content-performance .left-content .list-items {
        margin: 0 0
    }
}

.main-performance .box-content-performance .left-content .list-items:last-child {
    padding-bottom: 0
}

@media (max-width:768px) {
    .main-performance .box-content-performance .left-content .list-items:last-child {
        padding-bottom: 71px
    }
}

.main-performance .box-content-performance .left-content .list-items .icon-cloud {
    font-size: 63px;
    color: #36B7DE;
    margin-right: 16px;
    margin-left: 0
}

@media (max-width:768px) {
    .main-performance .box-content-performance .left-content .list-items .icon-cloud {
        font-size: 48px
    }
}

.main-performance .box-content-performance .left-content .list-items .icon-building {
    font-size: 50px;
    color: #36B7DE;
    margin-right: 30px;
    margin-left: 0
}

@media (max-width:768px) {
    .main-performance .box-content-performance .left-content .list-items .icon-building {
        font-size: 38px
    }
}

.main-performance .box-content-performance .left-content .list-items .icon-tree {
    font-size: 50px;
    color: #36B7DE;
    margin-right: 30px;
    margin-left: 0
}

@media (max-width:768px) {
    .main-performance .box-content-performance .left-content .list-items .icon-tree {
        font-size: 38px
    }
}

.main-performance .box-content-performance .left-content .list-items .text-list-items {
    text-align: left
}

.main-performance .box-content-performance .left-content .list-items .text-list-items .text-1 {
    white-space: nowrap;
    color: #000000;
    font-size: 30px;
    font-family: DB-medium;
    line-height: 28px
}

@media (max-width:768px) {
    .main-performance .box-content-performance .left-content .list-items .text-list-items .text-1 {
        font-size: 23px
    }
}

.main-performance .box-content-performance .left-content .list-items .text-list-items .text-2 {
    white-space: nowrap;
    font-size: 60px;
    color: #36B7DE;
    font-family: DB-bold;
    margin-right: 10px;
    line-height: 58px
}

@media (max-width:768px) {
    .main-performance .box-content-performance .left-content .list-items .text-list-items .text-2 {
        font-size: 45px
    }
}

.main-performance .box-content-performance .left-content .list-items .text-list-items .text-3 {
    white-space: nowrap;
    font-size: 28px;
    color: #000000;
    font-family: DB-regular
}

@media (max-width:768px) {
    .main-performance .box-content-performance .left-content .list-items .text-list-items .text-3 {
        font-size: 21px
    }
}

.main-performance .box-content-performance .right-content {
    width: 100%
}

.main-performance .box-content-performance .right-content img {
    margin-left: auto;
    margin-right: 0
}

@media (max-width:768px) {
    .main-performance .box-content-performance .right-content img {
        margin-left: auto;
        margin-right: auto
    }
}

.banner-care-the-bear .content-banner-left .img-content-tiny img {
    max-width: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-news {
    background: url("../images/care-the-bear/sec-3/new-bg-sec-3.png") no-repeat center;
    background-size: cover;
    min-height: 300px;
    overflow: hidden;
    padding: 60px 20px 60px;
    position: relative;
    align-items: center;
    /* z-index: 1 */
    
}

.section-news::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #06abdd 0%, #08708f 100%);
    z-index: -1
}

.section-news .wrap_slider {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    height: 330px
}

.section-news .section-title {
    font-size: 40px;
    line-height: 38px;
    text-align: left;
    color: #ffffff;
}

.section-news .wrap_arrow {
    margin-top: 30px
}

.section-news .arrow {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border: 1.5px solid black;
    cursor: pointer;
    transition: all .3s ease
}

.section-news .arrow:not(.right) {
    margin-right: 8px
}

.section-news .arrow .icon {
    font-size: 21px;
    line-height: 21px;
    color: black
}

.section-news .arrow.arrow_disabled {
    opacity: .3;
    pointer-events: none
}

.section-news .slide_panel {
    position: relative;
    z-index: 10;
    width: 230px
}

.section-news .slider_news {
    width: calc(100% - 230px)
}

.section-news .slider_news .slide_news {
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.05);
    width: 350px !important;
    height: 330px !important;
    overflow: hidden;
    transform: scale(1) translateZ(0);
    transition: transform .4s ease, box-shadow .4s ease, opacity .2s ease
}

.section-news .slider_news .slide_news:hover {
    transform: scale(1.1) translateZ(0);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
}

.section-news .slider_news .slide_news:hover .wrap_detail {
    background-color: #FBD64A
}

.section-news .slider_news .slide_news.prev {
    opacity: 0;
    pointer-events: none;
    user-select: none
}

.section-news .slider_news .slide_news.next,
.section-news .slider_news .slide_news.active {
    opacity: 1
}

.section-news .slider_news .link_slide {
    cursor: inherit
}

.section-news .wrap_img {
    position: relative;
    height: 200px
}

.section-news .wrap_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.section-news .wrap_detail {
    height: 130px;
    padding: 26px 30px 22px;
    font-size: 26px;
    line-height: 26px;
    transition: background-color .3s ease;
    background-color: white
}

.section-news .wrap_detail .date {
    color: #424242
}

.section-news .wrap_detail .news_title {
    color: black;
    margin-top: 4px;
    white-space: normal;
    display: -webkit-box;
    line-height: 26px;
    max-height: 52px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

@media (max-width:767px) {
    .section-news {
        padding: 20px 20px 65px
    }

    .section-news .wrap_slider {
        height: auto;
        flex-direction: column;
    }

    .section-news .slide_panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end
    }

    .section-news .slide_panel .section-title {
        padding-right: 42px;
        font-size: 29px;
        line-height: 27px;
        margin: 0
    }

    .section-news .slide_panel .arrow {
        width: 30px;
        height: 30px;
        border: 1px solid black
    }

    .section-news .slide_panel .arrow .icon {
        font-size: 12px;
        line-height: 12px
    }

    .section-news .slider_news {
        width: 100%;
        margin-top: 45px;
        padding-left: 14px;
        padding-right: 14px
    }

    .section-news .slider_news .slide_news {
        width: 262px !important;
        height: 250px !important;
        opacity: 1
    }

    .section-news .slider_news .slide_news.swiper-slide-active {
        transform: scale(1.1) translateZ(0);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
    }

    .section-news .slider_news .slide_news.swiper-slide-active .wrap_detail {
        background-color: #FBD64A
    }

    .section-news .slider_news .slide_news.prev {
        opacity: 1
    }

    .section-news .wrap_img {
        height: 150px
    }

    .section-news .wrap_detail {
        height: 100px;
        padding: 15px
    }

    .section-news .wrap_detail .date,
    .section-news .wrap_detail .news_title {
        font-size: 21px;
        line-height: 21px
    }

    .section-news .wrap_arrow {
        margin-top: 0px
    }
}

.main-activity {
    padding: 30px;
    overflow: hidden;
}

.main-activity .container {
    max-width: 1025px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center
}

@media (max-width:768px) {
    .main-activity .container {
        padding: 0 58px
    }
}

@media (max-width:576px) {
    .main-activity .container {
        padding: 0 20px
    }
}


.main-activity .title-activity {
    padding: 60px 0px 60px 0px;
    display: block;
    margin: 0 auto;
    color: #000000;
    font-size: 40px;
    font-family: DB-bold
}

@media (max-width:768px) {
    .main-activity .title-activity {
        font-size: 29px
    }
}

.main-activity .wrap_slider {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    height: 330px
}

.main-activity .slider_news {
    width: calc(100% - 0px)
}

.main-activity .slider_news .slide_news {
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.05);
    width: 350px !important;
    height: 330px !important;
    overflow: hidden;
    transform: scale(1) translateZ(0);
    transition: transform .4s ease, box-shadow .4s ease, opacity .2s ease
}

.main-activity .slider_news .slide_news:hover {
    transform: scale(1.1) translateZ(0);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
}

.main-activity .slider_news .slide_news:hover .wrap_detail {
    background-color: #FBD64A
}

.main-activity .slider_news .slide_news.prev {
    opacity: 0;
    pointer-events: none;
    user-select: none
}

.main-activity .slider_news .slide_news.next,
.main-activity .slider_news .slide_news.active {
    opacity: 1
}

.main-activity .slider_news .link_slide {
    cursor: inherit
}

.main-activity .wrap_img {
    position: relative;
    height: 200px
}

.main-activity .wrap_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.main-activity .wrap_detail {
    height: 130px;
    padding: 26px 30px 22px;
    font-size: 26px;
    line-height: 26px;
    transition: background-color .3s ease;
    background-color: white
}

.main-activity .wrap_detail .date {
    color: #424242
}

.main-activity .wrap_detail .news_title {
    color: black;
    margin-top: 4px;
    white-space: normal;
    display: -webkit-box;
    line-height: 26px;
    max-height: 52px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

@media (max-width:767px) {
    .main-activity {
        padding: 20px 20px 65px
    }

    .main-activity .wrap_slider {
        height: auto;
        flex-direction: column;
    }

    .main-activity .slide_panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end
    }

    .main-activity .slide_panel .section-title {
        padding-right: 42px;
        font-size: 29px;
        line-height: 27px;
        margin: 0
    }

    .main-activity .slide_panel .arrow {
        width: 30px;
        height: 30px;
        border: 1px solid black
    }

    .main-activity .slide_panel .arrow .icon {
        font-size: 12px;
        line-height: 12px
    }

    .main-activity .slider_news {
        width: 100%;
        margin-top: 45px;
        padding-left: 14px;
        padding-right: 14px
    }

    .main-activity .slider_news .slide_news {
        width: 262px !important;
        height: 250px !important;
        opacity: 1
    }

    .main-activity .slider_news .slide_news.swiper-slide-active {
        transform: scale(1.1) translateZ(0);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
    }

    .main-activity .slider_news .slide_news.swiper-slide-active .wrap_detail {
        background-color: #FBD64A
    }

    .main-activity .slider_news .slide_news.prev {
        opacity: 1
    }

    .main-activity .wrap_img {
        height: 150px
    }

    .main-activity .wrap_detail {
        height: 100px;
        padding: 15px
    }

    .main-activity .wrap_detail .date,
    .main-activity .wrap_detail .news_title {
        font-size: 21px;
        line-height: 21px
    }

    .main-activity .wrap_arrow {
        margin-top: 0px
    }
}

.summary-carethebear {
    background: linear-gradient(180deg, #fff 0%, rgba(32, 190, 238, 0.2) 100%);
    padding: 30px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.text-center {
    text-align: center;
}

.home-highlight{
    background: #FEA30B;
    color: #fff;
    padding: 30px 0px 50px;
}
.home-highlight select{
    color: #000;
    font-size: 28px;
    line-height: 34px;
    background-image: linear-gradient(#fff, #eee);
}

.home-highlight .title-head {
    padding: 20px;
    text-align: center;
    color: #000000;
    font-size: 54px;

}

.home-highlight .title {
    text-align: center;
    color: #000000;
    font-size: 40px;

}

@media (max-width:768px) {
    .home-highlight .title {
        font-size: 29px
    }
}

.home-highlight .year {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-size: 28px;
    line-height: 34px;
    margin-top: -5px;
    margin-bottom: 0px;
}

@media (max-width:768px) {
    .home-highlight .year {
        font-size: 23px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none !important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none !important
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after,
.row:before {
    display: table;
    content: " "
}

.row:after {
    clear: both
}

.col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:768px) {
    .col-sm-4 {
        float: left;
        width: 33.33333333%
    }
}

.home-icon .box{
    padding: 0px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 40px;
}
.home-icon .box .icon{
    position: relative;
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center top;
}
.home-icon .box big{
    font-size: 46px;
    line-height: 46px;
    font-weight: 600;
}
.home-icon .box .text{
    position: relative;
    margin-top: -50px;
}
.home-icon .col:nth-child(1) .box .icon{
    margin-left: 9px;
}
.home-icon .col:nth-child(2) .box .icon{
    margin-left: -15px;
}

.home-icon.for-project .col .box .icon{
    margin: 0px;
}
.home-icon.for-project .col:nth-child(1) .box .icon{
    margin-top: -70px;
    margin-bottom: 70px;
    margin-left: 3px;
}
.home-icon.for-project .col:nth-child(2) .box .icon{
    margin-top: -15px;
    margin-bottom: 15px;
}

.hr-white{
    border-color: #fff;
    margin: 50px 0px;
}

.main-articles {
    padding: 60px 0px 60px 0px;
}

.main-articles .title {
    text-align: center;
    color: #000000;
    font-size: 40px;
}

.main-articles .slide-article{
    padding-bottom: 0px;
    display: block;
}

.main-articles .slide-article .owl-nav button.owl-prev, .main-articles .slide-article .owl-nav button.owl-next, .slide-activity .owl-nav button.owl-prev, .slide-activity .owl-nav button.owl-next, .slide-home-tips .owl-nav button.owl-prev, .slide-home-tips .owl-nav button.owl-next{
    top: 50%;
    margin-top: -20px;
}
.see-all{
    text-align: right;
}