@font-face {
    font-family: DB-bold;
    src: url("../fonts/DBHelvethaicaX-Bold.woff")
}

@font-face {
    font-family: DB-medium;
    src: url("../fonts/DBHelvethaicaX-Medium.woff")
}

@font-face {
    font-family: DB-regular;
    src: url("../fonts/DBHelvethaicaX.woff")
}

.banner-care-the-whale {
    background: url("../images/care-the-whale/banner/bg.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-top: 80px;
    overflow: hidden
}

@media (max-width:768px) {
    .banner-care-the-whale {
        padding-top: 65px;
        background: url("../images/care-the-whale/banner/bg_mb.jpg") no-repeat top center;
        background-size: cover;
        padding-bottom: 60px
    }
}

.banner-care-the-whale .max-width-banner {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    overflow: visible
}

@media (max-width:768px) {
    .banner-care-the-whale .max-width-banner {
        flex-direction: column
    }
}

.banner-care-the-whale .content-banner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 72px;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 90px;
    width: 42.96875%;
    max-width: 640px
}

@media (max-width:1100px) {
    .banner-care-the-whale .content-banner-right {
        width: 50%
    }
}

@media (max-width:768px) {
    .banner-care-the-whale .content-banner-right {
        padding: 25px 20px 20px;
        margin: 0 auto;
        width: 100%;
        order: 1
    }
}

.banner-care-the-whale .content-banner-right img {
    margin-right: auto;
    margin-left: auto;
    max-width: 215px;
    width: 100%
}

@media (max-width:768px) {
    .banner-care-the-whale .content-banner-right img {
        max-width: 113px
    }
}

.banner-care-the-whale .content-banner-right .title-banner {
    display: inline-block;
    color: #000000;
    text-align: center;
    font-size: 50px;
    line-height: 38px;
    margin-top: 20px
}

@media (max-width:768px) {
    .banner-care-the-whale .content-banner-right .title-banner {
        font-size: 29px;
        line-height: 27px
    }
}

.banner-care-the-whale .content-banner-right .desc-banner {
    display: inline-block;
    color: #000000;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    max-width: 450px;
    margin: 10px auto 0
}

@media (max-width:768px) {
    .banner-care-the-whale .content-banner-right .desc-banner {
        font-size: 23px;
        max-width: 400px
    }
}

.banner-care-the-whale .img-in-banner {
    width: 57.03125%;
    position: relative;
    z-index: 1;
    max-width: 640px
}

@media (max-width:1100px) {
    .banner-care-the-whale .img-in-banner {
        width: 50%
    }
}

@media (max-width:769px) {
    .banner-care-the-whale .img-in-banner {
        overflow: visible;
        width: 100%;
        padding-top: 93.75%;
        order: 2
    }
}

.banner-care-the-whale .img-in-banner img {
    min-width: 870px;
    position: absolute;
    top: -100px;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    min-height: 700px
}

@media (max-width:768px) {
    .banner-care-the-whale .img-in-banner img {
        margin-right: 0;
        margin-left: auto;
        width: 100%;
        min-width: 435px;
        min-height: unset;
        position: absolute;
        top: 0px;
        right: 30px
    }
}

@media (min-width:376px) {
    .show-375 {
        display: none
    }
}

.main-sec-3 {
    background: linear-gradient(180deg, #fff 10%, rgba(97, 199, 241, 0.4) 100%);
    z-index: 1;
    position: relative;
    padding: 60px 20px 48px
}

.main-sec-3::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/care-the-whale/sec-3/bg-sec-3.png") center no-repeat;
    background-size: cover
}

.main-sec-3 .container {
    position: relative;
    z-index: 10;
    max-width: 1155px;
    margin: 0 auto
}

.main-sec-3 .title-sec-3 {
    font-size: 40px;
    line-height: 38px;
    text-align: center
}

.main-sec-3 .desc-sec-3 {
    display: block;
    padding-top: 10px;
    font-size: 30px;
    line-height: 28px;
    text-align: center
}

.main-sec-3 .chart {
    max-width: 484px;
    margin: 25px auto 0
}

.main-sec-3 .chart .wrap-border {
    position: relative;
    padding-top: 74.2%
}

.main-sec-3 .chart .wrap-3M img {
    width: 24.38016529%;
    height: auto;
    object-fit: contain;
    perspective: 700px;
    transform: scale(1) rotateZ(0deg) rotateY(290deg);
    transition: transform 1.5s cubic-bezier(.29, 1.04, .55, 1.48)
}

.main-sec-3 .chart .wrap-3M img.show {
    transform: scale(1) rotateZ(0deg) rotateY(0deg)
}

.main-sec-3 .chart .wrap-3M img:nth-child(1) {
    top: calc(29 / 362 * 100%);
    left: calc(182 / 484 * 100%)
}

.main-sec-3 .chart .wrap-3M img:nth-child(2) {
    top: calc(119 / 362 * 100%);
    left: calc(338 / 484 * 100%)
}

.main-sec-3 .chart .wrap-3M img:nth-child(3) {
    top: calc(215 / 362 * 100%);
    left: calc(181 / 484 * 100%)
}

.main-sec-3 .chart .wrap-3M img:nth-child(4) {
    top: calc(119 / 362 * 100%);
    left: calc(28 / 484 * 100%)
}

.main-sec-3 .chart img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.main-sec-3 .instruction-3M {
    margin-top: 45px;
    height: 100%
}

.main-sec-3 .instruction-3M .instruction {
    border-radius: 20px;
    overflow: hidden;
    width: calc(33.33% - 36px);
    text-align: center
}

.main-sec-3 .instruction-3M .inst-head {
    background-color: #264165;
    padding: 16px 20px;
    color: white;
    font-size: 40px;
    line-height: 38px
}

.main-sec-3 .instruction-3M .inst-body {
    padding: 24px 25px;
    font-size: 26px;
    line-height: 26px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%
}

.whale-privilege {
    position: relative;
    padding: 60px 20px 10px
}

.whale-privilege .wrap-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.whale-privilege .wrap-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.whale-privilege::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #06abdd 0%, #08708f 100%);
    z-index: -1
}

.whale-privilege .container {
    max-width: 1160px;
    margin: 0 auto
}

@media (max-width:992px) {
    .whale-privilege .container {
        margin: 0 40px
    }
}

.whale-privilege .title-sec-3 {
    font-size: 40px;
    line-height: 38px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: center
}

@media (max-width:768px) {
    .whale-privilege .title-sec-3 {
        font-size: 29px;
        line-height: 27px
    }
}

.whale-privilege .box-content {
    margin-top: 48px
}

@media (max-width:768px) {
    .whale-privilege .box-content {
        flex-direction: column;
        align-items: center
    }
}

.whale-privilege .box-content .single-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 0 20px 50px
}

@media (max-width:940px) {
    .whale-privilege .box-content .single-content {
        width: 33.33%
    }
}

@media (max-width:768px) {
    .whale-privilege .box-content .single-content {
        flex-direction: row;
        max-width: 670px;
        width: 100%
    }
}

.whale-privilege .box-content .single-content .img-content {
    width: 110px;
    height: 110px;
    object-fit: cover;
    max-width: 100%;
    margin: 0 0 20px
}

@media (max-width:768px) {
    .whale-privilege .box-content .single-content .img-content {
        margin: 0;
        width: 100px;
        height: 100px
    }
}

.whale-privilege .box-content .single-content .text-content {
    text-align: center;
    font-size: 26px;
    line-height: 26px;
    max-width: 239px;
    width: 100%;
    color: #ffffff
}

@media (max-width:768px) {
    .whale-privilege .box-content .single-content .text-content {
        margin-left: 40px;
        text-align: start;
        font-size: 21px;
        line-height: 21px
    }
}

.section-performance {
    position: relative;
    z-index: 40;
    -webkit-mask: url('../images/care-the-whale/area/curve_dt.png') repeat-x;
    mask: url('../images/care-the-whale/area/curve_dt.png') repeat-x;
    background-color: #E2F5FD;
    min-height: 740px;
    width: 100%;
    height: 100%;
    -webkit-mask-size: cover;
    mask-size: cover
}

@media (min-width:821px) {
    .section-performance {
        padding-bottom: 40px
    }
}

@media (max-width:767px) {
    .section-performance {
        mask: url('../images/care-the-whale/area/curve_mb.svg') repeat-x;
        -webkit-mask: url('../images/care-the-whale/area/curve_mb.svg') repeat-x
    }
}

.section-performance .title-performance {
    text-align: center;
    display: block;
    padding-top: 80px;
    font-size: 40px;
    font-family: DB-bold;
    color: #000000
}

@media (max-width:768px) {
    .section-performance .title-performance {
        font-size: 27px
    }
}

.section-performance .desc-performance {
    display: block;
    text-align: center;
    font-size: 28px;
    font-family: DB-regular;
    color: #818181
}

@media (max-width:768px) {
    .section-performance .desc-performance {
        font-size: 23px
    }
}

.section-performance .wrapper-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 69px
}

@media (max-width:992px) {
    .section-performance .wrapper-content {
        flex-direction: column
    }
}

@media (max-width:768px) {
    .section-performance .wrapper-content {
        margin-top: 40px
    }
}

@media (max-width:576px) {
    .section-performance .wrapper-content {
        margin-top: 30px;
        align-items: start
    }
}

.section-performance .wrapper-content .left-img {
    padding-top: 80px;
    padding-bottom: 80px;
    order: 1;
    max-width: 675px;
    width: 100%
}

@media (max-width:992px) {
    .section-performance .wrapper-content .left-img {
        order: 2
    }
}

.section-performance .wrapper-content .left-img img {
    width: 100%
}

@media (max-width:576px) {
    .section-performance .wrapper-content .left-img {
        padding-top: 40px;
        padding-bottom: 40px
    }
}

.section-performance .wrapper-content .right-content {
    order: 2
}

@media (max-width:992px) {
    .section-performance .wrapper-content .right-content {
        order: 1
    }
}

.section-performance .wrapper-content .right-content .text-indent-per-year {
    text-indent: 8px;
    display: inline-block
}

.section-performance .wrapper-content .right-content .text-indent-eq {
    text-indent: 10px;
    display: inline-block
}

.section-performance .wrapper-content .right-content .hanging-co2-1 {
    position: relative
}

.section-performance .wrapper-content .right-content .hanging-co2-1::after {
    position: absolute;
    content: '2';
    bottom: -4px;
    right: -4px;
    font-size: 20px
}

.section-performance .wrapper-content .right-content .hanging-co2-2 {
    position: relative
}

.section-performance .wrapper-content .right-content .hanging-co2-2::after {
    position: absolute;
    content: '2';
    bottom: -4px;
    right: -8px;
    font-size: 20px
}

.section-performance .wrapper-content .right-content .list-items {
    padding-bottom: 40px;
    display: flex;
    align-items: center
}

@media (max-width:768px) {
    .section-performance .wrapper-content .right-content .list-items {
        max-width: 295px;
        margin: 0 auto
    }
}

@media (max-width:576px) {
    .section-performance .wrapper-content .right-content .list-items {
        margin: 0 0
    }
}

.section-performance .wrapper-content .right-content .list-items:last-child {
    padding-bottom: 0
}

@media (max-width:576px) {
    .section-performance .wrapper-content .right-content .list-items:last-child {
        padding-bottom: 20px
    }
}

.section-performance .wrapper-content .right-content .list-items .icon-cloud {
    font-size: 63px;
    color: #264165;
    margin-right: 16px;
    margin-left: 0
}

@media (max-width:768px) {
    .section-performance .wrapper-content .right-content .list-items .icon-cloud {
        font-size: 48px
    }
}

.section-performance .wrapper-content .right-content .list-items .icon-building {
    font-size: 50px;
    color: #264165;
    margin-right: 30px;
    margin-left: 0
}

@media (max-width:768px) {
    .section-performance .wrapper-content .right-content .list-items .icon-building {
        font-size: 38px
    }
}

.section-performance .wrapper-content .right-content .list-items .icon-tree {
    font-size: 50px;
    color: #264165;
    margin-right: 30px;
    margin-left: 0
}

@media (max-width:768px) {
    .section-performance .wrapper-content .right-content .list-items .icon-tree {
        font-size: 38px
    }
}

.section-performance .wrapper-content .right-content .list-items .icon-recycle-bin {
    font-size: 50px;
    color: #264165;
    margin-left: 0;
    margin-right: 30px
}

@media (max-width:768px) {
    .section-performance .wrapper-content .right-content .list-items .icon-recycle-bin {
        font-size: 38px
    }
}

.section-performance .wrapper-content .right-content .list-items .text-list-items {
    text-align: left
}

.section-performance .wrapper-content .right-content .list-items .text-list-items .text-1 {
    white-space: nowrap;
    color: #000000;
    font-size: 30px;
    font-family: DB-medium;
    line-height: 28px
}

@media (max-width:768px) {
    .section-performance .wrapper-content .right-content .list-items .text-list-items .text-1 {
        font-size: 23px
    }
}

.section-performance .wrapper-content .right-content .list-items .text-list-items .text-2 {
    white-space: nowrap;
    font-size: 60px;
    color: #264165;
    font-family: DB-bold;
    margin-right: 10px;
    line-height: 58px
}

@media (max-width:768px) {
    .section-performance .wrapper-content .right-content .list-items .text-list-items .text-2 {
        font-size: 45px
    }
}

.section-performance .wrapper-content .right-content .list-items .text-list-items .text-3 {
    white-space: nowrap;
    font-size: 28px;
    color: #000000;
    font-family: DB-regular
}

@media (max-width:768px) {
    .section-performance .wrapper-content .right-content .list-items .text-list-items .text-3 {
        font-size: 21px
    }
}

.section-performance .container {
    max-width: 1131px;
    margin: 0 auto;
    width: 100%
}

@media (max-width:1131px) {
    .section-performance .container {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width:940px) {
    .main-sec-3 .instruction-3M .instruction {
        width: calc(33.33% - 10px)
    }
}

@media (max-width:767px) {
    .column-xs {
        flex-direction: column
    }

    .main-sec-3 {
        padding: 40px 20px 7px
    }

    .main-sec-3 .title-sec-3 {
        font-size: 29px;
        line-height: 27px
    }

    .main-sec-3 .desc-sec-3 {
        padding-top: 10px;
        font-size: 23px;
        line-height: 23px
    }

    .main-sec-3 .instruction-3M {
        margin-top: 40px
    }

    .main-sec-3 .instruction-3M .instruction {
        width: 100%;
        margin-bottom: 30px
    }

    .main-sec-3 .instruction-3M .inst-head {
        font-size: 29px;
        line-height: 27px
    }

    .main-sec-3 .instruction-3M .inst-body {
        padding: 20px 17px;
        font-size: 24px;
        line-height: 24px
    }

    .whale-privilege {
        padding: 40px 20px 10px
    }

    .whale-privilege .container {
        margin: 0
    }

    .whale-privilege .box-content {
        margin-top: 30px
    }

    .whale-privilege .box-content .single-content {
        width: 100%;
        padding: 0 0 30px
    }

    .whale-privilege .box-content .single-content .text-content {
        max-width: 100%;
        margin-left: 20px
    }
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.text-center {
    text-align: center;
}

.title-news {
    position: relative;
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 0px;
    margin-bottom: 25px;
}

.slide-article{
    position: relative;
    padding-bottom: 40px;
}
.article{
    width: 100%;
    float: left;
    /* position: relative; */
    display: inline-block;
    margin-bottom: 20px;
}
.article .head{
    background: #36B7DE;
    color: #fff;
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    padding: 10px 0px;
}
.article .head .btn{
    position: absolute;
    right: 10px;
    top: 10px;
}
.article .head span{
    width: 515px;
    max-width: 100%;
    padding-left: 30px;
    display: inline-block;
}
@media (max-width:768px){
    .article .head span{
        max-width: 100%;
        padding-left: initial;
    }
} 
.article .img{
    float: left;
    width: 560px !important;
    max-width: 100%;
}
.article .img.is-full{
    width: 100% !important;
}
.article .text{
    float: left;
    width: calc(100% - 560px);
    padding: 30px 0px 30px 30px;
    font-size: 26px;
    line-height: 28px;
}
.article.is-half .img{
    width: 55% !important;
}
.article.is-half .text{
    width: 45%;
}
.article.is-half .text h3{
    margin-top: 0px;
    font-size: 34px;
    line-height: 36px;
}

@media (max-width:768px){
    .article.is-half .text h3{
        font-size: inherit;
    }
}
.article.is-half .head span{
    width: 55%;
    text-align: center;
    display: inline-block;
}

