#content {
    padding-top: 80px;
    height: 100%
}

@media (max-width:768px){
    #content {
        padding-top: 65px;
        flex-direction: column;
    }
}


sub {
    font-size: 70%;
    display: inline-block;
    transform: translateY(4px)
}

.climate-summary {
    padding: 30px 30px 60px;
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5)
}

.climate-wild {
    width: 100%;
    background-image: url(https://uat-climate.setsocialimpact.com/images/theme/default/public/images/dashboard_carethewild/wild_bg.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    border-left: 1px solid rgba(193, 193, 193, 0.5);

}

@media (max-width:1920px){
    .climate-wild{
        background-size: 1454px;
    }
}

@media (max-width:768px){
    .climate-wild{
        background-image: none;
    }
}

/* .climate-wild img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.wild-detail{
    padding: 0px 40px 0;
    text-align: left;
    width: 55%;
    margin-left: -30%;
}

@media (max-width:1920px){
    .wild-detail{
        width: 75%;
        margin-left: -20%;
    }
}

@media (max-width:768px){
    .wild-detail{
        text-align: center;
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
}

.wild-detail .title {
    /* font-family: DBHelvethaicaMonX-75Bd; */
    font-size: 47px;
    line-height: 34px;
    padding-left: 60px;
    margin-top: 60px;
}

@media (max-width:768px){
    .wild-detail .title {
        /* font-family: DBHelvethaicaMonX-75Bd; */
        font-size: 38px;
        /* line-height: 36px; */
        padding-left: 0;
        margin-top: 30px;
    }
}

.wild-detail .head {
    font-size: 42px;
    line-height: 38px;
    margin-top: 10px;
}

@media (max-width:768px){
    .wild-detail .head {
        font-size: 30px;
        line-height: 34px;
        margin-top: 10px;
    }
}

.wild-detail .sub-title {
    font-size: 28px;
    line-height: 28px;
    margin-top: -10px;
}

@media (max-width:768px){
    .wild-detail .sub-title {
        font-size: 26px;
        margin-top: 0px;
    }
}

.wild-detail .text-data {
    font-size: 30px;
    line-height: 28px;
    padding: 0 30px;
    margin-top: 15px;
    max-width: 1080px;

}

@media (max-width:768px){
    .wild-detail .text-data {
        font-size: 24px;
        line-height: 26px;
        padding: 0 0px;
        margin-top: 15px;
    
    }
}

.wild-detail .wrap-logoes{
    max-width: 450px;
    min-width: 100px;
    gap: 20px;
    margin-top: 80px;
}

@media (max-width:1920px){
    .wild-detail .wrap-logoes{
        margin-top: 40px;
    }
}

@media (max-width:768px){
    .wild-detail .wrap-logoes{
        max-width: 450px;
        gap: 20px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }
}

.wild-detail .wrap-logoes img{
    max-height: 320px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    object-fit: contain
}

@media (max-width:768px){
    .wild-detail .wrap-logoes img{
        max-height: 120px;
    }
}

.wild-detail .hero {
    max-width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wild-detail .hero img {
    width: 100%;
    height: 100%;
    object-fit: contain

}

.summary-wild {
    display: flex;
    justify-content: center;
    padding: 400px 40px 0;
}

@media (max-width:2200px){
    .summary-wild{
        padding: 300px 40px 0;
    }
}
@media (max-width:1920px){
    .summary-wild{
        padding: 200px 40px 0;
    }
}
@media (max-width:768px){
    .summary-wild{
        padding: 0px 40px 0;
    }
}

.summary-wild .content-icon{
    content: "\e917";
    font-family: 'icon-set-climate' !important;
    border: 1px solid #6DC169;
    color: #6DC169;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.summary-wild .content-info {
    position: relative;
    max-width: 840px;
    padding: 60px 20px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:768px){
    .summary-wild .content-info {
        position: relative;
        max-width: 840px;
        padding: 60px 20px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.content-info .content-summary{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media (max-width:768px){
    .content-info .content-summary{
        flex-direction: column;
    }
}

.content-info .content-summary .head {
    font-size: 36px;
    line-height: 36px;
    padding-left: 30px;
}

@media (max-width:768px){
    .content-info .content-summary .head {
        font-size: 32px;
        line-height: 30px;
        padding-left: 0px;
        text-align: center;
        padding-top: 10px;
    }
}

.content-info .content-summary .wrap-result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 47px;
    line-height: 30px;
    text-align: center;
    padding-left: 120px;
}

@media (max-width:768px){
    .content-info .content-summary .wrap-result{
        padding-left: 0px;
        padding-top: 30px;
    }
}

.content-info .content-summary img {
    width: 120px;
}

@media (max-width:768px){
    .content-info .content-summary img {
        width: 95px;
    }
}

.content-info .content-summary .wrap-result .sub-text{
    font-size: 28px;
    text-align: center;
    color: #6c6c6c;
}



.summary-wild .text-company {
    font-size: 42px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    line-height: 38px;
    text-align: center;
    color: #FFA400;
}

@media (max-width:768px){
    .summary-wild .text-company {
        font-size: 36px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        line-height: 38px;
        text-align: center
    }
}

.summary-wild .text-details {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}


.summary-wild .text-details .first-line {
    font-size: 40px;
    line-height: 38px;
    text-align: left
}

.summary-wild .text-details .second-line {
    font-size: 30px;
    line-height: 28px
}

.summary-wild .content-location {
    position: relative;
    max-width: 840px;
    padding: 60px 20px 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media (max-width:768px){
    .summary-wild .content-location {
        position: relative;
        max-width: 840px;
        padding: 60px 20px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.summary-wild .content-location .text{
    font-size: 47px;
    padding-left: 30px;
}

@media (max-width:768px){
    .summary-wild .content-location .text{
        padding-left: 0px;
        text-align: center;
        padding-top: 10px;
    }
}

.container_section5 {
    overflow: hidden;
    /* background: url(../../public/images/wild/bg-desktop_section5.png) top no-repeat;
    background-size: cover; */
    padding: 20px;
    width: inherit;
    text-align: center;
}

.container_section5 .content {
    max-width: 1080px;
    padding: 40px 0px 116px;
    margin: 0 auto
}

.container_section5 .img-section .box-img-content {
    border: 5px;
    border-radius: 10px;
    width: 300px !important;
    height: 200px !important;
    transform: scale(1) translateZ(0);
    transition: transform .4s ease, box-shadow .4s ease, opacity .2s ease;
    background-color: #ffffff;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05)
}

.container_section5 .img-section .box-img-content .box-detail {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.container_section5 .img-section .box-img-content .box-header-text {
    text-align: center;
    font-size: 30px;
    line-height: 28px;
    color: #3AB34A;
    padding-top: 3px
}

.container_section5 .img-section .box-img-content .box-text {
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: black
}

.container_section5 .img-section .box-img-content .forest {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity .3s ease
}

.container_section5 .img-section .box-img-content:hover {
    position: relative;
    z-index: 5;
    transform: scale(1.2) translateZ(0);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5)
}

.container_section5 .img-section .box-img-content:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px
}

.container_section5 .img-section .box-img-content:hover .box-header-text {
    color: white;
    padding-bottom: 20px
}

.container_section5 .img-section .box-img-content:hover .box-header-text span {
    color: white
}

.container_section5 .img-section .box-img-content:hover .forest {
    opacity: 1;
    border-radius: 10px
}

.container_section5 .img-section .box-img-content:hover .box-detail {
    justify-content: flex-end
}

.container_section5 .img-section .box-img-content:hover .box-detail img {
    opacity: 0
}



