#content {
    padding-top: 80px;
    height: 100%
}

@media (max-width:768px){
    #content {
        padding-top: 65px;
        flex-direction: column;
    }
}

sub {
    font-size: 70%;
    display: inline-block;
    transform: translateY(4px)
}

.climate-summary {
    padding: 30px 30px 60px;
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5)
}

.climate-tgo {
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5);

}


.climate-tgo .bg {
    position: absolute;
    top: 0;
    left: 60px;
    background-size: cover;
    min-height: 820px;
    display: flex;
    justify-content: center;
    z-index: -1;
}

@media (max-width:768px){
    .climate-tgo .bg {
        position: absolute;
        top: 0;
        left: 0px;
        background-size: cover;
        min-height: 820px;
        display: flex;
        justify-content: center;
        z-index: -1;
    }
}

.climate-tgo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tgo-detail{
    padding: 0px 40px 0;
    text-align: center;
}

.tgo-detail .title {
    /* font-family: DBHelvethaicaMonX-75Bd; */
    font-size: 47px;
    line-height: 52px;
    margin-top: 30px;
}

@media (max-width:768px){
    .tgo-detail .title {
        /* font-family: DBHelvethaicaMonX-75Bd; */
        font-size: 34px;
        line-height: 36px;
        margin-top: 30px;
    }
}

.tgo-detail .head {
    font-size: 42px;
    line-height: 38px;
    margin-top: 10px;
}

@media (max-width:768px){
    .tgo-detail .head {
        font-size: 30px;
        line-height: 34px;
        margin-top: 10px;
    }
}

.tgo-detail .sub-title {
    font-size: 42px;
    margin-top: -10px;
}

@media (max-width:768px){
    .tgo-detail .sub-title {
        font-size: 34px;
        margin-top: 0px;
    }
}

.tgo-detail .text-data {
    font-size: 30px;
    line-height: 28px;
    padding: 0 30px;
    margin-top: 15px;
    max-width: 1080px;

}

@media (max-width:768px){
    .tgo-detail .text-data {
        font-size: 24px;
        line-height: 26px;
        padding: 0 0px;
        margin-top: 15px;
    
    }
}

.tgo-detail .wrap-logoes{
    max-width: 450px;
    gap: 20px;
    margin-top: 40px;
}

@media (max-width:768px){
    .tgo-detail .wrap-logoes{
        max-width: 450px;
        gap: 20px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }
}

.tgo-detail .wrap-logoes img{
    max-height: 85px;
    width: 100%;
    height: 100%;
    object-fit: contain
}

.tgo-detail .hero {
    max-width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tgo-detail .hero img {
    width: 100%;
    height: 100%;
    object-fit: contain

}

.process-less {
    display: flex;
    justify-content: center;
    padding: 0px 40px 0;
}

.process-less .content-info {
    position: relative;
    max-width: 840px;
    padding: 60px 20px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:768px){
    .process-less .content-info {
        position: relative;
        max-width: 840px;
        padding: 60px 20px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.content-info .bg {
    position: relative;
    left: auto;
    z-index: -1;
    width: 540px;
    height: 100%;
    object-fit: contain;
    display: flex;
    margin-top: 40px;
    margin-right: 160px;
}

@media (max-width:768px){
    .content-info .bg {
        visibility: hidden;
    }
}

.content-info .bg img{
    object-fit: contain;
    display: flex;
}

.content-info .icon .head {
    font-size: 36px;
    line-height: 30px;
    padding-left: 10px;
}

@media (max-width:768px){
    .content-info .icon .head {
        font-size: 32px;
        line-height: 30px;
        padding-left: 10px;
    }
}

.content-info .icon .text {
    font-family: DB Helvethaica X;
    font-weight: normal;
    font-size: 30px;
}

@media (max-width:768px){
    .content-info .icon .text {
        font-family: DB Helvethaica X;
        font-weight: normal;
        font-size: 24px;
    }
}

.content-info .icon img {
    width: 120px;
}

@media (max-width:768px){
    .content-info .icon img {
        width: 95px;
    }
}

.content-info .icon img:hover {
    transform: scale(1.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    
}


.content-info .icon1 {
    position: absolute;
    top: 180px;
    left: 70px;
    display: flex;
}

@media (max-width:768px){
    .content-info .icon1 {
        position: absolute;
        top: 260px;
        left: 0px;
        display: flex;
    }
}

.content-info .icon2 {
    position: absolute;
    top: 330px;
    left: 400px;
    display: flex;
}

@media (max-width:768px){
    .content-info .icon2 {
        position: absolute;
        top: 380px;
        left: 0px;
        display: flex;
    }
}

.content-info .icon3 {
    position: absolute;
    top: 510px;
    left: 445px;
    display: flex;
}

@media (max-width:768px){
    .content-info .icon3 {
        position: absolute;
        top: 500px;
        left: 0px;
        display: flex;
    }
}


.content-info .icon4 {
    position: absolute;
    top: 570px;
    left: 120px;
    display: flex;
}

@media (max-width:768px){
    .content-info .icon4 {
        position: absolute;
        top: 640px;
        left: 0px;
        display: flex;
    }
}

.content-info .icon5 {
    position: absolute;
    top: 740px;
    left: 0px;
    display: flex;
}

@media (max-width:768px){
    .content-info .icon5 {
        position: absolute;
        top: 765px;
        left: 0px;
        display: flex;
    }
}

.content-info .icon6 {
    position: absolute;
    top: 910px;
    left: 460px;
    display: flex;
}

@media (max-width:768px){
    .content-info .icon6 {
        position: absolute;
        top: 890px;
        left: 0px;
        display: flex;
    }
}


.process-less .text-header {
    font-size: 42px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    line-height: 38px;
    text-align: center
}

@media (max-width:768px){
    .process-less .text-header {
        font-size: 36px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        line-height: 38px;
        text-align: center
    }
}

.process-less .text-details {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}


.process-less .text-details .first-line {
    font-size: 40px;
    line-height: 38px;
    text-align: left
}

.process-less .text-details .second-line {
    font-size: 30px;
    line-height: 28px
}

.banner-more {
    width: 566px;
    height: 55px;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.12);
    

}

@media (max-width:768px){
    .banner-more {
        width: 100%;
        height: 55px;
        border-radius: 25px;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.12);
        
    
    }
}

.banner-more .head {
    font-size: 36px;
    line-height: 30px;
    padding: 14px;

}

.content-card {
    position: relative;
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-card .card {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-card .text {
    position: absolute;
    width: 800px;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: "DB Helvethaica X";
    font-size: 26px;
    line-height: 26px;
    text-align: center;
}

.content-card img:hover {
    transform: scale(1.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}



