#content {
    padding-top: 80px;
    height: 100%
}

sub {
    font-size: 70%;
    display: inline-block;
    transform: translateY(4px)
}

.climate-summary {
    /* padding: 30px 30px 60px; */
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5);
    background-color: #F4F9FD;
}

.climate-tgo {
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5);

}

a {
    color: #000;
}



.global-warming-detail {
    padding: 30px;
    background: #fff;
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: -webkit-fill-available;
    margin: 30px;
}

.global-warming-detail .title {
    text-align: center;
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 20px
}

.global-warming-detail .detail {
    padding: 0 10px;
    width: 100%
}

.global-warming-detail .detail:not(:last-child) {
    border-right: 1px solid rgba(193, 193, 193, 0.8)
}

.global-warming-detail .wrap-img {
    height: 71px;
    margin-right: 20px;
    margin-top: 10px
}

.global-warming-detail .wrap-img .IMG {
    height: 100%;
    width: auto;
    object-fit: contain
}

.global-warming-detail .wrap-stats {
    font-size: 22px;
    line-height: 22px;
    margin-top: 10px
}

.global-warming-detail .wrap-stats .stats-value {
    font-size: 40px;
    line-height: 38px;
    margin-right: 7px
}

.company-detail {
    width: 100%;
    gap: 20px;
    margin-top: 45px
}

.company-detail .wrap-card {
    width: 33.33333%
}


.wrap-bear {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrap-bear .wrap-title {
    font-size: 54px;
    line-height: 36px;
    padding-left: 120px;
    margin-top: 15px;
    text-align: center;
}

.wrap-bear .wrap-title .head {
    font-size: 30px;
    line-height: 28px;
}

.bear-grap {
    margin: auto;
}

.bear-grap .transparent {
    width: 125px;
}

.wrap_character.char_bear {
    /* top: 390px;
    left: calc(495 / 1280 * 100%); */
    /* width: 100%; */
}

.char_bear {
    position: absolute;
    top: -15px;
    left: 30px;
    width: 125px;
    height: 157px
}

.wrap_character .character {
    position: relative;
    pointer-events: none
}

.wrap_character .sign {
    position: absolute;
    top: -5px;
    left: 115px;
    width: 65px;
    height: 111px;
    transform-origin: 5px 111px;
    animation-name: wave-sign;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.7s
}

@keyframes wave-sign {
    0% {
        transform: rotate(10deg)
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(10deg)
    }
}




.member-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    z-index: 8;
}

@media (max-width:768px){
    .member-actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
    }
}

.wrap-menu {
    position: relative;
    transition: 1s;
}

.wrap-menu .transparent{
    margin-top: -30px;
}

.wrap-menu .arrow {
    margin-top: -65px;
}

.wrap-menu .arrow-select {
    margin-top: -65px;
    transform: rotate(-180deg);
}

.wrap-menu .dropdown {
    position: absolute;
    display: flex;
    margin: 0 15px 0;
    justify-content: center;
    width: 250px;
    height: 220px;
    border-radius: 14px;
    border: 1px solid #D8DDE5;
    background: #FFF;
    font-size: 20px;
    line-height: 20px;
    /* margin: auto; */
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    -webkit-transform-origin-y: -70px;
    transform: scaleY(-0);
}

.wrap-menu .dropdown .head {
    padding:20px 0px 20px;
    border-bottom: 1px solid #e0e9ed;
    width: 200px;
}

.wrap-menu .dropdown .head img {
    margin: 0;
    padding: 0 10px 0;
    height: 20px;
}

.wrap-menu .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* background-color: #f1f1f1; */
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.wrap-menu:hover .dropdown {
    position: absolute;
    display: flex;
    margin: 0 15px 0;
    opacity: 1;
    transition-duration: 0.3s;
    -webkit-transform-origin-y: 0px;
    transform: scaleY(1);
}

.wrap-menu:hover .arrow {
    transform: rotate(180deg);
    transition-duration: 0.7s;
}

.wrap-menu .dropdown-content a {
    color: black;
    padding: 12px 0;
  }

.wrap-menu .dropdown-content .right {
    font-size: 20px;
    line-height: 20px;
}

.wrap-menu .dropdown-content .list-content {
    padding-right: 30px;
}

.wrap-menu .dropdown-content .list-content a:hover {
    font-weight: 600;
    color: #3F8CFF;
}


.member-actions .inner {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    width: 250px;
    height: 55px;
    border-radius: 14px;
    background: #F4F9FD;
    box-shadow: 0px 6px 12px 0px rgba(63, 140, 255, 0.26);
    justify-content: center;
    padding-right: 10px;
    margin: 0 15px 0;
}

@media (max-width:768px){
    .member-actions .inner {
        flex-direction: row;
        margin: auto;
    }
}

.member-actions .inner-select {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    width: 250px;
    height: 55px;
    border-radius: 14px;
    background: #3F8CFF;
    box-shadow: 0px 6px 12px 0px rgba(63, 140, 255, 0.26);
    justify-content: center;
    padding-right: 10px;
    margin: 0 15px 0;
}

@media (max-width:768px){
    .member-actions .inner-select {
        
        flex-direction: row;
        margin: auto;
    }
}

.member-actions .inner img {
    display: flex;
    padding: 8px;
    height: 100%;
    margin: 0 10px 0;
    color: #3F8CFF;
    
}

.member-actions .inner .right {
    color: #3F8CFF;
}

.member-actions .inner-select .right {
    color: white;
}

@media (max-width:768px){
    .member-actions .inner .right {
        margin-right: auto;
    }
}

@media (max-width:768px){
    .member-actions .inner-select .right {
        margin-right: auto;
        color: white;
    }
}

.member-actions .inner-select img {
    display: flex;
    padding: 8px;
    height: 100%;
    margin: 0 10px 0;
    fill: white;
}

.member-actions .inner img:hover {
    transform: scale(1.15);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    opacity: 1;
}

.member-actions .inner-select img:hover {
    /* transform: scale(1.1); */
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    opacity: 1;
}

.member-box {
    width: 1080px;
    max-width: 100%;
    margin: 60px auto;
}

.member-box .title {
    font-size: 34px;
    line-height: 36px;
    padding-bottom: 30px;
}

@media (max-width:768px){
    .member-box .title {
        font-size: 34px;
        line-height: 36px;
        padding-bottom: 0px;
    }
}

.member-box h2{
    text-align: center;
    padding-top: 20px;
}

.member-box img{
    width: 500px;
    max-width: 100%;
    /* margin: 20px auto 0px; */
    display: block;
}

.activity-control {
    width: 1080px;
    max-width: 100%;
    background: #ffffff;
    border-radius: 40px;
    overflow: hidden;
    padding: 20px 20px 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.activity-control .header-list {
    display: flex;
    align-items: center;
    color: #2F2F2F;
    font-size: 24px;
    line-height: 20px;
    padding: 25px;
}

.activity-control .header-list .header-h {
    width: 50%;
    display: flex;
    justify-content: center;
}

.activity-control .header-list .header-h .tsd-title {
    margin: auto;
    content: "\e917";
    width: 110px;
    margin: auto;
    text-align: center;
    
}

.activity-control .header-list .company-title {
    margin: auto;
    width: 15%;
    margin: auto;
    text-align: center;
    
}



.activity-control .header-list .header-25 {
    width: 25%;
    display: flex;
    justify-content: center;
}

.activity-control .header-list .header-50 {
    width: 40%;
    display: flex;
    justify-content: center;
}

.activity-control .header-list .header-40 {
    width: 60%;
    text-align: center;
    justify-content: center;
}

.activity-control .header-list .header-40 .date {
    width: 45%;
}
.activity-control .header-list .header-40 .status {
    width: 25%;
}
.activity-control .header-list .header-40 .edit {
    width: 14%;
}
.activity-control .header-list .header-40 .download {
    max-height: 25px;
    width: 25px;
    margin: 0 0 0 23px;
}

.activity-control .header-list .header-40 .download_doc {
    max-height: 25px;
    width: 25px;
    margin: auto;
    display: flex;
}

.activity-control .header-list .header-40 .download_doc img {
    width: auto;
    padding-left: 10px;
}


.activity-head {
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    margin: 10px;

}

.activity-head img {
    width: 50px;
    margin-right: 10px;

}

.activity-add {
    position: relative;
    display: flex;
    align-items: center;
    float: right;
    margin-top: 5px;
}

@media (max-width:768px){
    .activity-add {
        background: #eca23b;
        padding: 0px 15px;
        border-radius: 5px;
    }
}

.activity-add img {
    width: 35px;
    margin: 10px;
}

@media (max-width:768px){
    .activity-add img {
        width: 24px;
        margin-right: -6px;
    }
}

.media-control {
    text-align: center;
}


.card-climate {
    position: relative;
    padding-top: 67px;
    width: 100%
}

.card-climate .wrap-character {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 60px);
    margin: 0 auto;
    height: 120px;
    z-index: 15
}

.card-climate .wrap-character .IMG {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.card-climate .disable-area {
    border-radius: 20px
}

.card-climate .disable-area .top-box {
    background-color: #888888
}

.card-climate .disable-area.bear .top-box {
    background-color: #36B7DE
}

.card-climate .disable-area.whale .top-box {
    background-color: #488EC1
}

.card-climate .disable-area.wild .top-box {
    background-color: #6DC169
}

.card-climate .disable-area.disabled::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1
}

.card-climate .disable-area.disabled .top-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1
}

.card-climate .disable-area.disabled .bottom-box .wrap-cate-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5)
}

.card-climate .disable-area.disabled .wrap-character {
    filter: sepia(.1) grayscale(.6)
}

.card-climate .wrap-content {
    text-align: center;
    color: white
}

.card-climate .top-box {
    position: relative;
    z-index: 5;
    padding: 60px 25px 15px;
    box-shadow: 0 9px 27px rgba(0, 0, 0, 0.2);
    min-height: 218px;
    border-radius: 20px 20px 0 0;
    overflow: hidden
}

.card-climate .top-box .title {
    font-size: 30px;
    line-height: 28px
}

.card-climate .top-box .desc {
    margin-top: 7px;
    font-size: 26px;
    line-height: 26px
}

.card-climate .top-box .since {
    font-size: 22px;
    line-height: 20px;
    margin-top: 10px
}

.card-climate .bottom-box {
    position: relative;
    z-index: 3;
    padding: 28px 25px 30px;
    min-height: 260px;
    box-shadow: 0 9px 27px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
    overflow: hidden
}

.card-climate .bottom-box .wrap-cate-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.card-climate .bottom-box .wrap-cate-bg .IMG {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.card-climate .bottom-box .GW-case {
    font-size: 20px;
    line-height: 20px;
    text-align: left
}

.card-climate .bottom-box .GW-case:not(:last-child) {
    margin-bottom: 18px
}

.card-climate .bottom-box .GW-case [class^=icon-] {
    font-size: 35px;
    line-height: 35px;
    margin-right: 17px
}

.card-climate .bottom-box .GW-case [class$=-value] {
    font-size: 18px;
    line-height: 20px
}

.card-climate .bottom-box .GW-case .txt-climate {
    font-size: 20px;
    line-height: 20px
}

.card-climate .bottom-box .GW-case .run_number {
    font-size: 28px;
    line-height: 24px;
    margin-right: 7px
}

.card-climate .bottom-box .register-box {
    color: black;
    line-height: 28px;
    height: 100%;
    min-height: 205px
}

.card-climate .bottom-box .register-box .txt-register {
    padding-top: 30px
}

.card-climate .bottom-box .register-box .title {
    font-size: 30px
}

.card-climate .bottom-box .register-box .desc {
    font-size: 26px
}

@media (max-width:940px) {
    #content {
        padding-top: 65px;
        flex-direction: column
    }

    .climate-summary {
        padding: 32px 20px 50px;
        border-left: none;
        order: 2
    }

    .global-warming-detail {
        padding: 25px 17px;
        border-radius: 10px
    }

    .global-warming-detail .title {
        font-size: 23px;
        line-height: 25px;
        margin-bottom: 20px
    }

    .global-warming-detail .detail {
        padding: 10px 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start
    }

    .global-warming-detail .wrap-img {
        width: 85px;
        height: 65px;
        margin-top: 0
    }

    .global-warming-detail .wrap-img .IMG {
        margin: 0 auto
    }

    .global-warming-detail .wrap-stats {
        font-size: 18px;
        line-height: 20px;
        margin-top: 0;
        padding-top: 6px
    }

    .card-climate .bottom-box {
        padding: 28px 40px 30px
    }
}

@media (max-width:767px) {
    .global-warming-detail .detail:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid rgba(193, 193, 193, 0.8)
    }
}

.media-box {
    width: 70%;
    font-size: 22px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}
.media-box .col:first-child{
    width: 60%;
    text-align: left;
    display: inline-block;
    float: left;
}
.media-box .col:last-child{
    width: 40%;
    text-align: right;
    display: inline-block;
    float: left;
}
.media-box .name{
    padding-left: 60px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}
.media-box .name::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../images/dashboard_carethebear/icon-download.png') no-repeat center;
    background-size: contain;
    width: 45px;
    height: 45px;
}
.media-box .detail{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.activity-list {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.activity-list .inner {
    position: relative;
    width: 100%;
    padding: 10px 0px 15px;
    border-bottom: 1px solid #e0e9ed;
}

.activity-list .inner .actions {
    display: flex;
    align-items: center;
}

.activity-list .action {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    font-size: 22px;
    float: left;
    /* padding: 10px; */
    margin: 0 5px 0;
}

.item1 {
    width: 44%;
    overflow: hidden;
    color: #2F2F2F;

}

.item2 {
    width: 25%;
    justify-content: center;
    font-size: 16px!important;
    align-items: center;
}
.item2 img {
    width: auto;
    margin: inherit;
    margin-left: -15px;
}

.item3 {
    width: 17%;
    justify-content: center;
    line-height: 15px;
    border-radius: 10px;
    background: #3F8CFF;
    box-shadow: 0px 6px 12px 0px rgba(63, 140, 255, 0.26);
    color: #FFF;
}

.item4 {
    width: 7.5%;
    justify-content: center;
}
.item4 img {
    width: 25px;
    height: 30px;
    
}

.item5 {
    width: 7.5%;
    justify-content: center;
}

.item5 img {
    width: 40px;
}

.wrap-value {
    width: 50%;
    display: flex;
    justify-content: center;
}

.wrap-value .tsd-value {
    margin: auto;
    font-size: 24px;
    text-align: center;
    width: 13%;
}

.company-value {
    margin: auto;
    font-size: 24px;
    width: 15%;
    text-align: center;
}


.activity-list .action img {
    /* position: absolute; */
    /* width: 45px; */
    /* max-height: 25px; */
    /* -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); */
}
.activity-list .action p {
    font-size: 22px;
}

.activity-list .action p:first-child{
    font-size: 22px;
    font-weight: 600;
}


.pull-right {
    float: right!important;
}

.filter-action {
    position: relative;
    width: 100%;
    margin-top: 60px;
}



.filter-action .contain-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F2F2F;
    font-size: 24px;
    line-height: 20px;
}

.filter-action .contain-wrap .btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #2F2F2F;
    font-family: 'DB Helvethaica X';
    font-size: 24px;
}

.filter-action .contain-wrap .btn:hover {
    color: #3F8CFF;
}
  
.filter-action .contain-wrap .btn.active {
    font-size: 26px;
    font-weight: 600;
    color: #3F8CFF;
}

.filter-action .contain-wrap img {
    padding: 0 10px;
}

.filter-action .contain-wrap .report,
.filter-action .contain-wrap .tsd,
.filter-action .contain-wrap .company-report {
    display: flex;
    align-items: center;
    margin: 0 30px 0;

}

.wrap-section {
    overflow: hidden;
    display: contents;
}

.section {
    margin: 0 auto;
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}



