#content {
    padding-top: 80px;
    height: 100%
}

sub {
    font-size: 70%;
    display: inline-block;
    transform: translateY(4px)
}

.climate-summary {
    padding: 30px 30px 60px;
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5)
}

.climate-tgo {
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5);

}


.climate-tgo .bg {
    position: absolute;
    top: 0;
    left: 60px;
    background-size: cover;
    min-height: 820px;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.climate-tgo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tgo-detail{
    padding: 0px 40px 0;
    text-align: center;
}

.tgo-detail .title {
    font-family: DBHelvethaicaMonX-75Bd;
    font-size: 47px;
    line-height: 56px;
    margin-top: 30px;
}

.tgo-detail .head {
    font-family: DBHelvethaicaMonX-75Bd;
    font-size: 36px;
    line-height: 43px;
    margin-top: 10px;
}

.tgo-detail .sub-title {
    font-family: DB HelvethaicaMon X;
    font-size: 42px;
    margin-top: -10px;
}

.tgo-detail .text-data {
    font-size: 30px;
    line-height: 28px;
    padding: 0 30px;
    margin-top: 15px;
    max-width: 1080px;

}

.tgo-detail .wrap-logoes{
    max-width: 450px;
    gap: 20px;
    margin-top: 40px;
}

.tgo-detail .wrap-logoes img{
    max-height: 85px;
    width: 100%;
    height: 100%;
    object-fit: contain
}

.tgo-detail .hero {
    max-width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tgo-detail .hero img {
    width: 100%;
    height: 100%;
    object-fit: contain

}

.process-less {
    display: flex;
    justify-content: center;
    padding: 0px 40px 0;
}

.process-less .content-info {
    position: relative;
    max-width: 840px;
    padding: 60px 20px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-info .bg {
    position: relative;
    left: auto;
    z-index: -1;
    width: 540px;
    height: 100%;
    object-fit: contain;
    display: flex;
    margin-top: 40px;
    margin-right: 160px;
}

.content-info .bg img{
    object-fit: contain;
    display: flex;
}

.content-info .icon .head {
    font-family: DBHelvethaicaMonX-75Bd;
    font-size: 36px;
    line-height: 30px;
    padding-left: 10px;
}

.content-info .icon .text {
    font-family: DB Helvethaica X;
    font-weight: normal;
    font-size: 30px;
}
.content-info .icon img {
    width: 120px;
    /* height: auto; */
}

.content-info .icon img:hover {
    transform: scale(1.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.content-info .icon1 {
    position: absolute;
    top: 180px;
    left: 70px;
    display: flex;
}

.content-info .icon2 {
    position: absolute;
    top: 330px;
    left: 400px;
    display: flex;
}

.content-info .icon3 {
    position: absolute;
    top: 510px;
    left: 445px;
    display: flex;
}


.content-info .icon4 {
    position: absolute;
    top: 570px;
    left: 120px;
    display: flex;
}

.content-info .icon5 {
    position: absolute;
    top: 740px;
    left: 0px;
    display: flex;
}

.content-info .icon6 {
    position: absolute;
    top: 910px;
    left: 460px;
    display: flex;
}


.process-less .text-header {
    font-family: DB HelvethaicaMon X;
    font-size: 42px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    line-height: 38px;
    text-align: center
}

.process-less .text-details {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}


.process-less .text-details .first-line {
    font-size: 40px;
    line-height: 38px;
    text-align: left
}

.process-less .text-details .second-line {
    font-size: 30px;
    line-height: 28px
}

.banner-more {
    width: 566px;
    height: 55px;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.12);
    

}

.banner-more .head {
    font-family: DB Helvethaica X;
    font-size: 36px;
    line-height: 30px;
    padding: 14px;

}

.content-card {
    position: relative;
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-card .card {
    max-width: 270px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-card .text {
    position: absolute;
    width: 800px;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: "DB Helvethaica X";
    font-size: 26px;
    line-height: 26px;
    text-align: center;
}

.content-card .text a{
    position: relative;
}


.content-card .text a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.content-card .text a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.global-warming-detail {
    padding: 30px;
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 100%
}

.global-warming-detail .title {
    text-align: center;
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 20px
}

.global-warming-detail .detail {
    padding: 0 10px;
    width: 100%
}

.global-warming-detail .detail:not(:last-child) {
    border-right: 1px solid rgba(193, 193, 193, 0.8)
}

.global-warming-detail .wrap-img {
    height: 71px;
    margin-right: 20px;
    margin-top: 10px
}

.global-warming-detail .wrap-img .IMG {
    height: 100%;
    width: auto;
    object-fit: contain
}

.global-warming-detail .wrap-stats {
    font-size: 22px;
    line-height: 22px;
    margin-top: 10px
}

.global-warming-detail .wrap-stats .stats-value {
    font-size: 40px;
    line-height: 38px;
    margin-right: 7px
}

.company-detail {
    width: 100%;
    gap: 20px;
    margin-top: 45px
}

.company-detail .wrap-card {
    width: 33.33333%
}

.card-climate {
    position: relative;
    padding-top: 67px;
    width: 100%
}

.card-climate .wrap-character {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 60px);
    margin: 0 auto;
    height: 120px;
    z-index: 15
}

.card-climate .wrap-character .IMG {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.card-climate .disable-area {
    border-radius: 20px
}

.card-climate .disable-area .top-box {
    background-color: #888888
}

.card-climate .disable-area.bear .top-box {
    background-color: #36B7DE
}

.card-climate .disable-area.whale .top-box {
    background-color: #488EC1
}

.card-climate .disable-area.wild .top-box {
    background-color: #6DC169
}

.card-climate .disable-area.disabled::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1
}

.card-climate .disable-area.disabled .top-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1
}

.card-climate .disable-area.disabled .bottom-box .wrap-cate-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5)
}

.card-climate .disable-area.disabled .wrap-character {
    filter: sepia(.1) grayscale(.6)
}

.card-climate .wrap-content {
    text-align: center;
    color: white
}

.card-climate .top-box {
    position: relative;
    z-index: 5;
    padding: 60px 25px 15px;
    box-shadow: 0 9px 27px rgba(0, 0, 0, 0.2);
    min-height: 218px;
    border-radius: 20px 20px 0 0;
    overflow: hidden
}

.card-climate .top-box .title {
    font-size: 30px;
    line-height: 28px
}

.card-climate .top-box .desc {
    margin-top: 7px;
    font-size: 26px;
    line-height: 26px
}

.card-climate .top-box .since {
    font-size: 22px;
    line-height: 20px;
    margin-top: 10px
}

.card-climate .bottom-box {
    position: relative;
    z-index: 3;
    padding: 28px 25px 30px;
    min-height: 260px;
    box-shadow: 0 9px 27px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
    overflow: hidden
}

.card-climate .bottom-box .wrap-cate-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.card-climate .bottom-box .wrap-cate-bg .IMG {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.card-climate .bottom-box .GW-case {
    font-size: 20px;
    line-height: 20px;
    text-align: left
}

.card-climate .bottom-box .GW-case:not(:last-child) {
    margin-bottom: 18px
}

.card-climate .bottom-box .GW-case [class^=icon-] {
    font-size: 35px;
    line-height: 35px;
    margin-right: 17px
}

.card-climate .bottom-box .GW-case [class$=-value] {
    font-size: 18px;
    line-height: 20px
}

.card-climate .bottom-box .GW-case .txt-climate {
    font-size: 20px;
    line-height: 20px
}

.card-climate .bottom-box .GW-case .run_number {
    font-size: 28px;
    line-height: 24px;
    margin-right: 7px
}

.card-climate .bottom-box .register-box {
    color: black;
    line-height: 28px;
    height: 100%;
    min-height: 205px
}

.card-climate .bottom-box .register-box .txt-register {
    padding-top: 30px
}

.card-climate .bottom-box .register-box .title {
    font-size: 30px
}

.card-climate .bottom-box .register-box .desc {
    font-size: 26px
}

@media (max-width:940px) {
    #content {
        padding-top: 65px;
        flex-direction: column
    }

    .climate-summary {
        padding: 32px 20px 50px;
        border-left: none;
        order: 2
    }

    .global-warming-detail {
        padding: 25px 17px;
        border-radius: 10px
    }

    .global-warming-detail .title {
        font-size: 23px;
        line-height: 25px;
        margin-bottom: 20px
    }

    .global-warming-detail .detail {
        padding: 10px 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start
    }

    .global-warming-detail .wrap-img {
        width: 85px;
        height: 65px;
        margin-top: 0
    }

    .global-warming-detail .wrap-img .IMG {
        margin: 0 auto
    }

    .global-warming-detail .wrap-stats {
        font-size: 18px;
        line-height: 20px;
        margin-top: 0;
        padding-top: 6px
    }

    .card-climate .bottom-box {
        padding: 28px 40px 30px
    }
}

@media (max-width:767px) {
    .global-warming-detail .detail:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid rgba(193, 193, 193, 0.8)
    }
}