html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

a {
    outline: 0 none;
    cursor: pointer;
    text-decoration: none
}

a:link {
    -webkit-tap-highlight-color: transparent
}

a,
a:hover,
a:active {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    text-rendering: optimizeLegibility;
    zoom: 1;
    display: block;
    margin: 0;
    padding: 0
}

p {
    font-weight: normal;
    text-rendering: optimizeLegibility;
    zoom: 1;
    display: block;
    margin: 0
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

nav ul {
    list-style: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle;
    overflow: hidden
}

textarea {
    overflow: auto;
    resize: none
}

input,
textarea {
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    border: 0
}

input::-webkit-contacts-auto-fill-button,
textarea::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button,
textarea::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0
}

input::-ms-reveal,
textarea::-ms-reveal {
    display: none
}

input::-ms-clear,
textarea::-ms-clear {
    display: none
}

input[type="radio"] {
    vertical-align: text-bottom
}

input[type="checkbox"] {
    vertical-align: bottom;
    vertical-align: baseline;
    margin: 3px 3px 0 0
}

input[type=text] {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -webkit-tap-highlight-color: transparent
}

button {
    width: auto;
    overflow: visible
}

.ie6 input {
    vertical-align: text-bottom
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%;
    font-size: 0px
}

.clearfix {
    display: block;
    clear: both
}

.default_css ul li {
    list-style-type: disc
}

.default_css ul ul li {
    list-style-type: circle;
    margin: 0px 0 0 16px
}

.default_css ol li {
    list-style-type: decimal
}

.default_css ol li,
.default_css ul li {
    margin: 0px 0 0 20px;
    overflow: visible
}

.default_css p {
    margin: 15px 0
}

.default_css a {
    color: #FFA400;
    text-decoration: none;
    cursor: pointer;
    cursor: hand
}

.default_css a:hover {
    text-decoration: underline
}

.default_css h1,
.default_css h2,
.default_css h3,
.default_css h4,
.default_css h5,
.default_css h6 {
    margin: 20px 0 0
}

:focus {
    outline: 0
}

@font-face {
    font-family: 'DB Helvethaica X';
    src: url('../../public/fonts/DBHelvethaicaX.eot');
    src: url('../../public/fonts/DBHelvethaicaX.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/DBHelvethaicaX.woff') format('woff'), url('../../public/fonts/DBHelvethaicaX.ttf') format('truetype'), url('../../public/fonts/DBHelvethaicaX.svg#DBHelvethaicaX') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'DB Helvethaica X';
    src: url('../../public/fonts/DBHelvethaicaX-Bold.eot');
    src: url('../../public/fonts/DBHelvethaicaX-Bold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/DBHelvethaicaX-Bold.woff') format('woff'), url('../../public/fonts/DBHelvethaicaX-Bold.ttf') format('truetype'), url('../../public/fonts/DBHelvethaicaX-Bold.svg#DBHelvethaicaX-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'DB Helvethaica X';
    src: url('../../public/fonts/DBHelvethaicaX-Medium.eot');
    src: url('../../public/fonts/DBHelvethaicaX-Medium.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/DBHelvethaicaX-Medium.woff') format('woff'), url('../../public/fonts/DBHelvethaicaX-Medium.ttf') format('truetype'), url('../../public/fonts/DBHelvethaicaX-Medium.svg#DBHelvethaicaX-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'DB Helvethaica X';
    src: url('../../public/fonts/DBHelvethaicaX-Light.eot');
    src: url('../../public/fonts/DBHelvethaicaX-Light.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/DBHelvethaicaX-Light.woff') format('woff'), url('../../public/fonts/DBHelvethaicaX-Light.ttf') format('truetype'), url('../../public/fonts/DBHelvethaicaX-Light.svg#DBHelvethaicaX-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'icon-set-climate';
    src: url('../../public/fonts/icon-set-climate.eot?tbn8a1');
    src: url('../../public/fonts/icon-set-climate.eot?tbn8a1#iefix') format('embedded-opentype'), url('../../public/fonts/icon-set-climate.ttf?tbn8a1') format('truetype'), url('../../public/fonts/icon-set-climate.woff?tbn8a1') format('woff'), url('../../public/fonts/icon-set-climate.svg?tbn8a1#icon-set-climate') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icon-set-climate' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-arrow-down:before {
    content: "\e900"
}

.icon-plus:before {
    content: "\e901"
}

.icon-arrow-left:before {
    content: "\e902"
}

.icon-arrow-right:before {
    content: "\e903"
}

.icon-cross:before {
    content: "\e904"
}

.icon-profile:before {
    content: "\e905"
}

.icon-building:before {
    content: "\e906"
}

.icon-trees:before {
    content: "\e907"
}

.icon-tree:before {
    content: "\e908"
}

.icon-recycle-bin:before {
    content: "\e909"
}

.icon-cloud:before {
    content: "\e90a"
}

.icon-arrow-right-tail:before {
    content: "\e90b"
}

.icon-menu:before {
    content: "\e90c"
}

.icon-fullscreen:before {
    content: "\e90d"
}

.icon-line:before {
    content: "\e90e"
}

.icon-copy:before {
    content: "\e90f"
}

.icon-facebook:before {
    content: "\e910"
}

.icon-twitter:before {
    content: "\e911"
}

.icon-eye:before {
    content: "\e912"
}

.icon-eye-close:before {
    content: "\e913"
}

.icon-cloud-arrow-up:before {
    content: "\e914"
}

.icon-check:before {
    content: "\e915"
}

.icon-file:before {
    content: "\e916"
}

.icon-arrow-down2:before {
    content: "\e917"
}

.icon-mail:before {
    content: "\e918"
}

.icon-headset:before {
    content: "\e919"
}

.icon-world:before {
    content: "\e91a"
}

.icon-facebook1:before {
    content: "\e91b"
}

.icon-grid:before {
    content: "\e91c"
}

.icon-bear:before {
    content: "\e91d"
}

.icon-whale:before {
    content: "\e91e"
}

.icon-elephant:before {
    content: "\e91f"
}

.icon-pie-chart:before {
    content: "\e920"
}

.icon-phone:before {
    content: "\e921"
}

.icon-world-tree:before {
    content: "\e922"
}

.icon-download:before {
    content: "\e923"
}

.f_reg,
.f_med,
.f_bold,
.f_light {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-weight: normal
}

.f_reg {
    font-family: 'Prompt';
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-family: 'DB Helvethaica X';
    font-weight: normal
}

.f_med {
    font-family: 'Prompt';
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-weight: normal;
    font-family: 'DB Helvethaica X';
    font-weight: 500
}

.f_bold {
    font-family: 'Prompt';
    font-weight: 300;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-weight: normal;
    font-family: 'DB Helvethaica X';
    font-weight: 600
}

.f_light {
    font-family: 'DB Helvethaica X';
    font-weight: 300
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto
}

body {
    color: #000;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0;
    font-size: 16px;
    font-family: 'Prompt';
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-family: 'DB Helvethaica X';
    font-weight: normal
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.flex-inline {
    display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -webkit-inline-flex;
    display: inline-flex
}

.flex.v-top,
.flex-inline.v-top {
    align-items: flex-start
}

.flex.v-center,
.flex-inline.v-center {
    align-items: center
}

.flex.h-center,
.flex-inline.h-center {
    justify-content: center
}

.flex.center,
.flex-inline.center {
    align-items: center;
    justify-content: center
}

.flex.h-justify,
.flex-inline.h-justify {
    justify-content: space-between
}

.flex.stretch,
.flex-inline.stretch {
    align-items: stretch
}

.flex.wrap,
.flex-inline.wrap {
    flex-wrap: wrap
}

.flex.column,
.flex-inline.column {
    flex-direction: column
}

.flex.reverse.column,
.flex-inline.reverse.column {
    flex-direction: column-reverse
}

.flex.reverse:not(.column),
.flex-inline.reverse:not(.column) {
    flex-direction: row-reverse
}

@media (max-width:767px) {

    .flex.column-xs,
    .flex-inline.column-xs {
        flex-direction: column
    }
}

.w_100 {
    width: 100%
}

.hide {
    display: none
}

@media (max-width:767px) {
    .hide-xs {
        display: none
    }
}

@media (min-width:768px) {
    .show-xs {
        display: none
    }
}

@media (max-width:940px) {
    .hide-940 {
        display: none
    }
}

@media (min-width:941px) {
    .show-940 {
        display: none
    }
}

@media (max-width:900px) {
    .hide-900 {
        display: none
    }
}

@media (min-width:901px) {
    .show-900 {
        display: none
    }
}

body.dim {
    overflow: hidden
}

.XL {
    font-size: 40px;
    line-height: 38px;
    color: white;
    margin-right: 5px
}

@media (max-width:767px) {
    .XL {
        font-size: 30px;
        line-height: 38px
    }
}

.t_yellow {
    color: #FFA400
}

.t_light_blue {
    color: #20BEEE
}

.t_blue {
    color: #106BAF
}

.t_green {
    color: #3AB34A
}

.t_grey {
    color: #818181
}

.t_dark {
    color: #424242
}

.t_60 {
    font-size: 60px;
    line-height: 58px
}

@media (max-width:767px) {
    .t_60 {
        font-size: 45px;
        line-height: 35px
    }
}

.t_40 {
    font-size: 40px;
    line-height: 38px
}

@media (max-width:767px) {
    .t_40 {
        font-size: 29px;
        line-height: 27px
    }
}

.t_30 {
    font-size: 30px;
    line-height: 28px
}

.t_30:not(.no-top) {
    margin-top: 10px
}

@media (max-width:767px) {
    .t_30 {
        font-size: 23px;
        line-height: 23px;
        margin-top: 10px
    }
}

.t_28 {
    font-size: 28px;
    line-height: 30px
}

.t_28:not(.no-top) {
    margin-top: 10px
}

@media (max-width:767px) {
    .t_28 {
        font-size: 23px;
        line-height: 23px
    }
}

.t_26 {
    font-size: 26px;
    line-height: 28px
}

.t_26:not(.no-top) {
    margin-top: 10px
}

@media (max-width:767px) {
    .t_26 {
        font-size: 23px;
        line-height: 23px
    }
}

.t_16 {
    font-size: 16px;
    line-height: 18px
}

@media (max-width:767px) {
    .t_16 {
        font-size: 12px;
        line-height: 14px
    }
}

.HL {
    font-size: 30px;
    line-height: 28px;
    color: #FFA400
}

@media (max-width:767px) {
    .HL {
        font-size: 23px;
        line-height: 23px
    }
}

.scrollspy {
    opacity: 0;
    transition: opacity 1s cubic-bezier(.38, .31, .18, .93), transform 1s cubic-bezier(.38, .31, .18, .93)
}

.scrollspy.fade {
    opacity: 0
}

.scrollspy.fade.inviewed {
    opacity: 1
}

.scrollspy:not(.fade) {
    transform: translateY(20px) translateZ(0)
}

.scrollspy:not(.fade).inviewed {
    opacity: 1;
    transform: translateY(0) translateZ(0)
}

.swiper .swiper-wrapper {
    width: 100% !important;
    height: 100%;
    white-space: nowrap;
    font-size: 0
}

.swiper .swiper-slide {
    display: inline-block;
    height: 100%;
    width: 100% !important;
    white-space: normal;
    vertical-align: top
}

.swiper .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px
}

.react-dropdown-select {
    border: 1px solid black !important;
    border-radius: 25px !important;
    padding: 11px 20px !important;
    font-size: 26px !important;
    line-height: 24px !important
}

.react-dropdown-select:focus,
.react-dropdown-select:focus-within {
    box-shadow: none !important
}

.react-dropdown-select .react-dropdown-select-content {
    font-family: 'Prompt';
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-weight: normal;
    font-family: 'DB Helvethaica X';
    font-weight: 500;
    margin-top: 4px
}

.react-dropdown-select .react-dropdown-select-content .react-dropdown-select-input {
    width: 0;
    height: 0
}

.react-dropdown-select .react-dropdown-select-dropdown {
    border-radius: 10px;
    box-shadow: none !important;
    border: none !important;
    top: 63px !important;
    min-width: 200px
}

.react-dropdown-select .react-dropdown-select-dropdown .react-dropdown-select-item {
    padding: 12px 18px;
    transition: background-color .2s ease;
    border-bottom: none
}

.react-dropdown-select .react-dropdown-select-dropdown .react-dropdown-select-item:hover,
.react-dropdown-select .react-dropdown-select-dropdown .react-dropdown-select-item.react-dropdown-select-item-selected {
    background-color: #FFA400;
    color: white
}

.vdo-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.vdo-player .wrap-video {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: calc(1000 / 1280 * 100%);
    max-height: 100%;
    margin: auto
}

body .dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8)
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    body .dim {
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px)
    }
}

[inviewspy],
.inviewspy {
    opacity: 0 !important;
    transform: translateY(20px) !important;
    transition: opacity 1s cubic-bezier(.38, .31, .18, .93), transform 1s cubic-bezier(.38, .31, .18, .93), color .3s cubic-bezier(.38, .31, .18, .93)
}

[inviewspy].inviewed,
.inviewspy.inviewed {
    opacity: 1 !important;
    transform: translateY(0) !important
}

@media (max-width:767px) {
    .react-dropdown-select {
        font-size: 21px !important;
        line-height: 21px !important;
        white-space: nowrap;
        padding: 11px 17px !important
    }

    .react-dropdown-select .react-dropdown-select-dropdown {
        right: 0;
        left: auto
    }

    .react-dropdown-select .react-dropdown-select-content span {
        padding-right: 10px;
        max-width: 64px;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .vdo-player .wrap-video {
        max-width: 100%
    }
}

.cate_button {
    display: block;
    font-size: 26px;
    line-height: 26px;
    background-color: white;
    border-radius: 25px;
    padding: 12px 65px;
    margin: 35px auto 0;
    width: 200px
}

.cate_button.bear {
    color: #20BEEE
}

.cate_button.whale {
    color: #106BAF
}

.cate_button.elephant {
    color: #3AB34A
}

.button {
    border-radius: 50px;
    background-color: #FFA400;
    transition: all .4s ease;
    padding: 12px 30px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    user-select: none
}

.button-loginsetlink {
    border-radius: 50px;
    background-color: #ffffff;
    transition: all .4s ease;
    padding: 12px 20px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    user-select: none
}

.button.shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
}

.button-loginsetlink.shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
}

.button:hover {
    background-color: #fdbf48
}

.button-loginsetlink:hover {
    background-color: #fff6e4
}

.button .button_label {
    font-size: 26px;
    line-height: 26px;
    color: black
}

.button-loginsetlink .button_label {
    font-size: 22px;
    line-height: 26px;
    color: #FFA400
}

.button-loginsetlink .button_label img {
    display: inline;
    vertical-align: sub;
    padding-left: 5px;
    max-height: 20px;
}

.button.disabled {
    background-color: #e8c178;
    pointer-events: none;
    cursor: default
}

.close_btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center
}

.close_btn .icon {
    font-size: 12px;
    line-height: 12px;
    color: white
}

.close_btn.show-xs {
    display: none
}

.close_btn.black {
    border: 1px solid black
}

.close_btn.black .icon {
    color: black
}

.close_btn.XL {
    width: 50px;
    height: 50px;
    border-width: 1.5px;
    border-radius: 25px
}

.close_btn.XL .icon {
    font-size: 15px;
    line-height: 15px
}

@media (min-width:941px) {
    .show-940 {
        display: none
    }
}

.section-title {
    font-size: 40px;
    line-height: 38px;
    text-align: center;
    max-width: 1060px;
    margin: 0 auto 50px
}

.section-title.white {
    color: white
}

.section-detail {
    font-size: 30px;
    line-height: 28px;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px
}

.loading {
    width: 0px;
    max-width: 0px;
    min-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    position: relative;
    color: transparent !important;
    pointer-events: none !important
}

.loading * {
    color: transparent !important
}

.loading::before {
    content: '';
    border-radius: 13px;
    background-color: transparent;
    width: 25px;
    height: 25px;
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%) scale(0);
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-duration: 6s
}

@keyframes loading {
    0% {
        background-color: #36B7DE;
        transform: translate(-50%) scale(1)
    }

    12.5% {
        transform: translate(-50%) scale(0)
    }

    25% {
        background-color: orange;
        transform: translate(-50%) scale(1)
    }

    37.5% {
        transform: translate(-50%) scale(0)
    }

    50% {
        background-color: #106BAF;
        transform: translate(-50%) scale(1)
    }

    62.5% {
        transform: translate(-50%) scale(0)
    }

    75% {
        background-color: #6DC169;
        transform: translate(-50%) scale(1)
    }

    87.5% {
        transform: translate(-50%) scale(0)
    }

    100% {
        background-color: #36B7DE;
        transform: translate(-50%) scale(1)
    }
}

@media (max-width:767px) {
    .close_btn {
        display: flex !important;
        justify-content: center;
        align-items: center
    }

    .close_btn.XL {
        width: 40px;
        height: 40px;
        border-width: 1px;
        border-radius: 20px
    }

    .section-title {
        font-size: 29px;
        line-height: 27px;
        margin: 0 auto 30px
    }

    .button {
        padding: 10px 23px;
        min-width: 125px
    }

    .button .button_label {
        font-size: 21px;
        line-height: 21px
    }

    .section-detail {
        font-size: 23px;
        line-height: 23px;
        max-width: 100%;
        padding: 0 20px;
        margin-top: 0px
    }

    .section-detail:not(:last-child) {
        margin-bottom: 40px
    }
}