#content {
    padding-top: 80px;
    height: 100%
}

sub {
    font-size: 70%;
    display: inline-block;
    transform: translateY(4px)
}

.inspecting--scroll {
    position: relative;
    height: 100%
}

.inspecting--scroll .before--gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    z-index: 2;
    opacity: 0;
    transition: all .4s ease;
    pointer-events: none
}

.inspecting--scroll .after--gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 100%;
    background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
    z-index: 2;
    opacity: 0;
    transition: all .4s ease;
    pointer-events: none
}

.inspecting--scroll .begin .before--gradient {
    opacity: 0
}

.inspecting--scroll .begin .after--gradient {
    opacity: 1
}

.inspecting--scroll .between .before--gradient {
    opacity: 1
}

.inspecting--scroll .between .after--gradient {
    opacity: 1
}

.inspecting--scroll .end .before--gradient {
    opacity: 1
}

.inspecting--scroll .end .after--gradient {
    opacity: 0
}

.middle-content {
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5);
    overflow: hidden
}

.outcome-summary {
    padding: 40px 40px 0
}

.outcome-summary .title {
    font-size: 40px;
    line-height: 50px
}

.outcome-summary .pick--date {
    position: relative;
    z-index: 10;
    font-size: 30px;
    line-height: 26px;
    margin-top: 10px
}

.outcome-summary .pick--date .pick--since,
.outcome-summary .pick--date .pick--to {
    position: relative;
    border-bottom: 1px solid #C1C1C1;
    margin: 0 10px;
    padding-right: 30px;
    color: #424242;
    padding-bottom: 3px
}

.outcome-summary .pick--date .pick--since::after,
.outcome-summary .pick--date .pick--to::after {
    content: "\e917";
    font-family: 'icon-set-climate' !important;
    speak: never;
    font-size: 10px;
    line-height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    color: #424242;
    transition: transform .3s ease;
    transform-origin: bottom
}

.outcome-summary .pick--date .pick--since.active,
.outcome-summary .pick--date .pick--to.active {
    color: #FFA400;
    border-bottom: 2px solid #FFA400
}

.outcome-summary .pick--date .pick--since.active::after,
.outcome-summary .pick--date .pick--to.active::after {
    color: #FFA400;
    transform: rotate(-180deg)
}

.outcome-summary .pick--date .pick--since.not-ready,
.outcome-summary .pick--date .pick--to.not-ready {
    opacity: .3;
    pointer-events: none
}

.outcome-summary .company--name {
    font-size: 34px;
    line-height: 28px;
    margin-top: 30px;
    color: #FFA400
}

.outcome-summary .wrap-logoes {
    max-width: 450px;
    gap: 20px;
    margin-top: 40px
}

.outcome-summary .wrap-logoes .company--logo {
    width: calc(170 / 450 * 100%)
}

.outcome-summary .wrap-logoes .company--logo .IMG {
    max-height: 84px;
    width: 100%;
    height: 100%;
    object-fit: contain
}

.outcome-summary .wrap-logoes .climate--logo {
    width: calc(244 / 450 * 100%);
    min-width: 244px
}

.outcome-summary .wrap-logoes .climate--logo .IMG {
    max-height: 84px
}

.outcome-summary .wrap-logoes .climate-txt {
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    margin-top: 5px
}

.outcome-summary .climate-result {
    text-align: center;
    width: 100%;
    max-width: 810px;
    margin: 40px auto 0
}

.outcome-summary .climate-result .title {
    font-size: 30px;
    line-height: 26px
}

.outcome-summary .climate-result .desc,
.outcome-summary .climate-result .climate--project--name {
    font-size: 26px;
    line-height: 26px
}

.outcome-summary .climate-result .result-list {
    margin-top: 60px
}

.result {
    width: 100%;
    padding: 0px 20px 24px
}

.result:not(:last-child) {
    border-right: 1px solid rgba(193, 193, 193, 0.5)
}

.result .result--icon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 48px;
    border: 1px solid #C1C1C1;
    color: #C1C1C1
}

.result .result--icon.orange {
    border: 1px solid #FFA400;
    color: #FFA400
}

.result .result--icon.blue {
    border: 1px solid #20BEEE;
    color: #20BEEE
}

.result .result--icon.green {
    border: 1px solid #6DC169;
    color: #6DC169
}

.result .result--desc {
    margin-top: 20px;
    font-size: 20px;
    line-height: 20px
}

.result .result--value,
.result .result--unit {
    margin-top: 14px
}

.result .result--value {
    font-size: 40px;
    line-height: 26px
}

.result .result--unit {
    font-size: 20px;
    line-height: 20px
}

.text-to {
    margin-top: 50px
}

.text-to.hide {
    display: none
}

.table-area {
    margin-top: 40px
}

.table-area .result-box {
    margin-top: 20px
}

.table-area .result-box.cate-bear .result--head {
    background-color: #20BEEE
}

.table-area .result-box.cate-bear .result--body .hilight {
    color: #20BEEE
}

.table-area .result-box.cate-bear .table .tb-row:last-child {
    background-color: rgba(32, 190, 238, 0.2)
}

.table-area .result-box.cate-bear_tsd .result--head {
    background-color: rgba(32, 190, 238, 0.2);
    color: #000000;
}

.table-area .result-box.cate-bear_tsd .result--body .hilight {
    color: #20BEEE
}

.table-area .result-box.cate-bear_tsd .table .tb-row:last-child {
    background-color: rgba(32, 190, 238, 0.2)
}

.table-area .result-box.cate-whale .result--head {
    background-color: #106BAF
}

.table-area .result-box.cate-whale .result--body .hilight {
    color: #106BAF
}

.table-area .result-box.cate-whale .table .tb-row:last-child {
    background-color: rgba(16, 107, 175, 0.2)
}

.table-area .result-box.cate-elephant .result--head {
    background-color: #6DC169
}

.table-area .result-box.cate-elephant .result--body .hilight {
    color: #6DC169
}

.table-area .result--head {
    text-align: center;
    background-color: #C1C1C1;
    color: white;
    padding: 30px 20px;
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.1)
}

.table-area .result--body {
    padding: 30px 0px 20px;
    text-align: center;
    overflow: hidden
}

.table-area .result--body .hilight {
    color: #C1C1C1
}

.table-area .result--body .summary-result {
    padding: 0 30px
}

.table-area .result--body .graph-title {
    margin-top: 50px
}

.table-area .result--table {
    padding: 0px;
    overflow: auto;
    padding-bottom: 50px;
    margin-bottom: -50px
}

.table-area .result-list {
    margin: 50px 20px 0
}

.table-area .wrap-table {
    overflow: auto;
    padding: 0 20px;
    min-width: 810px
}

.table-area .table--title {
    margin-top: 50px;
    margin-bottom: 20px
}

.table-area .table {
    border: 1px solid rgba(193, 193, 193, 0.5);
    border-radius: 20px;
    margin: 0px auto;
    max-width: 1000px;
    overflow: hidden
}

.table-area .table .tb-col-20 {
    width: 20%
}

.table-area .table .tb-col-25 {
    width: 25%
}

.table-area .table .tb-col-30 {
    width: 30%
}

.table-area .table .tb-col-35 {
    width: 35%
}

.table-area .table .tb-col-40 {
    width: 40%
}

.table-area .table .tb-col-45 {
    width: 45%
}

.table-area .table .tb-col-50 {
    width: 50%
}

.table-area .table .tb-col-60 {
    width: 60%
}

.table-area .table .tb-col-65 {
    width: 65%
}

.table-area .table .tb-col-70 {
    width: 70%
}

.table-area .table .tb-col-80 {
    width: 80%
}

.table-area .table .tb-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    font-size: 26px;
    line-height: 26px
}

.table-area .table .tb-row>* {
    text-align: left !important
}

.table-area .table .tb-row:nth-child(odd) {
    background-color: white
}

.table-area .table .tb-row:nth-child(even) {
    background-color: #FBFBFB
}

>*.table-area .table .tb-row:not(.tb-head) [class^=tb-col-]:nth-child(odd) {
    background-color: white
}

>*.table-area .table .tb-row:not(.tb-head) [class^=tb-col-]:nth-child(even) {
    background-color: #FBFBFB
}

.table-area .table .tb-row [class^=tb-col-] {
    text-align: center
}

.table-area .table .tb-row:last-child {
    background-color: rgba(193, 193, 193, 0.5)
}

.table-area .table .tb-head {
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    padding: 18px 30px
}

.table-area .wrap-village-result {
    padding: 0 20px
}

.hidden-frame {
    overflow: hidden
}

.wrap-chart {
    margin: 45px auto 35px;
    width: 65%
}

.wrap-chart.bar {
    width: 100%;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: -50px;
    padding-bottom: 50px
}

.wrap-chart.bar .wrap-tooltip-area {
    width: 757px !important;
    min-width: 757px;
    padding: 0 30px
}

.wrap-chart.bar .wrap-tooltip-area canvas {
    width: 100% !important;
    height: 100% !important
}

.wrap-chart:not(.bar) .wrap-tooltip-area {
    padding-top: calc(308 / 608 * 100%)
}

.wrap-chart:not(.bar) .wrap-tooltip-area canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto
}

@media (min-width:1601px) {
    .wrap-chart:not(.bar) .wrap-tooltip-area {
        padding-top: 300px
    }

    .wrap-chart:not(.bar) .wrap-tooltip-area canvas {
        height: 100% !important;
        width: auto !important
    }
}

@media (max-width:940px) {
    .wrap-chart:not(.bar) {
        width: 100%;
        padding: 0 25px
    }

    .wrap-chart:not(.bar) .wrap-tooltip-area {
        width: 100%;
        height: 100%;
        padding-top: 410px
    }

    .wrap-chart:not(.bar) .wrap-tooltip-area canvas {
        max-height: 410px
    }
}

.wrap-chart .wrap-tooltip-area {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto
}

.wrap-chart [id$=-tooltip] {
    position: absolute;
    color: white;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: top .3s ease, left .3s ease, opacity .15s ease;
    pointer-events: none;
    opacity: 0
}

.wrap-chart [id$=-tooltip].hide {
    display: none
}

.wrap-download-btn {
    padding: 50px 0px 63px;
    margin: 10px 20px 0;
    border-top: 1px solid rgba(193, 193, 193, 0.5)
}

.wrap-download-btn .button-download {
    border-radius: 25px;
    overflow: hidden;
    width: 220px;
    margin: 0 auto
}

.wrap-download-btn .download-btn {
    width: 100%;
    padding: 12px 26px;
    background-color: #FFA400;
    transition: all .4s ease;
    cursor: pointer
}

.wrap-download-btn .download-btn:first-child {
    position: relative
}

.wrap-download-btn .download-btn:first-child::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 62%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%)
}

.wrap-download-btn .download-btn .download-txt {
    margin-left: 12px;
    font-size: 26px;
    line-height: 26px
}

.wrap-download-btn .download-btn:hover {
    background-color: #fdbf48
}

.table-area .table .tb-row:last-child {
    background-color: rgba(32, 190, 238, 0.2);
}

.table-area .result--body .hilight {
    color: #20BEEE;
}

.result--head.inviewspy.inviewed{
    background-color: #20BEEE !important;
    color: white !important;
}

@media (max-width:940px) {
    #content {
        padding-top: 65px;
        flex-direction: column
    }

    .middle-content {
        border-left: none;
        order: 2
    }

    .outcome-summary {
        padding: 30px 20px 0
    }

    .outcome-summary .title {
        font-size: 28px;
        line-height: 28px;
        text-align: center
    }

    .outcome-summary .pick--date {
        font-size: 20px;
        line-height: 20px
    }

    .outcome-summary .pick--date .pick--since,
    .outcome-summary .pick--date .pick--to {
        padding-right: 18px
    }

    .outcome-summary .pick--date .pick--to {
        margin-right: 0px
    }

    .outcome-summary .company--name {
        font-size: 24px;
        line-height: 25px
    }

    .outcome-summary .wrap-logoes {
        max-width: 100%;
        gap: 45px
    }

    .outcome-summary .wrap-logoes .company--logo {
        width: 105px
    }

    .outcome-summary .wrap-logoes .climate--logo {
        width: 100%
    }

    .outcome-summary .wrap-logoes .climate--logo .IMG {
        max-height: 62px
    }

    .outcome-summary .climate-result .result-list {
        flex-direction: column;
        margin-top: 35px
    }

    .outcome-summary .climate-result .title {
        font-size: 23px;
        line-height: 23px
    }

    .outcome-summary .climate-result .desc,
    .outcome-summary .climate-result .climate--project--name {
        font-size: 21px;
        line-height: 23px
    }

    .text-to {
        margin-top: 35px;
        text-align: center;
        font-size: 21px;
        line-height: 23px
    }

    .result:not(:first-child) {
        padding-top: 24px
    }

    .result:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid rgba(193, 193, 193, 0.5)
    }

    .table-area .result-list {
        flex-direction: column;
        margin-top: 35px
    }

    .table-area .result--body {
        padding: 25px 0px 20px
    }

    .table-area .result--body .summary-result {
        font-size: 21px
    }

    .table-area .result--head .desc {
        margin-top: 10px;
        font-size: 21px
    }

    .table-area .table--title {
        margin-top: 15px
    }

    .table-area .table .tb-row {
        font-size: 21px
    }

    .wrap-chart.bar .wrap-tooltip-area {
        padding: 0 20px
    }

    .wrap-village-result .t_26 {
        font-size: 21px
    }

    .wrap-download-btn {
        padding-top: 0px;
        padding-bottom: 40px;
        border-top: none
    }

    .wrap-download-btn .download-btn {
        padding: 10px 15px
    }

    .wrap-download-btn .download-btn .download-txt {
        margin-left: 12px;
        font-size: 26px;
        line-height: 26px
    }

    .wrap-download-btn .download-btn:hover {
        background-color: #fdbf48
    }
}