/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.simple-dropdown {
  position: relative;
  display: block;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 25px;
  padding: 11px 20px;
  font-size: 26px;
  line-height: 24px;
  height: 50px;
}
.simple-dropdown.simple-dropdown {
  -webkit-transition: border-color 0.2s, background-color 0.2s;
  -moz-transition: border-color 0.2s, background-color 0.2s;
  -ms-transition: border-color 0.2s, background-color 0.2s;
  -o-transition: border-color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, background-color 0.2s;
}
.simple-dropdown.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.simple-dropdown.hide {
  display: none;
}
.simple-dropdown.open {
  z-index: 10;
}
.simple-dropdown.have-data {
  border-color: black;
}
.simple-dropdown.have-data .dropdown-placeholder {
  display: none;
  top: 1px;
  font-size: 16px;
  color: black;
}
.simple-dropdown .dropdown-show-selected {
  font-size: 14px;
  line-height: 14px;
  color: #202020;
  height: 100%;
}
.simple-dropdown .dropdown-show-selected .-icon {
  font-size: 16px;
  line-height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  position: absolute;
  right: 16px;
  top: calc(50% - 7px);
}
.simple-dropdown .dropdown-show-selected .-text {
  display: block;
  font-size: 26px;
  line-height: 28px;
  padding-right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.simple-dropdown .dropdown-placeholder {
  position: absolute;
  width: 77%;
  left: 20px;
  top: 12px;
  white-space: nowrap;
  font-size: 14px;
  color: #222;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: 25px;
  /* Fallback for non-webkit */
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.simple-dropdown .dropdown-placeholder .icon {
  font-size: 15px;
  line-height: 25px;
  color: #222;
  margin-right: 20px;
}
.simple-dropdown .dropdown-section {
  position: absolute;
  top: 63px;
  left: 0;
  margin-top: 3px;
  max-height: 300px;
  width: 100%;
  min-width: 200px;
  border-radius: 10px;
  list-style: none;
  background-color: white;
  visibility: hidden;
  overflow: hidden;
  cursor: initial;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s, visibility 0s 0.3s;
  -ms-transition: opacity 0.3s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}
.simple-dropdown .dropdown-section.hide-serch ul {
  margin-top: 0;
  margin-bottom: 0;
}
.simple-dropdown .inp-dd-search {
  padding-left: 10px;
  height: 50px;
  line-height: 33px;
  border: 1px solid #eee;
  border-radius: 5px;
  position: absolute;
  font-size: 16px;
  font-family: 'Kanit';
  color: #333;
  box-shadow: none;
  -webkit-appearance: none;
  display: block;
  background-image: linear-gradient(to right, #FAFAFA 0%, #FAFAFA 50%, #FAFAFA 50%, white 50%, white 100%);
  background-size: 200% auto;
  background-position: right;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
  top: 5px;
}
.simple-dropdown .inp-dd-search:focus {
  background-position: left;
}
.simple-dropdown ul {
  margin-top: 60px;
  background-color: transparent;
  max-height: 240px;
  overflow: auto;
  margin-bottom: 10px;
}
.simple-dropdown ul li {
  font-size: 26px;
  line-height: 28px;
  padding: 12px 18px;
  color: black;
  cursor: pointer;
  border-bottom: none;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.simple-dropdown ul li:hover,
.simple-dropdown ul li.selected {
  background-color: #FFA400;
  color: white;
}
.simple-dropdown ul li.selected {
  cursor: default;
  pointer-events: none;
}
.simple-dropdown ul li.hide {
  display: none;
}
.simple-dropdown ul li[data-readonly],
.simple-dropdown ul li.readonly {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  background-color: #DDDDDD;
}
.simple-dropdown ul li.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.simple-dropdown ul .-text {
  padding-right: 1px;
}
.simple-dropdown.open .dropdown-show-selected .-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.simple-dropdown.open .dropdown-section {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.simple-dropdown.have-icon-placholder .box_ic {
  width: 60px;
  position: absolute;
  left: 0;
  height: 100%;
}
.simple-dropdown.have-icon-placholder .box_ic .ic {
  font-size: 20px;
  color: inherit;
}
.simple-dropdown.have-icon-placholder .dropdown-placeholder {
  left: 60px;
}
.simple-dropdown.have-icon-placholder .dropdown-show-selected {
  padding-left: 60px;
}
@media (max-width: 767px) {
  .simple-dropdown {
    min-width: 100%;
    width: 100%;
    height: 40px;
    padding: 10px 17px;
  }
  .simple-dropdown .dropdown-show-selected .-text {
    font-size: 21px;
    line-height: 22px;
  }
  .simple-dropdown .dropdown-show-selected .-icon {
    font-size: 10px;
    line-height: 10px;
    top: calc(50% - 4px);
  }
  .simple-dropdown .dropdown-section {
    top: 63px;
    left: auto;
    right: 0;
  }
}
.simple-dropdown.new_style_dropdown {
  padding: 25px 0 4px 0;
  height: 55px;
  border: 0;
  border-bottom: 1px solid #C1C1C1;
  border-radius: 0;
  margin: 0 0 12px 0;
}
.simple-dropdown.new_style_dropdown.have-data .dropdown-placeholder {
  display: block;
  font-weight: 500;
}
.simple-dropdown.new_style_dropdown.open {
  border-bottom: 2px solid #FFA400;
  z-index: 50;
}
.simple-dropdown.new_style_dropdown.open .dropdown-show-selected .-icon {
  color: #FFA400;
}
.simple-dropdown.new_style_dropdown:not(.have-data):not(.invalid) .dropdown-placeholder {
  color: #818181;
}
.simple-dropdown.new_style_dropdown:not(.have-data) .dropdown-placeholder {
  font-size: 26px;
  top: 25px;
}
.simple-dropdown.new_style_dropdown .dropdown-show-selected {
  left: 0;
}
.simple-dropdown.new_style_dropdown .dropdown-show-selected .-icon {
  font-size: 10px;
  top: 28px;
  right: 0;
  color: #818181;
}
.simple-dropdown.new_style_dropdown .dropdown-show-selected .-text {
  color: #424242;
}
.simple-dropdown.new_style_dropdown .dropdown-placeholder {
  font-size: 18px;
  line-height: 20px;
  left: 0;
}
.simple-dropdown.new_style_dropdown .dropdown-section {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 0 0 20px 0;
}
.simple-dropdown.new_style_dropdown ul li:hover,
.simple-dropdown.new_style_dropdown ul li.selected {
  background-color: #FFA400;
  color: #000;
}
@media (min-width: 768px) {
  .simple-dropdown.new_style_dropdown {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 767px) {
  .simple-dropdown.new_style_dropdown:not(.have-data) .dropdown-placeholder {
    font-size: 21px;
    top: 28px;
  }
  .simple-dropdown.new_style_dropdown .dropdown-show-selected .-icon {
    top: 34px;
  }
  .simple-dropdown.new_style_dropdown ul li {
    font-size: 21px;
  }
}
