@font-face {
    font-family: DB-bold;
    src: url("../fonts/DBHelvethaicaX-Bold.woff")
}

@font-face {
    font-family: DB-medium;
    src: url("../fonts/DBHelvethaicaX-Medium.woff")
}

@font-face {
    font-family: DB-regular;
    src: url("../fonts/DBHelvethaicaX.woff")
}

body .d-block {
    display: block
}

body .d-xl-block {
    display: block
}

@media (max-width:1200px) {
    body .d-xl-block {
        display: none
    }
}

body .d-lg-block {
    display: block
}

@media (max-width:992px) {
    body .d-lg-block {
        display: none
    }
}

body .d-md-block {
    display: block
}

@media (max-width:768px) {
    body .d-md-block {
        display: none
    }
}

body .d-sm-block {
    display: block
}

@media (max-width:576px) {
    body .d-sm-block {
        display: none
    }
}

body .d-xl-none {
    display: none
}

@media (max-width:1200px) {
    body .d-xl-none {
        display: block
    }
}

body .d-md-none {
    display: none
}

@media (max-width:768px) {
    body .d-md-none {
        display: block
    }
}

body .d-lg-none {
    display: none
}

@media (max-width:992px) {
    body .d-lg-none {
        display: block
    }
}

body .d-flex {
    display: flex
}

body .d-sm-none {
    display: none
}

@media (max-width:576px) {
    body .d-sm-none {
        display: block
    }
}

.main-organize.bg-bear::before {
    background: url("../images/bg-sec-slide/bg-bear.png") center no-repeat;
    background-size: cover
}

.main-organize.bg-bear::after {
    background: linear-gradient(180deg, #20beee 0%, #337f96 100%)
}

.main-organize.bg-wal::before {
    background: url("../images/bg-sec-slide/bg-wal.png") center no-repeat;
    background-size: cover
}

.main-organize.bg-wal::after {
    background: linear-gradient(360deg, #1f3c61 0%, #2e8dc5 100%)
}

.main-organize.bg-chang::before {
    background: url("../images/bg-sec-slide/bg-chang.png") center no-repeat;
    background-size: cover
}

.main-organize.bg-chang::after {
    background: #449577
}

.main-organize {
    min-height: 650px;
    position: relative;
    display: flex;
    align-items: center
}

.main-organize::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.main-organize::before {
    content: '';
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.main-organize .container {
    z-index: 9;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

@media (max-width:1150px) {
    .main-organize .container {
        padding: 0 60px
    }
}

@media (max-width:768px) {
    .main-organize .container {
        flex-direction: column;
        align-items: center;
        padding-top: 38px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px
    }
}

@media (max-width:768px) {
    .main-organize .left-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 0 20px
    }
}

@media (max-width:576px) {
    .main-organize .left-content {
        padding: 0 15px
    }
}

.main-organize .left-content .title-organize {
    margin-left: 40px;
    text-align: left;
    display: inline-block;
    font-size: 40px;
    font-family: DB-bold;
    color: #ffffff
}

@media (max-width:768px) {
    .main-organize .left-content .title-organize {
        margin-left: 0px;
        font-size: 29px
    }
}

.main-organize .left-content .btn-see-all {
    cursor: pointer;
    font-size: 26px;
    font-family: DB-medium;
    width: 100%;
    max-width: 150px;
    height: 50px;
    max-height: 100%;
    display: block;
    border: none;
    border-radius: 25px;
    margin-left: 40px;
    margin-top: 20px
}

@media (max-width:768px) {
    .main-organize .left-content .btn-see-all {
        font-size: 21px;
        max-width: 125px;
        height: 40px
    }
}

.main-organize .left-content .btn-see-all span {
    margin-top: -2px;
    display: flex;
    justify-content: center;
    align-self: center
}

.main-organize .left-content .img-left-content {
    margin-left: 12px;
    margin-right: 0;
    margin-top: 62px
}

@media (max-width:768px) {
    .main-organize .left-content .img-left-content {
        display: none
    }
}

.main-organize .order-1 {
    order: 2
}

.main-organize .order-1 .title-organize {
    margin-right: 40px;
    margin-left: 0;
    text-align: right
}

@media (max-width:768px) {
    .main-organize .order-1 .title-organize {
        text-align: left
    }
}

.main-organize .order-1 .btn-see-all {
    margin-left: auto;
    margin-right: 40px
}

@media (max-width:768px) {
    .main-organize .order-1 .btn-see-all {
        margin-left: auto;
        margin-right: 0
    }
}

@media (max-width:768px) {
    .main-organize .order-1 {
        order: 1
    }
}

.main-organize .order-2 {
    order: 1
}

@media (max-width:768px) {
    .main-organize .order-2 {
        order: 2
    }
}

.main-organize .main-slide-wrapper {
    display: flex;
    width: calc(100% - 312px);
    overflow: hidden;
    padding-bottom: 41px;
    position: relative
}

@media (max-width:768px) {
    .main-organize .main-slide-wrapper {
        width: calc(100% - 80px)
    }
}

@media (max-width:766px) {
    .main-organize .main-slide-wrapper {
        width: calc(100% - 246px)
    }
}

@media (max-width:576px) {
    .main-organize .main-slide-wrapper {
        width: calc(100% - 30px)
    }
}

.main-organize .main-slide-wrapper .swiper-pagination {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0)
}

.main-organize .main-slide-wrapper .swiper-pagination .slide_bullet {
    width: 100%;
    max-width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 7.7px 7.5px;
    opacity: .5
}

@media (max-width:816px) {
    .main-organize .main-slide-wrapper .swiper-pagination .slide_bullet {
        margin: 7.7px 3.5px
    }
}

.main-organize .main-slide-wrapper .swiper-pagination .slide_bullet.active {
    opacity: 1
}

.main-organize .main-slide-wrapper .multi-pic-in-organize {
    margin-top: 20px;
    height: 420px
}

@media (max-width:768px) {
    .main-organize .main-slide-wrapper .multi-pic-in-organize {
        height: 100%
    }
}

.main-organize .main-slide-wrapper .multi-pic-in-organize .logo {
    border-radius: 5px;
    margin: 4.25px;
    width: 100%;
    max-width: 96px;
    max-height: 96px;
    height: 100%;
    background-color: #ffffff;
    padding: 10px;
    object-fit: contain;
    display: inline-block;
    vertical-align: top;
    background-size: cover
}

@media (max-width:768px) {
    .main-organize .main-slide-wrapper .multi-pic-in-organize .logo {
        max-width: 70px;
        height: 70px
    }
}

.main-modal-care {
    transition: .4s ease;
    overflow: hidden;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 990;
    padding: 20px;
    background: rgba(0, 0, 0, 0.85)
}

@media (max-width:576px) {
    .main-modal-care {
        padding: 0px
    }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .main-modal-care {
        background: rgba(0, 0, 0, 0.75);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px)
    }
}

.main-modal-care .modal-content-relative {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent
}

.main-modal-care .modal-content-relative .btn-close-modal {
    cursor: pointer;
    margin: 20px;
    max-width: 50px;
    width: 100%;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    z-index: 999
}

.main-modal-care .modal-content-relative .btn-close-modal .icon-cross {
    font-size: 15px;
    color: #ffffff
}

.main-modal-care .modal-content-relative .modal-content-absolute.bear {
    background: linear-gradient(180deg, #20beee 0%, #73d1d9 100%)
}

.main-modal-care .modal-content-relative .modal-content-absolute.wal {
    background: linear-gradient(360deg, #1f3c61 0%, #2e8dc5 100%)
}

.main-modal-care .modal-content-relative .modal-content-absolute.chang {
    background: linear-gradient(180deg, #3ab34a 0%, #449577 100%)
}

.main-modal-care .modal-content-relative .modal-content-absolute {
    position: absolute;
    top: 151%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1160px;
    width: 100%;
    max-height: 650px;
    border-radius: 20px;
    transition: top .6s ease
}

@media (max-width:576px) {
    .main-modal-care .modal-content-relative .modal-content-absolute {
        max-height: 100vh;
        border-radius: 0px
    }
}

.main-modal-care .modal-content-relative .modal-content-absolute.show {
    top: 50%
}

.main-modal-care .modal-content-relative .modal-content-absolute .items-wrapper {
    transform: translateY(-60px);
    position: relative
}

.main-modal-care .modal-content-relative .modal-content-absolute .items-wrapper.bear::after {
    background: linear-gradient(180deg, rgba(32, 190, 238, 0.01) 0%, rgba(115, 209, 217, 0.9) 100%)
}

.main-modal-care .modal-content-relative .modal-content-absolute .items-wrapper.wal::after {
    background: linear-gradient(180deg, rgba(68, 149, 119, 0.01) 0%, rgba(31, 60, 97, 0.9) 100%)
}

.main-modal-care .modal-content-relative .modal-content-absolute .items-wrapper.chang::after {
    background: linear-gradient(180deg, rgba(68, 149, 119, 0.01) 0%, rgba(68, 149, 119, 0.9) 100%)
}

.main-modal-care .modal-content-relative .modal-content-absolute .items-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 1;
    transition: .3s ease
}

.main-modal-care .modal-content-relative .modal-content-absolute .dis-blur-on-modal {
    position: relative
}

.main-modal-care .modal-content-relative .modal-content-absolute .dis-blur-on-modal::after {
    opacity: 0
}

.main-modal-care .modal-content-relative .modal-content-absolute .modal-title {
    color: #ffffff;
    font-size: 40px;
    font-family: DB-bold;
    display: block;
    text-align: center
}

@media (max-width:768px) {
    .main-modal-care .modal-content-relative .modal-content-absolute .modal-title {
        font-size: 24px
    }
}

.main-modal-care .modal-content-relative .modal-content-absolute .relative-button {
    display: flex;
    width: 100%;
    justify-content: flex-end
}

.main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal {
    width: 100%;
    max-width: 1060px;
    max-height: 552px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    flex-wrap: wrap;
    overflow: auto;
    padding-bottom: 20px
}

@media (max-width:1100px) {
    .main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal {
        max-width: 954px
    }
}

@media (max-width:994px) {
    .main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal {
        max-width: 848px
    }
}

@media (max-width:888px) {
    .main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal {
        max-width: 742px
    }
}

@media (max-width:808px) {
    .main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal {
        max-width: 530px;
        max-height: 540px
    }
}

@media (max-width:676px) {
    .main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal {
        max-width: 522px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px
    }
}

@media (max-width:576px) {
    .main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal {
        max-height: calc(88vh - 20px)
    }
}

@media (max-width:530px) {
    .main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal {
        max-width: 348px
    }
}

.main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal .img-in-modal {
    max-width: 98px;
    height: 98px;
    width: 100%;
    background-color: #ffffff;
    object-fit: contain;
    border-radius: 5px;
    margin: 4px
}

@media (max-width:768px) {
    .main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal .img-in-modal {
        max-width: 79px;
        height: 79px
    }
}

.main-modal-care .modal-content-relative .modal-content-absolute .items-in-modal img {
    padding: 15px
}