<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div>
	    <a href="{$base_url}">
			<img src="{$base_url}carethebear/images/theme/default/assets/images/logo.png" alt="{$site_name}" width="120px">
		</a>
		<br />
		<br />
	</div>
	<div>
		<br />
		สวัสดีค่ะ สมาชิก,
		<br />
		<p style="padding-left: 30px;">
			คุณได้ทำการแจ้งลืมรหัสผ่านใช่ไหม? กดลิงค์ด้านล่างเพื่อตั้งรหัสผ่านใหม่นะคะ
			<br />
			<br />
			<a href="[[link]]" target="_blank">ตั้งรหัสผ่านใหม่</a>
		</p>
		<br />
		ขอบคุณที่ใช้งาน SET Social Impact,
		<br />
		ทีมงาน SET Social Impact
		<br />
		<br />
	</div>
  </body>
</html>