.main-sec-2 {
    .wrap_care {
        position: relative;
        z-index: 2;
    }
    .max_width_care {
        max-width: 1180px;
        width: 100%;
        margin: -50px auto 0;
        padding: 0 20px;
    }
    .left {
        width: calc(780 / 1160 * 100%);
        margin-right: 68px;
    }
    .right {
        width: calc(320 / 1160 * 100%);
    }
    .cycle {
        position: relative;
        padding-top: calc(490 / 452 * 100%);
        .wrap_6 {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            .label {
                position: absolute;
                margin-left: 100px;
    
                .no {
                    font-size: 30px;
                    line-height: 28px;
                    color: #36B7DE;
                }
                .label_txt {
                    font-size: 2vw;
                    line-height: 2vw;
                    @media(min-width: 1281px) {
                        font-size: 26px;
                        line-height: 26px;
                    }
                    @media(max-width: 940px) {
                        font-size: 21px;
                        line-height: 21px;
                    }
                }
            }
        }
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(430 / 772 * 100%);
    
            &.ring, &.world {
                left: 50%;
                transform: translateX(-50%);
            }
            &.world {
                max-width: 31%;
                top: 2%;
            }
        }
        .care {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
    
            img {
                position: absolute;
                max-width: 13.25%;
                height: auto;
                &.no_1, &.no_1 + .label {
                    top: 25%;
                    left: 56%;
                }
                &.no_1 + .label {
                    margin-left: calc(13.25% + 26px);
                    margin-top: -1%;
                }
                &.no_2, &.no_2 + .label {
                    top: 45%;
                    left: 68%;
                }
                &.no_2 + .label {
                    margin-left: calc(13.25% + 23px);
                    margin-top: 1%;
                }
                &.no_3, &.no_3 + .label {
                    top: 64%;
                    left: 56%;
                }
                &.no_3 + .label {
                    margin-left: 13.25%;
                    margin-top: 13.25%;
                }
                &.no_4, &.no_4 + .label {
                    top: 64%;
                    left: 30%;
                }
                &.no_4 + .label {
                    margin-left: -13.25%;
                    margin-top: 13.25%;
                }
                &.no_5, &.no_5 + .label {
                    top: 45%;
                    left: 19%;
                }
                &.no_5 + .label {
                    margin-left: calc(-13.25% - 25px);
                    margin-top: 2%;
                }
                &.no_6, &.no_6 + .label {
                    top: 25%;
                    left: 30%;
                }
                &.no_6 + .label {
                    margin-left: calc(-13.25% - 40px);
                    margin-top: -2%;
                }
            }
        }
    }
    
    .title {
        font-size: 40px;
        line-height: 40px;
    
        .hilight {
            font-size: 50px;
        }
    }
    
    .detail {
        font-size: 26px;
        line-height: 26px;
        margin-top: 13px;
    }
    
    @media(max-width: 940px) {
        .wrap_care {
            margin: 113px 0 0 0;
        }
        .max_width_care {
            flex-direction: column;
            .left {
                order: 2;
                width: 100%;
                margin-right: 0;
                margin-top: -50px;
                max-height: 6700px;
            }
            .right {
                order: 1;
                width: 100%;
            }
        }
        .cycle {
            padding-top: 100%;
        }
    
        .title {
            text-align: center;
    
            .hilight {
                font-size: 50px;
            }
        }
        .detail {
            text-align: center;
        }
    
    }
}

@media(max-width: 767px) {
    .main-sec-2 {
        .wrap_care {
            padding: 0 20px;
            margin: 43px 0 0 0;
        }
        .left {
            width: calc(42.53521126760563% + 30px);
            padding-right: 15px;
            margin-right: 0;
            margin-left: -20px;
        }
        .right {
            width: calc(100% - 42.53521126760563%);
        }
    
        .title {
            font-size: 29px;
            line-height: 27px;
            text-align: left;
    
            .hilight {
                font-size: 35px;
            }
        }
        .detail {
            font-size: 21px;
            line-height: 21px;
            text-align: left;
            margin-top: 10px;
    
            @media(max-width:375px) {
                width: 180px;
            }
        }
    
        .care { 
            position: relative;
            top: auto;
            left: auto;
            width: 50%;
            text-align: center;
            margin-bottom: 35px;
    
            .no {
                color: #36B7DE;
                font-size: 23px;
                line-height: 23px;
                margin-top: 5px;
            }
            .label_txt {
                display: inline-block;
                font-size: 21px;
                line-height: 21px;
                max-width: 135px;
                width: 100%;
            }
        }
        .wrap_6 {
            position: relative;
            margin-top: 40px;
        }
    }
}