body{
    margin: 0;
    @font-face {
        font-family: DB-bold;
        src: url("../fonts/DBHelvethaicaX-Bold.woff");
    }
    @font-face {
        font-family: DB-medium;
        src: url("../fonts/DBHelvethaicaX-Medium.woff");
    }
    @font-face {
        font-family: DB-regular;
        src: url("../fonts/DBHelvethaicaX.woff");
    }
    .d-block{
        display: block;
    }
    .d-xl-block{
        display: block;
        @media (max-width:1200px) {
            display: none;
        }
    }
    .d-lg-block{
        display: block;
        @media (max-width:992px) {
            display: none;
        }
    }
    .d-md-block{
        display: block;
        @media (max-width:768px) {
            display: none;
        }
    }
    .d-sm-block{
        display: block;
        @media (max-width:576px) {
            display: none;
        }
    }
    .d-xl-none{
        display: none;
        @media (max-width:1200px) {
            display: block;
        }
    }
    .d-md-none{
        display: none;
        @media (max-width:768px) {
            display: block;
        }
    }
    .d-lg-none{
        display: none;
        @media (max-width:992px) {
            display: block;
        }
    }
    .d-flex{
        display: flex;
    }
    .d-sm-none{
        display: none;
        @media (max-width:576px) {
            display: block;
        }
    }
    .justify-content-between{
        justify-content: space-between;
        display: flex;
        width: 100%;
    }
}
.banner-care-the-bear{
    background: url("../images/care-the-bear/banner/bg-banner.jpg") no-repeat left;
    background-size: cover;
    position: relative;
    display: flex;
    padding-top: 80px;
    width: 100%;
    justify-content: center;
    @media (max-width:768px) {
        flex-direction: column;
        padding-top: 65px;
        align-items: center;
    }
    .content-banner-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 72px;
        padding-bottom: 90px;
        max-width: 528px;
        width: 100%;
        margin-right: 40px;
        margin-left: 30px;
        @media (max-width:768px) {
            padding-top: 26px;
            padding-left: 37px;
            padding-right: 37px;
            margin-right: 0px;
            margin-left: 0px;
        }
        img{
            margin-right: auto;
            margin-left: auto;
            max-width: 215px;
            width: 100%;
        }
        .title-banner{
            display: inline-block;
            color: #000000;
            text-align: center;
            font-family: DB-bold;
            font-size: 54px;
            line-height: 46px;
            @media (max-width:768px) {
                font-size: 29px;
                line-height: 27px;
            }
        }
        .desc-banner{
            display: inline-block;
            color: #000000;
            text-align: center;
            font-family: DB-regular;
            font-size: 30px;
            margin-top: 12px;
            @media (max-width:768px) {
                font-size: 23px;
                line-height: 23px;
            }
        }
    }
    .img-in-banner{
        // width: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        @media (max-width:768px) {
            overflow: visible;
            padding-left: 20px;
        }
        img{
            margin-top: -50px;
            margin-right: 0;
            max-width: 859px;
            margin-left: 0;
            // min-height: 765px;
            // object-fit: cover;
            @media (max-width:768px) {
                margin-right: 0;
                margin-left: auto;
                width: 100%;
            }
        }
    }
}

.main-sec-2{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(32,190,238,0.2) 100%);
}

.main-care-the-bear{
    background: url("../images/care-the-bear/sec-3/new-bg-sec-3.png") no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 700px;
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(6,171,221,1) 0%, rgba(8,112,143,1) 100%);
        z-index: -1;
    }
    .container{
        max-width: 910px;
        margin: 0 auto;
        @media (max-width:992px) {
            margin: 0 40px;
        }
        @media (max-width:768px) {
            margin: 0 40px;
        }
        @media (max-width:576px) {
            margin: 0 20px;
        }
    }
    .title-sec-3{
        padding: 60px 0 60px 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: #ffffff;
        text-align: center;
        font-family: DB-bold;
        @media (max-width:768px) {
            font-size: 29px;
            padding: 30px 0 30px 0;
        }
    }
    .box-content{
        display: flex;
        justify-content: space-between;
        align-items: start;
        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
            &:last-child{
                padding-bottom: 25px;
            }
        }
        .single-content{
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 250px;
            @media (max-width:768px) {
                flex-direction: row;
                max-width: 670px;
            }
            .img-content{
                width: 110px;
                height: 110px;
                object-fit: cover;
                max-width: 100%;
                margin-bottom: 20px;
                @media (max-width:768px) {
                    margin-bottom: 0px;
                    width: 100px;
                    height: 100px;
                }
            }
            .text-content{
                text-align: center;
                font-size: 26px;
                max-width: 470px;
                width: 100%;
                font-family: DB-medium;
                color: #ffffff;
                @media (max-width:768px) {
                    margin-left: 40px;
                    text-align: start;
                    font-size: 21px;
                }
            }
        }
    }
}

.main-performance{
    .container{
        max-width: 1025px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        @media (max-width:768px) {
            padding: 0 58px;
        }
        @media (max-width:576px) {
            padding: 0 20px;
        }
    }
    .text-indent-eq{
        text-indent: 10px;
        display: inline-block;
    }
    .hanging-co2-1{
        position: relative;
        &::after{
            position: absolute;
            content: '2';
            bottom: -4px;
            right: -9px;
            font-size: 20px;

        }
    }
    .hanging-co2-2{
        position: relative;
        &::after{
            position: absolute;
            content: '2';
            bottom: -4px;
            right: -8px;
            font-size: 20px;

        }
    }
    .text-indent-per-year{
        text-indent: 8px;
        display: inline-block;
    }
    .title-performance{
        padding-top: 60px;
        display: block;
        margin: 0 auto;
        color:#000000;
        font-size: 40px;
        font-family: DB-bold;
        @media (max-width:768px) {
            font-size: 29px;
        }
    }
    .year-performance{
        padding-top:10px;
        display: block;
        margin: 0 auto;
        color: #818181;
        font-family: DB-regular;
        font-size: 28px;
        text-align: center;
        @media (max-width:768px) {
            font-size: 23px;
        }
    }
    .box-content-performance{
        padding-bottom: 57px;
        width: 100%;
        padding-top: 20px;
        display: flex;
        align-items: center;
        @media (max-width:768px) {
            flex-direction: column;
        }
        .left-content{
            width: 100%;
            .list-items{
                padding-bottom: 40px;
                display: flex;
                align-items: center;
                @media (max-width:768px) {
                    max-width: 295px;
                    margin: 0 auto;
                }
                @media (max-width:576px) {
                    margin: 0 0;
                }
                &:last-child{
                    padding-bottom: 0;
                    @media (max-width:768px) {
                        padding-bottom: 71px;
                    }
                }
                .icon-cloud{
                    font-size: 63px;
                    color: #36B7DE;
                    margin-right: 16px;
                    margin-left: 0;
                    @media (max-width:768px) {
                        font-size: 48px;
                    }
                }
                .icon-building{
                    font-size: 50px;
                    color: #36B7DE;
                    margin-right: 30px;
                    margin-left: 0;
                    @media (max-width:768px) {
                        font-size: 38px;
                    }
                }
                .icon-tree{
                    font-size: 50px;
                    color: #36B7DE;
                    margin-right: 30px;
                    margin-left: 0;
                    @media (max-width:768px) {
                        font-size: 38px;
                    }
                }
                .text-list-items{
                    text-align: left;
                    .text-1{
                        white-space: nowrap;
                        color: #000000;
                        font-size: 30px;
                        font-family: DB-medium;
                        line-height: 28px;
                        @media (max-width:768px) {
                            font-size: 23px;
                        }
                    }
                    .text-2{
                        white-space: nowrap;
                        font-size: 60px;
                        color:#36B7DE;
                        font-family: DB-bold;
                        margin-right: 10px;
                        line-height: 58px;
                        @media (max-width:768px) {
                            font-size: 45px;
                        }
                    }
                    .text-3{
                        white-space: nowrap;
                        font-size: 28px;
                        color: #000000;
                        font-family: DB-regular;
                        @media (max-width:768px) {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
        .right-content{
            width: 100%;
            img{
                margin-left: auto;
                margin-right: 0;
                @media (max-width:768px) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}


// .main-contact{
//     .top-contact{
//         min-height: 305px;
//         background: linear-gradient(360deg, rgba(255,255,255,1) 40%, rgba(97,199,241,.4) 100%);
//         .container{
//             max-width:1093px;
//             // width: 100%;
//             padding: 0 20px;
//             margin: 0 auto;
//             @media (max-width:768px) {
//                 margin: 0 87px;
//             }
//             @media (max-width:576px) {
//                 margin: 0 20px;
//             }
//         }
//         .box-contact{
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             padding-bottom: 40px;
//             width: 100%;
//         }
//         .title-contact{
//             padding-top: 60px;
//             padding-bottom: 30px;
//             display: block;
//             text-align: center;
//             font-size: 30px;
//             font-family: DB-medium;
//             color: #000000;
//             @media (max-width:576px) {
//                 font-size: 23px;
//                 padding-bottom: 10px;
//                 padding-top: 40px;
//             }

//         }
//         ul{
//             list-style: none;
//             padding: 0;
//         }
//         .tag-link{
//             text-decoration: none;
//             color: inherit;
//         }
//         .contact-list{
//             display: flex;
//             align-items: center;
//             @media (max-width:992px) {
//                 max-width: 270px;
//                 width: 100%;
//                 margin: 12px auto;
                
//             }
//             @media (max-width:576px) {
//                 max-width: 220px;
//             }
//         }
//         .contact-list-row{
//             display: flex;
//             width: 100%;
//             justify-content: space-between;
//             @media (max-width:992px) {
//                 flex-direction: column;
//             }
//         }
//         .icon-contact{
//             margin-left: 0;
//             margin-right: 20px;
//             @media (max-width:992px) {
//                 margin-right: 25px;
//             }
//         }
//         .text-contact{
//             font-size: 30px;
//             font-family: DB-medium;
//             color: #36B7DE;
//             @media (max-width:576px) {
//                 font-size: 23px;
//             }
//         }
//         .title-bot-contact{
//             font-size: 40px;
//             color: #000000;
//             font-family: DB-bold;
//             display: block;
//             text-align: center;
//             padding-bottom: 42px;
//         }
//     }
//     .bot-contact{
//         .box-content{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             width: 100%;
//         }
//         .filter-another-1{
//             position: relative;
//             &::before{
//                 content: '';
//                 position: absolute;
//                 bottom: 0;
//                 left: 50%;
//                 transform: translate(-50%,0);
//                 width: 100%;
//                 height: 100%;
//                 background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 140%);
//                 z-index: 99;
//             }
//         }
//         .another.active{
//             .another-content{
//                 transition: .4s ease;
//                 top: 50%;
//             }
//             &::after{
//                 opacity: 0.9;

//             }
//         }
//         .bear-active{
//             cursor: pointer;
//             position: relative;
//             &::after{
//                 transition: .4s ease;
//                 content: '';
//                 position: absolute;
//                 background: linear-gradient(180deg, rgba(6,171,221,1) 0%, rgba(8,112,143,1) 100%);
//                 width: 100%;
//                 height: 100%;
//                 top:0;
//                 left: 0;
//                 opacity: 0;
//                 z-index: 100;

//             }
//         }
//         .whale-active{
//             position: relative;
//             &::after{
//                 transition: .4s ease;
//                 content: '';
//                 position: absolute;
//                 background: linear-gradient(360deg, rgba(31,60,97,1) 0%, rgba(46,141,197,1) 100%);
//                 width: 100%;
//                 height: 100%;
//                 top:0;
//                 left: 0;
//                 opacity: 0;
//                 z-index: 100;

//             }
//         }
//         .wild-active{
//             position: relative;
//             &::after{
//                 transition: .4s ease;
//                 content: '';
//                 position: absolute;
//                 background: linear-gradient(180deg, rgba(58,179,74,1) 0%, rgba(68,149,119,1) 100%);
//                 width: 100%;
//                 height: 100%;
//                 top:0;
//                 left: 0;
//                 opacity: 0;
//                 z-index: 100;

//             }
//         }
//         .another{
            
//             &:hover::after{
//                 opacity: .9;
//             }
//             &:hover .another-content{
//                 top: 50%;
//             }
           
//             position: relative;
//             .another-img{
//                 max-width: 100%;
//                 width: 1000px;
//                 height: 300px;
//                 object-fit: cover;
//                 // width: 100%;
//                 // height: 100%;
//             }
//             .another-content{
//                 transition: .4s ease;
//                 width: 100%;
//                 position: absolute;
//                 top: 65%;
//                 left: 50%;
//                 transform: translate(-50%,-50%);
//                 z-index: 999;
//                 @media (max-width:1024px) {
//                     top: 60%;
//                 }
//                 .icon-1{
//                     margin-bottom: 9px;
//                     @media (max-width:1024px) {
//                         max-width: 48%;
//                     }
//                     @media (max-width:768px) {
//                         max-width: 100%;
//                     }
//                     @media (max-width:576px) {
//                         max-width: 70%;
//                     }
//                     @media (max-width:414px) {
//                         max-width: 38.5%;
//                     }
//                 }
//                 .icon-2{
//                     margin-bottom: 15px;
//                     @media (max-width:1024px) {
//                         max-width: 60%;
//                     }
//                     @media (max-width:768px) {
//                         max-width: 100%;
//                     }
//                     @media (max-width:576px) {
//                         max-width: 70%;
//                     }
//                     @media (max-width:576px) {
//                         max-width: 50%;
//                     }
//                 }
//                 .icon-3{
//                     margin-top:-17px;
//                     @media (max-width:1024px) {
//                         max-width: 60%;
//                     }
//                     @media (max-width:768px) {
//                         max-width: 100%;
//                     }
//                     @media (max-width:576px) {
//                         max-width: 70%;
//                     }
//                     @media (max-width:414px) {
//                         max-width: 50%;
//                     }
//                 }
//                 .single-another-content{
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: start;
//                     align-items: center;
//                 }
//                 .text-another{
//                     width: 100%;
//                     display: block;
//                     max-width: 100%;
//                     display: block;
//                     color: #ffffff;
//                     font-size: 28px;
//                     font-family: DB-medium;
//                     text-align: center;
//                     @media (max-width:1024px) {
//                         font-size: 25px;
//                     }
//                     @media (max-width:768px) {
//                         font-size: 18px;
//                     }
//                     @media (max-width:576px) {
//                         font-size: 18px;
//                     }
//                 }
                
//             }
//         }
//     }
// }

// .main-modal-care-bear{
//     overflow: hidden;
//     position: fixed;
//     left: 0%;
//     top: 0%;
//     width: 100%;
//     height:100%;
//     z-index: 990;
//     padding: 20px;
//     background: rgba(0, 0, 0, .85);
//     @media (max-width:576px) {
//         padding: 0px;
//     }
//     @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
//         background: rgba(0, 0, 0, .75);
//         -webkit-backdrop-filter: blur(10px);
//         backdrop-filter: blur(10px);
//     }

//     .modal-content-relative{
//         width: 100%;
//         height: 100%;
//         position: relative;
//         background: transparent;
//         .btn-close-modal{
//             cursor: pointer;
//             margin: 20px;
//             max-width: 50px;
//             width: 100%;
//             height: 50px;
//             background: transparent;
//             border-radius: 50%;
//             border: 1px solid #ffffff;
//             z-index: 999;
//             .icon-cross{
//                 font-size: 15px;
//                 color: #ffffff;
//             }
//         }
//         .modal-content-absolute{
//             position: absolute;
//             top: 151%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//             max-width:1160px;
//             width: 100%;
//             // height: 90vh;
//             max-height: 650px;
//             background: linear-gradient(180deg, rgba(32,190,238,1) 0%, rgba(115,209,217,1) 100%);
//             border-radius: 20px;
//             transition: top .6s ease;
//             @media (max-width:576px) {
//                 max-height: 100vh;
//                 border-radius: 0px;
//             }

//             &.show {
//                 top: 50%;
//             }
//             .items-wrapper{
//                 // pointer-events: none;
//                 transform: translateY(-60px);
//                 position: relative;
//                 &::after{
//                     content: '';
//                     position: absolute;
//                     bottom: 0;
//                     left: 0;
//                     width:100%;
//                     height: 50px;
//                     border-bottom-left-radius: 20px;
//                     border-bottom-right-radius: 20px;
//                     background: linear-gradient(180deg, rgba(32,190,238,.01) 0%, rgba(115,209,217,.9) 100%);
//                     opacity: 1;
//                     transition: .3s ease;
//                 }
//             }
//             .dis-blur-on-modal{
//                 position: relative;
//                 &::after{
//                     opacity: 0;
//                 }
//             }
//             .modal-title{
//                 color: #ffffff;
//                 font-size: 40px;
//                 font-family: DB-bold;
//                 display: block;
//                 text-align: center;
//                 @media (max-width:768px) {
//                     font-size: 24px;
//                 }
//             }
//             .relative-button{
//                 display: flex;
//                 width: 100%;
//                 justify-content: flex-end;
//             }
            
//             .items-in-modal{
//                 width: 100%;
//                 max-width:1060px;
//                 max-height:552px;
//                 // height: calc(80vh - 60px);
//                 display: flex;
//                 margin-left: auto;
//                 margin-right: auto;
//                 margin-top: 20px;
//                 flex-wrap: wrap;
//                 overflow: auto;
//                 padding-bottom: 20px;

//                 // @media (max-width:1130px) {
//                 //     border-bottom-right-radius: 20px;
//                 //     border-bottom-left-radius: 20px;
//                 // }
//                 @media (max-width:1100px){
//                     max-width: 954px;
//                 }
//                 @media (max-width:994px){
//                     max-width: 848px;
//                 }
//                 @media (max-width:888px){
//                     max-width: 742px;
//                 }
//                 @media (max-width:808px){
//                     max-width: 530px;
//                     max-height:540px;
//                 }
//                 @media (max-width:676px){
//                     max-width: 522px;
//                     border-bottom-right-radius: 0px;
//                     border-bottom-left-radius: 0px;
                    
//                 }
//                 @media (max-width:576px) {
//                     max-height: calc(88vh - 20px);
//                 }
//                 @media (max-width:530px){
//                     max-width: 348px;
//                 }
//                 .img-in-modal{
//                     max-width: 98px;
//                     height: 98px;
//                     width: 100%;
//                     background-color: #ffffff;
//                     object-fit: contain;
//                     border-radius: 5px;
//                     margin: 4px;
//                     @media (max-width:768px) {
//                         max-width: 79px;
//                         height: 79px;
//                     }
//                 }
//                 img{
//                     padding: 15px;
//                 }
//             }
//         }
//     }
// }