.company {
    padding: 30px 35px;
    background-color: #F5F5F5;
    position: sticky;
    top: 80px;
    @media(min-width: 941px) {
        height: 100%;
        min-height: 100vh;
    }

    @media(max-width: 767px) {
        order: 1;
    }

    .company--logo {
        width: 220px;
        height: 220px;
        background-color: white;
        border-radius: 22px;
        padding: 30px;
        box-shadow: 0px 12px 34px rgba(0,0,0,0.1);
        margin-bottom: 30px;

        .IMG {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .company--name {
        font-size: 30px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 14px;
    }
    .company--summary--date {
        font-size: 18px;
        line-height: 20px;
        margin-top: 10px;
        text-align: center;
    }
}

.section_objective {
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 420px;
    border-top: 1px solid rgba(193, 193, 193, 0.8);
    border-bottom: 1px solid rgba(193, 193, 193, 0.8);
    .objective-txt {
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        .hilight {
            font-size: 26px;
            line-height: 20px;
        }
    }

    .wrap_list_objective {
        display: flex;
        justify-content: space-between;
        max-width: 1060px;
        margin: 40px auto 0;
    }
    .objective {
        display: flex;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    
        img {
            width: 80px;
            height: 80px;
            margin-left: 0;
            margin-right: 20px;
        }
        .obj_title {
            font-size: 20px;
            line-height: 20px;
        }
    }
}

@media(max-width: 940px) {
    .company {
        order: 1;
        padding: 15px 20px;
        position: relative;
        top: auto;
        &.collapsed {
            margin-bottom: 0;
            .section_objective {
                padding: 0;
                max-height: 0px;
                border-top: none;
            }

            .company--logo {
                margin-bottom: 5px;
            }

            .btn-collapse {
                transform: rotateZ(0deg);
            }
        }
        .wrap_company_detail {
            display: flex;
            width: 100%;
            .row-xs {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }
        .company--logo {
            width: 90px;
            height: 90px;
            padding: 12px;
            border-radius: 9px;
            margin-bottom: 5px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
    
        .company--name {
            font-size: 26px;
            line-height: 23px;
            text-align: left;
            margin-bottom: 0;
        }
        .company--summary--date {
            margin-top: 10px;
            margin-bottom: 0;
            text-align: left;
        }
    }
    .company-detail {
        width: 100%;
        gap: 0px;
        margin-top: 27px;
        flex-direction: column;
    
        .wrap-card {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 23px;
            }
        }
    }
    .section_objective {
        border-bottom: none;
        overflow: hidden;
        max-width: 100%;
        max-height: 1000px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all 0.4s ease;

        .objective {
            img {
                width: 140px;
                height: 140px;
            }
            .obj_title {
                font-size: 24px;
                line-height: 20px;
            }
        }
    }
    .btn-collapse {
        position: absolute;
        top: calc(100% - 12.5px);
        left: calc(50% - 12.5px);
        border: 1px solid #979797;
        background-color: white;
        border-radius: 25px;
        padding: 7px;
        cursor: pointer;
        transform: rotateZ(180deg);
        transition: transform 0.4s ease;

        .icon-arrow-down {
            font-size: 10px;
            line-height: 10px;
        }
    }
}

@media(max-width: 767px) {

    .section_objective {
        
        .objective {
            img {
                width: 100px;
                height: 100px;
                margin: 0 15px 0 0;
            }
            .obj_title {
                font-size: 23px;
                line-height: 23px;
                text-align: left;
            }
        }
    }
}