#content {
    padding-top: 80px;
    height: 100%;
}
sub {
    font-size: 70%;
    display: inline-block;
    transform: translateY(4px);
}

.climate-summary {
    padding: 30px 30px 60px;
    width: 100%;
    border-left: 1px solid rgba(193, 193, 193, 0.5);
}

.global-warming-detail {
    padding: 30px;
    box-shadow: 0px 12px 34px rgba(0,0,0,0.1);
    border-radius: 20px;
    width: 100%;

    .title {
        text-align: center;
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .detail {
        padding: 0 10px;
        width: 100%;
        &:not(:last-child) {
            border-right: 1px solid rgba(193, 193, 193, 0.8);
        }
    }
    .wrap-img {
        height: 71px;
        margin-right: 20px;
        margin-top: 10px;

        .IMG {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }
    .wrap-stats {
        font-size: 22px;
        line-height: 22px;
        margin-top: 10px;

        .stats-value {
            font-size: 40px;
            line-height: 38px;
            margin-right: 7px;
        }
    }
}

.company-detail {
    width: 100%;
    gap: 20px;
    margin-top: 45px;

    .wrap-card {
        width: 33.33333%;
    }
}
.card-climate {
    position: relative;
    padding-top: 67px;
    width: 100%;
    .wrap-character {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: calc(100% - 60px);
        margin: 0 auto;
        height: 120px;
        z-index: 15;

        .IMG {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .disable-area {
        border-radius: 20px;
        .top-box {
            background-color: #888888;
        }

        &.bear {
            .top-box {
                background-color: #36B7DE;
            }
        }
        &.whale {
            .top-box {
                background-color: #488EC1;
            }
        }
        &.wild {
            .top-box {
                background-color: #6DC169;
            }
        }

        // disabled => opacity specific elem
        &.disabled {
            
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
                z-index: 1;
            }
            .top-box {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.5);
                    z-index: 1;
                }
            }
            .bottom-box .wrap-cate-bg {
                
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
            .wrap-character {
                filter: sepia(0.1) grayscale(0.6);
            }
        }
    }
    .wrap-content {
        text-align: center;
        color: white;
    }
    .top-box {
        position: relative;
        z-index: 5;
        padding: 60px 25px 15px;
        box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.2);
        min-height: 218px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;

        .title {
            font-size: 30px;
            line-height: 28px;
        }
        .desc {
            margin-top: 7px;
            font-size: 26px;
            line-height: 26px;
        }
        .since {
            font-size: 22px;
            line-height: 20px;
            margin-top: 10px;
        }
    }
    .bottom-box {
        position: relative;
        z-index: 3;
        padding: 28px 25px 30px;
        min-height: 260px;
        box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 20px 20px;
        overflow: hidden;

        .wrap-cate-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            .IMG {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .GW-case {
            font-size: 20px;
            line-height: 20px;
            text-align: left;

            &:not(:last-child) {
                margin-bottom: 18px;
            }

            [class^=icon-] {
                font-size: 35px;
                line-height: 35px;
                margin-right: 17px;
            }
            [class$=-value] {
                font-size: 18px;
                line-height: 20px;
            }
            .txt-climate {
                font-size: 20px;
                line-height: 20px;
            }
            .run_number {
                font-size: 28px;
                line-height: 24px;
                margin-right: 7px;
            }
        }
        .register-box {
            color: black;
            line-height: 28px;
            height: 100%;
            min-height: 205px;
            .txt-register {
                padding-top: 30px;
            }
            .title {
                font-size: 30px;
            }
            .desc {
                font-size: 26px;
            }
        }
    }
}

@media(max-width: 940px) {
    #content {
        padding-top: 65px;
        flex-direction: column;
    }
    .climate-summary {
        padding: 32px 20px 50px;
        border-left: none;
        order: 2;
    }
    .global-warming-detail {
        padding: 25px 17px;
        border-radius: 10px;

        .title {
            font-size: 23px;
            line-height: 25px;
            margin-bottom: 20px;
        }
        .detail {
            padding: 10px 0;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .wrap-img {
            width: 85px;
            height: 65px;
            margin-top: 0;

            .IMG {
                margin: 0 auto;
            }
        }
        .wrap-stats {
            font-size: 18px;
            line-height: 20px;
            margin-top: 0;
            padding-top: 6px;
        }
    }

    .card-climate {
        .bottom-box {
            padding: 28px 40px 30px;
        }
    }
}

@media(max-width: 767px) {

    .global-warming-detail {
        .detail {
            &:not(:last-child) {
                border-right: none;
                border-bottom: 1px solid rgba(193, 193, 193, 0.8);
            }
        }
    }
}