@import "core/mixin";
@import "core/font-family";
@import "core/variable";

@padding: 20px;
@max-content: 830;
@max-width-content: ~"calc(@{max-content}px + (@{padding} * 2))";
@placeholder-top-xs: 28px;
@dropdown-icon-top-xs: 34px;
@color-bear: #36B7DE;
@color-whale: #106BAF;
@color-wild: #3AB34A;

.container{
    border-left: 1px solid #D8D8D8;
    width: 100%;
    padding: 60px 200px;
    @media (max-width:1240px) {
        padding: 60px 50px !important;
    }
}
.input_file_wrapper{
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    // @media (max-width:935px) {
    //     flex-direction: column !important;
    // }
}
.test_btn_upload{
    width: 100px;
    height: 100px;
    background-color: gray;
    display: block;
}
.title_form{
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #424242;
    font-size: 60px;
    line-height: 40px;
}
.subtitle_form{
    font-size: 40px;
    color: #FFA400;
    text-align: center;
    display: block;
    line-height: 40px;
}
.subtitle_upload{
    font-size: 26px;
    line-height: 26px;
    color: #000;
}
.sec_company_detail, .sec_trash_cate, .sec_upload, .sec_waste_management{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec_trash_cate,.sec_upload, .sec_waste_management{
    margin-top: 50px;
}
.block-form{
    margin-top: 20px;
}
.form_dashboard{
    margin-top: 60px;
    .form_dropdown{
        position: relative;
    }
    .input_placeholder{
        padding: 5px 0;
        width: 100%;
        max-width:400px;
        border-bottom: 1px solid  #c1c1c1;
        
    }
    .title_list{
        font-size: 30px;
        line-height: 26px;
        color: #FFA400;
    }
    .title_wrapper{
        max-width: 830px;
        width: 100%;
        @media (max-width:992px) {
            text-align: center;
        }
    }
    .row_input{
        max-width: 830px;
        justify-content: flex-start;
        margin-top: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        @media (max-width:992px) {
            flex-direction: column;
        }
        .wrap-input-text{
            width: 100%;
        }
    }
    .row_upload{
        max-width: 830px;
        width: 100%;
        margin-top: 20px;
    }
    .mx_30{
        margin: 0 15px;
        @media (max-width:800px) {
            margin: 0;
        }
    }
    .mx_30_s{
        margin-right: 30px;
        @media (max-width:800px) {
            margin-right: 0;
        }
    }
    .m_0{
        margin-right: 0;
    }
    .date_select_wrapper{
        display: flex;
        align-items: center;
        @media (max-width:992px) {
            // max-width: 400px;
            width: 100%;
        }
        @media (max-width:576px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .text_title{
            color: #818181;
            font-size: 26px;
            line-height: 26px;
            margin-right: 20px;
            margin-left: 0;
            @media (max-width:992px) {
                margin-right: 5px;
            }
            @media (max-width:767px) {
                font-size: 21px;
                margin-right: 10px;
            }
        }
        .list_date_wrapper{
            display: flex;
            
            .list_date{
                margin-right: 5px;
                padding: 5px;
                border-radius: 5px;
                width: 35px;
                height: 55px;
                border: 1px solid #C1C1C1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .date{
                    font-size: 20px;
                    line-height: 20px;
                    color: #818181;
                    margin: 0;
                }
                
                .checking-box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border: 1.5px solid #979797;
                    border-radius: 5px;
                    background: #fff;
                    width: 20px;
                    height: 20px;
                    .icon{
                        font-size: 10px;
                        color: #fff;
                    }
                    &.active{
                        border: 1px solid #FFA400;
                        background: #FFA400;
                    }
                }
                
                .input-type-checkbox{
                    &:checked{
                        & ~ .checking-box{
                            background-color: #FFA400;
                            border: 1.5px solid #FFA400;
                        }
                        & ~ .list_date{
                            border: 1px solid #FFA400;
                            background: rgba(255, 164, 0, .05);
                        }
                    }
                }
                &.active{
                    border: 1px solid #FFA400;
                    background: rgba(255, 164, 0, .05);
                }
            }
            .border_date_red{
                border: 1px solid red;
            }
        }
    }
    .time{
        display: flex;
        @media (max-width:992px) {
            flex-direction: column;
            width: 100%;
        }
        .start{
            margin-right: 20px;
            @media (max-width:992px) {
                width: 100%;
            }
        }
    }
    .wrap-upload {
        max-width: 400px;
        width: 100%;
        // width: 100%;
        // margin: 0 auto;
        

     }
     // Form - Upload title
     .upload-title {
        margin: 0 0 20px 0;
     }
     // Form - Upload area
   
     .block-upload-icon {
        margin: 0 30px 0 0;
        .icon {
           .font(38px,40px);
           color: @color-gray;
        }
     }
     // Form - Upload desc
     .block-upload-desc {
        color: @color-gray;
        .desc-caption {
           .font(20px,20px);
           margin: 0 0 4px 0;
        }
        .desc-note {
           .font(16px,16px);
        }
     }
     // Form - Upload input
     input[type="file"] {
        display: none;
     }
  
     // Preview Upload
    
}
.upload-wrap {
    border: 1px dashed @color-light-gray3;
    border-radius: 10px;
    background-color: @color-light-gray2;
    min-height: 80px;
    overflow: hidden;
    &.none_style{
        border: none ;
        background: none ;
    }
    .transition(
       background-color .3s ease
       ,border-color .3s ease
    );
    &.have-file.have-file {
       border: 1px solid @color-yellow;
       background-color: #FFE3B2;
       &, 
       & * {
          color: @color-black;
       }
    }
    &.dragOver, 
    &.active {
       border: 1px solid @color-yellow;
    }
    &.invalid.invalid {
       background-color: fade(red, 10%);
       border-color: red;
       &, 
       & * {
          color: red;
       } 
    }
 }
 .upload-area {
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 34px 0 21px;
    @media (max-width:767px) {
        width: 335px;
        padding: 0 15px 0 20px;
    }
    &:not(.loading) {
       cursor: pointer;
    }
    &.loading {
       align-self: center;
    }
    &:not(.show) {
       display: none;
     }
 }
.preview-upload {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    padding: 0 29px 0 20px;
    @media (max-width:767px) {
        width: 335px;
        padding: 0 15px 0 20px;
    }

    .block-icon {
       font-size: 23px;
       margin: 0 23px 0 0;
    }
    .block-info--name {
       .font(20px,20px);
       color: @color-black;
    }
    .block-info--size {
       .font(16px,26px);
       color: @color-black;
    }
    .delete-upload {
       .size(30px,30px);
       border: 1px solid @color-black;
       background-color: fade(#000, 10%);
       border-radius: 15px;
       cursor: pointer;
       .transition(background-color 0.2s);
       &:hover {
          background-color: fade(#000, 20%);
       }
       .icon {
          font-size: 11px;
       }
    }
 }
@media (max-width:767px) {
    .container{
        padding: 30px 20px;
    }
    .title_form{
        width: 230px;
        font-size: 45px;
        line-height: 35px;
    }
    .subtitle_form{
        font-size: 29px;
        line-height: 27px;
    }
}

.wrap-input-text{
    // max-width: 400px;
    width: 100%;
}
.wrap-input-text{
    &.input_trash{
        max-width: 860px;
        width: 100%;
    }
}
.input-type-text{
    &.input_date{
        max-width: 190px;
        width: 100%;
        @media (max-width:992px) {
            max-width: 100%;
        }
    }
    & ~.new_style{
        background: red!important;
    }
    
}
.wrap-action {
    padding: 40px 0 0 0;

    .btn-action {
       max-width: 150px;
       margin: 0 auto;
    }
 }
 .new_style{
    resize: none;
    overflow-y: hidden;
 }

.flex_input_wrapper{
    display: flex;

}
.d_none{
    display: none;
}
.d_flex{
    display: flex;
}
//  .block-form{
//     &.new_form{
//         margin-right: 30px;
//         @media (max-width:767px) {
//             margin-right: 0;
//         }
//     }
//  }
.link-website{
    margin: 0 5px;
    color: #FFA400;
}
.link-consent{
    color: #424242;
}
.block-form{
    @media (max-width:1235px) {
        
        margin-right: 30px !important;
    }
}