@import "core/mixin";


//Dropdown
@media (min-width: 768px) {
    
    .simple-dropdown {
        border-color: #3AB34A;
        width: 281px;
        &.simple-dropdown {
            padding: 11px 0px 11px 20px;
        }
        &.disabled {

        }
        &.hide {
        }
        &:active {
        }
        &.open {
        }
        &.have-data {
            border-color: #3AB34A;
            .dropdown-placeholder {
                background-color: #3AB34A;
            }
        }    

        .dropdown-show-selected {
            .font(14px,14px);

            .icon-arrow-down {
                color: #3AB34A;
                font-size: 17px;
            }
            .-text {
                color: #3AB34A;
            }
        }
        .dropdown-placeholder {
            .transition(all .2s);
            .fn-multiline-ellipsis(1,25px,25px);
            .icon {
                .font-color(15px, 25px, black);

            }
        }

        @ddHeight: 50px;
        @maxHeight: 300px;
        .dropdown-section{

            &.hide-serch{
                ul {

                }
            }
        }
        .inp-dd-search{

            &:focus {
            }
        }

        ul {
            li {
                .font(26px,28px);
                &:hover, &.selected {
                    background-color: #3AB34A;
                }
                &.selected {
                }
                &.hide{
                }
                &.disible{
                }
            }
            .-text {

            }
        }
        &.open {        
            .dropdown-show-selected {
                .icon-arrow-down {
                    .rotate(180deg);
                }
            }
            .dropdown-section{
                min-width: 250px;
            }
        }
        &.have-icon-placholder{
            @custompad: 60px;
            .box_ic{

                .ic{

                }           
            }
            .dropdown-placeholder{
                left: @custompad;
            }
            .dropdown-show-selected{
                padding-left: @custompad;
            }  
        }
    }
}




@media (max-width: 767px) {
    .simple-dropdown {
        border-color: #3AB34A;
        width: 281px;
        &.simple-dropdown {
            height: 42px;
            padding: 10px 0px 10px 15px;
        }
        &.disabled {
    
        }
        &.hide {
        }
        &:active {
        }
        &.open {
        }
        &.have-data {
            border-color: #3AB34A;
            .dropdown-placeholder {
                background-color: #3AB34A;
            }
        }    
    
        .dropdown-show-selected {
            .font(14px,14px);
    
            .icon-arrow-down {
                color: #3AB34A;
            }
            .-text {
                color: #3AB34A;
            }
        }
        .dropdown-placeholder {
            .transition(all .2s);
            .fn-multiline-ellipsis(1,25px,25px);
            .icon {
                .font-color(15px, 25px, black);
    
            }
        }
    
        @ddHeight: 50px;
        @maxHeight: 300px;
        .dropdown-section{
    
            &.hide-serch{
                ul {
    
                }
            }
        }
        .inp-dd-search{
    
            &:focus {
            }
        }
    
        ul {
            li {
                .font(21px,21px);
                &:hover, &.selected {
                    background-color: #3AB34A;
                }
                &.selected {
                }
                &.hide{
                }
                &.disible{
                }
            }
            .-text {
    
            }
        }
        &.open {        
            .dropdown-show-selected {
                .icon-arrow-down {
                    .rotate(180deg);
                }
            }
            .dropdown-section{
                min-width: 250px;
            }
        }
        &.have-icon-placholder{
            @custompad: 60px;
            .box_ic{
    
                .ic{
    
                }           
            }
            .dropdown-placeholder{
                left: @custompad;
            }
            .dropdown-show-selected{
                padding-left: @custompad;
            }  
        }
    }
}