@import "core/variable";
@import "core/mixin.less";

:root {
    --header-height: 80px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: var(--header-height);
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 7px 0px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.5);

    [data-btn="close"] {
        display: none;
    }
    
    .constraint_header {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }
    
    .logo {
        filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.1));
        height: 100%;
        img {
            height: 100%;
        }
    }
    
    .menu {
        cursor: pointer;
        margin-left: 20px;
        user-select: none;
    
        .icon {
            font-size: 20px;
            margin-right: 20px;
            transition: color 0.15s ease;
    
            &.menu {
                margin-right: 10px;
            }
            &.close {
                margin-right: 0;
            }
        }
        .txt {
            font-size: 26px;
            line-height: 16px;
            transition: color 0.15s ease;
            .txt-sub{
                font-size: 16px;
                line-height: 16px;
            }
        }
    }

    &.login-opened {
        .menu[data-btn="login"] {
            .icon, .txt {
                color: #FFA400;
            }
        }
    }
}

// header menu
.popup_cate_menu {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 45;
    padding: 80px 20px 0;
    .wrap_box {
        position: relative;
        z-index: 300;
        max-width: 1240px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.icon-user{
    border: 1px #FFA400 solid;
    border-radius: 80px;
    background-color: #FFA400;
    width: 30px;
    height: 30px;
    padding-left: 6px;
    padding-top: 5px;
    margin-right: 8px;
    
}
.user{
    font-size: 16px;
    color: #ffffff;
}

// header login
.popup_login {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 45;
    padding-top: 80px;
    background-color: white;
    transition: top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    .drop-shadow(0, 10px, 30px, 0, 5%);

    &.open {
        top: 0%;
    }

    .col-50 {
        width: 50%;
    }

    .popup_content {
        position: relative;
        z-index: 4;
        width: 100%;
        max-width: 1160px;
        margin: 0 auto;
        padding: 60px 100px 40px;
    }

    .login-txt {
        font-size: 40px;
        line-height: 40px;
        .txt-big {
            font-size: 54px;
            line-height: 40px;
        }
    }
    
    .wrap_close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .wrap-login-btn {
        width: 100%;
        .link-forget-password {
            color: #818181;
            font-size: 20px;
            line-height: 26px;
        }
    }
}

.box_cate_menu {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    width: 300px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;

    .cate_menu  {
        position: relative;
        height: 80px;
        padding: 10px 30px;
        background-color: white;
        cursor: pointer;

        &.bear {
            background-color: #36B7DE;
        }

        &.whale {
            background-color: #106BAF;
        }
        &.elephant {
            background-color: #6DC169;
        }
        .text {
            color: white;
            font-size: 26px;
            line-height: 26px;
        }

        &::after {
            content: @icon-arrow-right-tail;
            font-family: '@{icomoon-font-family}' !important;
            speak: never;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
          
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            position: absolute;
            top: calc(50% - 14px);
            right: 30px;
            font-size: 30px;
            line-height: 28px;
            opacity: 0;
            transition: opacity 0.2s ease-in;
            color: white;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    .wrap_character {
        height: 100%;
        margin-right: 18px;
        width: 58px;
        img {
            height: 100%;
            width: auto;
            object-fit: contain;
            margin: 0;
        }
    }
    
    .login_menu {
        padding: 25px 20px;   
        background-color: white;
        cursor: pointer;
        margin-left: 0;
        .icon {
            font-size: 20px;
            line-height: 20px;
            margin-right: 20px;
        }
        .txt {
            font-size: 26px;
            line-height: 26px;
            
            
        }
    }
}
.active {
    .box_cate_menu {
        opacity: 1;
        transform: translateY(0px);
    }
}


@media(max-width: 940px) {
    .header {
        max-height: 65px;

        &.menu-opened {
            [data-btn="menu"] {
                display: none;
            } 
            [data-btn="close"] {
                display: flex;
            }        
        }
    }
    .popup_cate_menu {
        padding: 65px 0px 0;
        .box_cate_menu {
            width: 100%;
            border-radius: 0;
            margin-top: 0;
            .cate_menu  {
               padding: 10px 25px;
            }
        }
    }

    .popup_login {
        height: 100%;
        padding-top: 65px;

        .col-50 {
            width: 100%;
        }
        .popup_content {
            padding: 30px 20px;
            width: 100%;
            height: 100%;
            flex-direction: column !important;
            justify-content: center;
        }
        .wrap_close {
            top: 13px;
            right: 10px;
        }
        .login-txt {
            text-align: center;
            font-size: 29px;
            line-height: 27px;
            .txt-big {
                font-size: 45px;
                margin-bottom: 10px;
            }
        }
        .wrap-login-btn {
            flex-direction: column;
            margin-top: 30px;
            .link-forget-password { 
                margin-bottom: 20px;
            }
        }
        .txt-register {
            display: inline-block;
            font-size: 23px;
            line-height: 23px;
            margin-top: 100px;
            color: black;
        }
    }
    .ic-eye {
        top: 0px !important;
    }
}
@media (max-width: 767px) {
    
    .txt-log{
        font-size: 26px;
        line-height: 16px;
        .txt-sub{
            font-size: 16px;
            line-height: 16px;
        }
    }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .frosted-glass(@blur: 10px, @background-color: rgba(255, 255, 255, 0.8)) {
        background-color: @background-color;
        -webkit-backdrop-filter: blur(@blur);
        backdrop-filter: blur(@blur);
    }
    .header {
        .frosted-glass();
    }

    @media (min-width: (@screen-xs + 1)) {
        .popup_login {
            .frosted-glass();
            input {
                background-color: transparent !important;
            }
        }
    }
}
