.summary-progress {
    width: calc(796 / 1160 * 100%);
    max-width: 796px;
    margin: 10px auto 50px;

    .progress {
        width: 50%;

        .wrap-img {
            // max-height: 124px;

            img {
                width: auto;
                height: 100%;
                max-height: 124px;
                object-fit: contain;
            }
        }
    }
    .txt {
        text-align: center;
        font-size: 30px;
        line-height: 28px;
        margin-top: 20px;
        .running-no {
            margin-right: 20px;
        }
    }
    sub {
        font-size: 70%;
        display: inline-block;
        transform: translateY(4px);
    }
}

@media(max-width: 767px) {
    .summary-progress {
        width: 100%;
        .progress {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 45px;
            }
        }
        .txt {
            font-size: 23px;
            line-height: 23px;
            .running-no {
                margin-right: 5px;
            }
        }
    }
}