.section-register {
    position: relative;
    height: 500px;
    .wrap_img,
    .wrap_detail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .wrap_img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .register_txt {
        color: white;
        text-align: center;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 40px;
        line-height: 38px;
        margin-bottom: 20px;
    }
}

@media(max-width: 767px) {
    
    .section-register {
        position: relative;
        height: 375px;
        .register_txt {
            font-size: 29px;
            line-height: 27px;
            margin-bottom: 24px;
        }
    }
}