.section_vdo_slider {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding-top: calc(726 / 1280 * 100%);
    .section-vdo-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // padding: 60px 0px 90px;
    }
    .slider_bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
    .wrap_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &.bear {
            [data-cate=bear] {
                opacity: 1;
            }
        }
        &.whale {
            [data-cate=whale] {
                opacity: 1;
            }
        }
        &.elephant {
            [data-cate=elephant] {
                opacity: 1;
            }
        }
        &.all {
            [data-cate=all] {
                opacity: 1;
            }
        }
        .bg_wrapper {
            opacity: 0;
            transition: opacity 0.4s ease;
            &.active {
                opacity: 1;
            }
        }
    }
    .char {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.4s ease;
        max-width: 300px;
        &.active {
            opacity: 1;
        }
        &.bear {
            width: 16.71875%;
            max-width: 200px;
            .wrap {
                position: relative;
                padding-top: 112%;
            }
        }
        &.whale {
            top: 58%;
            left: 1%;
            width: 19.375%;
            .wrap {
                position: relative;
                padding-top: 67.16981132075471%;
            }
        }
        &.elephant {
            top: 58%;
            left: 5.5%;
            width: 11.484375%;
            .wrap {
                position: relative;
                padding-top: 129.93197278911566%;
            }
        }
        img {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateY(-50%);
        }
    }
    .wrap_slider {
        position: relative;
        width: 100%;
        // height: 100%;
        overflow: hidden;
        margin-top: -40px;
        padding: 20px 0 70px;
        .max_width_section {
            width: 54.6875%;
            margin: 0 24.21875% 0 21%;
        }
    }
    .wrap_group_slider {
        position: relative;
        padding-top: 57.14285714285714%;
    }
}
.bg_slide_1, .bg_slide_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg_slide_1 {
    z-index: 0;
    transform: translate(15%, 0) scale(0.9227142857142857, 0.9075);
}
.bg_slide_2 {
    z-index: -1;
    transform: translate(36%, 0) scale(0.7057142857142857, 0.7075);
}
.popup_fullscreen {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .popup_box {
        position: relative;
        width: 100%;
        height: 100%;
    }

    iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        // object-fit: contain;
        max-height: 80%;
        max-width: 100%;
        background-color: grey;
    
        transform: translate(-50%, -50%);
    }
    .wrap_close {
        position: absolute;
        top: 50px;
        right: 60px;
        z-index: 10;
    }
}

// swiper
.fade_slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;

    .wrap_slide {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 5px 27px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        // pointer-events: none;
        &.active {
            z-index: 11;
            transform: scale(1.25);
            pointer-events: all;
        }
        &.next {
            transform: translateX(12%);
        }
        &.prev {
            transform: translateX(-12%);
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .arrow {
        position: absolute;
        top: calc(50% - 25px);
        border: 1px solid white;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    
        &.back {
            left: -60px;
        }
        &.next {
            left: auto;
            right: -60px;
        }
    
        &:hover {
            &.back {
                .icon {
                    margin-left: -7px
                }
            }
            &.next {
                .icon {
                    margin-left: 7px
                }
            }
        }
    
        .icon {
            font-size: 20px;
            line-height: 20px;
            color: white;
            margin-left: 0;
            transition: margin 0.4s ease;
        }
    }
    .slide_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media(max-width: 767px) {
    .section_vdo_slider {
        padding-top: calc(810 / 750 * 100%);

        .slider_bg { 
            height: 100%;
            top: auto;
            bottom: 0;

            width: 100%;
            object-fit: cover;
            min-width: 100%;
        }

        .char {
            &.bear {
                top: 84%;
                left: -20px;
                width: 18.13%;
                max-width: 68px;
                .wrap {
                    position: relative;
                    padding-top: 112%;
                }
            }
            &.whale {
                top: 90%;
                left: 20px;
                width: 35.46666666666667%;
                max-width: 266px;
                .wrap {
                    position: relative;
                    padding-top: 67.16981132075471%;
                }
            }
            &.elephant {
                top: 82%;
                left: calc(30% - 130px);
                width: 100%;
                max-width: 50px;
                .wrap {
                    position: relative;
                    padding-top: 129.93197278911566%;
                }
            }
            img {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(-50%);
            }
        }
        .wrap_group_slider {
            padding-top: 58.33333333333334%;
        }
        .wrap_slider {
            margin-top: -35px;
            padding: 0 0 50px;
            .max_width_section {
                width: 64%;
                margin: 57px auto 0;
            }
        }
    }
    .wrap_bg {
        &.cut {
            height: 94%;
        }
    }
    .popup_fullscreen {
        padding: 20px;
        .popup_box {
            width: 100%;
        }
        .wrap_close {
            top: 32px;
            right: 20px;
        }
        iframe {
            max-height: 100%;
        }
    }

    .fade_slider {

        .arrow {
            top: calc(50% - 15px);
            width: 30px;
            height: 30px;

            &.back {
                left: -60px;
            }
            &.next {
                left: auto;
                right: -60px;
            }
            .icon {
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
}