@import "core/reset";
@import "core/mixin";
@import "core/variable";
@import "core/fonts";
@import "core/font-family";
@import "core/font-icon";
.f_reg,.f_med,.f_bold,.f_light {
    .font-smooth();
}
.f_reg {
	.font-reg();
}
.f_med {
    .font-med();
}
.f_bold {
    .font-bold();
}
.f_light {
    .font-light();
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent
}
img {
	display: block;
	height: auto;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}
body{	
    color: #000;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0;
    font-size: 16px;
    .f_reg();
}
.flex {
    .display-flex();
}
.flex-inline {
    display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.flex,.flex-inline {
    &.v-top {
        align-items: flex-start;
    }
    &.v-center {
        align-items: center;
    }
    &.h-center {
        justify-content: center;
    }
    &.center {
        .v-center();
        .h-center();
    }
    &.h-justify {
        justify-content: space-between;
    }
    &.stretch {
        align-items: stretch;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.column {
        flex-direction: column;
    }
    &.reverse {
        &.column {
            flex-direction: column-reverse;
        }
        &:not(.column) {
            flex-direction: row-reverse;
        }
    }
    &.column-xs {
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
}

.w_100 {
    width: 100%;
}
.hide {
    display: none;
}
.hide-xs {
    @media(max-width: 767px) {
        display: none;
    }
}
.show-xs {
    @media(min-width: 768px) {
        display: none;
    }
}
.hide-940 {
    @media(max-width: 940px) {
        display: none;
    }
}
.show-940 {
    @media(min-width: 941px) {
        display: none;
    }
}
.hide-900 {
    @media(max-width: 900px) {
        display: none;
    }
}
.show-900 {
    @media(min-width: 901px) {
        display: none;
    }
}

body.dim {
    overflow: hidden;
}

.XL {
    font-size: 40px;
    line-height: 38px;
    color: white;
    margin-right: 5px;
    @media(max-width: 767px) {
        font-size: 30px;
        line-height: 38px;
    }
}
.t_yellow {
    color: #FFA400;
}
.t_light_blue {
    color: #20BEEE;
}
.t_blue {
    color: #106BAF;
}
.t_green {
    color: #3AB34A;
}
.t_grey {
    color: #818181;
}
.t_dark {
    color: #424242;
}
.t_60 {
    font-size: 60px;
    line-height: 58px;
    @media(max-width: 767px) {
        font-size: 45px;
        line-height: 35px;
    }
}
.t_40 {
    font-size: 40px;
    line-height: 38px;
    @media(max-width: 767px) {
        font-size: 29px;
        line-height: 27px;
    }
}
.t_30 {
    font-size: 30px;
    line-height: 28px;
    &:not(.no-top) {
        margin-top: 10px;
    }
    @media(max-width: 767px) {
        font-size: 23px;
        line-height: 23px;
        margin-top: 10px;
    }
}
.t_28 {
    font-size: 28px;
    line-height: 30px;
    &:not(.no-top) {
        margin-top: 10px;
    }
    @media(max-width: 767px) {
        font-size: 23px;
        line-height: 23px;
    }
}
.t_26 {
    font-size: 26px;
    line-height: 28px;
    &:not(.no-top) {
        margin-top: 10px;
    }
    @media(max-width: 767px) {
        font-size: 23px;
        line-height: 23px;
    }
}
.t_16 {
    font-size: 16px;
    line-height: 18px;
    @media(max-width: 767px) {
        font-size: 12px;
        line-height: 14px;
    }
}
.HL {
    font-size: 30px;
    line-height: 28px;
    color: #FFA400;

    @media(max-width: 767px) {
        font-size: 23px;
        line-height: 23px;
    }
}
.scrollspy {
    opacity: 0;
    transition: opacity 1s cubic-bezier(.38,.31,.18,.93), transform 1s cubic-bezier(.38,.31,.18,.93);

    &.fade {
        opacity: 0;
        &.inviewed {
            opacity: 1;
        }
    }

    &:not(.fade) {
        transform: translateY(20px) translateZ(0);
    
        &.inviewed {
            opacity: 1;
            transform: translateY(0px) translateZ(0);
        }
    }

}
.swiper {
    .swiper-wrapper {
        width: 100% !important;
        height: 100%;
        white-space: nowrap;
        font-size: 0;
    }
    .swiper-slide {
        display: inline-block;
        height: 100%;
        width: 100% !important;
        // transition: transform 0.3s ease;
        white-space: normal;
        vertical-align: top;
    }
    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
}

.react-dropdown-select {
    border: 1px solid black !important;
    border-radius: 25px !important;
    padding: 11px 20px !important;
    font-size: 26px !important;
    line-height: 24px !important;

    &:focus, &:focus-within {
        box-shadow: none !important;
    }
    .react-dropdown-select-content {
        .font-med();
        margin-top: 4px;
        .react-dropdown-select-input {
            width: 0;
            height: 0;
        }
    }
    .react-dropdown-select-dropdown {
        border-radius: 10px;
        box-shadow: none !important;
        border: none !important;
        top: 63px !important;
        min-width: 200px;

        .react-dropdown-select-item {
            padding: 12px 18px;
            transition: background-color 0.2s ease;
            border-bottom: none;
            &:hover, &.react-dropdown-select-item-selected {
                background-color: #FFA400;
                color: white;
            }
        }
    }
}

.vdo-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vdo-player .wrap-video {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: calc(1000 / 1280 * 100%); 
    max-height: 100%;
    margin: auto;
}
body {
    .dim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background-color: rgba(0, 0, 0, 0.6);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }
    }
}

// inviewspy
[inviewspy], .inviewspy {
    opacity: 0 !important;
    transform: translateY(20px) !important;
    transition: opacity 1s cubic-bezier(.38,.31,.18,.93), transform 1s cubic-bezier(.38,.31,.18,.93), color .3s cubic-bezier(.38,.31,.18,.93);

    &.inviewed {
        opacity: 1 !important;
        transform: translateY(0px) !important;
    }
}

@media(max-width: 767px) {

    .react-dropdown-select {
        font-size: 21px !important;
        line-height: 21px !important;
        white-space: nowrap;
        padding: 11px 17px !important;
        .react-dropdown-select-dropdown {
            right: 0;
            left: auto;
        }
        .react-dropdown-select-content {
            span {
                padding-right: 10px;
                max-width: 64px;
                overflow: hidden;
                text-overflow: ellipsis;

            }
        }
    }

    .vdo-player .wrap-video {
        max-width: 100%; 
    }
}
// cate btn
.cate_button {
    display: block;
    font-size: 26px;
    line-height: 26px;
    background-color: white;
    border-radius: 25px;
    padding: 12px 65px;
    margin: 35px auto 0;
    width: 200px;

    &.bear {
        color: #20BEEE;
    }
    &.whale {
        color: #106BAF;
    }
    &.elephant {
        color: #3AB34A;
    }
}

// btn
.button {
    border-radius: 50px;
    background-color: #FFA400;
    transition: all 0.4s ease;
    padding: 12px 30px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
    &.shadow {
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }
    &:hover {
        background-color: #fdbf48;
    }
    .button_label {
        font-size: 26px;
        line-height: 26px;
        color: black;
    }

    &.disabled {
        background-color: #e8c178;
        pointer-events: none;
        cursor: default;
    }
}


// close btn
.close_btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        font-size: 12px;
        line-height: 12px;
        color: white;
    }

    &.show-xs {
        display: none;
    }

    &.black {
        border: 1px solid black;
        .icon {
            color: black;
        }
    }
    &.XL {
        width: 50px;
        height: 50px;
        border-width: 1.5px;
        border-radius: 25px;
        .icon {
            font-size: 15px;
            line-height: 15px;
        }
    }
}
.show-940 {
    @media(min-width: 941px) {
        display: none;
    }
}

.section-title {
    font-size: 40px;
    line-height: 38px;
    text-align: center;
    max-width: 1060px;
    margin: 0 auto 50px;

    &.white {
        color: white;
    }
}

.section-detail {
    font-size: 30px;
    line-height: 28px;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.loading {
    width: 0px;
    max-width: 0px;
    min-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    // transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: transparent !important;
    pointer-events: none !important;

    * {
        color: transparent !important;
        // transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &::before {
        content: '';
        border-radius: 13px;
        background-color: transparent;
        width: 25px;
        height: 25px;
        position: absolute;
        top: calc(50% - 10px);
        left: 50%;
        transform: translate(-50%) scale(0);
        animation-name: loading;
        animation-iteration-count: infinite;
        animation-duration: 6s;
    }

    @keyframes loading {
        0% {
            background-color: #36B7DE;
            transform: translate(-50%) scale(1);
        }
        12.5% {
            transform: translate(-50%) scale(0);
        }
        25% {
            background-color: orange;
            transform: translate(-50%) scale(1);
        }
        37.5% {
            transform: translate(-50%) scale(0);
        }
        50% {
            background-color: #106BAF;
            transform: translate(-50%) scale(1);
        }
        62.5% {
            transform: translate(-50%) scale(0);
        }
        75% {
            background-color: #6DC169;
            transform: translate(-50%) scale(1);
        }
        87.5% {
            transform: translate(-50%) scale(0);
        }
        100% {
            background-color: #36B7DE;
            transform: translate(-50%) scale(1);
        }
    }
}

@media (max-width: 767px) {
    .close_btn {
        display: flex !important;
        justify-content: center;
        align-items: center;
        &.XL {
            width: 40px;
            height: 40px;
            border-width: 1px;
            border-radius: 20px;
        }
    }
    .section-title {
        font-size: 29px;
        line-height: 27px;
        margin: 0 auto 30px;
    }

    .button {
        padding: 10px 23px;
        min-width: 125px;
        .button_label {
            font-size: 21px;
            line-height: 21px;
        }
    }
    .section-detail {
        font-size: 23px;
        line-height: 23px;
        max-width: 100%;
        padding: 0 20px;
        margin-top: 0px;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}