.menu-bear {
    position: sticky;
    top: 80px;
    width: 100%;
    z-index: 100;
    padding: 17px 0px;
    overflow: hidden;

    @supports(backdrop-filter: none) {
        backdrop-filter: blur(5px);
        background-color: rgba(32, 190, 238, 0.8);
    }
    @supports not (backdrop-filter: none) {
        background-color: rgba(32, 190, 238, 0.9);
    }

    .wrap-menu {
        white-space: nowrap;
        overflow: auto;
        padding-bottom: 50px;
        max-width: 890px;
        margin: 0 auto -50px;
        color: white;
        font-size: 24px;
        line-height: 26px;

        .menu-link {
            color: white;
            margin: 0 20px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: -2px;
                width: 0%;
                height: 1px;
                background-color: white;
                transition: all 0.3s ease;
            }

            &:hover {
                &::after {
                    left: 0%;
                    width: 100%;
                }
            }
        }
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 19px;
        top: 0;
    }
    &::before {
        left: 0;
        background: linear-gradient(to right, rgba(32, 190, 238, 1), rgba(32, 190, 238, 0));
    }
    &::after {
        right: 0;
        background: linear-gradient(to right, rgba(32, 190, 238, 0), rgba(32, 190, 238, 1));
    }
}
@media(max-width: 940px) {
    .menu-bear {
        top: 65px;
    }
}
@media(max-width: 767px) {
    .menu-bear {
        .wrap-menu {
            .menu-link {
                margin: 0 12.5px;
            }
        }
        &::before,
        &::after {
            width: 15px;
        }
    }
}