@import "core/mixin";
@import "core/font-family";
@import "core/variable";

@padding: 20px;
@max-content: 830;
@max-width-content: ~"calc(@{max-content}px + (@{padding} * 2))";
@placeholder-top-xs: 28px;
@dropdown-icon-top-xs: 34px;
@color-bear: #36B7DE;
@color-whale: #106BAF;
@color-wild: #3AB34A;

.content {
   position: relative;
   display: block;
   padding-top: var(--header-height);
   z-index: 1;
}
.page-register {
   padding: 30px 0 40px 0;

   .container {
      padding: 0 20px;
   }

   // Simple dropdown reset
   .simple-dropdown {
      padding: 25px 0 4px 0;
      height: 55px;
      border: 0;
      border-bottom: 1px solid @color-light-gray;
      border-radius: 0;
      margin: 0 0 12px 0;

      &.have-data {
         .dropdown-placeholder {
            display: block;
            font-weight: 500;
         }
      }

      &.open {
         border-bottom: 2px solid @color-yellow;
         z-index: 50;

         .dropdown-show-selected {
            .-icon {
               color: @color-yellow;
            }
         }
      }

      &:not(.have-data) {
         &:not(.invalid) {
            .dropdown-placeholder {
               color: @color-gray;
            }
         }
         .dropdown-placeholder {
            font-size: 26px;
            top: 25px;
         }
      }

      // Select
      .dropdown-show-selected {
         left: 0;

         .-icon {
            font-size: 10px;
            top: 28px;
            right: 0;
            color: @color-gray;
         }
         .-text {
            color:@color-black;
         }
      }

      // Placeholder
      .dropdown-placeholder {
         font-size: 18px;
         line-height: 20px;
         left: 0;
      }

      // Dropdown items
      .dropdown-section {
         .drop-shadow(0, 10px, 30px, 0, 0.10);
         padding: 0 0 20px 0;
         &.font-smaller {
            .-text {
               font-size: 22px;
               line-height: 24px;
            }
         }
      }

      ul {
         li {
            &:hover,
            &.selected {
               background-color: @color-yellow;
               color: #000;
            }
         }
      }
   }

   // Header
   .page-header {
      text-align: center;
      margin: 0 0 30px 0;
   }
   .page-header--title {
      .font(45px,35px);
      color: @color-black;
   }
   .page-header--description {
      .font(30px,28px);
      color: @color-yellow;
   }

   // Form
   .block-form {
      &:not(:last-of-type) {
         margin: 0 0 50px 0;
      }
   }
   .register-form-title {
      .font(23px,25px);
      text-align: center;
   }

   // Form - Upload
   .wrap-upload {
      max-width: 400px;
      margin: 0 auto;
   }
   // Form - Upload title
   .upload-title {
      margin: 0 0 20px 0;
   }
   // Form - Upload area
   .upload-wrap {
      border: 1px dashed @color-light-gray3;
      border-radius: 10px;
      background-color: @color-light-gray2;
      min-height: 80px;
      overflow: hidden;
      .transition(
         background-color .3s ease
         ,border-color .3s ease
      );
      &.have-file.have-file {
         border: 1px solid @color-yellow;
         background-color: #FFE3B2;
         &, 
         & * {
            color: @color-black;
         }
      }
      &.dragOver, 
      &.active {
         border: 1px solid @color-yellow;
      }
      &.invalid.invalid {
         background-color: fade(red, 10%);
         border-color: red;
         &, 
         & * {
            color: red;
         } 
      }
   }
   .upload-area {
      padding: 20px 35px 20px 20px;

      &:not(.loading) {
         cursor: pointer;
      }
      &.loading {
         align-self: center;
      }
      &:not(.show) {
         display: none;
       }
   }
   .block-upload-icon {
      margin: 0 30px 0 0;
      .icon {
         .font(38px,40px);
         color: @color-gray;
      }
   }
   // Form - Upload desc
   .block-upload-desc {
      color: @color-gray;
      .desc-caption {
         .font(20px,20px);
         margin: 0 0 4px 0;
      }
      .desc-note {
         .font(16px,16px);
      }
   }
   // Form - Upload input
   input[type="file"] {
      display: none;
   }

   // Preview Upload
   .preview-upload {
      padding: 18px 20px 18px 30px;

      .block-icon {
         font-size: 23px;
         margin: 0 23px 0 0;
      }
      .block-info--name {
         .font(20px,20px);
         color: @color-black;
      }
      .block-info--size {
         .font(16px,26px);
         color: @color-black;
      }
      .delete-upload {
         .size(30px,30px);
         border: 1px solid @color-black;
         background-color: fade(#000, 10%);
         border-radius: 15px;
         cursor: pointer;
         .transition(background-color 0.2s);
         &:hover {
            background-color: fade(#000, 20%);
         }
         .icon {
            font-size: 11px;
         }
      }
   }

   .group {
      width: 100%;
   }

   //
   // Project
   // -----------------------------
   .block-project {
      --color-bear: @color-bear;
      --color-whale: @color-whale;
      --color-wild: @color-wild;
      .input-type-checkbox {
         &:checked {
            & ~ .container-project {
               &[data-project="bear"] {
                  .project-graphic--image {
                     top: 35%;
                  }
               }
               &[data-project="whale"] {
                  .project-graphic--image {
                     top: 15%;
                  }
               }
               &[data-project="wild"] {
                  .project-graphic--image {
                     top: 20%;
                  }
               }
            }
         }
      }
   }
   .projects-title {
      margin: 0 0 30px 0;
   }
   .wrap-projects {
      max-width: 415px;
      margin: 0 auto;
   }
   .container-project {
      text-align: center;
      cursor: pointer;
      &:hover,
      &:active,
      &:focus {
         &[data-project="bear"] {
            .project-graphic--image {
               top: 35%;
            }
         }
         &[data-project="whale"] {
            .project-graphic--image {
               top: 15%;
            }
         }
         &[data-project="wild"] {
            .project-graphic--image {
               top: 20%;
            }
         }
      }
   }
   .project-graphic {
      position: relative;
      .size(82px,82px);
      border-radius: 50%;
      overflow: hidden;
      .drop-shadow(0, 10px, 28px, 0, 0.2);
      margin: 0 auto 15px;
   }
   .project-graphic--image {
      position: absolute;
      width: 100%;
      height: 100%;
      .user-select(none);
      pointer-events: none;
      .transition(top 0.2s);
   }
   .project-name {
      .font(18px,16px);
      margin: 0 0 10px 0;
   }
   [data-project="bear"] {
      .project-graphic {
         background-color: var(--color-bear);
      }
      .project-graphic--image {
         top: 40%;
      }
      .project-name {
         color: var(--color-bear);
      }
   }
   [data-project="whale"] {
      .project-graphic {
         background-color: var(--color-whale);
      }
      .project-graphic--image {
         top: 20%;
         left: 20%;
      }
      .project-name {
         color: var(--color-whale);
      }
   }
   [data-project="wild"] {
      .project-graphic {
         background-color: var(--color-wild);
      }
      .project-graphic--image {
         top: 25%;
         left: 2%;
         height: 106px;
      }
      .project-name {
         color: var(--color-wild);
      }
   }

   //
   // Consent
   // -----------------------------
   
   .block-agreement {
      .checking-text {
         .font(20px,26px);
         color: @color-gray;
      }
      .link-website,
      .link-consent {
         .transition(color 0.2s);
      }
      .link-website {
         color: @color-yellow;
         &:hover,
         &:active {
            color: @color-yellow-hover
         }
      }
      .link-consent {
         color: @color-black;
      }
   }

   //
   // Button Action
   // -----------------------------

   .wrap-action {
      padding: 40px 0 0 0;

      .btn-action {
         max-width: 150px;
         margin: 0 auto;
      }
   }
}

@media (min-width: (@screen-xs + 1)) {
   .page-register {
      padding: 60px 0 80px 0;

      .container {
         max-width: @max-width-content;
         margin: 0 auto;
      }

      // Simple dropdown reset
      .simple-dropdown {
         margin: 0 0 15px 0;
      }

      // Header
      .page-header {
         margin: 0 0 60px 0;
      }
      .page-header--title {
         .font(54px,40px);
      }
      .page-header--description {
         .font(40px,40px);
      }

      // Form
      .register-form-title {
         .font(26px,26px);
      }

      // Form - Upload
      // Form - Upload area
      .upload-wrap {
         &:not(.loading):hover {
            border-color: @color-yellow;
         }
      }

      //
      // Project
      // -----------------------------
      .project-graphic {
         .size(100px,100px);
         margin: 0 auto 20px;
      }
      .project-name {
         .font(22px,20px);
      }

       //
      // Consent
      // -----------------------------
      .block-agreement {
         .checking-text {
            gap: 5px;
         }
      }

      //
      // Button Action
      // -----------------------------
      .wrap-action {
         padding: 60px 0 0 0;
      }
   }
}

@media (max-width: @screen-xs) {
   .page-register {

      // Simple dropdown reset
      .simple-dropdown {
         &:not(.have-data) {
            .dropdown-placeholder {
               font-size: 21px;
               top: @placeholder-top-xs;
            }
         }
         .dropdown-show-selected {
            .-icon {
               top: @dropdown-icon-top-xs;
            }
         }
         ul {
            li {
               font-size: 21px;
            }
         }
      }
   }
}