.padding_top{
    padding-top: 80px;
    @media (max-width:767px) {
        padding-top: 50px;
    }
}
@keyframes animate_up {
    0%{
        opacity: .0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}
.main_ty_dashboard{
    position: relative;

    .container{
        padding: 0 40px;
        min-height: calc(100vh - (204px + 80px));
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .bg{
        z-index: 5;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img{
            height: 100%;
            width: 100%;
            margin: 0;
            object-fit: cover;
        }
    }
    .content_wrapper{
        position: relative;
        z-index: 20;
        max-width: 890px;
        height: 440px;
        border-radius: 20px;
        background-color: #fff;
        width: 100%;
        margin: auto;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .05);
    }
    .block_content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img_content_wrapper_wal{
        max-width: 156px;
        width: 100%;
        height: auto;
        animation: animate_up .8s;
    }
    .img_content_wrapper_wild{
        max-width: 135px;
        width: 100%;
        height: auto;
        animation: animate_up .8s;
    }
    .img_content_wrapper_bear{
        max-width: 135px;
        width: 100%;
        height: auto;
        animation: animate_up .8s;
    }
    .text_desc{
        text-align: center;
        display: block;
        margin-top: 32px;
        font-size: 40px;
        color: #000;
        animation: animate_up 1.1s;
    }
    .text_name_wal{
        color: #106BAF;
    }
    .text_name_bear{
        color: #20BEEE;
    }
    .text_name_wild{
        color: #3AB34A;
    }
    .button_ty{
        animation: animate_up 1.4s;
        max-width:150px;
        height:50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFA400;
        border-radius: 25px;
        margin-top: 45px;
        span{
            color: #000;
            font-size: 26px;
            line-height: 26px;
        }
    }
    @media (max-width:767px) {
        .text_desc{
            padding: 0 40px;
            font-size: 29px;
            line-height: 27px;
        }
        .button_ty{
            max-width: 125px;
            height: 40px;
            margin-top: 22px;
            span{
                font-size: 21px;
                line-height: 21px;
            }
        }
    }
}
