.section-area {
    color: white;
    padding: 87px 0px 40px 55px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-top: -60px;
    mask: url('../images/care-the-whale/area/curve_dt.png') repeat-x;
    -webkit-mask: url('../images/care-the-whale/area/curve_dt.png') repeat-x;
    @media (max-width: 767px) {
        mask: url('../images/care-the-whale/area/curve_mb.svg') repeat-x;
        -webkit-mask: url('../images/care-the-whale/area/curve_mb.svg') repeat-x;
    }

    .wrap-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .left {
        width: calc(485 / (1280 - 110) * 100%);
        max-width: 490px;
        margin-right: 67px;
    }
    .right {
        width: calc(670 / (1280 - 110) * 100%);
        max-width: 670px;
    }
    .area-title {
        font-size: 30px;
        line-height: 28px;

        .XL {
            margin-top: 10px;
        }
    }
    .area-desc {
        font-size: 26px;
        line-height: 26px;
        margin-top: 10px;
    }
    .wrap-whales {
        position: relative;
        height: 100%;
        padding-top: calc(442 / 670 * 100%);

        .whale {
            position: absolute;
            top: 0;
            left: 0;
            // height: 100%;
            width: 17.313432835820897%;
            // max-height: 74px;

            &.big {
                // max-height: 135px;
                width: 36.716417910447763%;
            }

            .wrap-img {
                position: relative;
                width: 100%;
                padding-top: 63.79310344827587%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                object-fit: contain;
            }
            &:nth-child(1) { // ย่านรัชดาภิเษก
                top: calc(185 / 442 * 100%);
                left: calc(0 / 670 * 100%);
            }
            &:nth-child(2) { // คลองเตย
                top: calc(111 / 442 * 100%);
                left: calc(208 / 670 * 100%);
            }
            &:nth-child(3) { // วัชรพล
                top: calc(359 / 442 * 100%);
                left: calc(210 / 670 * 100%);
            }
            &:nth-child(4) { // ศาลายา
                top: calc(352 / 442 * 100%);
                left: calc(312 / 670 * 100%);
            }
            &:nth-child(5) { // ย่านเพลินจิต
                top: calc(294 / 442 * 100%);
                left: calc(140 / 670 * 100%);
            }
            &:nth-child(6) { // สาธร
                top: calc(81 / 442 * 100%);
                left: calc(47 / 670 * 100%);
            }
            &:nth-child(7) { // รามอินทรา
                top: calc(360 / 442 * 100%);
                left: calc(424 / 670 * 100%);
            }
            &:nth-child(8) { // สมุทรปราการ
                top: calc(169 / 442 * 100%);
                left: calc(463 / 670 * 100%);
            }
            &:nth-child(9) { // พิจิตร
                top: calc(197 / 442 * 100%);
                left: calc(548 / 670 * 100%);
            }
            &:nth-child(10) { // ชุมพร
                top: calc(281 / 442 * 100%);
                left: calc(442 / 670 * 100%);
            }
            &:nth-child(11) { // สระบุรี
                top: calc(193 / 442 * 100%);
                left: calc(332 / 670 * 100%);
            }
            &:nth-child(12) { // ศรีสะเกษ
                top: calc(273 / 442 * 100%);
                left: calc(550 / 670 * 100%);
            }
            &:nth-child(13) { // อุทัยธานี
                top: calc(151 / 442 * 100%);
                left: calc(57 / 670 * 100%);
            }
            &:nth-child(14) { // พิษณุโลก
                top: calc(263 / 442 * 100%);
                left: calc(357 / 670 * 100%);
            }
            &:nth-child(15) { // อุบล
                top: calc(0 / 442 * 100%);
                left: calc(138 / 670 * 100%);
            }
            &:nth-child(16) { // นนทบุรี
                top: calc(281 / 442 * 100%);
                left: calc(249 / 670 * 100%);
            }
            &:nth-child(17) { // นครสววรค์
                top: calc(101 / 442 * 100%);
                left: calc(424 / 670 * 100%);
            }
            &:nth-child(18) { // คุ้งบางกะเจ้า
                top: calc(47 / 442 * 100%);
                left: calc(197 / 670 * 100%);
            }
            &:nth-child(19) { // รามคำแหง
                top: calc(197 / 442 * 100%);
                left: calc(227 / 670 * 100%);
            }
            &:nth-child(20) { // ขอนแก่น
                top: calc(4 / 442 * 100%);
                left: calc(526 / 670 * 100%);
            }
            &:nth-child(21) { // สมุทรสาคร
                top: calc(14 / 442 * 100%);
                left: calc(414 / 670 * 100%);
            }
            &:nth-child(22) { // หาดใหญ่
                top: calc(86 / 442 * 100%);
                left: calc(540 / 670 * 100%);
            }
            &:nth-child(23) { // เชียงใหม่
                top: calc(25 / 442 * 100%);
                left: calc(308 / 670 * 100%);
            }
            &:nth-child(24) { // ลำพูน
                top: calc(102 / 442 * 100%);
                left: calc(315 / 670 * 100%);
            }
            &:nth-child(25) { // อุตรดิตถ์
                top: calc(368 / 442 * 100%);
                left: calc(526 / 670 * 100%);
            }
        }
    }
}

@media(max-width: 940px) {
    .section-area {
        flex-direction: column;
        padding: 87px 13px 20px 13px;

        .area-title {
            font-size: 23px;
            line-height: 23px;
            padding: 0 7px;
    
            .XL {
                font-size: 25px;
                line-height: 24px;
            }
        }
        .area-desc {
            font-size: 21px;
            line-height: 21px;
            padding: 0 7px;
        }
        .wrap-whales {
            padding-top: calc(460 / 697 * 100%);
            margin-top: 15px;
            .whale {
                width: 16.9%;
                &.big {
                    // max-height: 135px;
                    width: 36.716417910447763%;

                    .wrap-img {
                        padding-top: 54.6875%;
                    }
                }
                .wrap-img {
                    padding-top: 64.16666666666667%;
                }
                &:nth-child(1) { // ย่านรัชดาภิเษก
                    top: calc(185 / 460 * 100%);
                    left: calc(0 / 697 * 100%);
                }
                &:nth-child(2) { // คลองเตย
                    top: calc(111 / 460 * 100%);
                    left: calc(208 / 697 * 100%);
                }
                &:nth-child(3) { // วัชรพล
                    top: calc((424 - 65) / 460 * 100%);
                    left: calc(210 / 697 * 100%);
                }
                &:nth-child(4) { // ศาลายา
                    top: calc((417 - 65) / 460 * 100%);
                    left: calc(312 / 697 * 100%);
                }
                &:nth-child(5) { // ย่านเพลินจิต
                    top: calc((359 - 65) / 460 * 100%);
                    left: calc(140 / 697 * 100%);
                }
                &:nth-child(6) { // สาธร
                    top: calc((146 - 65) / 460 * 100%);
                    left: calc(47 / 697 * 100%);
                }
                &:nth-child(7) { // รามอินทรา
                    top: calc((425 - 65) / 460 * 100%);
                    left: calc(424 / 697 * 100%);
                }
                &:nth-child(8) { // สมุทรปราการ
                    top: calc((234 - 65) / 460 * 100%);
                    left: calc(463 / 697 * 100%);
                }
                &:nth-child(9) { // พิจิตร
                    top: calc((262 - 65) / 460 * 100%);
                    left: calc(548 / 697 * 100%);
                }
                &:nth-child(10) { // ชุมพร
                    top: calc((346 - 65) / 460 * 100%);
                    left: calc(442 / 697 * 100%);
                }
                &:nth-child(11) { // สระบุรี
                    top: calc((258 - 65) / 460 * 100%);
                    left: calc(332 / 697 * 100%);
                }
                &:nth-child(12) { // ศรีสะเกษ
                    top: calc((338 - 65) / 460 * 100%);
                    left: calc(550 / 697 * 100%);
                }
                &:nth-child(13) { // อุทัยธานี
                    top: calc((216 - 65) / 460 * 100%);
                    left: calc(57 / 697 * 100%);
                }
                &:nth-child(14) { // พิษณุโลก
                    top: calc((328 - 65) / 460 * 100%);
                    left: calc(357 / 697 * 100%);
                }
                &:nth-child(15) { // อุบล
                    top: calc((65 - 65) / 460 * 100%);
                    left: calc(138 / 697 * 100%);
                }
                &:nth-child(16) { // นนทบุรี
                    top: calc((346 - 65) / 460 * 100%);
                    left: calc(249 / 697 * 100%);
                }
                &:nth-child(17) { // นครสววรค์
                    top: calc((166 - 65) / 460 * 100%);
                    left: calc(424 / 697 * 100%);
                }
                &:nth-child(18) { // คุ้งบางกะเจ้า
                    top: calc((112 - 65) / 460 * 100%);
                    left: calc(197 / 697 * 100%);
                }
                &:nth-child(19) { // รามคำแหง
                    top: calc((262 - 65) / 460 * 100%);
                    left: calc(227 / 697 * 100%);
                }
                &:nth-child(20) { // ขอนแก่น
                    top: calc((69 - 65) / 460 * 100%);
                    left: calc(526 / 697 * 100%);
                }
                &:nth-child(21) { // สมุทรสาคร
                    top: calc((79 - 65) / 460 * 100%);
                    left: calc(414 / 697 * 100%);
                }
                &:nth-child(22) { // หาดใหญ่
                    top: calc((151 - 65) / 460 * 100%);
                    left: calc(540 / 697 * 100%);
                }
                &:nth-child(23) { // เชียงใหม่
                    top: calc((90 - 65) / 460 * 100%);
                    left: calc(308 / 697 * 100%);
                }
                &:nth-child(24) { // ลำพูน
                    top: calc((167 - 65) / 460 * 100%);
                    left: calc(315 / 697 * 100%);
                }
                &:nth-child(25) { // อุตรดิตถ์
                    top: calc((433 - 65) / 460 * 100%);
                    left: calc(526 / 697 * 100%);
                }
            }
        }
        .left {
            width: 100%;
            max-width: 100%;
            margin-right: 0px;
        }
        .right {
            width: 100%;
            max-width: 100%;
        }
    }
}