.section-participant {
    position: relative;
    padding: 73px 60px;
    z-index: 10;
    margin-bottom: -110px;
    @media (max-width:768px) {
        margin-bottom: -80px;
    }
    .max-width-participant {
        max-width: 1160px;
        width: 100%;
        margin: auto;
    }

    .wrap-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .left {
        width: calc(591 / 1160 * 100%);
        padding-bottom: 30px;
        padding-right: 64px;
        .title {
            font-size: 40px;
            line-height: 38px;
            color: #264165;
        }
        .desc {
            font-size: 26px;
            line-height: 26px;
            margin-top: 17px;
        }
    }
    .right {
        position: relative;
        z-index: 1;
        width: calc(532 / 1160 * 100%);
        @media (min-width:768px) {
            margin-bottom: -35px;
            
        }
    }

    .top-img {
        width: 100%;
        max-width: 316px;
    }

    .bottom-img {
        width: 100%;
        max-width: 532px;
        margin-top: 8px;
    }
}

@media(max-width: 767px) {
    .section-participant {
        padding: 40px 20px;

        .max-width-participant {
            flex-direction: column;
        }

        .left, .right  {
            width: 100%;
        }
        .left {
            padding-bottom: 35px;
            padding-right: 0;
            text-align: center;

            .title {
                font-size: 29px;
                line-height: 27px;
            }
            .desc {
                font-size: 24px;
                line-height: 24px;
                margin-top: 10px;
            }
        }
        .top-img {
            max-width: 50%;
        }
        .bottom-img {
            max-width: 100%;
            margin-top: 23px;
        }
    }
}