// Desktop
@media (min-width:768px) {
    .bg{
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // z-index: -1;
        background: url('../../public/images/wild/04_Care_the_wild_thank_you_desktop.jpg') center no-repeat;
        background-size: cover;
        // padding: 0px 20px;
        padding-top: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

.container {
    // position: relative;
    // padding: 20px 20px 27px;
    height: calc(100vh - 203px);
    // display: flex;
    // align-items: center;    
    .in-box-img{
        width: 125px;
        height: auto;
    }
    

    .box{
        // margin: 123px 295px 38px;
        border-radius: 25px;
        display: block;
        justify-content: center;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, .05);
        background-color: rgba(255, 255, 255, 0.9);
        
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background-color: rgba(255, 255, 255, 0.8);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }
        
        
        
        .in-box{
            flex-direction: column;
            padding: 40px 150px 40px;

            .text{
                margin-top: 40px;
                .text-item{
                    font-size: 40px;
                    justify-content: center;
                    line-height: 38px;
                    .text-highlight{
                        color: #3AB34A;
    
                    }
                }
            }
            .btn{
                display: flex;
                margin-top: 45px;
                justify-content: center;
                height: 50px;
                .in-btn{
                    // background-color: #FFA400;
                    border-radius: 20px;
                    border: 1px;
                    padding: 12px 54px;
                    
                }
                .btn-text{
                    font-size: 26px;
                    line-height: 26px;
                    list-style: none;
                    color: #000;
                }
            }
        }

    }
}
    
}

// Moblie 
@media (max-width:767px) {
    
    .bg{
        background: url('../../public/images/wild/04_Care_the_wild_thank_you_moblie.jpg') center no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 65px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .container {
        // position: relative;
        // padding: 20px 20px 29px;
        height: calc(100vh - 193px);
        // display: flex;
        // align-items: center;
        // padding-top: 65px;
        .in-box-img{
            width: 125px;
            height: auto;
        }
        .box{
            // margin-top: auto;
            // padding: 57px 0 29px;
            display: block;
            border-radius: 10px;
            justify-content: center;
            box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, .05);
            background-color: rgba(255, 255, 255, 0.9);
            
            @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                background-color: rgba(255, 255, 255, 0.8);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                
            }
            
            
            
            .in-box{
                width: 335px;
                height: 345px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // padding: 15px 66px 30px;
                // min-height: 345px;
                // min-width: 335px;
                .img{

                }
                
                .text{
                    margin-top: 20px;
                    .text-item{
                        // justify-content: center;
                        font-size: 29px;
                        line-height: 27px;
                        .text-highlight{
                            color: #3AB34A;
        
                        }
                    }
                }
                .btn{
                    display: flex;
                    margin-top: 22px;
                    justify-content: center;
                    height: 40px;
                    .in-btn{
                        background-color: #FFA400;
                        border-radius: 25px;
                        border: 1px;
                        padding: 12px 54px;
                        font-size: 21px;
                        line-height: 21px;
    
                    }
                    .btn-text{
    
                    }
                }
            }
    
        }
    }
}
