
body{
    margin: 0;
    @font-face {
        font-family: DB-bold;
        src: url("../fonts/DBHelvethaicaX-Bold.woff");
    }
    @font-face {
        font-family: DB-medium;
        src: url("../fonts/DBHelvethaicaX-Medium.woff");
    }
    @font-face {
        font-family: DB-regular;
        src: url("../fonts/DBHelvethaicaX.woff");
    }
    .d-block{
        display: block;
    }
    .d-xl-block{
        display: block;
        @media (max-width:1200px) {
            display: none;
        }
    }
    .d-lg-block{
        display: block;
        @media (max-width:992px) {
            display: none;
        }
    }
    .d-md-block{
        display: block;
        @media (max-width:768px) {
            display: none;
        }
    }
    .d-sm-block{
        display: block;
        @media (max-width:576px) {
            display: none;
        }
    }
    .d-xl-none{
        display: none;
        @media (max-width:1200px) {
            display: block;
        }
    }
    .d-md-none{
        display: none;
        @media (max-width:768px) {
            display: block;
        }
    }
    .d-lg-none{
        display: none;
        @media (max-width:992px) {
            display: block;
        }
    }
    .d-flex{
        display: flex;
    }
    .d-sm-none{
        display: none;
        @media (max-width:576px) {
            display: block;
        }
    }
    .justify-content-between{
        justify-content: space-between;
        display: flex;
        width: 100%;
    }
}
.banner-wild{
    background: url("../images/wild/banner/bg-banner.png") center no-repeat;
    background-size: cover;
    min-height: 820px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

    @media (max-width:768px) {
        flex-direction: column;
    }
    .left-banner{
        margin-right: 40px;
        margin-left: 60px;
        max-width: 460px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @media (max-width:768px) {
            margin-right: auto;
            margin-left: auto;
            padding-right: 20px;
            padding-left: 20px;
        }
        .title-banner{
            margin-top: 30px;
            font-family: DB-bold;
            font-size: 50px;
            color: #000000;
            line-height: 30px;
            text-align: center;
            @media (max-width:767px) {
                font-size: 29px;
            }
        }
        .desc-banner{
            margin-top: 20px;
            font-family: DB-regular;
            font-size: 30px;
            color: #000000;
            line-height: 30px;
            text-align: center;
            @media (max-width:767px) {
                font-size: 23px;
            }
        }
    }
    .right-banner{
        position: relative;
        overflow: hidden;
        img{
            overflow: visible;
            max-width: 882px;
            @media (max-width:768px) {
                width: 100%;
            }
        }
    }
}
.section-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 765px;
    background: linear-gradient(360deg, rgba(255,255,255,.3) 0%, rgba(152,255,136,.3) 100%);
    padding-left: 20px;
    padding-right: 20px;
    .container{
        max-width: 1030px;
        margin: 0 auto;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width:768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .title-register{
        display: block;
        text-align: center;
        font-family: DB-bold;
        font-size: 40px;
        line-height: 38px;
        color: #000000;
        margin-bottom: 60px;
        margin-top: 60px;
        @media (max-width:768px) {
            font-size: 29px;
            margin-bottom: 30px;
            margin-top: 40px;
        }
    }
    .content-register{
        box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.05);
        overflow: hidden;
        border-radius: 30px;
        display: flex;
        background-color: #ffffff;
        flex-wrap: nowrap;
        margin-bottom: 60px;
        @media (max-width:1023px) {
            flex-wrap: wrap;
        }
        @media(max-width: 767px) {
            border-radius: 15px;
            margin-bottom: 20px;
        }
    }
    .left-form{
        max-width: 520px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        object-fit: cover;
        justify-self: center;
        @media (max-width:1023px) {
            max-width: 100%;
        }
        @media (max-width:576px) {
            height: 250px;
        }
    }
    .right-form{
        width: 100%;
        padding: 40px 57px;
        @media (max-width:576px) {
            padding: 20px 20px 40px 20px;
        }
        .title-form{
            font-family: DB-medium;
            font-size: 30px;
            line-height: 28px;
            color: #000000;
            display: block;
            text-align: center;
            margin-bottom: 30px;
            @media (max-width:768px) {
                font-size: 23px;
                margin-bottom: 10px;
            }
        }
        .border-form{
            width: 100%;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #C1C1C1;
                bottom: 30px;
                left: 0;
            }
        }
        
        .btn-wrapper{
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            @media (max-width:576px) {
                margin-top: 0px;
            }
            button{
                border: none;
            }
            .text-btn{
                font-family: DB-medium;
                font-size: 26px;
                color: #000000;
                @media (max-width:576px) {
                    font-size: 21px;
                    line-height: 21px;
                }
            }
        }
    }
}
//Desktop and Moblie Section4
.main-care-the-bear{
    background: url("../images/wild/bg_section4.png") no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 700px;
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(6,171,221,1) 0%, rgba(8,112,143,1) 100%);
        z-index: -1;
    }
    .container{
        max-width: 1084px;
        margin: 0 auto;
        @media (max-width:992px) {
            margin: 0 40px;
        }
        @media (max-width:768px) {
            margin: 0 40px;
        }
        @media (max-width:576px) {
            margin: 0 20px;
        }
    }
    .title-sec-3{
        padding: 60px 0 60px 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: #ffffff;
        text-align: center;
        font-family: DB-bold;
        @media (max-width:768px) {
            font-size: 29px;
            padding: 30px 0 30px 0;
        }
    }
    .box-content{
        display: flex;
        justify-content: space-between;
        align-items: start;
        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
            &:last-child{
                padding-bottom: 25px;
            }
        }
        .single-content{
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 250px;
            @media (max-width:768px) {
                flex-direction: row;
                max-width: 670px;
            }
            .img-content{
                width: 110px;
                height: 110px;
                object-fit: cover;
                max-width: 100%;
                margin-bottom: 20px;
                @media (max-width:768px) {
                    margin-bottom: 0px;
                    width: 100px;
                    height: 100px;
                }
            }
            .text-content{
                text-align: center;
                font-size: 26px;
                max-width: 470px;
                width: 100%;
                font-family: DB-medium;
                color: #ffffff;
                @media (max-width:768px) {
                    margin-left: 20px;
                    text-align: start;
                    font-size: 21px;
                }
                @media (max-width:830px) {
                    padding: 0px 20px;
                }
            }
        }
    }
}
@media (min-width:768px) {
    
    // Desktop Section2
   .container_section2{
            // height: calc(100vh - 200px);
            .right{
                margin-left: 46px;
                justify-content: center;
                align-items: center;
                max-width: 450px;

            }.text-right{
                justify-content: center;
                .text-header-right{
                    font-size: 40px;
                    line-height: 38px;
                    margin: 28px 0px 30px;
                }
            }
            .desc-right{
                display: flex;
                flex-direction: column;
                .text-desc-right{
                    display: flex;
                    align-items: flex-start;
                    font-size: 22px;
                    line-height: 26px;
                    margin-bottom: 22px;
                }
                .img{
                    margin: 0px;
                }     
                .space{
                    margin-left: 20px;
                }

            }
            .content {
                display: flex;
                padding-top: 90px;
                justify-content: center;

                .left{
                    display: flex;
                    min-width: 420px;
                    align-items: center;
                    justify-content: center;
                    padding-right: 46px;
        
                }
            }
            
    }
    // Desktop Section3
    .container_section3{
        display: flex;
        justify-content: center;
        background: rgb(152,255,136);
        background: linear-gradient(0deg, rgba(152,255,136,0.2) 0%, rgba(255,255,255,0) 80%);
        
        .content{
            max-width: 920px;
            padding: 60px 20px 40px;

        }
        .color-green{
            color: #3AB34A;
        }
        .text-header{
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
            .first-line{
                font-size: 30px;
                line-height: 28px;
                text-align: center;
            }
            .second-line{
                font-size: 40px;
                line-height: 38px;
                
            }
            
        }
        .text-details{
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            .text-header-details{
                flex-direction: row;
                font-size: 60px;
                line-height: 50px;
                color: #3AB34A;
                padding: 0px 40px;
            }
            .text-desc{
                // padding: 55px 40px 43px;
                font-size: 26px;
                list-style: 26px;
            }
        }
        .bottom-section{
            padding-top: 47px;
            justify-content: center;
            
            .text{
                text-align: center;
                font-size: 30px;
                line-height: 28px;
                padding-bottom: 64px;
            }
            
            .text-contact{
                font-size: 26px;
                line-height: 26px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 21px;
            }
            .img{
                width: 67.5px;
                height: 60px;
            }
            .app-download{
                padding: 0px 20px;
                img{
                    padding-right: 10px;
                }
            }
        }.footer{
            padding-top: 60px;
            text-align: center;
            color: rgba(129, 129, 129, 100);

        }
    }
    //Desktop Section5
    .container_section5{
        overflow: hidden;
        background: url(../../public/images/wild/bg-desktop_section5.png) top no-repeat;
        background-size: cover;
        padding: 20px;
        .content{
            max-width: 1080px;
            padding: 40px 0px 116px;
            margin: 0 auto;
        }
        .header-section{
            padding: 0px 0px 74px;
            // max-height: 84px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 2;
            
            .header-btn{
                // background-color: #FFA400;
                border: 1px;
                border-radius: 25px;
                width: 150px;
                font-size: 26px;
                height: 50px;
                line-height: 26px;
                margin-left: 20px;
                cursor: pointer;
                
            }
            .text-header{
                font-size: 40px;
                line-height: 38px;
            }
            
        }
        .img-section{
            
            .box-img-content{
                border: 5px;
                border-radius: 10px;
                width: 300px !important;
                height: 200px !important;
                transform: scale(1) translateZ(0);
                transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.2s ease;
                background-color: #ffffff;
                // background-color: red;
                box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
                
                .box-detail {
                    position: relative;
                    z-index: 2;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                }
                .box-header-text{
                    text-align: center;
                    font-size: 30px;
                    line-height: 28px;
                    color: #3AB34A;
                    padding-top: 3px;

                }.box-text{
                    font-size: 26px;
                    line-height: 26px;
                    text-align: center;
                    color: black;
                } 
                .forest {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: opacity 0.3s ease;
                }
                &:hover {
                    position: relative;
                    z-index: 5; 
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        top: 0;
                        left: 0;
                        right: 0;
                        background: rgb(0,0,0);
                        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
                        border-radius: 10px;
                    }
                    .box-header-text{
                        color: white;
                        padding-bottom: 20px;
                        span{
                            color: white;
                        }
                    }
                    transform: scale(1.2) translateZ(0);
                    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5);
                    

                    .forest {
                        opacity: 1;
                        border-radius: 10px;
                    }
                    .box-detail {
                        justify-content: flex-end;  
                        img {
                            opacity: 0;
                        }
                    }
                }
            }

        }
    }
    //Desktop Section6
    .container_section6{
        padding: 40px 20px 108px;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, #F4FFF3 100%);
        background-size: cover;
        .content{

        }
        .header-section{
            display: flex;
            justify-content: center;
            align-items: center;
            .text-header{
                font-size: 40px;
                line-height: 38px;
                text-align: center;
                .text-header-sub{
                    font-size: 28px;
                    line-height: 30px;
                    color: #818181;
                }
            }
        }

        .body{
            padding-top: 62px;
            display: flex;
            justify-content: center;
            .detail{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 137px;
                .box{
                    display: flex;
                    align-items: center;
                    padding-bottom: 40px;
                    
                }
                .text{
                    padding-left: 27px;
                    font-size: 30px;
                    line-height: 28px;
                    margin-bottom: 10px;
                }
                .h-text{
                    font-size: 60px;
                    line-height: 58px;
                    color: #3AB34A;
                }
                .sub-text{
                    font-size: 28px;
                    line-height: 30px;
                }
                .img{
                    margin: 0px;
                
                }.s-img{
                    margin: 0px;
                    padding-right: 19px;

                }
                sub{
                    font-size: 70%;
                    display: inline-block;
                    transform: translateY(4px);
                }
                
            }
            .img-left{
                padding-left: 0px;
            }
            
            
            
        }
    }    
}

    


// Moblie 
@media (max-width:767px) {
    //Moblie Section2
    .container_section2{
            // height: calc(100vh - 25  0px);
            // padding-top: 90px 20px 10px;

            .right{
                justify-content: center;
                align-items: center;

            }.text-right{
                .text-header-right{
                    font-size: 29px;
                    line-height: 27px;
                    text-align: center;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
            }
            .desc-right{
                display: flex;
                flex-direction: column;
                height: auto;
                // margin: 0px 22px 20px;
                .text-desc-right{
                    display: flex;
                    align-items: flex-start;
                    font-size: 21px;
                    line-height: 21px;
                    margin-bottom: 30px;
                }
                .img{
                    margin: 0px;
                }     
                .space{
                    margin-left: 20px;
                }

            }
            .content {
                display: flex;
                padding: 90px 20px 12px;
                justify-content: center;
                flex-direction: column;
            }
            .left{
                display: flex;
                margin-top: 10px;
                justify-content: center;

                .img{
                    width: 233px;
                    height: auto;
                }
            }
            
    }
    //Moblie Section3
    .container_section3{
        display: flex;
        justify-content: center;
        
        .content{
            max-width: 460px;
            padding: 30px 20px 20px;
        }
        .color-green{
            color: #3AB34A;
        }
        .text-header{
            display: flex;
            justify-content: center;
            margin-bottom: 4px;
            .first-line{
                font-size: 23px;
                line-height: 23px;
                text-align: center;
                padding-bottom: 5px;
            }
            .second-line{
                font-size: 29px;
                line-height: 27px;
                padding-bottom: 13px;
                
            }
            
        }
        .text-details{
            margin-bottom: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .text-header-details{
                flex-direction: row;
                font-size: 45px;
                line-height: 45px;
                color: #3AB34A;
                padding: 0px 0px 0px 26px;
                width: 30%;
            }
            .text-desc{
                // padding: 55px 40px 43px;
                font-size: 21px;
                list-style: 21px;
                width: 100%;
                padding-top: 11.5px;
            }
            .img{
                width: 70%;
                width: 136.5px;
                height: 124px;
                margin: 0px;
            }.img-nd{
                width: 130.5px;
                height: 82.5px;
                margin: 0px;
            }
        }
        .bottom-section{
            padding-top: 23.5px;
            justify-content: center;
            
            .text{
                text-align: center;
                font-size: 21px;
                line-height: 21px;
                padding-bottom: 30px;
            }
            
            .text-contact{
                font-size: 21px;
                line-height: 21px;
                padding-top: 2.5px;
                padding-bottom: 2.5px;
                padding-left: 15px;
            }
            .img{
                width: 67.5px;
                height: 60px;
            }
            .img-nd{
                width: 73.5px;
                height: 73.5px;
            }
            .bottom-contact{
                padding-bottom: 32.5px;
            }
            .app-download{
                padding: 0px 15px;
                img{
                    padding-right: 17.5px;    
                }
            }
        }.footer{
            text-align: center;
            color: rgba(129, 129, 129, 100);
            padding-top: 0px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    
    //Moblie Section5
    .container_section5{
        overflow: hidden;
        padding: 20px 20px 40px;
        background: url('../../public/images/wild/bg-moblie_section5.png') 0px 145px no-repeat;
        background-size: cover;
        .content{
            max-width: 900px;
            max-height: 421px;
            margin: 0 auto;
        }
        
        .header-section{
            padding: 0px 0px 64.5px;
            position: relative;
            z-index: 2;
            .in-head{
                padding-bottom: 20px;
                align-items: center;
            }
            .header-btn{
                // background-color: #FFA400;
                border: 1px;
                border-radius: 25px;
                width: 125px;
                font-size: 21px;
                height: 40px;
                line-height: 21px;
                margin-left: 20px;
                cursor: pointer;
                
            }    
            .text-header{
                font-size: 26.5px;
                line-height: 27px;
            }
        }
        .img-section{
            padding-left: 35px;
            padding-bottom: 20px;

            .box-img-content{
                border: 5px;
                border-radius: 10px;
                width: 225px !important;
                height: 150px !important;
                transform: scale(1) translateZ(0);
                transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.2s ease;
                background-color: #ffffff;
                box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);


                
                &.swiper-slide-active {
                    position: relative;
                    z-index: 5; 
                    &::before{
                        content: '';
                        position: absolute;
                            bottom: 0;
                            top: 0;
                            left: 0;
                            right: 0;
                            background: rgb(0,0,0);
                            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
                            border-radius: 10px;
                        }
                        

                        .box-header-text{
                            color: white;
                            padding-bottom: 12.5px;
                            span{
                                color: white;
                            }
                        }
                        transform: scale(1.3) translateZ(0);
                        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5);
                        

                        .forest {
                            opacity: 1;
                            border-radius: 10px;
                        }
                        .box-detail {
                            justify-content: flex-end;  



                            img {
                                opacity: 0;
                            }
                            .box-header-text{
                                text-align: center;
                                font-size: 21px;
                                line-height: 19px;
                                color: white;
            
                            }.box-text{
                                font-size: 19px;
                                line-height: 19px;
                                text-align: center;
                                color: white;
                            } 
                            
                        }
                    
                }
                .box-detail {
                    position: relative;
                    z-index: 1;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    img {
                        transition: opacity 0.3s ease;
                    }
                }
                .box-header-text{
                    text-align: center;
                    font-size: 23px;
                    line-height: 23px;
                    color: #3AB34A;

                }.box-text{
                    font-size: 26px;
                    line-height: 26px;
                    text-align: center;
                    color: black;
                } 
                .forest {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: opacity 0.3s ease;
                }
                // &:hover {
                //     &::before{
                //         content: '';
                //         position: absolute;
                //         bottom: 0;
                //         top: 0;
                //         left: 0;
                //         right: 0;
                //         background: rgb(0,0,0);
                //         background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
                //         border-radius: 10px;
                //     }
                //     .box-header-text{
                //         color: white;
                //         padding-bottom: 20px;
                //         span{
                //             color: white;
                //         }
                //     }
                //     transform: scale(1.2) translateZ(0);
                //     box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5);
                    

                //     .forest {
                //         opacity: 1;
                //         border-radius: 10px;
                //     }
                //     .box-detail {
                //         justify-content: flex-end;  
                //         img {
                //             opacity: 0;
                //         }
                //     }
                // }
            }

        }
    }
    //Moblie Section6
    .container_section6{
        padding: 30px 20px 45px;
        .content{

        }
        .header-section{
            display: flex;
            justify-content: center;
            align-items: center;
            .text-header{
                font-size: 29px;
                line-height: 27px;
                text-align: center;
                .text-header-sub{
                    font-size: 23px;
                    line-height: 23px;
                    color: #818181;
                }
            }
        }

        .body{
            padding-top: 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .detail{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 40.5px;
                .box{
                    display: flex;
                    align-items: center;
                    padding-bottom: 30px;
                }
                .text{
                    padding-left: 20px;
                    font-size: 23px;
                    line-height: 23px;
                    
                }
                .sub-box{
                    padding-top: 10px;
                }
                .h-text{
                    font-size: 45px;
                    line-height: 35px;
                    color: #3AB34A;
                }
                .sub-text{
                    font-size: 21px;
                    line-height: 22.5px;
                }
                .img{
                    margin: 0px;
                
                }.s-img{
                    margin: 0px;
                    padding-right: 19px;

                }
                sub{
                    font-size: 70%;
                    display: inline-block;
                    transform: translateY(4px);
                }
                
            }
            .img-left{
                padding: 0px 23px 0px;
            }
            
            
            
        }
    }
    

    }

    

@media(max-width: 940px) {
    .desc-right {
        br {
            display: none;
        }
    }
}
@media(max-width: 375px) {
    .desc-right {
        br.show-375 {
            display: block;
            @media (max-width: 370px) {
                display: none;
                
            }
        }
    }
}



