div.login-left .login-left-boxed.register-complete {
  max-width: 630px;
  width: auto;
  padding: 15px;
}

.login-left-boxed.register-complete {
  h1 {
    color: #000000;
  }
  p {
    margin-bottom: 0;
  }

  .message-section {
    span {
      font-size: 36px;
    }

    .alert-success-register {
      background: #ffffff;
      border: 1px solid #fcb134;
      border-radius: 10px;
      padding: 11px 46px;
      position: relative;
      margin-top: 36px;
      p {
        color: #44566c;
      }

      button {
        width: auto;
        background-color: #eaedf0;
        height: 28px;
        width: 28px;
        border: 0;
        margin: 0;
        border-radius: 50%;
        position: absolute;
        right: 7px;
        top: 7px;
        color: #44566c;
        display: inline-block;
        font-size: 40px;

        img {
          vertical-align: top;
          margin-top: 8px;
        }
      }
    }
  }
}
