.company-detail {
  display: flex;
  img {
    display: inline-block;
  }
  .detail-nav {
    display: block;
    width: 100%;

    .row {
      margin-bottom: 6px;
    }

    button {
      background-color: transparent;
      border: none;

      &.noti {
        position: relative;
        span {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          left: 17px;
          top: 7px;
        }
      }

      &.code {
        background: #0081ff;
        box-shadow: 0px 8px 16px rgba(0, 129, 255, 0.2);
        border-radius: 50px;
        color: #ffffff;
        height: 40px;
        padding: 0 32px;
      }

      &.history {
        background: #f1f5f8;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        height: 32px;
        padding: 0 12px;
        a {
          color: #000000;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .wrap-right-action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      * {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.company-detail-wrap {
  button {
    border: none;
    background-color: transparent;
  }
  h2 {
    color: #44566c;
    font-weight: bold;
  }
  .boxed {
    min-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 16px;

    &:first-child {
      padding-bottom: 0;
    }

    .news-group {
      .news {
        &:nth-child(odd) {
          background-color: #f8fafb;
        }
        padding: 16px 34px;
        display: flex;
        .thumbnail {
          margin-right: 35px;
          img {
            min-height: 180px;
          }
        }

        .detail-new {
          p {
            margin-bottom: 0;
            position: relative;
            &:nth-child(2) {
              padding-left: 20px;
            }
            span {
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              margin-right: 5px;
              left: -2px;
              top: 13px;
            }
          }
        }
      }
    }

    .trash-type {
      display: flex;
      align-items: center;
      color: 44566c;
      * {
        margin: 0 5px;
      }
      span {
        font-size: 24px;
      }

      img {
        width: 32px;
      }

      .val {
        background-color: #f8fafb;
        padding: 0 20px;
        height: 40px;
        border-radius: 10px;
        margin: 0 15px;
      }
    }

    .address {
      button {
        border: none;
        background-color: transparent;
      }
      span {
        color: #8697a8;
        margin-right: 15px;
      }
      p {
        color: #44566c;
      }
    }

    .text-date-update {
      padding: 12px 0;
    }

    span.date-update {
      color: #8697a8;
      font-size: 22px;
    }
    .form-detail {
      margin-top: 15px;
      padding-bottom: 30px;
      display: flex;
      border-bottom: 1px solid #eaedf0;
      .wrap-input {
        margin-right: 15px;
        position: relative;
        &:last-child {
          margin: 0;
        }
        img {
          position: absolute;
          margin: auto;
          top: 0;
          left: 11px;
          bottom: 0;
        }
        input {
          height: 38px;
          font-size: 22px;
          padding-left: 42px;
        }
      }
    }

    .form-select {
      &:last-child {
        padding-bottom: 0;
      }
      input {
        width: 70%;
        display: inline-block;
        margin-right: 6px;
      }
      td {
        line-height: 1;
      }
      padding: 20px 0;
      .flex {
        display: flex;
        label {
          width: 120px;
        }
      }
      table {
        font-size: 22px;
        color: #44566c;
        h2 {
          font-size: 24px;
          font-weight: bold;
        }
        tr {
          td {
            padding: 7px 15px;
          }
        }
        width: 100%;
        label {
          display: inline-block;
        }
        select {
          font-size: 22px;
          display: inline-block;
          min-width: 120px;
          color: #44566c;
          margin: 0;
        }
      }
    }
  }
}

// Swtich
.custom-switch {
  line-height: 12px;
}
.custom-switch .custom-switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-switch .custom-switch-input,
.custom-switch .custom-switch-input:after,
.custom-switch .custom-switch-input:before,
.custom-switch .custom-switch-input *,
.custom-switch .custom-switch-input *:after,
.custom-switch .custom-switch-input *:before,
.custom-switch .custom-switch-input + .custom-switch-btn {
  box-sizing: border-box;
}
.custom-switch .custom-switch-input:selection,
.custom-switch .custom-switch-input:after:selection,
.custom-switch .custom-switch-input:before:selection,
.custom-switch .custom-switch-input *:selection,
.custom-switch .custom-switch-input *:after:selection,
.custom-switch .custom-switch-input *:before:selection,
.custom-switch .custom-switch-input + .custom-switch-btn:selection {
  background: none;
}
.custom-switch .custom-switch-input + .custom-switch-btn {
  outline: 0;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 48px;
  height: 24px;
  margin: 0;
  padding: 4px;
  background: #adb5bd;
  border-radius: 76px;
  transition: all 150ms ease;
}
.custom-switch .custom-switch-input + .custom-switch-btn:after,
.custom-switch .custom-switch-input + .custom-switch-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  top: -1px;
}
.custom-switch .custom-switch-input + .custom-switch-btn:after {
  left: 0;
  border-radius: 50%;
  background: white;
  transition: all 150ms ease;
}
.custom-switch .custom-switch-input + .custom-switch-btn:before {
  display: none;
}
.custom-switch .custom-switch-input + .custom-switch-btn.text-hide {
  top: -0.8rem;
}
.custom-switch .custom-switch-input:checked + .custom-switch-btn {
  background: #0081ff;
}
.custom-switch .custom-switch-input:checked + .custom-switch-btn:after {
  left: 22px;
}
.custom-switch
  .custom-switch-input:checked
  + .custom-switch-btn
  ~ .custom-switch-content-checked {
  opacity: 1;
  height: auto;
}
.custom-switch
  .custom-switch-input:checked
  + .custom-switch-btn
  ~ .custom-switch-content-unchecked {
  display: none;
  opacity: 0;
  height: 0;
}
.custom-switch
  .custom-switch-input:not(:checked)
  + .custom-switch-btn
  ~ .custom-switch-content-checked {
  display: none;
  opacity: 0;
  height: 0;
}
.custom-switch
  .custom-switch-input:not(:checked)
  + .custom-switch-btn
  ~ .custom-switch-content-unchecked {
  opacity: 1;
  height: auto;
}
.custom-switch .custom-switch-input[disabled] + .custom-switch-btn {
  background: rgba(173, 181, 189, 0.6);
  cursor: default;
}
.custom-switch .custom-switch-input[disabled]:checked + .custom-switch-btn {
  background: rgba(40, 167, 69, 0.4);
}
.custom-switch .custom-switch-input:not([disabled]):focus ~ .custom-switch-btn {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 0.25rem rgba(56, 123, 189, 0.25);
}
.custom-switch .custom-switch-input[required] ~ .custom-switch-btn {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 0.125rem rgba(220, 53, 69, 0.5);
}
.custom-switch .custom-switch-form-text {
  display: inline-block;
  height: 24px;
  margin-left: 0.5rem;
  line-height: 24px;
  vertical-align: top;
}
.custom-switch.custom-switch-label-io
  .custom-switch-input
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='42.5' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EO%3C/text%3E%3C/svg%3E");
}
.custom-switch.custom-switch-label-io
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='18.13333' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EI%3C/text%3E%3C/svg%3E");
}
.custom-switch.custom-switch-label-onoff
  .custom-switch-input
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='38.85714' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EOff%3C/text%3E%3C/svg%3E");
}
.custom-switch.custom-switch-label-onoff
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='9.71429' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EOn%3C/text%3E%3C/svg%3E");
}
.custom-switch.custom-switch-label-yesno
  .custom-switch-input
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='38.85714' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3ENo%3C/text%3E%3C/svg%3E");
}
.custom-switch.custom-switch-label-yesno
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='38'%3E%3Ctext x='9.71429' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EYes%3C/text%3E%3C/svg%3E");
}
.custom-switch.custom-switch-label-status
  .custom-switch-input
  + .custom-switch-btn {
  width: 96px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='38'%3E%3Ctext x='38.85714' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EDisabled%3C/text%3E%3C/svg%3E");
}
.custom-switch.custom-switch-label-status
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='38'%3E%3Ctext x='9.71429' y='23.75' font-size='12px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EEnabled%3C/text%3E%3C/svg%3E");
}
.custom-switch.custom-switch-label-status
  .custom-switch-input:checked
  + .custom-switch-btn:after {
  left: 58px;
}

.custom-switch-sm {
  line-height: 11px;
}
.custom-switch-sm .custom-switch-input + .custom-switch-btn {
  width: 60px;
  height: 31px;
  padding: 3px;
  border-radius: 62px;
}
.custom-switch-sm .custom-switch-input + .custom-switch-btn:after,
.custom-switch-sm .custom-switch-input + .custom-switch-btn:before {
  width: 23px;
  height: 23px;
}
.custom-switch-sm .custom-switch-input + .custom-switch-btn:after {
  left: 2px;
}
.custom-switch-sm .custom-switch-input:checked + .custom-switch-btn:after {
  left: 29px;
}
.custom-switch-sm .custom-switch-form-text {
  height: 31px;
  margin-left: 0.5rem;
  line-height: 31px;
}
.custom-switch-sm.custom-switch-label-io
  .custom-switch-input
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='31'%3E%3Ctext x='37.5' y='19.375' font-size='11px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EO%3C/text%3E%3C/svg%3E");
}
.custom-switch-sm.custom-switch-label-io
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='31'%3E%3Ctext x='16' y='19.375' font-size='11px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EI%3C/text%3E%3C/svg%3E");
}
.custom-switch-sm.custom-switch-label-onoff
  .custom-switch-input
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='31'%3E%3Ctext x='32.87671' y='19.375' font-size='11px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EOff%3C/text%3E%3C/svg%3E");
}
.custom-switch-sm.custom-switch-label-onoff
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='31'%3E%3Ctext x='8.57143' y='19.375' font-size='11px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EOn%3C/text%3E%3C/svg%3E");
}
.custom-switch-sm.custom-switch-label-yesno
  .custom-switch-input
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='31'%3E%3Ctext x='32.87671' y='19.375' font-size='11px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3ENo%3C/text%3E%3C/svg%3E");
}
.custom-switch-sm.custom-switch-label-yesno
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='31'%3E%3Ctext x='8.57143' y='19.375' font-size='11px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EYes%3C/text%3E%3C/svg%3E");
}
.custom-switch-sm.custom-switch-label-status
  .custom-switch-input
  + .custom-switch-btn {
  width: 88px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='31'%3E%3Ctext x='32.87671' y='19.375' font-size='11px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EDisabled%3C/text%3E%3C/svg%3E");
}
.custom-switch-sm.custom-switch-label-status
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='31'%3E%3Ctext x='8.57143' y='19.375' font-size='11px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EEnabled%3C/text%3E%3C/svg%3E");
}
.custom-switch-sm.custom-switch-label-status
  .custom-switch-input:checked
  + .custom-switch-btn:after {
  left: 57px;
}

.custom-switch-xs {
  line-height: 10px;
}
.custom-switch-xs .custom-switch-input + .custom-switch-btn {
  width: 48px;
  height: 24px;
  padding: 3px;
  border-radius: 48px;
}
.custom-switch-xs .custom-switch-input + .custom-switch-btn:after,
.custom-switch-xs .custom-switch-input + .custom-switch-btn:before {
  width: 18px;
  height: 18px;
}
.custom-switch-xs .custom-switch-input + .custom-switch-btn:after {
  left: 1px;
}
.custom-switch-xs .custom-switch-input:checked + .custom-switch-btn:after {
  left: 24px;
}
.custom-switch-xs .custom-switch-form-text {
  height: 24px;
  margin-left: 0.5rem;
  line-height: 24px;
}
.custom-switch-xs.custom-switch-label-io
  .custom-switch-input
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='24'%3E%3Ctext x='27.42857' y='15' font-size='10px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EO%3C/text%3E%3C/svg%3E");
}
.custom-switch-xs.custom-switch-label-io
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='24'%3E%3Ctext x='12.8' y='15' font-size='10px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EI%3C/text%3E%3C/svg%3E");
}
.custom-switch-xs.custom-switch-label-onoff
  .custom-switch-input
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='24'%3E%3Ctext x='25.6' y='15' font-size='10px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EOff%3C/text%3E%3C/svg%3E");
}
.custom-switch-xs.custom-switch-label-onoff
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='24'%3E%3Ctext x='6.85714' y='15' font-size='10px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EOn%3C/text%3E%3C/svg%3E");
}
.custom-switch-xs.custom-switch-label-yesno
  .custom-switch-input
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='24'%3E%3Ctext x='25.6' y='15' font-size='10px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3ENo%3C/text%3E%3C/svg%3E");
}
.custom-switch-xs.custom-switch-label-yesno
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='24'%3E%3Ctext x='6.85714' y='15' font-size='10px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EYes%3C/text%3E%3C/svg%3E");
}
.custom-switch-xs.custom-switch-label-status
  .custom-switch-input
  + .custom-switch-btn {
  width: 76px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='76' height='24'%3E%3Ctext x='25.6' y='15' font-size='10px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EDisabled%3C/text%3E%3C/svg%3E");
}
.custom-switch-xs.custom-switch-label-status
  .custom-switch-input:checked
  + .custom-switch-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='76' height='24'%3E%3Ctext x='6.85714' y='15' font-size='10px' font-family='-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji' fill='%23fff'%3EEnabled%3C/text%3E%3C/svg%3E");
}
.custom-switch-xs.custom-switch-label-status
  .custom-switch-input:checked
  + .custom-switch-btn:after {
  left: 52px;
}

.is-invalid .custom-switch .custom-switch-input ~ .custom-switch-btn,
.was-validated
  .custom-switch:invalid
  .custom-switch-input
  ~ .custom-switch-btn {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.25rem #dc3545;
}

// SWITCH
