.report-print-section {
  margin: 50px 0;
  p {
    font-weight: bold;
  }
  .right {
    button {
      background-color: transparent;
      border: 0;
    }
  }
}

div .report-table {
  margin: 30px 0;
  .section-filter-date-action,
  h2 {
    padding: 0;
  }
  table {
    margin-top: 20px;
    thead {
      tr th {
        background-color: #ffffff;
      }
    }
  }
}

.report-second-section {
  .boxed {
    .top-section {
      padding: 0 !important;
      .section-filter-date-action {
        margin-top: 15px;
      }
      h2 {
        font-size: 24px;
      }

      button {
        background-color: transparent;
        border: 0;
      }
    }

    .last-section {
      margin-top: 25px;

      .wrap-progress {
        border-bottom: 1px solid #eaedf0;
        padding-bottom: 20px;
        margin: 0 -24px;
        padding: 0 24px 15px 24px;
      }
    }
  }
}

div.report-first-section,
.report-second-section {
  margin-top: 30px;

  .boxed {
    padding: 0;
    .top-section {
      padding: 24px;
    }
    h2,
    .section-filter-date-action {
      padding-left: 0;
    }

    .section-content {
      height: 300px;
    }

    .section-detail {
      background-color: #f8fafb;
      padding: 24px;
      table {
        width: 100%;
        tr {
          td {
            padding: 15px 0;
            &:first-child {
              position: relative;
              padding-left: 15px;
              span {
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                display: inline-block;
                top: 22px;
                left: -4px;
              }
            }

            .bond {
              color: #828282;
            }
            p {
              margin-bottom: 0;
              line-height: 1.1;
            }
          }
        }
      }
    }
  }
}
div.last-section-dashboard {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(2, 1fr);

  .last-left,
  .last-right {
    display: contents;
    .boxed {
      margin: 0;
    }
  }
}

.container-grid {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.container-grid article {
  display: contents;
}

article header {
  background-color: #ffffff;
}

article section {
  background-color: #ffffff;
}

article footer {
  background-color: #f8fafb;
}

article:nth-child(n + 4) header {
  margin-top: 1em;
}

article:nth-child(1) header {
  grid-row: 1;
  grid-column: 1;
}
article:nth-child(2) header {
  grid-row: 1;
  grid-column: 2;
}
article:nth-child(3) header {
  grid-row: 1;
  grid-column: 3;
}
article:nth-child(4) header {
  grid-row: 4;
  grid-column: 1;
}
article:nth-child(1) section {
  grid-row: 2;
  grid-column: 1;
}
article:nth-child(2) section {
  grid-row: 2;
  grid-column: 2;
}
article:nth-child(3) section {
  grid-row: 2;
  grid-column: 3;
}
article:nth-child(4) section {
  grid-row: 5;
  grid-column: 1;
}
article:nth-child(1) footer {
  grid-row: 3;
  grid-column: 1;
}
article:nth-child(2) footer {
  grid-row: 3;
  grid-column: 2;
}
article:nth-child(3) footer {
  grid-row: 3;
  grid-column: 3;
}
article:nth-child(4) footer {
  grid-row: 6;
  grid-column: 1;
}

.report-first-section.report-display-grid {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  .boxed {
    display: grid;
  }
}

.last-section-dashboard,
.report-first-section,
.report-second-section,
.report-table {
  min-width: 1200px;
  h2 {
    font-weight: bold;
    color: #44566c;
    padding-left: 60px;
  }
  .head-img {
    position: absolute;
    left: 20px;
    top: 30px;
    img {
      width: 50px;
    }
  }

  .section-filter-date-action {
    button {
      background-color: transparent;
      border: none;
    }
    .wrap-btn-group {
      margin-left: 30px;
      display: inline-block;
    }
    .wrap-date-picker {
      display: inline-block;
      position: relative;
      img {
        position: absolute;
        &.cal {
          left: 5px;
          top: 5px;
        }
        &.arr {
          right: 5px;
          top: 7px;
        }
      }

      input {
        width: 220px;
        font-size: 20px;
        height: 32px;
        padding-left: 35px;
        border-radius: 5px;
      }
    }
    padding-left: 60px;
    .left {
      float: left;
      width: 50%;
    }
    .right {
      float: left;
      width: 50%;
      button {
        border: none;
        background-color: transparent;
      }
    }
  }

  .boxed {
    background: #ffffff;
    border-radius: 10px;
    padding: 24px;
  }
  .last-left {
    width: 50%;
    float: left;
    .boxed {
      margin-right: 15px;
      position: relative;
    }

    table {
      width: 100%;
      button {
        background-color: transparent;
        border: none;
      }

      tr {
        td {
          &:first-child {
            p {
              display: inline-block;
            }
            span {
              margin-right: 15px;
              height: 10px;
              width: 10px;
              border-radius: 50%;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .last-right {
    width: 50%;
    float: left;

    .boxed {
      margin-left: 15px;
      position: relative;
    }
    .line-sap-table {
      border-bottom: 1px solid #fcb134;
      margin: 15px -24px;
    }

    .table-group {
      margin-top: 40px;
      thead {
        tr {
          td {
            padding-bottom: 15px;
          }
        }
      }
      tbody {
        tr {
          &:first-child {
            td {
              padding-top: 15px;
            }
          }
          &:last-child {
            td {
              padding-bottom: 15px;
            }
          }
        }
        border-top: 1px solid #fcb134;
        border-bottom: 1px solid #fcb134;
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    table {
      width: 100%;
      text-align: center;
      button {
        background-color: transparent;
        border: none;
      }

      tr {
        td {
          &:first-child {
            span {
              margin-right: 15px;
              height: 10px;
              width: 10px;
              border-radius: 50%;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.dashboard-boxed {
  min-width: 1200px;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  position: relative;

  .right-trash-type {
    table {
      width: 100%;
      text-align: center;
      .wrap {
        background-color: #ffffff;
      }
      tr:nth-child(2) {
        .wrap:hover {
          box-shadow: -1px 6px 45px -14px rgba(253, 165, 40, 1);
          background-color: #ffffff;
        }
      }
      tr {
        &:first-child {
          span {
            background-color: #fcb134;
            width: 60px;
            height: 30px;
            display: inline-block;
            position: relative;
            border-radius: 5px;
            &:after {
              content: "";
              position: absolute;
              bottom: -9px;
              right: 22px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 10px 8px 0 8px;
              border-color: #fcb334 transparent transparent transparent;
            }
          }
        }
        &:nth-child(2) {
          .wrap {
            border: 1px solid #fda528;
          }
        }
        td {
          padding: 5px;
          &:first-child {
            position: relative;
            img {
              position: absolute;
              left: -20px;
              top: 23px;
            }
          }
          p {
            margin-bottom: 0;
            line-height: 1.4;
            &.num {
              font-weight: bold;
              font-size: 26px;
            }
          }
          .wrap {
            min-width: 120px;
            text-align: center;
            border: 1px solid #f0f0f0;
            border-radius: 19px;
            padding: 12px 0;
          }
        }
      }
    }
  }

  .head-img {
    position: absolute;
    left: 20px;
    top: 30px;
    img {
      width: 50px;
    }
  }
  h2 {
    font-weight: bold;
    color: #44566c;
    padding-left: 60px;
  }
  .section-filter-date-action {
    button {
      background-color: transparent;
      border: none;
    }
    .wrap-btn-group {
      margin-left: 30px;
      display: inline-block;
    }
    padding-left: 60px;
    .left {
      float: left;
      width: 50%;
    }
    .right {
      float: left;
      width: 50%;
      button {
        border: none;
        background-color: transparent;
      }
    }
  }

  .wrap-date-picker {
    display: inline-block;
    position: relative;
    img {
      position: absolute;
      &.cal {
        left: 5px;
        top: 5px;
      }
      &.arr {
        right: 5px;
        top: 7px;
      }
    }

    input {
      width: 220px;
      font-size: 20px;
      height: 32px;
      padding-left: 35px;
      border-radius: 5px;
    }
  }

  .section-sub-tree {
    .wrap-table-sub {
      margin: 0 15px;
    }
    table {
      width: 100%;
      text-align: center;
      color: #44566c;
      tr {
        td {
          padding: 10px 0;
          a {
            color: #44566c;
            text-decoration: underline;
          }
          p {
            line-height: 1;
            margin-bottom: 0;
          }
        }
      }

      tr:first-child {
        td {
          &:first-child {
            span {
              font-weight: bold;
              font-size: 36px;
              float: left;
            }
            a {
              font-size: 20px;
              float: right;
              vertical-align: top;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  .section-main-tree {
    margin-top: 30px;
    padding-bottom: 100px;
    .wrap-main-tree {
      min-height: 500px;
      max-width: 630px;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      text-align: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .wrap-sub-tree {
      min-height: 300px;
      max-width: 630px;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      text-align: center;
      justify-content: center;
      height: 100%;
      position: relative;
      .root-sub-tree {
        bottom: -83px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
    .inner-wrap {
      border-bottom: 1px solid #d9d9d9;
      position: relative;
      .root-tree {
        position: absolute;
        bottom: -70px;
        left: 300px;
      }
    }
    table {
      width: 100%;
      tr {
        td:first-child {
          font-size: 36px;
          color: #44566c;
          font-weight: bold;
        }
        td {
          text-align: center;
          padding: 30px;
          p {
            margin-bottom: 0;
            line-height: 1;
          }
        }
      }
    }
  }
}
