@font-face {
  font-family: DBHelvethaicaMonX-light;
  src: url("../assets//fonts/DBHelvethaicaMonX/DBHelvethaicaMonX.ttf");
}

@font-face {
  font-family: DBHelvethaicaMonX-medium;
  src: url("../assets//fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Med.ttf");
}

@font-face {
  font-family: DBHelvethaicaMonX-bold;
  src: url("../assets//fonts/DBHelvethaicaMonX/DBHelvethaicaMonX-Bold.ttf");
}
