.height100 {
  min-height: 100vh;
}

div.login-left {
  width: 50%;
  min-height: 100vh;
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;

  .element-trash,
  .element-env {
    .top-trash {
      position: relative;
      margin-top: 20px;
      button {
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: 0;
        position: absolute;
        right: 0;
        margin: 0;
      }
    }
  }

  &.with-overflow {
    max-height: 100vh;
  }

  input,
  select,
  textarea {
    color: #828282;
  }

  .logo-login {
    margin: 15px 0;
  }

  .login-left-boxed {
    max-width: 500px;
    width: auto;
    margin: 0 auto;
    padding: 15px;
  }

  h1 {
    font-size: 48px;
    color: #eea338;
    font-family: DBHelvethaicaMonX-medium;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 36px;
    color: #333333;
    font-family: DBHelvethaicaMonX-medium;
  }

  .wrap-input {
    margin-bottom: 10px;
    position: relative;

    &.date-open {
      padding-bottom: 1px;
      .wrap-checkbox {
        display: flex;
        margin-top: -15px;
      }
      label {
        color: #828282;
        font-size: 24px;
        margin-bottom: 0;
      }

      label.form-check-label {
        position: absolute;
        left: 0;
        top: 7px;
      }

      .form-check {
        position: relative;
        display: flex;
        margin-right: 8px;
        input.form-check-input {
          margin-right: 0;
        }
      }

      input {
        height: auto;
        margin-right: 0;
      }
    }

    &.no-border {
      input,
      textarea,
      select {
        padding-left: 20px;
      }
    }

    &.weight {
      &:after {
        content: "กก";
        position: absolute;
        right: 14px;
        color: #828282;
        top: 8px;
      }
      input {
        padding-left: 20px;
        position: relative;
      }
    }

    img {
      position: absolute;
      margin: auto 0;
      top: 0;
      left: 16px;
      bottom: 0;
    }

    &.add-phone {
      max-width: calc(100% - 80px);
      .add-element-btn {
        &:focus {
          outline: none;
        }
        cursor: pointer;
        background-color: transparent;
        border: 0;
        width: 40px;
        height: 40px;
        margin: 0;
        right: -55px;
        position: absolute;
        top: 4px;
        img {
          position: static;
        }
      }
    }

    select.form-control {
      border: 0;
      padding-left: 50px;
      height: 50px;
      font-size: 24px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-image: url(../assets/images/register/select-arrow.png);
      background-repeat: no-repeat;
      background-position: 97%;
      padding-right: 15px;
    }

    &.textarea {
      img {
        top: 10px;
        margin: 0;
      }
    }

    textarea {
      border: 0;
      padding-left: 50px;
      height: 50px;
      resize: none;
      font-size: 24px;
      height: 120px;
    }
  }

  input {
    border: 0;
    font-size: 24px;
    padding-left: 50px;
    height: 50px;

    &.gj-textbox-md {
      background-color: #ffffff;
    }
  }

  .time-picker .gj-timepicker {
    position: relative;
    i {
      cursor: pointer;
      position: absolute;
      right: 11px !important;
      top: 12px !important;
      font-size: 24px;
    }
  }

  button {
    width: 100%;
    font-size: 24px;
    margin-top: 10px;
    background-color: #2f80ed;
    margin-bottom: 30px;
  }

  .bottom-form {
    a {
      text-decoration: none;
      color: #2f80ed;
      display: block;

      &:last-child {
        color: #bdbdbd;
      }
    }
  }

  // FORGOT PASS
  .forgot-section {
    text-align: center;
    position: relative;
    margin: 20px 0;
    a {
      position: absolute;
      left: 0;
      top: -3px;
    }

    .alert-forgot-success {
      margin: 20px auto;
      text-align: left;
      background: #f5fff9;
      border: 1px solid #6fcf97;
      box-sizing: border-box;
      border-radius: 10px;
      color: #6fcf97;
      padding: 10px 10px 10px 50px;
      position: relative;

      img {
        position: absolute;
        left: 16px;
        top: 36px;
      }
      p {
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }
  // FORGOT PASS END

  //REGISTER

  .img-upload-multiple {
    .upload-mulitiple-wrap {
      margin-right: 8px;
    }
    .upload-wrap {
      padding-top: 0;
      padding-bottom: 12px;
    }
    text-align: left;
    display: flex;
    .upload-content {
      width: 80px;
      height: 80px;
      label {
        width: 80px;
        height: 80px;
      }
      .uploadpreview {
        width: 80px;
        height: 80px;
      }
      .delete-img {
        position: absolute;
        cursor: pointer;
        top: -8px;
        right: -8px;
        z-index: 1;
        background: #eb5757;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 17px;
        color: #ffffff;
        text-align: center;
        border-radius: 50%;
      }
    }
    .avatar-upload {
      max-width: 80px;
      margin: 0;
      display: inline-block;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }

      .avatar-preview {
        width: 80px;
        height: 80px;
      }
    }
  }

  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 70px auto 40px;
    .avatar-edit {
      position: absolute;
      right: 12px;
      z-index: 1;
      top: 10px;
      input {
        display: none;
        + label {
          display: inline-block;
          width: 34px;
          height: 34px;
          margin-bottom: 0;
          border-radius: 10px;
          background: #ffffff;
          border: 1px solid transparent;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          cursor: pointer;
          font-weight: normal;
          transition: all 0.2s ease-in-out;
          &:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
          }
          &:after {
            content: "\f040";
            font-family: "FontAwesome";
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
          }
        }
      }
    }
    .avatar-preview {
      background: #acb5c0;
      width: 180px;
      height: 180px;
      position: relative;
      border-radius: 10px;
      // border: 6px solid #f8f8f8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

      #imagePreview.image-previewed {
        background-size: 100%;
      }
      > div {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        // background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .over-flow-scroll-register {
    overflow-y: auto;
    padding: 100px 0;
  }

  .register-section {
    text-align: center;
    position: relative;
    margin: 20px 0;
    span {
      font-size: 48px;
    }
    a {
      position: absolute;
      left: 0;
      top: 15px;
    }
  }

  .wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
    justify-content: center;
  }

  .wizard > div.wizard-inner {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
  }

  .connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 25%;
    margin: 0 auto;
    left: 7px;
    right: 0;
    top: 41px;
    z-index: 1;
  }

  .wizard .nav-tabs > li.active > a,
  .wizard .nav-tabs > li.active > a:hover,
  .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
  }

  span.round-tab {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 24px;
    color: #828282;
    font-weight: 500;
    border: 1px solid #ddd;
  }
  span.round-tab i {
    color: #555555;
  }
  .wizard li.active span.round-tab {
    background: #fda528;
    color: #000000;
    border-color: #fda528;
  }
  .wizard li.active span.round-tab i {
    color: #5bc0de;
  }
  .wizard .nav-tabs > li.active > a i {
    color: #0db02b;
  }

  .wizard .nav-tabs > li {
    width: 15%;
  }

  .wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
  }

  .wizard .nav-tabs > li a {
    display: block;
    width: 30px;
    height: auto;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
  }
  .wizard .nav-tabs > li a i {
    position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
  }

  .wizard .nav-tabs > li a:hover {
    background: transparent;
  }

  .wizard .tab-pane {
    position: relative;
  }

  .wizard h3 {
    margin-top: 0;
  }
  .prev-step,
  .next-step {
    margin-top: 10px;
  }

  .prev-step {
    margin-bottom: 10px;
  }

  .next-step,
  .prev-step {
    background: rgba(47, 128, 237, 0.1);
    border: 1px solid #2f80ed;
    border-radius: 10px;
    color: #2f80ed;
    height: 50px;

    &.submit-register {
      background: #2f80ed;
      color: #f2f2f2;
    }
  }

  .seaparate {
    border-bottom: 1px solid #bdbdbd;
    margin: 25px 0;
  }

  .skip-btn {
    background-color: #cec12d;
  }
  .step-head {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }

  label {
    font-size: 30px;
  }

  .type-of-trash {
    text-align: left;
    position: relative;

    button {
      background-color: transparent;
      border: 0;
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      top: -10px;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }
  }

  // REGISTER END
}

.login-right {
  float: left;
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcfdfe;
  .tree-image {
    width: 244px;
    height: auto;
    align-self: center;
  }
  .table-boxed {
    border: 1px solid #fdbf5e;
    border-radius: 19px;

    tr {
      td:first-child {
        text-align: right;
        padding-right: 12px;
        font-size: 24px;
        width: 50%;
        font-family: DBHelvethaicaMonX-light;
        font-weight: bold;
      }

      td:nth-child(2) {
        text-align: left;
        font-size: 19px;
        width: 50%;
      }
    }
  }

  .middle-element {
    margin-top: 65px;
    text-align: center;
    img {
      margin-bottom: 30px;
    }
    .sub-mid-element {
      display: inline-block;
      max-width: 200px;
      width: 30%;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      p {
        font-family: DBHelvethaicaMonX-light;
        font-weight: bold;
      }
      .number {
        position: relative;
        span {
          font-size: 48px;
          color: #ffffff;

          &.count {
            position: absolute;
            left: 42px;
          }

          &.unit {
            position: absolute;
            right: 30px;
          }
        }
      }
    }
  }

  .bottom-element {
    margin-top: 90px;
    text-align: center;
    img {
      width: 53px;
      height: auto;
    }
  }
}

.upload-wrap {
  padding: 32px 0;
  .upload-content {
    width: 180px;
    height: 180px;
    margin: auto;
    position: relative;

    label {
      width: 180px;
      height: 180px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .delete-img {
    display: none;
    position: absolute;
    cursor: pointer;
    top: -12px;
    right: -11px;
    z-index: 1;
    background: #eb5757;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    border-radius: 50%;

    &.hide {
      display: none;
    }
    &.show {
      display: block;
    }
  }
  .uploadpreview {
    border-radius: 10px;
    position: relative;
    width: 180px;
    height: 180px;
    display: block;
    border: 1px solid #ccc;
    margin: 0 auto 15px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #acb5c0;

    &.active-image {
      z-index: 1;
    }
  }
  input[type="file"] {
    color: transparent;
    width: 120px;
    margin: 0 auto;
    display: block;
  }
}

.upload-wrap.upload-single-large {
  .upload-content {
    width: 100%;
    height: 280px;

    label {
      width: 100%;
      height: 280px;
    }

    .delete-img {
      text-align: center;
      position: absolute;
      cursor: pointer;
      top: -12px;
      right: -11px;
      z-index: 1;
      background: #eaedf0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #44566c;
      font-weight: bold;
      border-radius: 50%;
    }

    .uploadpreview {
      width: 100%;
      height: 280px;
    }
  }
}

.upload-wrap.upload-mulitiple-wrap.upload-modal-group {
  display: flex;
  .upload-content {
    width: 125px;
    height: 125px;
    .delete-img {
      position: absolute;
      cursor: pointer;
      top: -12px;
      right: -11px;
      z-index: 1;
      background: #eaedf0;
      width: 25px;
      height: 25px;
      font-size: 18px;
      font-weight: bold;
      line-height: 25px;
      color: #44566c;
      text-align: center;
      border-radius: 50%;
    }
    .uploadpreview,
    label {
      width: 125px;
      height: 125px;
    }
  }
}

.table-button-no-style {
  button {
    background-color: transparent;
    border: none;
  }
}

.upload-wrap.upload-single-large {
  padding-top: 0px;
}
