.btn-add-trash {
  border: none;
  background-color: transparent;
  img {
    width: 22px;
  }
}

.label-add-txt {
  margin: 15px 0;
}
.inline-checkbox {
  .form-check-inline label {
    font-weight: normal !important;
    margin-left: 6px;
  }
}
.reduce-wrap-margin {
  .wrap-input {
    margin: 5px 0 !important;
  }
}
.wrap-flex {
  display: flex;

  input.piece {
    margin-left: 15px;
  }
}

.select-checkbox {
  background-image: none !important;
}
.bin-wrap {
  img:first-child {
    margin-right: 15px;
  }
}
.detail-baseline {
  margin-top: 25px;
}
.page-content {
  background-color: #f1f5f8;
  height: 100vh;
  overflow: scroll !important;

  .content {
    padding: 30px 60px;
    min-width: 1200px;
    .detail-section {
      &.baseline-style {
        p {
          img {
            margin-left: 15px;
          }
        }
      }
      max-width: 650px;
      width: auto;
      border-radius: 5px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      label {
        font-weight: bold;
        margin-bottom: 0;
      }
      .status-color {
        span {
          width: 10px;
          height: 10px;
          display: inline-block;
          border-radius: 5px;
          margin-right: 5px;
        }
      }
    }

    .detail-page-top-section {
      max-width: 650px;
      width: auto;
      margin: 0 auto;

      &.waste-management {
        background-color: #ffffff;
      }
    }

    .top-bar {
      border-bottom: 1px solid #e0e0e0;
      padding: 0 30px 30px;
      .top-bar-left {
        width: 50%;
        float: left;
        .wrap-search {
          position: relative;
          opacity: 0;
          img {
            position: absolute;
            left: 15px;
            top: 16px;
          }
        }
        input {
          max-width: 460px;
          width: 100%;
          font-size: 24px;
          height: 50px;
          padding-left: 50px;
          background: #ffffff;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
          border-radius: 10px;
          border: none;
        }
      }
      .top-bar-right {
        width: 50%;
        float: left;

        .user-detail {
          display: inline-block;
        }

        .noti {
          .noti-badge {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            right: 22px;
            top: 6px;
            z-index: 1;
          }
          position: relative;
          border-right: 2px solid #828282;
          display: inline-block;
          margin-right: 10px;
          padding-right: 10px;
          .dropdown-toggle::after {
            display: none;
          }
        }

        .dropdown a:focus {
          box-shadow: none;
        }

        .dropdown-toggle::after {
          background-image: url(../assets/images/template/arrow-down.png);
          border: 0;
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          position: absolute;
          right: 0;
          top: 30px;
        }

        .wrap-userdetail {
          width: 200px;
          display: flex;
          flex-direction: row;
          align-items: center;
          .left {
            display: inline-block;
          }

          .right {
            display: inline-block;
            margin-left: 10px;
            text-align: left;
            span {
              display: block;
              line-height: 1.1;
            }
            .user-name {
              color: #333333;
              font-size: 24px;
            }
            .user-role {
              color: #828282;
              font-size: 18px;
            }
          }
        }
      }
    }

    .main-content {
      margin: 30px 0;
      .wrap-trash-management {
        background-color: #ffffff;
        max-width: 100%;
        margin: 0 auto;
        padding: 30px;
        border-radius: 10px;
      }
      h1 {
        font-weight: bold;
      }
    }

    .nav-section-left {
      width: 50%;
      float: left;

      &.w100 {
        width: 100%;
      }

      .breadcrumb-item.active {
        a {
          color: #fda528;
        }
      }

      .breadcrumb-item + .breadcrumb-item::before {
        background-image: url("../assets/images/template/Arrow.png");
        display: inline-block;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: #6c757d;
        content: "";
        height: 20px;
        width: 20px;
        margin: 0 8px;
      }
      .breadcrumb {
        padding: 0;
        background-color: transparent;
        li {
          &:first-child {
            vertical-align: top;
            margin-top: -3px;
          }
          a {
            font-size: 21px;
            color: #828282;
            text-decoration: none;
          }
        }
      }
    }
    .nav-section-right {
      text-align: right;
      width: 50%;
      float: left;
      button {
        border: 0;
        background: transparent;
      }
    }
  }
}

.line-height-fix {
  * {
    line-height: 40px;
    width: 100%;
  }

  input {
    border: 1px solid #cccccc;
  }
}

.wrap-content-modal-trash {
  display: flex;

  .right {
    .wrap-input {
      margin: 0 15px !important;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
    }
    select {
      width: 350px;
    }
  }
}

.wrap-search.outter {
  position: relative;
  img {
    position: absolute;
    top: 11px;
    left: 15px;
  }

  input {
    width: 100%;
    padding-left: 50px;
    font-size: 24px;
    height: 38px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
  }
}

.breadcrumb-section {
  margin: 15px 0;
}

.filter-section {
  margin: 15px 0;
  .filter-left {
    &.special-search {
      display: flex;

      .wrap-search {
        position: relative;
        img {
          position: absolute;
          top: 11px;
          left: 15px;
        }

        input {
          width: 400px;
          padding-left: 50px;
          font-size: 24px;
          height: 38px;
          border: none;
          border-radius: 4px;
        }
      }
    }
    width: 50%;
    float: left;
    text-align: left;
    span {
      margin-right: 10px;
    }
    select {
      border: none;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      height: 40px;
      display: inline-block;
      margin-right: 10px;
      font-size: 24px;
      &.qty {
        min-width: 70px;
        width: auto;
      }

      &.status {
        min-width: 140px;
        width: auto;
      }

      &.rating {
        min-width: 140px;
        width: auto;
      }
    }
  }
  .filter-right {
    text-align: right;
    width: 50%;
    float: left;
    button {
      border: none;
      background-color: transparent;
    }
  }
}

// TABLE

.table-section table.dataTable tbody td.select-checkbox:before,
.table-section table.dataTable tbody th.select-checkbox:before {
  border: 1px solid #eaedf0;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #ffffff !important;
}
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #ffffff !important;
}

.table-section {
  position: relative;
  .paging_simple_numbers {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    > span {
      margin-top: 2px;
      vertical-align: top;
      display: inline-block;
    }
  }
  .dataTables_wrapper .dataTables_paginate {
    padding-top: 0;
    height: 40px;
    a {
      padding: 0;
      height: 36px;
      width: 36px;
    }

    .paginate_button.current,
    .paginate_button.current:hover {
      color: #ffffff !important;
      border: 1px none;
      background-color: white;
      line-height: 36px;
      background: #0081ff;
    }

    .paginate_button:hover {
      color: #000000 !important;
      border: none;
      background: #ffffff;
    }
  }
  .text-entries {
    position: absolute;
    bottom: 15px;
    color: #8697a8;
  }
  table {
    thead {
      tr th.selected:before {
        background: #0081ff;
      }

      tr th.selected:after {
        color: #ffffff;
      }
    }
  }
}

button:focus {
  outline: 0 !important;
}

button {
  cursor: pointer;
}

table.dataTable.no-footer {
  border-bottom: 1px solid transparent !important;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid #eaedf0 !important;
}

table.dataTable tr th.select-checkbox.selected::after {
  content: "✔";
  margin-top: 5px;
  margin-left: -6px;
  text-align: center;
  font-size: 12px;
}
table.dataTable td.select-checkbox:before,
table.dataTable td.select-checkbox:after,
table.dataTable th.select-checkbox:before,
table.dataTable th.select-checkbox:after {
  display: block;
  position: absolute;
  top: 1.2em;
  left: 50%;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}

table.dataTable td.select-checkbox:before,
table.dataTable th.select-checkbox:before {
  content: " ";
  margin-top: -10px !important;
  margin-left: -6px;
  border: 1px solid #eaedf0;
  border-radius: 3px;
  background: #f8fafb;
}

table.dataTable thead th,
table.dataTable thead td {
  position: relative;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  position: relative;
}

.red-txt {
  color: #eb5757;
}

.table-section table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
  content: "\2714";
  margin-top: 5px;
  margin-left: -6px;
  text-align: center;
  text-shadow: none;
  font-size: 12px;
  color: #ffffff;
}

.wrap-select {
  display: flex;

  input {
    max-width: 100px;
  }
}

.table-section.table-in-modal {
  .table-bordered td,
  .table-bordered th {
    border-bottom: #eaedf0 !important;
  }

  ul.pagination {
    padding-top: 10px;

    li {
      &.page-pre,
      &.page-next {
        a {
          color: #b3c0ce;
        }
      }
      &.page-item.active a {
        color: #ffffff;
      }
    }
    .page-link {
      padding: 2px 13px;
      border: none;
      border-radius: 2px;
      color: #44566c;
    }
  }

  .pagination-info,
  .pagination-detail {
    display: none;
  }

  table {
    border: none;
    td {
      padding: 0.75rem !important;
    }
  }
}

.table-bordered td,
.table-bordered th {
  border: none !important;
}

.table-section {
  thead {
    tr:first-child th:first-child {
      border-top-left-radius: 5px;
    }
  }
  thead {
    tr:first-child th:last-child {
      border-top-right-radius: 5px;
    }
  }
  tbody {
    td.status {
      span {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        display: inline-block;
        margin-right: 7px;
      }
    }
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }

  td,
  th {
    background-color: #ffffff;
  }
  tbody {
    tr.selected {
      td.select-checkbox:before {
        background-color: #0081ff;
      }
    }
  }
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
  display: block;
  position: absolute;
  top: 1.2em;
  left: 50%;
  width: 16px !important;
  height: 16px !important;
  box-sizing: border-box;
}

// END TABLE

// Modal

@media (min-width: 992px) {
  div.modal-lg {
    max-width: 1200px;
  }
}

.modal-with-form {
  &.modal-large-with-table {
    table {
      tr {
        &:nth-child(odd) {
          td {
            background-color: #f8fafb;
          }
        }
        td {
          padding: 10px 0;
          select,
          input {
            background-color: transparent !important;
          }
        }
      }
    }
  }
  &.modal-large-with-upload-img,
  &.modal-large-with-table {
    .modal-header {
      display: block;
      h5 {
        display: block !important;
        width: 100%;
      }
    }

    table {
      width: 100%;
      button {
        border: 0;
        background-color: transparent;
      }

      #file-uploader2 {
        .is-droppable {
          padding: 0;
          margin: 0;
          .js--files-list {
            > div {
              margin-top: 0;
            }
            .js--remove-file {
              img {
                width: 15px;
                height: 15px;
              }
            }
            img {
              height: 60px;
              width: 60px;
            }
          }
        }
      }
    }
  }

  &.modal-right-full {
    .modal-dialog {
      max-width: 500px;
      margin: 0 0 0 auto;
      height: 100vh;
    }

    div.modal-content {
      height: 100%;
      overflow: scroll;
    }
  }

  &.modal-delete {
    .modal-body {
      margin: 30px 0;
    }

    .modal-footer {
      button {
        color: #ffffff;
        background: #eb5757 !important;
        border: 1px solid #eb5757;
        &:first-child {
          color: #eb5757;
          background: rgba(235, 87, 87, 0.1) !important;
          border-radius: 5px;
        }
      }
    }
  }

  div.modal-content {
    padding: 30px;

    .modal-body {
      padding: 0;

      label {
        margin-bottom: 0;
      }
      .wrap-input {
        &.special-icon {
          button {
            margin-top: 36px;
            border: none;
            background-color: transparent;
          }
        }
        &.with-special-arrange {
          input {
            width: 70%;
            display: inline-block;
            margin-right: 12px;
          }
        }

        margin-bottom: 30px;
        &:first-child {
          margin-top: 30px;
        }

        &.inline-label {
          ul {
            list-style-type: none;
            padding-left: 0;
            li {
              display: inline-block;
            }

            input[type="checkbox"] {
              display: none;
            }

            label {
              border: 1px solid #fff;
              display: block;
              position: relative;
              cursor: pointer;
              border-radius: 50%;
              padding: 4px;
            }

            label img {
              transition-duration: 0.2s;
              transform-origin: 50% 50%;
            }

            :checked + label {
              border-color: #ddd;
            }
          }
        }

        .rating {
          border: none;
          float: left;
        }

        .rating > label {
          color: #90a0a3;
          float: right;
        }

        .rating > label:before {
          margin: 5px;
          font-size: 22px;
          font-family: FontAwesome;
          content: "\f005";
          display: inline-block;
        }

        .rating > input {
          display: none;
        }

        .rating > input:checked ~ label,
        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
          color: #f79426;
        }

        .rating > input:checked + label:hover,
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label,
        .rating > input:checked ~ label:hover ~ label {
          color: #fece31;
        }

        label {
          margin-right: 5px;
          font-weight: bold;
        }
        [type="radio"] + img {
          cursor: pointer;
        }

        [type="radio"]:checked + img {
          outline: 2px solid #0081ff;
          padding: 5px;
        }

        [type="radio"] {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
          margin-right: 15px;
        }
      }

      textarea {
        background: #f8fafb;
        border: none;
        resize: none;
        font-size: 24px;
      }

      input,
      select {
        background: #f8fafb;
        border: none;
        resize: none;
        height: 40px;
        font-size: 24px;
      }
    }

    .modal-footer {
      padding: 0;
      button {
        height: 40px;
        padding: 0;
        font-size: 24px;
        width: 130px;
        background-color: #0081ff;
        &.cancle-btn {
          background-color: #d9ecff;
          color: #0081ff;
        }
        img {
          margin-right: 10px;
        }
      }

      button.cancel {
        background-color: #d9ecff;
        color: #0081ff;
      }
    }
  }
  div.modal-header {
    position: relative;
    border-bottom: 0;
    padding: 0;
    h5 {
      font-size: 36px;
      font-weight: bold;
      span {
        color: #8697a8;
      }
    }
    .btn-close-modal {
      background: #eaedf0;
      border-radius: 50%;
      height: 28px;
      width: 28px;
      position: absolute;
      right: -6px;
      top: -11px;
      padding: 0;
      margin: 0;
      span {
        vertical-align: top;
        display: inline-block;
      }
    }
  }

  div.modal-footer {
    border-top: 0;
  }
}

// End modal

.hide {
  display: none;
}

.text--center {
  display: block;
  text-align: center;
}

.is-droppable {
  border: 1px dashed #ccc;
  padding: 20px;
  margin: 20px 0;
  background-color: #f8fafb;
  border-radius: 5px;
}
.is-droppable.is-dragover {
  border-color: #999;
  background-color: #cccccc;
}

.link-upload {
  color: #0081ff;
  background: none;
  cursor: pointer;
  font-weight: normal !important;
  margin-right: 0 !important;
}

.js .box__file {
  display: none;
}

.js--files-list {
  > div {
    width: 20%;
    float: left;
    text-align: center;
    position: relative;
    margin-top: 30px;
    button {
      img {
        width: 26px;
        height: 26px;
      }
    }
    img {
      width: 70px;
      height: 70px;
    }
    button {
      position: absolute;
      background: #eaedf0;
      border-radius: 50%;
      padding: 0;
      right: 26px;
      top: 6px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Addiotional scss

.corp-name {
  margin-bottom: 0;
}

.wrap-company-detail {
  justify-content: left;
  display: flex;
  align-items: center;
  .badge-wrap {
    .badge {
      margin-right: 15px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      color: #ffffff;
    }
  }

  .wrap-detail {
    p {
      margin: 0;
      line-height: 1.1;
      font-size: 20px;
      &:last-child {
        color: #828282;
      }
    }
  }
}

.with-corpname {
  display: flex;
  justify-content: flex-start;
  button.corp-namep-btn {
    background: #0081ff;
    margin-right: 26px;
    -webkit-box-shadow: 0px 8px 16px rgba(0, 129, 255, 0.2);
    box-shadow: 0px 8px 16px rgba(0, 129, 255, 0.2);
    border-radius: 50px;
    color: #ffffff;
    height: 40px;
    padding: 0 32px;
    border: none;
  }

  h2 {
    display: inline-block;
  }
}

.bottom-last-trash-detail {
  .wrap-last {
    margin-top: 24px;
    label {
      font-size: 24px;
    }

    input,
    select {
      font-size: 24px;
      height: 38px;
      background-color: #f8fafb;
      border: 0;
    }
  }
  margin-top: 25px;
  label {
    display: block;
    font-weight: bold;
  }
  .wrap-input {
    display: flex;
    input {
      background: #f8fafb;
      border: 0;
      margin-right: 60px;
      border-radius: 4px;
    }

    span {
      margin-right: 15px;
    }
  }
}

.table-detail-trash {
  margin-top: 25px;
  table {
    width: 100%;
    tr:nth-child(odd) {
      td {
        background-color: #f8fafb;
      }
    }
    th,
    td {
      padding: 15px;
      img.thumb {
        margin-right: 15px;
      }
    }
    select {
      font-size: 24px;
      border: none;
    }
  }
}

.wrap-trash-management {
  &.trash-detail {
    .right {
      .wrap-input {
        select {
          background: #f8fafb;
          font-size: 24px;
          border: none;
        }
      }
    }
    .last {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .warp-last {
        display: flex;
        flex-direction: column;
        height: 100%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        button {
          border: 0;
          background-color: transparent;
        }
      }
    }
  }

  .detail-header {
    h1 {
      color: #333333;
      font-size: 36px;
    }
    p {
      font-size: 30px;
      font-weight: bold;
      color: #44566c;
      span {
        color: #8698a9;
      }
    }
  }
}

.input-border {
  border: 1px solid #ccc !important;
}

.special-select {
  margin-top: 8px;
  margin-right: 15px;
}

.dp-flex {
  display: flex;
  align-items: center;
  select {
    margin-right: 20px;
  }
}

#table1,
#table2 {
  tbody {
    td {
      text-align: center;
    }
  }
}

.form-control.text-no-border {
  border: 0;
  font-size: 24px;
}

.form-control.bg-white {
  background-color: #fff !important;
}

.wrap-input.dpflex-special {
  display: flex;
  input {
    width: 50px;
    margin: 0 15px;
  }
}
