@import "_normalize.scss";
@import "_login";
@import "_nav";
@import "_font";
@import "complete-register";
@import "./responsive/login-responsive";
@import "_right-side-template";
@import "./dashboard";
@import "./company-detail";

html body {
  font-family: DBHelvethaicaMonX-light;
  font-size: 24px;
  background: #e5e5e5;
}

input.form-control,
textarea.form-control,
select.form-control {
  border-radius: 10px;
}

.form-control:focus {
  box-shadow: none !important;
}

.special-btn {
  text-align: right;
  button {
    border: 0;
    background-color: transparent;
  }
}

.wrap-input.special-input {
  label {
    display: block;
  }
  input {
    margin-right: 15px;
    display: inline-block;
    width: 80%;
  }
}

.top-section-login {
  max-width: 700px;
  margin: 0 auto;
  width: auto;
  p.count {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
    width: 200px;
    margin-bottom: -20px;
  }
  p.explain {
    font-size: 21px;
  }
}

.special-table-no-sort {
  thead tr th:first-child.sorting_asc {
    background-image: none;
  }
}

.wrap-iamge-company {
  img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
  }
}

.table-date-open {
  .wrap-input.time-picker {
    i {
      color: #44566c;
      top: 7px;
      right: 8px;
    }
    input {
      font-family: DBHelvethaicaMonX-light;
      font-size: 22px;
      display: block;
      width: 100%;
      height: 38px;
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border-radius: 10px;
    }
  }
  .wrap-checkbox {
    margin-top: -20px;
    display: flex;
    .form-check {
      position: relative;
      padding-left: 25px;
      label {
        position: absolute;
        bottom: -40px;
        left: 10px;
      }
    }
  }
}

.table-conpany-with-button {
  button {
    border: none;
    background-color: transparent;
  }
  td:nth-child(2) {
    img {
      width: 40px;
      height: 40px;
      border-radius: 4px;
      margin-right: 12px;
    }
  }
}
