@import '../core/mixin.less';
@import '../core/variable.less';
@import '../core/font-family.less';
@import '../core/fonts.less';

// Variable
// ____________________________________

@container-padding: 20px;
@inner-width: 800px;
@inner-width-xs: 685px;
@calc-inner-width: calc(@inner-width + (@container-padding * 2));
@calc-inner-width-xs: calc(@inner-width-xs + (@container-padding * 2));
@space-between-item-type: 20px;
.gradient () {
   & {
      &::after {
         @background-gradient-color: #fff;
         content: '';
         position: absolute;
         left: 0;
         right: 0;
         bottom: 0;
         .size(100%,60px);
         .background-gradient(fade(@background-gradient-color, 10%), @background-gradient-color);
         z-index: 2;
         background-color: transparent;
         border-radius: 0 0 20px 20px;
      }
      @media screen and (min-width: (@screen-xs + 1)) {
         &::after {
            bottom: 0;
         }
      }
   }
}

.fulldim.modal-privacy-notice {
   .wrapper-modal-inner {
      position: relative;
      max-height: 100vh;
      overflow-y: auto;
      padding: 40px 0 30px;
   }
   .wrap-modal-box {
      .display-flex();
   }
   .wrap-center-block {
      position: relative;
      .display-flex();
      .gradient();
   }
   .wrapper-modal-text {
      position: relative;
      background-color: #fff;
      background-image: none;
      .size(100%,100%);
      overflow: hidden;
   }

   // Container Context
   .privacy-context-container {
      max-width: @calc-inner-width;
      margin: 0 auto;
      font-size: 0;
   }

   // Header
   .privacy-context--header {
      .title {
         .font(30px,27px);
         color: @color-black;
      }
      .subtitle {
         .font(26px,27px);
         color: @color-yellow;
      }
      .subtitle-link {
         .font(22px,27px);
         color: @color-black;
      }
   }

   // Link
   a {
      color: #000;
      .transition(color 0.3s ease);
      &:visited,
      &:active {
         color: inherit;
      }

      &:hover {
         color: @color-yellow;
      }
   }

   // Content
   .content--inner {
      text-align: left;
      font-size: 20px;
   }
   ul, li {
      list-style: none;
   }
   ul > li {
      margin: 20px 0 0;
   }

   // Content - Article
   [data-article] {
      margin-bottom: 30px;
      padding: 0 @container-padding;
   }
   [data-article="define"] {
      padding: 0;

      .define--title {
         .font(26px,26px);
         text-align: center;
         color: @color-yellow;
         margin: 0 0 20px;
         padding: 0 @container-padding;
      }

      .scrollable-table {
         position: relative;
         overflow: auto;
         margin: auto;
      }

      .scrollable-items {
         position: relative;
         padding: 0 @container-padding;
         width: @calc-inner-width-xs;
      }

      .scrollable-items__inner {
         border: 1px solid fade(@color-light-gray, 50%);
         border-radius: 20px;
         overflow: hidden;
      }

      .scrollable-item {
         background-color: #fff;
         &:nth-child(even) {
            background-color: #fbfbfb;
         }
      }

      .label-definition,
      .label-description {
         padding: 30px;
      }

      .label-definition {
         width: 30%;
      }

      .label-description {
         width: 70%;
      }
   }
   // Section - Context
   .container--contexts {
      counter-reset: count;

      .context-label {
         counter-increment: count;
         .font(26px,26px);

         &::before {
            content: counter(count, decimal) '. ';
         }
      }

      // List
      .context-list {
         counter-reset: level-0-count;
      }

      .list-item.item-parent {
         counter-reset: level-1-count;
      }

      // Item type
      .item-type--item-decimal {
         margin: 0 0 @space-between-item-type;
         &::before {
            counter-increment: level-0-count;
            content: counter(count, decimal) '.' counter(level-0-count, decimal) ' ';
         }
      }

      .item-type--item-decimal + .item-type--desc {
         margin-top: -@space-between-item-type;
      }

      .item-type--desc {
         margin-bottom:  @space-between-item-type;
      }

      .item-type--list-parentheses {
         margin: 0 0 @space-between-item-type;
         &::before {
            counter-increment: level-1-count;
            content: '(' counter(level-1-count, decimal) ') ';
         }
      }
   }

   .inline-block {
      display: inline-block;
   }
   .item-med {
      .font-smooth();
      .font-med();
   }
}

@media screen and (min-width: (@screen-xs + 1)) {
   .fulldim.modal-privacy-notice {
      padding: 75px 60px;
      .wrapper-modal-inner {
         max-height: 100%;
         padding: 0 0 40px;
      }
      .wrap-center-block {
         max-width: calc(1160px + (20px * 2));
         margin: 0 auto;
      }
      .wrapper-modal-text {
         padding: 66px 0 0;
      }

       // Header
      .privacy-context--header {
         .title {
            .font(54px,normal);
         }
         .subtitle {
             .font(40px,40px);
         }
         .subtitle-link {
            .font(30px,40px);
         }
      }

      // Content
      .content--inner {
         .font(26px,26px);
      }

      [data-article] {
         margin-bottom: 40px;
      }

      // Section - intro
      [data-article="define"] {
         .define--title {
            text-align: left;
            .font(30px,26px);
            margin: 0 0 30px;
         }

         .scrollable-items {
            width: @calc-inner-width;
         }

         .label-definition {
            width: 40%;
         }

         .label-description {
            width: 60%;
         }
      }

   }
}

@media screen and (max-width: @screen-xs) {
   .fulldim.modal-privacy-notice {
      padding: 0;
      .wrapper-modal-text {
         width: 100%;
         border-radius: 0;
         padding: 0;
         margin: 0 auto;
      }
   }
}